In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from selenium.common.exceptions import NoSuchElementException
from time import sleep

In [2]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [36]:
from selenium.common.exceptions import SessionNotCreatedException

In [3]:
from selenium.common.exceptions import TimeoutException

In [4]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_hyundai'
driver.get(url)

In [4]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [5]:
link

['https://www.olx.in/item/hyundai-creta-16-sx-o-2016-diesel-iid-1700204144',
 'https://www.olx.in/item/hyundai-i20-active-s-petrol-2018-petrol-iid-1699553669',
 'https://www.olx.in/item/hyundai-xcent-base-12-2018-diesel-iid-1686053479',
 'https://www.olx.in/item/hyundai-i10-sportz-11-irde2-2014-petrol-iid-1703214583',
 'https://www.olx.in/item/hyundai-elite-i20-magna-12-2018-petrol-iid-1703214477',
 'https://www.olx.in/item/hyundai-verna-2012-iid-1703214438',
 'https://www.olx.in/item/gwalior-dd-nagar-iid-1703214399',
 'https://www.olx.in/item/hyundai-santro-2006-petrol-iid-1703214343',
 'https://www.olx.in/item/hyundai-verna-crdi-16-sx-2012-diesel-iid-1703214287',
 'https://www.olx.in/item/hyundai-venue-sx-diesel-2022-diesel-iid-1703214164',
 'https://www.olx.in/item/hyundai-i20-2017-petrol-well-maintained-iid-1703214140',
 'https://www.olx.in/item/hyundai-santa-fe-4wd-at-2014-diesel-iid-1700350175',
 'https://www.olx.in/item/hyundai-santro-xing-2008-petrol-well-maintained-iid-1703214085',
 'https://www.olx.in/item/hyundai-elite-i20-asta-option-2016-petrol-iid-1702507394',
 'https://www.olx.in/item/hyundai-grand-i10-sportz-12-kappa-vtvt-2017-cng-hybrids-iid-1701191193',
 'https://www.olx.in/item/hyundai-i10-12-kappa-magna-2011-cng-hybrids-iid-1699996974',
 'https://www.olx.in/item/hyundai-creta-16-sx-plus-2019-cng-hybrids-iid-1699703246',
 'https://www.olx.in/item/hyundai-verna-2011-2014-16-ex-vtvt-2013-cng-hybrids-iid-1699335530',
 'https://www.olx.in/item/hyundai-verna-fluidic-16-vtvt-sx-opt-2018-petrol-iid-1697775821',
 'https://www.olx.in/item/hyundai-verna-fluidic-16-vtvt-sx-2014-petrol-iid-1697231538',
 'https://www.olx.in/item/hyundai-xcent-s-12-opt-2014-petrol-iid-1702955080',
 'https://www.olx.in/item/hyundai-i20-magna-plus-2020-petrol-iid-1702378738',
 'https://www.olx.in/item/hyundai-elite-i20-asta-12-2016-petrol-iid-1699450246',
 'https://www.olx.in/item/hyundai-creta-16-sx-o-2019-petrol-iid-1686540107',
 'https://www.olx.in/item/hyundai-elite-i20-14-crdi-asta-o-2016-diesel-iid-1702507578',
 'https://www.olx.in/item/hyundai-eon-magna-2013-petrol-iid-1699808237',
 'https://www.olx.in/item/hyundai-elantra-20-sx-option-at-2017-petrol-iid-1701302188',
 'https://www.olx.in/item/hyundai-creta-16-crdi-sx-option-2018-diesel-iid-1700506916',
 'https://www.olx.in/item/hyundai-santro-gs-2010-petrol-iid-1700053063',
 'https://www.olx.in/item/hyundai-eon-magna-2018-petrol-iid-1693924495',
 'https://www.olx.in/item/hyundai-i10-12-kappa-sportz-2009-petrol-iid-1692119205',
 'https://www.olx.in/item/hyundai-verna-fluidic-16-vtvt-sx-automatic-2012-diesel-iid-1697305765',
 'https://www.olx.in/item/hyundai-i10-12-kappa-magna-2009-petrol-iid-1702645858',
 'https://www.olx.in/item/hyundai-eon-magna-2014-petrol-iid-1702507460',
 'https://www.olx.in/item/hyundai-creta-2018-diesel-54000-km-driven-iid-1699400401',
 'https://www.olx.in/item/hyundai-i20-14-magna-at-2009-petrol-iid-1686819233',
 'https://www.olx.in/item/hyundai-eon-magna-2013-petrol-iid-1702507745',
 'https://www.olx.in/item/hyundai-aura-2021-cng-hybrids-iid-1702364291',
 'https://www.olx.in/item/hyundai-creta-16-vtvt-e-plus-2018-petrol-iid-1690667170',
 'https://www.olx.in/item/hyundai-creta-16-vtvt-e-plus-2017-petrol-iid-1691979376',
 'https://www.olx.in/item/hyundai-verna-2020-petrol-iid-1701722674',
 'https://www.olx.in/item/hyundai-creta-16-sx-2019-petrol-iid-1690279870',
 'https://www.olx.in/item/hyundai-creta-14-e-plus-diesel-2020-diesel-iid-1700835918',
 'https://www.olx.in/item/hyundai-santa-fe-2001-petrol-iid-1703216358',
 'https://www.olx.in/item/hyundai-verna-2011-diesel-iid-1703215388',
 'https://www.olx.in/item/hyundai-accent-2006-model-petrol-well-maintained-good-condition-iid-1703216385',
 'https://www.olx.in/item/hyundai-verna-2016-2017-16-crdi-at-sx-option-2011-diesel-iid-1695197037',
 'https://www.olx.in/item/hyundai-xcent-2016-diesel-iid-1702510090',
 'https://www.olx.in/item/hyundai-verna-2012-petrol-iid-1702367122',
 'https://www.olx.in/item/hyundai-i20-12-asta-option-2020-petrol-iid-1700509645',
 'https://www.olx.in/item/hyundai-grand-i10-sportz-12-kappa-vtvt-2017-petrol-iid-1700508902',
 'https://www.olx.in/item/hyundai-santro-xing-gls-lpg-2009-petrol-iid-1699130501',
 'https://www.olx.in/item/hyundai-xcent-s-12-2014-petrol-iid-1703216363',
 'https://www.olx.in/item/hyundai-grand-i10-nios-magna-12-kappa-vtvt-2021-cng-hybrids-iid-1702366960',
 'https://www.olx.in/item/hyundai-eon-era-2018-petrol-iid-1697210017',
 'https://www.olx.in/item/hyundai-creta-16-e-plus-2018-diesel-iid-1695970071',
 'https://www.olx.in/item/hyundai-grand-i10-12-crdi-magna-2018-petrol-iid-1695169682',
 'https://www.olx.in/item/hyundai-grand-i10-others-2017-petrol-iid-1695167214',
 'https://www.olx.in/item/hyundai-i20-2009-2011-magna-2011-petrol-iid-1681269444',
 'https://www.olx.in/item/new-condition-top-model-16-sx-with-1st-owner-creta-diesel-2017-iid-1701380630',
 'https://www.olx.in/item/hyundai-grand-i10-nios-sportz-12-kappa-vtvt-2020-petrol-iid-1702371185',
 'https://www.olx.in/item/hyundai-accent-2005-petrol-iid-1703215298',
 'https://www.olx.in/item/hyundai-i20-2009-petrol-iid-1703215243',
 'https://www.olx.in/item/hyundai-fluidic-verna-16-crdi-sx-2014-diesel-iid-1701826964',
 'https://www.olx.in/item/hyundai-aura-2022-cng-hybrids-iid-1697210329',
 'https://www.olx.in/item/hyundai-verna-crdi-16-sx-2013-diesel-iid-1685836464',
 'https://www.olx.in/item/hyundai-i20-petrol-spotz-2021-petrol-iid-1684982797',
 'https://www.olx.in/item/hyundai-aura-sx-o-manual-2020-cng-hybrids-iid-1684982571',
 'https://www.olx.in/item/hyundai-elite-i20-asta-option-2017-diesel-iid-1699810932',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-14-2019-petrol-iid-1701427783',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-12-2016-petrol-iid-1699676585',
 'https://www.olx.in/item/hyundai-venue-s-2019-petrol-iid-1699676346',
 'https://www.olx.in/item/hyundai-i20-12-spotz-2016-petrol-iid-1698493370',
 'https://www.olx.in/item/hyundai-venue-sx-2022-diesel-iid-1695866429',
 'https://www.olx.in/item/hyundai-grand-i10-sportz-12-kappa-vtvt-2019-petrol-iid-1702508848',
 'https://www.olx.in/item/hyundai-creta-16-crdi-at-sx-plus-2016-diesel-iid-1702094951',
 'https://www.olx.in/item/hyundai-grand-i10-2016-2017-crdi-sportz-2017-diesel-iid-1701827183',
 'https://www.olx.in/item/hyundai-creta-16-vtvt-sx-plus-dual-tone-2019-petrol-iid-1701570793',
 'https://www.olx.in/item/hyundai-creta-16-sx-o-2016-petrol-iid-1701659232',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-12-2017-petrol-iid-1702108873',
 'https://www.olx.in/item/hyundai-creta-14-e-plus-2017-diesel-iid-1695402761',
 'https://www.olx.in/item/hyundai-aura-s-crdi-manual-2020-diesel-iid-1689993191',
 'https://www.olx.in/item/hyundai-i20-magna-plus-2012-cng-hybrids-iid-1697550929',
 'https://www.olx.in/item/hyundai-accent-2003-petrol-iid-1703213615',
 'https://www.olx.in/item/hyundai-eon-magna-2012-petrol-iid-1699129047',
 'https://www.olx.in/item/hyundai-santro-xing-gls-2009-petrol-iid-1696540442',
 'https://www.olx.in/item/hyundai-creta-14-crdi-s-2018-diesel-iid-1695865802',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-o-12-2020-petrol-iid-1695196491',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-plus-diesel-2017-diesel-iid-1695195974',
 'https://www.olx.in/item/hyundai-eon-2013-petrol-54000-km-driven-iid-1703216339',
 'https://www.olx.in/item/hyundai-verna-crdi-16-sx-2012-diesel-iid-1702508964',
 'https://www.olx.in/item/hyundai-i20-active-s-diesel-2018-diesel-iid-1702508629',
 'https://www.olx.in/item/hyundai-verna-fluidic-16-crdi-sx-2018-diesel-iid-1701173717',
 'https://www.olx.in/item/hyundai-creta-16-sx-plus-2019-petrol-iid-1691329783',
 'https://www.olx.in/item/hyundai-creta-16-sx-plus-2016-petrol-iid-1700373940',
 'https://www.olx.in/item/hyundai-i20-12-asta-2015-petrol-iid-1699954540',
 'https://www.olx.in/item/hyundai-grand-i10-2013-2016-magna-2015-petrol-iid-1690640961',
 'https://www.olx.in/item/hyundai-santro-2009-petrol-42000km-run-iid-1698874345',
 'https://www.olx.in/item/hyundai-grand-i10-2014-single-hand-doctor-used-iid-1695647143',
 'https://www.olx.in/item/hyundai-xcent-s-automatic-12-o-2014-petrol-iid-1683246630',
 'https://www.olx.in/item/hyundai-verna-crdi-16-sx-2018-diesel-iid-1701041527',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-o-12-2017-cng-hybrids-iid-1699130651',
 'https://www.olx.in/item/hyundai-eon-magna-2013-petrol-iid-1693926409',
 'https://www.olx.in/item/hyundai-elite-i20-asta-14-crdi-2017-diesel-iid-1693280155',
 'https://www.olx.in/item/hyundai-verna-2010-2011-transform-crdi-vgt-sx-abs-2010-diesel-iid-1690669492',
 'https://www.olx.in/item/hyundai-elite-i20-asta-12-o-2015-diesel-iid-1690670272',
 'https://www.olx.in/item/hyundai-grand-i10-2016-2017-sportz-2017-petrol-iid-1629322329',
 'https://www.olx.in/item/hyundai-i10-magna-12-itech-se-2011-cng-hybrids-iid-1626924013',
 'https://www.olx.in/item/hyundai-i20-sportz-14-crdi-2013-diesel-iid-1301618253',
 'https://www.olx.in/item/hyundai-i20-magna-plus-2009-petrol-iid-1702899948',
 'https://www.olx.in/item/hyundai-elantra-vtvt-sx-at-2013-petrol-iid-1701828404',
 'https://www.olx.in/item/hyundai-elantra-vtvt-sx-at-2013-petrol-iid-1701827912',
 'https://www.olx.in/item/hyundai-i10-magna-2009-petrol-iid-1701172489',
 'https://www.olx.in/item/hyundai-i20-sportz-12-bs-iv-2011-diesel-iid-1700510340',
 'https://www.olx.in/item/hyundai-i10-12-kappa-magna-2010-petrol-iid-1700887961',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1698253750',
 'https://www.olx.in/item/hyundai-santa-fe-2wd-at-2015-diesel-iid-1687696403',
 'https://www.olx.in/item/hyundai-getz-2009-petrol-iid-1703210063',
 'https://www.olx.in/item/hyundai-xcent-2018-diesel-iid-1686821755',
 'https://www.olx.in/item/hyundai-venue-sx-plus-turbo-dct-2021-diesel-iid-1664963394',
 'https://www.olx.in/item/hyundai-i20-2010-2012-12-magna-2010-petrol-iid-1701827078',
 'https://www.olx.in/item/hyundai-i10-magna-2011-petrol-iid-1702508634',
 'https://www.olx.in/item/hyundai-creta-14-crdi-s-plus-2018-diesel-iid-1701172597',
 'https://www.olx.in/item/hyundai-santro-sportz-2019-petrol-iid-1695197391',
 'https://www.olx.in/item/hyundai-grand-i10-magna-12-kappa-vtvt-2016-petrol-iid-1681807298',
 'https://www.olx.in/item/hyundai-santro-xing-gls-at-2008-petrol-iid-1656694601',
 'https://www.olx.in/item/hyundai-i20-12-asta-option-2018-petrol-iid-1695461542',
 'https://www.olx.in/item/hyundai-grand-i10-nios-sportz-2021-petrol-iid-1701905098',
 'https://www.olx.in/item/hyundai-creta-16-sx-2016-diesel-iid-1699734890',
 'https://www.olx.in/item/hyundai-i20-active-2016-petrol-iid-1703209274',
 'https://www.olx.in/item/hyundai-i10-2010-petrol-iid-1703209001',
 'https://www.olx.in/item/hyundai-i20-magna-plus-2011-petrol-iid-1669001527',
 'https://www.olx.in/item/hyundai-i20-2020-petrol-41000-km-driven-iid-1703216280',
 'https://www.olx.in/item/hyundai-creta-14-e-plus-2019-diesel-iid-1700297576',
 'https://www.olx.in/item/hyundai-venue-sx-opt-turbo-2021-petrol-iid-1703216238',
 'https://www.olx.in/item/hyundai-i20-2021-petrol-iid-1695038258',
 'https://www.olx.in/item/hyundai-creta-2020-petrol-iid-1700228113',
 'https://www.olx.in/item/hyundai-creta-14-ex-diesel-2016-diesel-iid-1699675683',
 'https://www.olx.in/item/hyundai-i20-2012-2014-magna-2013-diesel-iid-1643288374',
 'https://www.olx.in/item/hyundai-grand-i10-2015-petrol-63000-km-driven-iid-1703216118',
 'https://www.olx.in/item/verna-16-crdi-auto-sxo-iid-1703216107',
 'https://www.olx.in/item/hyundai-i10-2011-petrol-well-maintained-iid-1703216089',
 'https://www.olx.in/item/hyundai-creta-16-vtvt-at-sx-plus-2021-petrol-iid-1703215968',
 'https://www.olx.in/item/hyundai-i20-e-2014-2015-magna-12-2014-diesel-iid-1694784250',
 'https://www.olx.in/item/hyundai-eon-2015-november-petrol-well-maintained-iid-1699037605',
 'https://www.olx.in/item/hyundai-eon-sportz-2019-petrol-iid-1703215810',
 'https://www.olx.in/item/hyundai-eon-magna-2013-petrol-iid-1690716002',
 'https://www.olx.in/item/hyundai-i20-12-spotz-2012-petrol-iid-1701453566',
 'https://www.olx.in/item/hyundai-i20-2010-2012-12-sportz-2010-petrol-iid-1703081738',
 'https://www.olx.in/item/hyundai-grand-i10-2019-cng-hybrids-iid-1703207905',
 'https://www.olx.in/item/hyundai-i10-2013-petrol-iid-1698003193',
 'https://www.olx.in/item/hyundai-creta-14-e-plus-2018-diesel-iid-1703215804',
 'https://www.olx.in/item/hyundai-venue-2020-petrol-well-maintained-iid-1703215772',
 'https://www.olx.in/item/hyundai-i10-magna-11l-2012-petrol-iid-1703215739',
 'https://www.olx.in/item/hyundai-grand-i10-nios-sportz-12-kappa-vtvt-2020-petrol-iid-1697560899',
 'https://www.olx.in/item/hyundai-santro-xing-gls-lpg-2009-lpg-iid-1702567703',
 'https://www.olx.in/item/hyundai-grand-i10-12-kappa-era-2019-petrol-iid-1703215666',
 'https://www.olx.in/item/hyundai-xcent-s-12-opt-2014-petrol-iid-1696433164',
 'https://www.olx.in/item/hyundai-verna-2013-diesel-iid-1703215530',
 'https://www.olx.in/item/hyundai-creta-16-sx-o-2019-petrol-iid-1703215478',
 'https://www.olx.in/item/hyundai-santro-2007-petrol-85000-km-driven-iid-1703215476',
 'https://www.olx.in/item/hyundai-creta-16-vtvt-sx-plus-dual-tone-2017-petrol-iid-1703215462',
 'https://www.olx.in/item/hyundai-i20-2011-petrol-93192-km-driven-iid-1703215460',
 'https://www.olx.in/item/hyundai-creta-16-e-2022-diesel-iid-1703215367',
 'https://www.olx.in/item/hyundai-verna-vtvt-16-sx-option-2018-petrol-iid-1703215305',
 'https://www.olx.in/item/hyundai-verna-2013-diesel-80000-km-driven-iid-1703215259',
 'https://www.olx.in/item/hyundai-verna-2016-2017-16-vtvt-at-sx-2017-petrol-iid-1695556321',
 'https://www.olx.in/item/hyundai-i20-active-12-s-2019-diesel-iid-1695298129',
 'https://www.olx.in/item/hyundai-grand-i10-nios-sportz-2020-petrol-iid-1694376941',
 'https://www.olx.in/item/hyundai-xcent-2016-diesel-iid-1703207319',
 'https://www.olx.in/item/hyundai-i10-2008-petrol-iid-1703206218',
 'https://www.olx.in/item/hyundai-santro-xing-2010-petrol-105000-km-driven-iid-1703215197',
 'https://www.olx.in/item/hyundai-grand-i10-2016-petrol-good-condition-iid-1703215185',
 'https://www.olx.in/item/hyundai-creta-16-e-plus-2020-diesel-iid-1703215158',
 'https://www.olx.in/item/hyundai-alcazar-platinum-2021-diesel-iid-1703214807',
 'https://www.olx.in/item/excellent-condition-no-bargain-fixed-price-iid-1703214818',
 'https://www.olx.in/item/hyundai-fluidic-verna-16-vtvt-sx-2014-petrol-iid-1698593679',
 'https://www.olx.in/item/good-condition-single-driving-iid-1703214607',
 'https://www.olx.in/item/hyundai-i10-sportz-at-2011-petrol-iid-1696628530',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1701972170',
 'https://www.olx.in/item/hyundai-getz-prime-13-gvs-2006-petrol-iid-1694552295',
 'https://www.olx.in/item/hyundai-grand-i10-2015-petrol-iid-1703205924',
 'https://www.olx.in/item/hyundai-verna-2013-diesel-iid-1703204748',
 'https://www.olx.in/item/hyundai-i20-2012-2014-magna-2014-petrol-iid-1695728368',
 'https://www.olx.in/item/hyundai-elantra-16-s-2012-diesel-iid-1689133949',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1699811757',
 'https://www.olx.in/item/hyundai-i10-2008-petrol-iid-1703204649',
 'https://www.olx.in/item/hyundai-xcent-2017-diesel-iid-1703204360',
 'https://www.olx.in/item/hyundai-i20-sportz-12-bs-iv-2011-petrol-iid-1700508089',
 'https://www.olx.in/item/hyundai-creta-others-2022-diesel-iid-1695863755',
 'https://www.olx.in/item/hyundai-eon-era-2018-petrol-iid-1697888942',
 'https://www.olx.in/item/hyundai-xcent-12-vtvt-sx-option-2014-petrol-iid-1696347811',
 'https://www.olx.in/item/hyundai-santro-sportz-cng-2019-cng-hybrids-iid-1695608183',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1699344106',
 'https://www.olx.in/item/hyundai-elantra-vtvt-sx-at-2013-petrol-iid-1695682882',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1699356011',
 'https://www.olx.in/item/hyundai-verna-2011-diesel-iid-1703204219',
 'https://www.olx.in/item/hyundai-elantra-2001-petrol-iid-1703203909',
 'https://www.olx.in/item/hyundai-creta-16-crdi-sx-2018-diesel-iid-1684597624',
 'https://www.olx.in/item/hyundai-i20-diesel-asta-2018-diesel-iid-1702508162',
 'https://www.olx.in/item/hyundai-creta-14-crdi-s-plus-2018-diesel-iid-1702507106',
 'https://www.olx.in/item/hyundai-i10-sportz-2018-diesel-iid-1702506855',
 'https://www.olx.in/item/hyundai-i20-sportz-plus-2020-petrol-iid-1702506125',
 'https://www.olx.in/item/hyundai-verna-fluidic-16-crdi-sx-opt-2018-diesel-iid-1701825287',
 'https://www.olx.in/item/hyundai-i20-2010-2012-12-asta-2011-cng-hybrids-iid-1702091852',
 'https://www.olx.in/item/hyundai-i20-sportz-plus-2018-petrol-iid-1699127548',
 'https://www.olx.in/item/hyundai-creta-16-sx-automatic-2019-petrol-iid-1702346240',
 'https://www.olx.in/item/hyundai-creta-16-sx-2018-diesel-iid-1701816603',
 'https://www.olx.in/item/hyundai-creta-16-sx-2018-petrol-iid-1701811154',
 'https://www.olx.in/item/hyundai-grand-i10-nios-magna-2021-petrol-iid-1701567881',
 'https://www.olx.in/item/hyundai-i20-active-s-petrol-2018-petrol-iid-1697482107',
 'https://www.olx.in/item/hyundai-santro-2003-petrol-iid-1688093379',
 'https://www.olx.in/item/hyundai-creta-16-sx-option-2018-petrol-iid-1673649566',
 'https://www.olx.in/item/hyundai-i20-sportz-12-bs-iv-2010-petrol-iid-1701794603',
 'https://www.olx.in/item/hyundai-verna-crdi-16-at-sx-option-2019-diesel-iid-1700523166',
 'https://www.olx.in/item/hyundai-verna-fluidic-16-crdi-sx-2018-diesel-iid-1701778935',
 'https://www.olx.in/item/hyundai-eon-2012-petrol-iid-1703203288',
 'https://www.olx.in/item/hyundai-accent-2005-petrol-iid-1703202652',
 'https://www.olx.in/item/hyundai-elite-i20-sportz-12-2016-petrol-iid-1701171738',
 'https://www.olx.in/item/hyundai-creta-15-crdi-sx-2020-diesel-iid-1696537890',
 'https://www.olx.in/item/hyundai-fluidic-verna-16-vtvt-s-o-automatic-2015-petrol-iid-1691978412',
 'https://www.olx.in/item/hyundai-i20-sportz-12-bs-iv-2014-petrol-iid-1702646179',
 'https://www.olx.in/item/hyundai-i20-2009-2011-magna-2011-cng-hybrids-iid-1701170662',
 'https://www.olx.in/item/hyundai-i20-2012-2014-asta-12-2013-petrol-iid-1681851781',
 'https://www.olx.in/item/hyundai-fluidic-verna-16-crdi-sx-automatic-2012-diesel-iid-1617482948',
 'https://www.olx.in/item/hyundai-eon-era-plus-2017-petrol-iid-1646198448',
 'https://www.olx.in/item/non-excident-iid-1703213979',
 'https://www.olx.in/item/hyundai-verna-2012-iid-1703213976',
 'https://www.olx.in/item/hyundai-venue-s-turbo-2020-petrol-iid-1703213900',
 'https://www.olx.in/item/hyundai-fluidic-verna-2013-diesel-good-condition-iid-1703213845',
 'https://www.olx.in/item/hyundai-i20-2015-2017-sportz-option-14-crdi-2015-diesel-iid-1703213843',
 'https://www.olx.in/item/hyundai-venue-2020-cng-hybrids-good-condition-iid-1703213828',
 'https://www.olx.in/item/hyundai-santro-xing-gl-2010-petrol-iid-1703213700',
 'https://www.olx.in/item/hyundai-creta-15-sx-2021-petrol-iid-1703040441',
 'https://www.olx.in/item/hyundai-i10-11l-irde-era-special-edition-2010-petrol-iid-1702393798',
 'https://www.olx.in/item/hyundai-verna-crdi-vgt-sx-15-2021-diesel-iid-1695600160',
 'https://www.olx.in/item/hyundai-i10-2010-petrol-iid-1703201976',
 'https://www.olx.in/item/hyundai-i10-2009-cng-hybrids-iid-1703200834',
 'https://www.olx.in/item/hyundai-santro-xing-2009-iid-1703213627',
 'https://www.olx.in/item/hyundai-creta-16-vtvt-s-2016-petrol-iid-1703213587',
 'https://www.olx.in/item/hyundai-eon-era-2017-cng-hybrids-iid-1703213536',
 'https://www.olx.in/item/hyundai-accent-2011-cng-hybrids-98000-km-driven-iid-1703213486',
 'https://www.olx.in/item/hyundai-santro-asta-2019-petrol-iid-1703213433',
 'https://www.olx.in/item/hyundai-grand-i10-2019-diesel-36000-km-driven-iid-1651713425',
 'https://www.olx.in/item/best-condition-gadi-full-kdk-engine-line-se-ek-dm-fresh-koi-kam-nhi-h-iid-1703212931',
 'https://www.olx.in/item/hyundai-eon-sportz-2012-petrol-iid-1703212886',
 'https://www.olx.in/item/hyundai-santro-gls-i-euro-2008-petrol-iid-1703212873',

In [6]:
len(link)

486

In [58]:
driver.get(link[0])

In [59]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link[100:]:
    driver.get(m)
    sleep(9)
    delay = 15
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('NaN')
        pass
    
    
    sleep(7)

In [61]:
len(brand)

100

In [62]:
driver.get(link[100])

In [63]:
bran = []
pric = []
varian = []
fuels = []
owne = []
locatio = []
for m in link[100:]:
    driver.get(m)
    sleep(9)
    delay = 15
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        bran.append(Bname)
    except TimeoutException as e:
        bran.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        pric.append(p)
    except TimeoutException as e:
        pric.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        varian.append(var)
    except TimeoutException as e:
        varian.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuels.append(fue)
    except TimeoutException as e:
        fuels.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owne.append(ow)
    except TimeoutException as e:
        owne.append('NaN')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        locatio.append(loc)
    except TimeoutException as e:
        locatio.append('NaN')
        pass
    
    
    sleep(7)

In [65]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Hyundai I20 Active (2018),S Petrol,PETROL\n33332.0 KM\nMANUAL,1st,"Satya Vihar, Bhubaneshwar, Odisha","₹ 6,80,000"
2,Hyundai Xcent (2018),Base 1.2,DIESEL\n26000.0 KM\nMANUAL,1st,"106,, main road,pallikaranai, velachery, (near...","₹ 3,40,000"
3,Hyundai I10 (2014),Sportz 1.1 iRDE2,PETROL\n45204.0 KM\n--,1st,"Undri, Pune, Maharashtra","₹ 4,65,839"
4,Hyundai Elite I20 (2018),Magna 1.2,PETROL\n60000.0 KM\nMANUAL,1st,"Adimali, Idukki Township, Kerala","₹ 5,70,000"
...,...,...,...,...,...,...
95,Hyundai I20 (2015),1.2 Asta,PETROL\n131000.0 KM\nMANUAL,1st,"Kondalampatti, Salem, Tamil Nadu","₹ 5,25,000"
96,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN
98,Hyundai Grand I10 (2014),2013-2016 AT Asta,PETROL\n120000 KM\nAUTOMATIC,First,"Triplicane Chepauk, Chennai, Tamil Nadu","₹ 3,70,000"
99,Hyundai Xcent (2014),S Automatic 1.2 (O),PETROL\n58000.0 KM\nAUTOMATIC,1st,"Kandivali West, Mumbai, Maharashtra","₹ 4,75,000"

In [66]:
df1 = pd.DataFrame({'Brand':bran,'Variant':varian,'Fuel':fuels,'Owner':owne,'Location':locatio,'Price':pric})
df1

,Brand,Variant,Fuel,Owner,Location,Price
0,Hyundai Verna (2018),CRDi 1.6 SX,DIESEL\n100000.0 KM\nMANUAL,1st,"Habsiguda, Hyderabad, Telangana","₹ 9,75,000"
1,Hyundai Elite I20 (2017),Sportz (O) 1.2,CNG & HYBRIDS\n73340.0 KM\nMANUAL,1st,"Citylight, Surat, Gujarat","₹ 5,99,999"
2,Hyundai Eon (2013),Magna +,PETROL\n22000.0 KM\nMANUAL,1st,"T Nagar, Chennai, Tamil Nadu","₹ 2,95,000"
3,Hyundai Elite I20 (2017),Asta 1.4 CRDI,DIESEL\n92000.0 KM\nMANUAL,1st,"Thindal Malai, Erode, Tamil Nadu","₹ 6,60,000"
4,Hyundai Verna (2010),2010-2011 Transform CRDi VGT SX ABS,DIESEL\n64000.0 KM\nMANUAL,2nd,"Giri Nagar Phase 1, Bengaluru, Karnataka","₹ 3,75,000"
...,...,...,...,...,...,...
381,Hyundai Santro (2005),L1,"PETROL\n80,000 KM\nMANUAL",4th,"Azizganj, Shahjahanpur, Uttar Pradesh","₹ 70,000"
382,Hyundai Creta (2017),1.4 CRDi S,DIESEL\n125000.0 KM\nMANUAL,1st,"Bagichi Het Ram Colony, Patiala, Punjab","₹ 8,85,000"
383,Hyundai I20 (2011),2009-2011 Asta 1.4 CRDi (Diesel),"DIESEL\n154,000 KM\nMANUAL",2nd,"Denocil Colony, Chiplun, Maharashtra","₹ 2,40,000"
384,Hyundai I10 (2016),Magna 1.2 iTech SE,"CNG & HYBRIDS\n114,000 KM\nMANUAL",2nd,"Basti Farrukh Nagar, Farrukhnagar, Haryana","₹ 3,10,000"
385,Hyundai Grand I10 (2016),2016-2017 Magna,PETROL\n24000.0 KM\nMANUAL,1st,"Bosch Vihar, Nashik, Maharashtra","₹ 4,80,000"

In [67]:
df3 = pd.concat([df,df1],axis =0)
df3

,Brand,Variant,Fuel,Owner,Location,Price
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Hyundai I20 Active (2018),S Petrol,PETROL\n33332.0 KM\nMANUAL,1st,"Satya Vihar, Bhubaneshwar, Odisha","₹ 6,80,000"
2,Hyundai Xcent (2018),Base 1.2,DIESEL\n26000.0 KM\nMANUAL,1st,"106,, main road,pallikaranai, velachery, (near...","₹ 3,40,000"
3,Hyundai I10 (2014),Sportz 1.1 iRDE2,PETROL\n45204.0 KM\n--,1st,"Undri, Pune, Maharashtra","₹ 4,65,839"
4,Hyundai Elite I20 (2018),Magna 1.2,PETROL\n60000.0 KM\nMANUAL,1st,"Adimali, Idukki Township, Kerala","₹ 5,70,000"
...,...,...,...,...,...,...
381,Hyundai Santro (2005),L1,"PETROL\n80,000 KM\nMANUAL",4th,"Azizganj, Shahjahanpur, Uttar Pradesh","₹ 70,000"
382,Hyundai Creta (2017),1.4 CRDi S,DIESEL\n125000.0 KM\nMANUAL,1st,"Bagichi Het Ram Colony, Patiala, Punjab","₹ 8,85,000"
383,Hyundai I20 (2011),2009-2011 Asta 1.4 CRDi (Diesel),"DIESEL\n154,000 KM\nMANUAL",2nd,"Denocil Colony, Chiplun, Maharashtra","₹ 2,40,000"
384,Hyundai I10 (2016),Magna 1.2 iTech SE,"CNG & HYBRIDS\n114,000 KM\nMANUAL",2nd,"Basti Farrukh Nagar, Farrukhnagar, Haryana","₹ 3,10,000"
385,Hyundai Grand I10 (2016),2016-2017 Magna,PETROL\n24000.0 KM\nMANUAL,1st,"Bosch Vihar, Nashik, Maharashtra","₹ 4,80,000"

In [68]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 486 entries, 0 to 385
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Brand     486 non-null    object
 1   Variant   486 non-null    object
 2   Fuel      486 non-null    object
 3   Owner     486 non-null    object
 4   Location  486 non-null    object
 5   Price     486 non-null    object
dtypes: object(6)
memory usage: 26.6+ KB

In [71]:
b = df3['Brand'].str[0:7]
b

0          NaN
1      Hyundai
2      Hyundai
3      Hyundai
4      Hyundai
        ...
381    Hyundai
382    Hyundai
383    Hyundai
384    Hyundai
385    Hyundai
Name: Brand, Length: 486, dtype: object

In [72]:
c = df3['Brand'].str[8:-7]
c

0
1      I20 Active
2           Xcent
3             I10
4       Elite I20
          ...
381        Santro
382         Creta
383           I20
384           I10
385     Grand I10
Name: Brand, Length: 486, dtype: object

In [74]:
d = df3['Brand'].str[-5:-1]
d

0        Na
1      2018
2      2018
3      2014
4      2018
       ...
381    2005
382    2017
383    2011
384    2016
385    2016
Name: Brand, Length: 486, dtype: object

In [79]:
e = df3['Fuel'].str.split(pat='\n',expand = True)
e

                 0            1       2
0              NaN         None    None
1           PETROL   33332.0 KM  MANUAL
2           DIESEL   26000.0 KM  MANUAL
3           PETROL   45204.0 KM      --
4           PETROL   60000.0 KM  MANUAL
..             ...          ...     ...
381         PETROL    80,000 KM  MANUAL
382         DIESEL  125000.0 KM  MANUAL
383         DIESEL   154,000 KM  MANUAL
384  CNG & HYBRIDS   114,000 KM  MANUAL
385         PETROL   24000.0 KM  MANUAL

[486 rows x 3 columns]

In [76]:
k = e[1].str[:-3]
k

0         None
1      33332.0
2      26000.0
3      45204.0
4      60000.0
        ...
95    131000.0
96        None
97        None
98      120000
99     58000.0
Name: 1, Length: 100, dtype: object

In [80]:
t = df3['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8
0,NaN,None,None,None,None,None,None,None,None
1,Satya Vihar,Bhubaneshwar,Odisha,None,None,None,None,None,None
2,106,,main road,pallikaranai,velachery,(near ishwarya mahal),chennai,Tamil Nadu\nGet Directions,None
3,Undri,Pune,Maharashtra,None,None,None,None,None,None
4,Adimali,Idukki Township,Kerala,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
381,Azizganj,Shahjahanpur,Uttar Pradesh,None,None,None,None,None,None
382,Bagichi Het Ram Colony,Patiala,Punjab,None,None,None,None,None,None
383,Denocil Colony,Chiplun,Maharashtra,None,None,None,None,None,None
384,Basti Farrukh Nagar,Farrukhnagar,Haryana,None,None,None,None,None,None
385,Bosch Vihar,Nashik,Maharashtra,None,None,None,None,None,None

In [81]:
p = df3['Price'].str.split(pat='₹',expand = True)
p

       0          1
0    NaN       None
1          6,80,000
2          3,40,000
3          4,65,839
4          5,70,000
..   ...        ...
381          70,000
382        8,85,000
383        2,40,000
384        3,10,000
385        4,80,000

[486 rows x 2 columns]

In [82]:
df3['Brand'] = b
df3['Model'] = c
df3['Year'] = d
df3['Fuel'] = e[0]
df3['Distance'] = k
df3['Transmission'] = e[2]
df3['Location'] = t[2]
df3['Price'] = p[1]
df3

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,NaN,NaN,NaN,NaN,None,None,,Na,None,None
1,Hyundai,S Petrol,PETROL,1st,Odisha,"6,80,000",I20 Active,2018,33332.0,MANUAL
2,Hyundai,Base 1.2,DIESEL,1st,main road,"3,40,000",Xcent,2018,26000.0,MANUAL
3,Hyundai,Sportz 1.1 iRDE2,PETROL,1st,Maharashtra,"4,65,839",I10,2014,45204.0,--
4,Hyundai,Magna 1.2,PETROL,1st,Kerala,"5,70,000",Elite I20,2018,60000.0,MANUAL
...,...,...,...,...,...,...,...,...,...,...
381,Hyundai,L1,PETROL,4th,Uttar Pradesh,"70,000",Santro,2005,NaN,MANUAL
382,Hyundai,1.4 CRDi S,DIESEL,1st,Punjab,"8,85,000",Creta,2017,NaN,MANUAL
383,Hyundai,2009-2011 Asta 1.4 CRDi (Diesel),DIESEL,2nd,Maharashtra,"2,40,000",I20,2011,NaN,MANUAL
384,Hyundai,Magna 1.2 iTech SE,CNG & HYBRIDS,2nd,Haryana,"3,10,000",I10,2016,NaN,MANUAL
385,Hyundai,2016-2017 Magna,PETROL,1st,Maharashtra,"4,80,000",Grand I10,2016,NaN,MANUAL

In [83]:
df3['Brand'].value_counts()

Hyundai    458
NaN         28
Name: Brand, dtype: int64

In [84]:
df3['Brand'] = df3['Brand'].replace('NaN','Hyundai')

In [85]:
df3['Brand'].value_counts()

Hyundai    486
Name: Brand, dtype: int64

In [86]:
df3['Variant'].value_counts()

NaN                      28
Sportz                   15
Magna                    13
Sportz 1.2 Kappa VTVT    10
                         10
                         ..
LE zipPlus                1
1.2 Kappa Era             1
e 2014-2015 Magna 1.2     1
1.6 VTVT AT SX Plus       1
2016-2017 Magna           1
Name: Variant, Length: 206, dtype: int64

In [87]:
print(df3[df3['Variant'] == 'NaN'].index.values)

[  0  11  58  94  96  97  26  30  46  49  55  67  78  80  86 121 131 153
 169 174 213 219 235 272 275 292 327 371]

In [88]:
df3.drop(index=[0,11,58,94,96,97,26,30,46,49,55,67,78,80,86,121,131,153,169,174,213,219,235,272,275,292,327,371],inplace=True,axis=0)

In [89]:
df3['Variant'].value_counts()

Sportz                     15
Magna                      13
Era +                      10
1.6 SX                     10
Sportz 1.2 Kappa VTVT      10
                           ..
2009-2011 Sportz Petrol     1
LE zipPlus                  1
1.2 Kappa Era               1
e 2014-2015 Magna 1.2       1
2016-2017 Magna             1
Name: Variant, Length: 203, dtype: int64

In [90]:
df3['Fuel'].value_counts()

PETROL           270
DIESEL           133
CNG & HYBRIDS     32
CNG                6
--                 2
Name: Fuel, dtype: int64

In [91]:
print(df3[df3['Fuel'] == '--'].index.values)

[189 291]

In [92]:
df3.drop(index=[189,291],inplace=True,axis=0)

In [93]:
df3['Fuel'].value_counts()

PETROL           270
DIESEL           133
CNG & HYBRIDS     32
CNG                6
Name: Fuel, dtype: int64

In [94]:
df3['Owner'].value_counts()

1st       279
2nd        82
First      24
Second     20
3rd        15
--         10
Fourth      5
4th         3
Third       3
Name: Owner, dtype: int64

In [95]:
df3['Owner'] = df3['Owner'].replace('First','1st')
df3['Owner'] = df3['Owner'].replace('Second','2nd')
df3['Owner'] = df3['Owner'].replace('Third','3rd')
df3['Owner'] = df3['Owner'].replace('Fourth','4th')

In [96]:
df3['Owner'].value_counts()

1st    303
2nd    102
3rd     18
--      10
4th      8
Name: Owner, dtype: int64

In [97]:
print(df3[df3['Owner'] == '--'].index.values)

[  8  31  53 186 240 244 278 343 351 358]

In [98]:
df3.drop(index=[8,31,53,186,240,244,278,343,351,358],inplace=True,axis=0)

In [99]:
df3['Owner'].value_counts()

1st    302
2nd    101
3rd     17
4th      8
Name: Owner, dtype: int64

In [101]:
df3['Transmission'].value_counts()

MANUAL       363
AUTOMATIC     60
--             5
Name: Transmission, dtype: int64

In [102]:
print(df3[df3['Transmission'] == '--'].index.values)

[  3  45 150 229 283]

In [103]:
df3.drop(index=[3,45,150,229,283],inplace=True,axis=0)

In [104]:
df3['Transmission'].value_counts()

MANUAL       361
AUTOMATIC     60
Name: Transmission, dtype: int64

In [105]:
df3['Year'].value_counts()

2018    55
2017    44
2019    40
2016    40
2012    32
2014    27
2011    24
2013    24
2020    24
2021    21
2010    20
2009    18
2015    16
2008    10
2022    10
2006     4
2005     4
2003     2
2007     2
2004     2
2001     1
1998     1
Name: Year, dtype: int64

In [106]:
df3['Price'].value_counts()

 4,50,000     6
 5,50,000     5
 5,25,000     5
 2,50,000     5
 2,10,000     5
             ..
 6,39,000     1
 14,90,000    1
 6,41,000     1
 48,000       1
 8,85,000     1
Name: Price, Length: 235, dtype: int64

In [107]:
df3['Location'].value_counts()

 Maharashtra                                 72
 Delhi                                       51
 Tamil Nadu                                  44
 Gujarat                                     43
 Karnataka                                   38
 Kerala                                      22
 Telangana                                   19
 Uttar Pradesh                               19
 West Bengal                                 16
 Rajasthan                                   15
 Madhya Pradesh                              13
 Punjab                                      12
 Andhra Pradesh                               8
 Chhattisgarh                                 7
 Haryana                                      7
 Chandigarh                                   5
 main road                                    4
 Malibu Town                                  4
 Odisha                                       3
 Goa                                          2
 Assam                                        2
 Himatnagar Highway road near Laxmi Dairy     1
Ramesh Nagar                                  1
 ghatikia                                     1
 Venkatesa thyagarya                          1
Haridwar Road                                 1
 Baner                                        1
 Tatabad                                      1
 Kunnamkulam Rd                               1
 Manipur                                      1
 Opp. Malpani ground                          1
 Sector 16                                    1
 Jammu & Kashmir                              1
 Uttaranchal                                  1
 kamakhya madir gate                          1
 Multi-level Parking                          1
Name: Location, dtype: int64

In [110]:
df3['Location'] = df3['Location'].str.replace('Ramesh Nagar','Delhi') 
df3['Location'] = df3['Location'].str.replace('Himatnagar Highway road near Laxmi Dairy','Gujarat')
df3['Location'] = df3['Location'].str.replace('Nagaon Bari','Maharashtra')
df3['Location'] = df3['Location'].str.replace('Malibu Town','Haryana')
df3['Location'] = df3['Location'].str.replace('ghatikia','Odisha')
df3['Location'] = df3['Location'].str.replace('Venkatesa thyagarya','Tamil Nadu')
df3['Location'] = df3['Location'].str.replace('Haridwar Road','Uttar Pradesh')
df3['Location'] = df3['Location'].str.replace('Baner','Maharashtra')
df3['Location'] = df3['Location'].str.replace('Tatabad','Tamil Nadu')
df3['Location'] = df3['Location'].str.replace('Kunnamkulam Rd','Kerala')
df3['Location'] = df3['Location'].str.replace('Opp. Malpani ground','Maharashtra')
df3['Location'] = df3['Location'].str.replace('kamakhya madir gate','Assam')

In [111]:
df3['Location'].value_counts()

 Maharashtra            74
 Delhi                  51
 Tamil Nadu             46
 Gujarat                44
 Karnataka              38
 Kerala                 23
 Telangana              19
 Uttar Pradesh          19
 West Bengal            16
 Rajasthan              15
 Madhya Pradesh         13
 Punjab                 12
 Haryana                11
 Andhra Pradesh          8
 Chhattisgarh            7
 Chandigarh              5
 Odisha                  4
 main road               4
 Assam                   3
 Goa                     2
 Sector 16               1
 Uttaranchal             1
 Jammu & Kashmir         1
 Manipur                 1
Uttar Pradesh            1
Delhi                    1
 Multi-level Parking     1
Name: Location, dtype: int64

In [113]:
df3

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
1,Hyundai,S Petrol,PETROL,1st,Odisha,"6,80,000",I20 Active,2018,33332.0,MANUAL
2,Hyundai,Base 1.2,DIESEL,1st,main road,"3,40,000",Xcent,2018,26000.0,MANUAL
4,Hyundai,Magna 1.2,PETROL,1st,Kerala,"5,70,000",Elite I20,2018,60000.0,MANUAL
5,Hyundai,2011-2014 1.4 CRDi,DIESEL,1st,Telangana,"4,90,000",Verna,2012,"69,000",MANUAL
6,Hyundai,Others,CNG & HYBRIDS,1st,Madhya Pradesh,"6,70,000",Grand I 10,2020,"34,000",MANUAL
...,...,...,...,...,...,...,...,...,...,...
381,Hyundai,L1,PETROL,4th,Uttar Pradesh,"70,000",Santro,2005,NaN,MANUAL
382,Hyundai,1.4 CRDi S,DIESEL,1st,Punjab,"8,85,000",Creta,2017,NaN,MANUAL
383,Hyundai,2009-2011 Asta 1.4 CRDi (Diesel),DIESEL,2nd,Maharashtra,"2,40,000",I20,2011,NaN,MANUAL
384,Hyundai,Magna 1.2 iTech SE,CNG & HYBRIDS,2nd,Haryana,"3,10,000",I10,2016,NaN,MANUAL
385,Hyundai,2016-2017 Magna,PETROL,1st,Maharashtra,"4,80,000",Grand I10,2016,NaN,MANUAL

In [114]:
df3.to_excel("car_2.xlsx")

In [5]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_mahindra'
driver.get(url)

In [7]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [8]:
link

['https://www.olx.in/item/car-sold-by-olx-autos-iid-1699913560',
 'https://www.olx.in/item/mahindra-bolero-slx-2008-diesel-iid-1696096790',
 'https://www.olx.in/item/mahindra-tuv-300-t6-plus-2018-diesel-iid-1696899602',
 'https://www.olx.in/item/mahindra-thar-2021-petrol-iid-1703502535',
 'https://www.olx.in/item/mahindra-xylo-2015-diesel-iid-1703499202',
 'https://www.olx.in/item/mahindra-scorpio-s10-8-seater-2016-diesel-iid-1700769023',
 'https://www.olx.in/item/mahindra-xuv500-xuv500-w8-2012-diesel-iid-1613473091',
 'https://www.olx.in/item/mahindra-xuv500-w8-2012-diesel-iid-1694787318',
 'https://www.olx.in/item/mahindra-thar-lx-4-str-hard-top-at-2021-petrol-iid-1697477994',
 'https://www.olx.in/item/mahindra-xuv500-w10-2wd-2015-diesel-iid-1702085505',
 'https://www.olx.in/item/mahindra-bolero-2001-2010-sle-2016-diesel-iid-1628829255',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-sle-bsiii-2010-diesel-iid-1700767330',
 'https://www.olx.in/item/mahindra-scorpio-s5-2020-diesel-iid-1691570024',
 'https://www.olx.in/item/mahindra-xuv500-xuv500-w8-2012-diesel-iid-1572695582',
 'https://www.olx.in/item/mahindra-thar-lx-4-str-convertible-at-2021-petrol-iid-1700765361',
 'https://www.olx.in/item/mahindra-verito-15-d4-bsiv-2016-diesel-iid-1701703965',
 'https://www.olx.in/item/mahindra-xylo-2010-diesel-well-maintained-iid-1703503420',
 'https://www.olx.in/item/mahindra-xuv500-w8-2012-diesel-iid-1703503407',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-vlx-2wd-airbag-at-bsiv-2011-diesel-iid-1700927309',
 'https://www.olx.in/item/mahindra-scorpio-2014-diesel-150000-km-driven-iid-1703503356',
 'https://www.olx.in/item/mahindra-thar-crde-4x4-bs-iv-2018-diesel-iid-1684884051',
 'https://www.olx.in/item/mahindra-marazzo-m4-2019-diesel-iid-1693476784',
 'https://www.olx.in/item/mahindra-2022-petrol-iid-1700707049',
 'https://www.olx.in/item/mahindra-jeep-1992-diesel-well-maintained-iid-1673144884',
 'https://www.olx.in/item/mahindra-jeep-1998-diesel-iid-1703498087',
 'https://www.olx.in/item/mahindra-bolero-2006-diesel-145000-km-driven-iid-1703503333',
 'https://www.olx.in/item/mahindra-bolero-power-plus-2019-iid-1703503123',
 'https://www.olx.in/item/mahindra-scorpio-s9-2019-diesel-iid-1703101743',
 'https://www.olx.in/item/i-want-to-sell-my-car-iid-1689762298',
 'https://www.olx.in/item/mahindra-bolero-pik-up-2011-diesel-iid-1703502229',
 'https://www.olx.in/item/mahindra-verito-vibe-2013-diesel-70756-km-driven-iid-1690593525',
 'https://www.olx.in/item/mahindra-scorpio-s4-plus-2016-diesel-iid-1703501872',
 'https://www.olx.in/item/mahindra-quanto-c2-diesel-variant-running-in-office-iid-1703501746',
 'https://www.olx.in/item/mahindra-bolero-2010-diesel-iid-1703501721',
 'https://www.olx.in/item/mahindra-bolero-2009-diesel-81228-km-driven-iid-1703501692',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-sle-bsiv-2013-diesel-iid-1700766099',
 'https://www.olx.in/item/mahindra-tuv-300-t8-amt-automatic-2017-diesel-iid-1702355257',
 'https://www.olx.in/item/mahindra-xuv500-w7-at-2018-diesel-iid-1701798538',
 'https://www.olx.in/item/mahindra-xuv300-w6-diesel-2021-diesel-iid-1702354851',
 'https://www.olx.in/item/mahindra-xuv300-w8-2021-petrol-iid-1700079198',
 'https://www.olx.in/item/mahindra-logan-diesel-15-dls-2008-diesel-iid-1688029452',
 'https://www.olx.in/item/mahindra-xuv300-w8-option-diesel-2021-diesel-iid-1697479447',
 'https://www.olx.in/item/mahindra-marazzo-m2-8str-2019-diesel-iid-1703239200',
 'https://www.olx.in/item/mahindra-verito-2013-diesel-iid-1703497705',
 'https://www.olx.in/item/mahindra-e-verito-2021-electric-iid-1703496685',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-w6-2wd-2014-diesel-iid-1702777929',
 'https://www.olx.in/item/mahindra-xuv500-at-w10-awd-2019-diesel-iid-1685801174',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-w8-4wd-2014-diesel-iid-1702926610',
 'https://www.olx.in/item/mahindra-bolero-slx-2011-diesel-iid-1700498885',
 'https://www.olx.in/item/mahindra-scorpio-s11-2021-diesel-iid-1700498499',
 'https://www.olx.in/item/mahindra-bolero-power-plus-zlx-2020-diesel-iid-1691568126',
 'https://www.olx.in/item/mahindra-thar-di-4x4-2021-diesel-iid-1702055123',
 'https://www.olx.in/item/mahindra-scorpio-s11-2020-diesel-iid-1698737719',
 'https://www.olx.in/item/mahindra-thar-lx-d-4wd-at-2022-diesel-iid-1694753967',
 'https://www.olx.in/item/mahindra-xuv500-at-w6-2wd-2017-diesel-iid-1700996358',
 'https://www.olx.in/item/mahindra-xuv500-w10-at-2018-diesel-iid-1700079102',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-26-crde-2003-diesel-iid-1699776682',
 'https://www.olx.in/item/mahindra-xuv500-w6-199-mhawk-2012-diesel-iid-1703289431',
 'https://www.olx.in/item/mahindra-xuv500-w6-199-mhawk-2012-diesel-iid-1703290021',
 'https://www.olx.in/item/good-condition-iid-1703501376',
 'https://www.olx.in/item/mahindra-tuv-300-t8-2017-diesel-iid-1692524845',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1700523224',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-w8-2wd-2012-diesel-iid-1693734870',
 'https://www.olx.in/item/mahindra-xylo-2018-diesel-iid-1703496110',
 'https://www.olx.in/item/mahindra-xuv500-2016-diesel-iid-1703494357',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2016-diesel-iid-1703501370',
 'https://www.olx.in/item/mahindra-xuv500-others-2016-diesel-iid-1696919808',
 'https://www.olx.in/item/mahindra-scorpio-s10-2015-diesel-iid-1695444079',
 'https://www.olx.in/item/mahindra-scorpio-2008-diesel-87000-km-driven-iid-1703501303',
 'https://www.olx.in/item/mahindra-scorpio-2011-diesel-well-maintained-iid-1703501193',
 'https://www.olx.in/item/mahindra-scorpio-2012-diesel-well-maintained-iid-1703501148',
 'https://www.olx.in/item/mahindra-xuv500-2016-diesel-48047-km-driven-iid-1703500663',
 'https://www.olx.in/item/mahindra-xylo-2011-diesel-well-maintained-iid-1703500239',
 'https://www.olx.in/item/top-modal-bolero-iid-1699466641',
 'https://www.olx.in/item/mahindra-tuv-300-2017-iid-1703001066',
 'https://www.olx.in/item/mahindra-xuv500-w11-option-2018-diesel-iid-1703500081',
 'https://www.olx.in/item/mahindra-bolero-2001-2010-slx-2008-diesel-iid-1703499902',
 'https://www.olx.in/item/mahindra-thar-2021-diesel-14800-km-driven-well-maintained-iid-1703499645',
 'https://www.olx.in/item/mahindra-xuv500-w8-2012-diesel-iid-1702631646',
 'https://www.olx.in/item/mahindra-xuv500-w8-2015-diesel-iid-1702233641',
 'https://www.olx.in/item/mahindra-marazzo-m8-2018-diesel-iid-1698638535',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1698599408',
 'https://www.olx.in/item/mahindra-bolero-plus-ac-bs-iv-2016-diesel-iid-1702061729',
 'https://www.olx.in/item/mahindra-jeep-1990-diesel-iid-1703494310',
 'https://www.olx.in/item/mahindra-xuv500-2017-diesel-iid-1703492467',
 'https://www.olx.in/item/mahindra-kuv-100-2016-2017-mfalcon-g80-k4-plus-2016-petrol-iid-1701424418',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-sle-bsiv-2013-diesel-iid-1702634468',
 'https://www.olx.in/item/mahindra-xuv500-w9-at-2019-diesel-iid-1700475965',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2015-diesel-iid-1700495678',
 'https://www.olx.in/item/mahindra-xuv500-w8-2013-diesel-iid-1693924658',
 'https://www.olx.in/item/mahindra-scorpio-s6-2016-diesel-iid-1701424910',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2012-diesel-iid-1685211488',
 'https://www.olx.in/item/mahindra-scorpio-s4-plus-2015-diesel-iid-1703124386',
 'https://www.olx.in/item/mahindra-marazzo-m4-2018-diesel-iid-1682335303',
 'https://www.olx.in/item/mahindra-scorpio-s9-2019-diesel-iid-1702775561',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2014-diesel-iid-1701559512',
 'https://www.olx.in/item/mahindra-scorpio-s6-plus-2016-diesel-iid-1703204104',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-sle-2012-diesel-iid-1628822654',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-m2di-2009-iid-1702080989',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-w8-2wd-2015-diesel-iid-1701177146',
 'https://www.olx.in/item/mahindra-scorpio-s11-2018-diesel-iid-1703167857',
 'https://www.olx.in/item/mahindra-xylo-d4-2013-diesel-iid-1643464806',
 'https://www.olx.in/item/mahindra-e-verito-2017-diesel-iid-1702241559',
 'https://www.olx.in/item/mahindra-scorpio-2009-diesel-iid-1699205839',
 'https://www.olx.in/item/mahindra-xuv500-2013-diesel-iid-1687682738',
 'https://www.olx.in/item/mahindra-xylo-2009-diesel-85000-km-driven-all-papers-updated-iid-1703499186',
 'https://www.olx.in/item/mahindra-thar-lx-4-str-convertible-at-2022-petrol-iid-1701026977',
 'https://www.olx.in/item/mahindra-xuv500-w6-at-2015-diesel-iid-1700494238',
 'https://www.olx.in/item/mahindra-scorpio-2013-diesel-good-condition-iid-1703498859',
 'https://www.olx.in/item/mahindra-xuv500-2013-diesel-96000-km-driven-iid-1703498765',
 'https://www.olx.in/item/mahindra-bolero-camper-dx-2013-diesel-iid-1692707587',
 'https://www.olx.in/item/mahindra-tuv-300-2017-diesel-well-maintained-iid-1703498312',
 'https://www.olx.in/item/mahindra-scorpio-2002-diesel-102000-km-driven-iid-1703498287',
 'https://www.olx.in/item/mahindra-bolero-neo-2019-electric-4000-km-driven-iid-1698441143',
 'https://www.olx.in/item/rentinnovaswift-alto-iid-1703497915',
 'https://www.olx.in/item/re-registrationmahindra-xylo-2010-diesel-157000-km-driven-iid-1703497544',
 'https://www.olx.in/item/mahindra-xuv500-2014-petrol-70000-km-driven-iid-1703497379',
 'https://www.olx.in/item/mahindra-xuv500-2012-diesel-well-maintained-iid-1703497369',
 'https://www.olx.in/item/mahindra-bolero-zlx-2015-diesel-iid-1702632347',
 'https://www.olx.in/item/mahindra-tuv-300-t8-2016-diesel-iid-1702774692',
 'https://www.olx.in/item/mahindra-thar-crde-4x4-bs-iv-2016-diesel-iid-1701662148',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2012-diesel-iid-1701440335',
 'https://www.olx.in/item/mahindra-xuv500-w8-2wd-2011-diesel-iid-1700821785',
 'https://www.olx.in/item/mahindra-bolero-2020-cng-hybrids-iid-1703490561',
 'https://www.olx.in/item/mahindra-bolero-2011-diesel-iid-1703488552',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-sle-bsiv-2014-diesel-iid-1702079241',
 'https://www.olx.in/item/mahindra-scorpio-s10-2015-diesel-iid-1691564688',
 'https://www.olx.in/item/mahindra-xuv300-w6-2021-petrol-iid-1702921500',
 'https://www.olx.in/item/mahindra-bolero-plus-bs-iv-2019-diesel-iid-1701422688',
 'https://www.olx.in/item/mahindra-thar-lx-4x4-hardtop-2022-diesel-iid-1691563308',
 'https://www.olx.in/item/mahindra-scorpio-s10-2016-diesel-iid-1697471196',
 'https://www.olx.in/item/mahindra-thar-2010-2015-crde-ac-2015-diesel-iid-1696795970',
 'https://www.olx.in/item/mahindra-xuv500-w9-2019-diesel-iid-1702775176',
 'https://www.olx.in/item/mahindra-xuv500-w8-2013-diesel-iid-1702080712',
 'https://www.olx.in/item/mahindra-scorpio-2011-iid-1693524434',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2017-diesel-iid-1702774832',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-sle-bsiv-2014-diesel-iid-1701813988',
 'https://www.olx.in/item/mahindra-scorpio-s6-plus-2015-diesel-iid-1700075327',
 'https://www.olx.in/item/mahindra-thar-2010-2015-crde-ac-2015-diesel-iid-1698733312',
 'https://www.olx.in/item/mahindra-tuv-300-t8-plus-amt-2016-diesel-iid-1694782894',
 'https://www.olx.in/item/mahindra-scorpio-intelli-hybrid-s10-2015-diesel-iid-1693513976',
 'https://www.olx.in/item/mahindra-verito-15-d4-bsiii-2013-diesel-iid-1672828103',
 'https://www.olx.in/item/mahindra-scorpio-199-s6-plus-2017-diesel-iid-1699789699',
 'https://www.olx.in/item/mahindra-bolero-2012-electric-iid-1703484249',
 'https://www.olx.in/item/mahindra-quanto-2015-diesel-iid-1703483175',
 'https://www.olx.in/item/mahindra-bolero-2001-2010-di-2010-diesel-iid-1702079902',
 'https://www.olx.in/item/mahindra-bolero-zlx-2015-diesel-iid-1702078934',
 'https://www.olx.in/item/mahindra-2022-diesel-iid-1700214207',
 'https://www.olx.in/item/mahindra-2021-petrol-iid-1694918163',
 'https://www.olx.in/item/mahindra-bolero-slx-2014-diesel-iid-1692886501',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-sle-bsiv-2014-diesel-iid-1572689260',
 'https://www.olx.in/item/mahindra-xylo-2010-iid-1703496846',
 'https://www.olx.in/item/mahindra-xuv500-w8-2wd-2012-diesel-iid-1695571179',
 'https://www.olx.in/item/mahindra-scorpio-s10-7-seater-2016-diesel-iid-1692707722',
 'https://www.olx.in/item/mahindra-xuv500-w10-awd-2015-diesel-iid-1681618487',
 'https://www.olx.in/item/mahindra-bolero-pik-up-2014-diesel-iid-1703496409',
 'https://www.olx.in/item/mahindra-bolero-pik-up-2021-diesel-good-condition-iid-1703496273',
 'https://www.olx.in/item/mahindra-xuv500-w8-4wd-2014-diesel-iid-1703496176',
 'https://www.olx.in/item/mahindra-xuv500-2012-diesel-good-condition-iid-1703496036',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-ex-2003-diesel-iid-1694768937',
 'https://www.olx.in/item/mahindra-scorpio-s11-2019-diesel-iid-1697149051',
 'https://www.olx.in/item/mahindra-2022-diesel-iid-1701836925',
 'https://www.olx.in/item/mahindra-scorpio-s5-2020-diesel-iid-1699522622',
 'https://www.olx.in/item/mahindra-xuv500-2012-diesel-iid-1703482309',
 'https://www.olx.in/item/mahindra-xuv500-2014-diesel-iid-1703480473',
 'https://www.olx.in/item/mahindra-scorpio-2009-2014-lx-4x4-2012-diesel-iid-1696971348',
 'https://www.olx.in/item/mahindra-thar-2020-5000-km-driven-iid-1703495912',
 'https://www.olx.in/item/mahindra-bolero-power-plus-2017-diesel-well-maintained-iid-1703495909',
 'https://www.olx.in/item/mahindra-willys-1977-diesel-iid-1703495525',
 'https://www.olx.in/item/slx-gold-127000-drive-iid-1703495310',
 'https://www.olx.in/item/good-condition-iid-1575035610',
 'https://www.olx.in/item/mahindra-xuv500-2016-diesel-73000-km-driven-iid-1703495171',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-slx-2013-diesel-iid-1703495168',
 'https://www.olx.in/item/bolero-sle-hai-iid-1703495019',
 'https://www.olx.in/item/mahindra-mahindra-limited-xuv-500-r-w10-fwd-iid-1703494958',
 'https://www.olx.in/item/mahindra-scorpio-s3-2019-diesel-iid-1699385315',
 'https://www.olx.in/item/mahindra-tuv-300-t8-2016-diesel-iid-1700760177',
 'https://www.olx.in/item/mahindra-xuv500-w9-2019-diesel-iid-1700758759',
 'https://www.olx.in/item/mahindra-thar-lx-4-str-hard-top-at-2021-petrol-iid-1700071422',
 'https://www.olx.in/item/mahindra-bolero-2020-diesel-iid-1696116240',
 'https://www.olx.in/item/mahindra-scorpio-s3-2019-diesel-iid-1699270065',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-26-crde-2007-diesel-iid-1703315909',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1698761417',
 'https://www.olx.in/item/mahindra-scorpio-2018-diesel-good-condition-iid-1703475890',
 'https://www.olx.in/item/mahindra-quanto-2013-diesel-iid-1703472621',
 'https://www.olx.in/item/mahindra-xuv500-at-w10-fwd-2016-diesel-iid-1693361992',
 'https://www.olx.in/item/mahindra-2022-petrol-iid-1691562578',
 'https://www.olx.in/item/mahindra-thar-lx-4-str-hard-top-at-2020-petrol-iid-1701711767',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-26-slx-turbo-7-seater-2008-diesel-iid-1700759864',
 'https://www.olx.in/item/mahindra-xuv500-w8-4wd-2012-diesel-iid-1700759620',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2018-diesel-iid-1692886103',
 'https://www.olx.in/item/mahindra-ssangyong-rexton-rx7-2013-diesel-iid-1698136524',
 'https://www.olx.in/item/mahindra-bolero-zlx-bsiii-2014-diesel-iid-1694779401',
 'https://www.olx.in/item/mahindra-xylo-d4-2013-diesel-iid-1699384465',
 'https://www.olx.in/item/mahindra-2022-petrol-iid-1699930921',
 'https://www.olx.in/item/28-12-2014-model-hai-scorpio-lana-hai-iid-1703494266',
 'https://www.olx.in/item/best-condition-iid-1703494256',
 'https://www.olx.in/item/mahindra-bolero-2016-iid-1703493714',
 'https://www.olx.in/item/atabur-rahman-iid-1703493452',
 'https://www.olx.in/item/mahindra-scorpio-vlx-bs-iii-2010-diesel-iid-1703493367',
 'https://www.olx.in/item/mahindra-scorpio-s11-2019-diesel-iid-1700633749',
 'https://www.olx.in/item/mahindra-thar-lx-4x4-hardtop-2021-petrol-iid-1697585333',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-w8-2wd-2013-diesel-iid-1697690221',
 'https://www.olx.in/item/mahindra-xuv500-2015-diesel-iid-1703471273',
 'https://www.olx.in/item/mahindra-xuv500-2014-diesel-iid-1690943363',
 'https://www.olx.in/item/mahindra-marazzo-2020-diesel-iid-1703493268',
 'https://www.olx.in/item/mahindra-xuv-500-lifetime-tax-iid-1703493003',
 'https://www.olx.in/item/mahindra-kuv100-nxt-2018-iid-1703492830',
 'https://www.olx.in/item/mahindra-tuv-300-2016-diesel-85000-km-driven-iid-1703492761',
 'https://www.olx.in/item/mahindra-thar-2021-petrol-6500-km-driven-iid-1703492711',
 'https://www.olx.in/item/mahindra-scorpio-2007-iid-1703492556',
 'https://www.olx.in/item/mahindra-bolero-power-plus-2017-diesel-100000-km-driven-iid-1703492463',
 'https://www.olx.in/item/mahindra-xuv500-2021-iid-1703492410',
 'https://www.olx.in/item/mahindra-kuv-100-mahindra-kuv-100-g80-k8-2016-petrol-iid-1700757446',
 'https://www.olx.in/item/mahindra-xuv500-w8-2012-diesel-iid-1702769215',
 'https://www.olx.in/item/mahindra-scorpio-s11-2019-diesel-iid-1703165648',
 'https://www.olx.in/item/mahindra-scorpio-2002-2013-sle-2012-diesel-iid-1699401616',
 'https://www.olx.in/item/mahindra-tuv-300-plus-p8-2019-diesel-iid-1700859359',
 'https://www.olx.in/item/mahindra-logan-2007-diesel-iid-1703465627',
 'https://www.olx.in/item/mahindra-xylo-2009-diesel-iid-1703464853',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2017-diesel-iid-1694152257',
 'https://www.olx.in/item/mahindra-xuv500-w8-2013-diesel-iid-1677475215',
 'https://www.olx.in/item/mahindra-xuv500-w8-2wd-2015-diesel-iid-1697346166',
 'https://www.olx.in/item/mahindra-tuv-300-t6-plus-2018-diesel-iid-1702916280',
 'https://www.olx.in/item/mahindra-quanto-c4-2014-diesel-iid-1699898557',
 'https://www.olx.in/item/mahindra-xuv500-w10-awd-2015-diesel-iid-1687968631',
 'https://www.olx.in/item/mahindra-scorpio-s4-plus-2016-diesel-iid-1673370241',
 'https://www.olx.in/item/mahindra-scorpio-s5-2020-diesel-iid-1702769148',
 'https://www.olx.in/item/mahindra-xuv500-w10-2wd-2015-diesel-iid-1694424815',
 'https://www.olx.in/item/mahindra-scorpio-s4-2017-diesel-iid-1698729265',
 'https://www.olx.in/item/mahindra-xuv500-w10-2wd-2016-diesel-iid-1701809520',
 'https://www.olx.in/item/mahindra-bolero-pik-up-others-2021-cng-hybrids-iid-1698730098',
 'https://www.olx.in/item/mahindra-kuv-100-mahindra-kuv-100-g80-k6-plus-5str-2016-diesel-iid-1676814559',
 'https://www.olx.in/item/mahindra-kuv-100-k8-5str-2017-diesel-iid-1629620128',
 'https://www.olx.in/item/mahindra-thar-lx-4-str-hard-top-at-2021-petrol-iid-1701284307',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1701838639',
 'https://www.olx.in/item/mahindra-scorpio-s7-140-2019-diesel-iid-1702131281',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1700079819',
 'https://www.olx.in/item/mahindra-xuv500-2018-diesel-iid-1703463132',
 'https://www.olx.in/item/mahindra-xuv500-2013-diesel-iid-1703462701',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-sportz-2015-iid-1558842223',
 'https://www.olx.in/item/mahindra-2017-diesel-iid-1702769579',
 'https://www.olx.in/item/mahindra-xuv500-2011-2015-w8-4wd-2015-diesel-iid-1679487526',
 'https://www.olx.in/item/mahindra-bolero-2016-diesel-82000-km-driven-iid-1703492330',
 'https://www.olx.in/item/mahindra-thar-ax-4-str-convertible-mt-2020-diesel-iid-1695923886',
 'https://www.olx.in/item/mahindra-bolero-pik-up-2013-diesel-125000-km-driven-iid-1703491912',
 'https://www.olx.in/item/diesel-bollero-iid-1703491851',
 'https://www.olx.in/item/mahindra-xuv500-w6-2wd-2015-diesel-iid-1703491742',
 'https://www.olx.in/item/mahindra-scorpio-2006-diesel-good-condition-iid-1703491255',
 'https://www.olx.in/item/mahindra-xuv500-2013-iid-1703491578',
 'https://www.olx.in/item/mahindra-scorpio-2013-diesel-75000-km-driven-iid-1703491209',
 'https://www.olx.in/item/mahindra-quanto-2013-diesel-well-maintained-76000-km-driven-urgent-sel-iid-1703490841',

In [9]:
len(link)

489

In [10]:
driver.get(link[0])

In [11]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 15
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [12]:
brand

['Mahindra Scorpio (2018)',
 'Mahindra Bolero (2008)',
 'Mahindra Tuv 300 (2018)',
 '--',
 'Mahindra Xylo (2015)',
 'Mahindra Scorpio (2016)',
 'Mahindra Xuv500 (2012.0)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Thar (2021)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Bolero (2016)',
 'Mahindra Scorpio (2010)',
 'Mahindra Scorpio (2020)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Thar (2021)',
 'Mahindra Verito (2016)',
 'Mahindra Xylo (2010)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2011)',
 'Mahindra Scorpio (2014)',
 'Mahindra Thar (2018)',
 'Mahindra Marazzo (2019)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Jeep (1992)',
 'Mahindra Jeep (1998)',
 'Mahindra Bolero (2006)',
 'Mahindra Bolero Power Plus (2019)',
 'Mahindra Scorpio (2019)',
 '--',
 'Mahindra Bolero Pik-Up (2011)',
 'Mahindra Verito Vibe (2013)',
 'Mahindra Scorpio (2016)',
 'Mahindra Quanto (2014)',
 'Mahindra Bolero (2010)',
 'Mahindra Bolero (2009)',
 'Mahindra Scorpio (2013)',
 'Mahindra Tuv 300 (2017)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Xuv300 (2021)',
 'Mahindra Xuv300 (2021)',
 'Mahindra Logan (2008)',
 'Mahindra Xuv300 (2021)',
 'Mahindra Marazzo (2019)',
 'Mahindra Verito (2013)',
 'Mahindra E Verito (2021)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Xuv500 (2019)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Bolero (2011)',
 'Mahindra Scorpio (2021)',
 'Mahindra Bolero Power Plus (2020)',
 'Mahindra Thar (2021)',
 'Mahindra Scorpio (2020)',
 'Mahindra Thar (2022)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Scorpio (2003)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2013)',
 'Mahindra Tuv 300 (2017)',
 'Mahindra Scorpio (2018)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xylo (2018)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2015)',
 'Mahindra Scorpio (2008)',
 'Mahindra Scorpio (2011)',
 'Mahindra Scorpio (2012)',
 '--',
 'Mahindra Xylo (2011)',
 'Mahindra Bolero (2013)',
 'Mahindra Tuv 300 (2017)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Bolero (2008)',
 'Mahindra Thar (2021)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv500 (2015)',
 '--',
 'Mahindra Scorpio (2018)',
 'Mahindra Bolero (2016)',
 'Mahindra Jeep (1990)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Kuv 100 (2016)',
 'Mahindra Scorpio (2013)',
 'Mahindra Xuv500 (2019)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Scorpio (2016)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2015)',
 'Mahindra Marazzo (2018)',
 'Mahindra Scorpio (2019)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Scorpio (2016)',
 'Mahindra Scorpio (2012)',
 'Mahindra Scorpio (2009)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2018)',
 'Mahindra Xylo (2013)',
 'Mahindra E Verito (2017)',
 'Mahindra Scorpio (2009)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xylo (2009)',
 'Mahindra Thar (2022)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2013)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Bolero (2013)',
 'Mahindra Tuv 300 (2017)',
 'Mahindra Scorpio (2002)',
 'Mahindra Bolero Neo (2019)',
 'Mahindra Xuv700 (2020)',
 'Mahindra Xylo (2010)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Bolero (2015)',
 'Mahindra Tuv 300 (2016)',
 'Mahindra Thar (2016)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv500 (2011)',
 'Mahindra Bolero (2020)',
 'Mahindra Bolero (2011)',
 'Mahindra Scorpio (2014)',
 'Mahindra Scorpio (2015)',
 'Mahindra Xuv300 (2021)',
 'Mahindra Bolero (2019)',
 'Mahindra Thar (2022)',
 'Mahindra Scorpio (2016)',
 'Mahindra Thar (2015)',
 'Mahindra Xuv500 (2019)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Scorpio (2011)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Scorpio (2014)',
 'Mahindra Scorpio (2015)',
 'Mahindra Thar (2015)',
 'Mahindra Tuv 300 (2016)',
 '--',
 '--',
 '--',
 'Mahindra Bolero (2012)',
 'Mahindra Quanto (2015)',
 'Mahindra Bolero (2010)',
 'Mahindra Bolero (2015)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Xuv700 (2021)',
 'Mahindra Bolero (2014)',
 'Mahindra Scorpio (2014)',
 'Mahindra Xylo (2010)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2016)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Bolero Pik-Up (2014)',
 'Mahindra Bolero Pik-Up (2021)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2003)',
 'Mahindra Scorpio (2019)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Scorpio (2020)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Scorpio (2012)',
 'Mahindra Thar (2020)',
 'Mahindra Bolero Power Plus (2017)',
 'Mahindra Willys (1977)',
 'Mahindra Bolero (2007)',
 'Mahindra Verito (2011)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2013)',
 'Mahindra Bolero (2013)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2019)',
 'Mahindra Tuv 300 (2016)',
 'Mahindra Xuv500 (2019)',
 'Mahindra Thar (2021)',
 'Mahindra Bolero (2020)',
 'Mahindra Scorpio (2019)',
 'Mahindra Scorpio (2007)',
 'Mahindra Scorpio (2018)',
 'Mahindra Scorpio (2018)',
 'Mahindra Quanto (2013)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Thar (2020)',
 'Mahindra Scorpio (2008)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Ssangyong Rexton (2013)',
 'Mahindra Bolero (2014)',
 'Mahindra Xylo (2013)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Bolero (2018)',
 'Mahindra Scorpio (2006)',
 'Mahindra Bolero (2016)',
 'Mahindra Bolero Pik-Up (2018)',
 'Mahindra Scorpio (2010)',
 'Mahindra Scorpio (2019)',
 '--',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Marazzo (2020)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Kuv100 Nxt (2018)',
 'Mahindra Tuv 300 (2016)',
 'Mahindra Thar (2021)',
 'Mahindra Scorpio (2007)',
 'Mahindra Bolero Power Plus (2017)',
 'Mahindra Xuv500 (2021)',
 '--',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2019)',
 'Mahindra Scorpio (2012)',
 'Mahindra Tuv 300 Plus (2019)',
 'Mahindra Logan (2007)',
 'Mahindra Xylo (2009)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Tuv 300 (2018)',
 'Mahindra Quanto (2014)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2016)',
 'Mahindra Scorpio (2020)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2017)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Bolero Pik-Up (2021)',
 'Mahindra Kuv 100 (2016)',
 'Mahindra Kuv 100 (2017)',
 'Mahindra Thar (2021)',
 'Mahindra Scorpio (2018)',
 'Mahindra Scorpio (2019)',
 'Mahindra Scorpio (2018)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Kuv100 Nxt (2017)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Bolero (2016)',
 'Mahindra Thar (2020)',
 'Mahindra Bolero Pik-Up (2013)',
 'Mahindra Bolero Pik-Up (2022)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2006)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Scorpio (2013)',
 'Mahindra Quanto (2013)',
 'Mahindra Bolero (2014)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Bolero Pik-Up (2018)',
 'Mahindra Bolero (2016)',
 'Mahindra Scorpio (2018)',
 'Mahindra Scorpio (2020)',
 'Mahindra Scorpio (2007)',
 'Mahindra Bolero (2012)',
 'Mahindra Scorpio (2010)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Bolero (2011)',
 'Mahindra Scorpio (2018)',
 'Mahindra Thar (2020)',
 'Mahindra Xylo (2017)',
 'Mahindra Xuv300 (2020)',
 'Mahindra Bolero (2019)',
 'Mahindra Kuv 100 (2017)',
 'Mahindra Xuv300 (2019)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Thar (2022)',
 'Mahindra Kuv 100 (2016)',
 'Mahindra Scorpio (2015)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2012)',
 'Mahindra Scorpio (2014)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Xylo (2009)',
 'Mahindra Scorpio (2006)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Scorpio (2019)',
 'Mahindra Xylo (2017)',
 'Mahindra Scorpio (2018)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2014)',
 'Mahindra Scorpio (2014)',
 'Mahindra Marazzo (2019)',
 'Mahindra E2o Plus (2021)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2020)',
 'Mahindra Tuv 300 (2017)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Bolero (2019)',
 'Mahindra Tuv 300 (2018)',
 'Mahindra Thar (2013)',
 'Mahindra Scorpio (2005)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Verito (2010)',
 'Mahindra Bolero Pik-Up (2012)',
 'Mahindra Marazzo (2019)',
 'Mahindra Scorpio (2014)',
 'Mahindra Bolero (2018)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Marazzo (2018)',
 'Mahindra Scorpio (2015)',
 'Mahindra Quanto (2012)',
 'Mahindra Scorpio (2011)',
 'Mahindra Xylo (2010)',
 'Mahindra Bolero (2018)',
 'Mahindra Bolero (2012)',
 'Mahindra Scorpio (2012)',
 'Mahindra Tuv 300 (2019)',
 'Mahindra Xuv500 (2016)',
 '--',
 'Mahindra Scorpio (2011)',
 'Mahindra Xylo (2009)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2014)',
 'Mahindra Bolero (2016)',
 'Mahindra Tuv 300 (2016)',
 'Mahindra Scorpio (2018)',
 'Mahindra Bolero (2014)',
 'Mahindra Scorpio (2012)',
 'Mahindra Scorpio (2019)',
 'Mahindra Thar (2022)',
 'Mahindra Scorpio (2008)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Bolero (2010)',
 'Mahindra Scorpio (2020)',
 'Mahindra Bolero (2015)',
 'Mahindra Scorpio (2014)',
 'Mahindra Xylo (2014)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Bolero (2014)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Scorpio (2013)',
 'Mahindra Xuv500 (2014)',
 '--',
 'Mahindra Quanto (2012)',
 'Mahindra Marazzo (2018)',
 'Mahindra Scorpio (2011)',
 'Mahindra Thar (2021)',
 'Mahindra Bolero (2013)',
 'Mahindra Bolero (2018)',
 'Mahindra Thar (2012)',
 'Mahindra Bolero (2019)',
 'Mahindra Xylo (2011)',
 'Mahindra Verito (2016)',
 'Mahindra Bolero (2020)',
 'Mahindra Scorpio (2017)',
 'Mahindra Scorpio (2007)',
 'Mahindra Bolero (2015)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Quanto (2012)',
 'Mahindra Jeep (2000)',
 'Mahindra Thar (2021)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Thar (2021)',
 'Mahindra Bolero (2017)',
 'Mahindra Quanto (2014)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Thar (2021)',
 'Mahindra Thar (2020)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2018)',
 'Mahindra Thar (2021)',
 'Mahindra Xylo (2010)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Scorpio (2018)',
 'Mahindra Bolero Pik-Up (2019)',
 'Mahindra Scorpio (2017)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Scorpio (2017)',
 'Mahindra Xylo (2010)',
 'Mahindra Scorpio (2006)',
 'Mahindra Xylo (2009)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Thar (2020)',
 'Mahindra Xuv500 (2019)',
 'Mahindra Xylo (2014)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2014)',
 'Mahindra Thar (2020)',
 'Mahindra Xylo (2010)',
 'Mahindra Kuv 100 (2012)',
 'Mahindra Logan (2007)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Quanto (2015)',
 'Mahindra Bolero (2014)',
 'Mahindra Scorpio (2016)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Scorpio (2018)',
 'Mahindra Jeep (1996)',
 'Mahindra Ssangyong Rexton (2013)',
 'Mahindra Bolero Pik-Up (2020)',
 'Mahindra Xuv500 (2019)',
 'Mahindra Tuv 300 Plus (2022)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Kuv 100 (2017)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Bolero Pik-Up (2019)',
 'Mahindra Xylo (2012)',
 'Mahindra Bolero (2012)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Bolero (2009)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Scorpio (2016)',
 'Mahindra Bolero Pik-Up (2008)',
 'Mahindra Scorpio (2018)',
 'Mahindra Thar (2022)',
 'Mahindra Scorpio (2015)',
 'Mahindra Scorpio (2015)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2017)',
 'Mahindra Scorpio (2020)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Xuv500 (2014)',
 '--',
 'Mahindra Thar (2021)',
 'Mahindra Scorpio (2012)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2015)',
 'Mahindra Xuv500 (2013)',
 'Mahindra E Verito (2018)',
 'Mahindra Thar (2021)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Marazzo (2019)',
 'Mahindra Scorpio (2017)',
 'Mahindra Bolero Pik-Up (2016)',
 'Mahindra Bolero (2014)',
 'Mahindra Bolero (2014)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Scorpio (2014)',
 'Mahindra Scorpio (2021)',
 'Mahindra Kuv 100 (2016)',
 'Mahindra E2o Plus (2016)',
 'Mahindra Xuv300 (2019)',
 'Mahindra Xuv500 (2014)',
 'Mahindra Bolero (2015)',
 'Mahindra Xylo (2012)',
 'Mahindra Tuv 300 (2016)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Scorpio (2010)',
 'Mahindra Tuv 300 (2019)',
 'Mahindra Bolero (2018)',
 'Mahindra Marazzo (2019)',
 'Mahindra Scorpio (2013)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Scorpio (2020)',
 'Mahindra Scorpio (2010)',
 'Mahindra Scorpio (2016)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Thar (2021)',
 'Mahindra Verito (2016)',
 'Mahindra Scorpio (2016)',
 'Mahindra Kuv 100 (2016)',
 'Mahindra Scorpio (2017)',
 'Mahindra Thar (2021)',
 'Mahindra Tuv 300 (2016)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Bolero (2017)',
 'Mahindra Xuv500 (2018)',
 'Mahindra Tuv 300 (2017)',
 'Mahindra Xuv500 (2013)',
 'Mahindra Scorpio (2017)',
 'Mahindra Scorpio (2019)',
 'Mahindra Xuv700 (2022)',
 'Mahindra Xuv500 (2016)',
 'Mahindra Xuv500 (2012)',
 'Mahindra Xuv500 (2013)']

In [13]:
price

['₹ 14,60,000',
 '₹ 2,90,000',
 '₹ 7,65,000',
 '--',
 '₹ 4,00,000',
 '₹ 9,50,000',
 '₹ 5,85,000',
 '₹ 7,80,000',
 '₹ 17,50,000',
 '₹ 7,95,000',
 '₹ 6,75,000',
 '₹ 3,85,000',
 '₹ 11,50,000',
 '₹ 4,75,000',
 '₹ 17,35,000',
 '₹ 2,95,000',
 '₹ 3,51,000',
 '₹ 4,95,000',
 '₹ 4,50,000',
 '₹ 5,50,000',
 '₹ 8,45,000',
 '₹ 9,99,999',
 '₹ 19,99,000',
 '₹ 4,50,000',
 '₹ 2,50,000',
 '₹ 2,10,000',
 '₹ 6,90,000',
 '₹ 13,00,000',
 '--',
 '₹ 2,50,000',
 '₹ 2,50,000',
 '₹ 8,25,000',
 '₹ 3,46,000',
 '₹ 3,50,000',
 '₹ 78,500',
 '₹ 4,25,000',
 '₹ 6,75,000',
 '₹ 13,75,000',
 '₹ 9,75,000',
 '₹ 10,75,000',
 '₹ 1,70,000',
 '₹ 13,75,000',
 '₹ 8,50,000',
 '₹ 2,90,000',
 '₹ 6,25,000',
 '₹ 5,40,000',
 '₹ 13,00,000',
 '₹ 7,75,000',
 '₹ 4,25,000',
 '₹ 18,25,000',
 '₹ 10,40,000',
 '₹ 15,35,000',
 '₹ 16,50,000',
 '₹ 17,50,000',
 '₹ 12,50,000',
 '₹ 15,25,000',
 '₹ 1,50,000',
 '₹ 5,90,000',
 '₹ 5,90,000',
 '₹ 4,80,000',
 '₹ 7,00,000',
 '₹ 14,60,255',
 '₹ 5,90,000',
 '₹ 5,50,000',
 '₹ 9,30,000',
 '₹ 9,50,000',
 '₹ 9,45,000',
 '₹ 9,25,000',
 '₹ 1,95,000',
 '₹ 5,60,000',
 '₹ 4,99,999',
 '--',
 '₹ 1,90,000',
 '₹ 4,60,000',
 '₹ 6,80,000',
 '₹ 13,75,000',
 '₹ 3,25,000',
 '₹ 16,95,000',
 '₹ 7,25,000',
 '₹ 8,90,000',
 '--',
 '₹ 14,60,255',
 '₹ 5,55,101',
 '₹ 3,00,000',
 '₹ 9,09,000',
 '₹ 3,55,000',
 '₹ 5,45,000',
 '₹ 17,75,000',
 '₹ 9,90,000',
 '₹ 7,25,000',
 '₹ 8,50,000',
 '₹ 3,95,000',
 '₹ 6,95,000',
 '₹ 8,75,000',
 '₹ 12,90,000',
 '₹ 5,50,000',
 '₹ 9,25,000',
 '₹ 5,50,000',
 '₹ 3,90,000',
 '₹ 7,99,000',
 '₹ 14,25,000',
 '₹ 3,50,000',
 '₹ 2,40,000',
 '₹ 4,10,000',
 '₹ 5,49,999',
 '₹ 1,82,000',
 '₹ 17,50,000',
 '₹ 6,50,000',
 '₹ 3,20,000',
 '₹ 5,50,000',
 '₹ 4,25,000',
 '₹ 5,00,000',
 '₹ 2,55,000',
 '₹ 1,55,000',
 '₹ 26,000',
 '₹ 1,78,000',
 '₹ 5,50,000',
 '₹ 7,50,000',
 '₹ 6,75,000',
 '₹ 5,59,000',
 '₹ 7,25,000',
 '₹ 7,95,000',
 '₹ 7,35,000',
 '₹ 8,50,000',
 '₹ 3,75,000',
 '₹ 5,25,000',
 '₹ 8,25,000',
 '₹ 10,75,000',
 '₹ 8,50,000',
 '₹ 18,55,176',
 '₹ 9,49,000',
 '₹ 6,90,000',
 '₹ 14,75,000',
 '₹ 4,95,000',
 '₹ 3,65,000',
 '₹ 8,75,000',
 '₹ 5,75,000',
 '₹ 7,15,000',
 '₹ 5,85,000',
 '₹ 7,75,000',
 '--',
 '--',
 '--',
 '₹ 5,10,000',
 '₹ 3,00,000',
 '₹ 5,50,000',
 '₹ 6,90,000',
 '₹ 27,40,000',
 '₹ 25,00,000',
 '₹ 4,10,000',
 '₹ 4,85,000',
 '₹ 2,40,000',
 '₹ 4,05,000',
 '₹ 9,75,000',
 '₹ 8,75,000',
 '₹ 3,75,000',
 '₹ 7,00,000',
 '₹ 8,25,000',
 '₹ 5,00,000',
 '₹ 1,99,999',
 '₹ 16,00,000',
 '₹ 28,50,000',
 '₹ 13,00,000',
 '₹ 4,99,000',
 '₹ 7,50,000',
 '₹ 4,99,999',
 '₹ 17,30,000',
 '₹ 6,00,000',
 '₹ 3,25,000',
 '₹ 3,50,000',
 '₹ 2,10,000',
 '₹ 9,10,000',
 '₹ 4,45,000',
 '₹ 3,25,000',
 '₹ 7,95,000',
 '₹ 8,90,000',
 '₹ 6,50,000',
 '₹ 12,99,000',
 '₹ 16,99,990',
 '₹ 9,50,000',
 '₹ 11,75,000',
 '₹ 2,19,000',
 '₹ 14,60,255',
 '₹ 17,00,000',
 '₹ 3,21,000',
 '₹ 14,25,000',
 '₹ 21,22,737',
 '₹ 17,25,000',
 '₹ 3,10,000',
 '₹ 4,99,999',
 '₹ 12,09,000',
 '₹ 6,25,000',
 '₹ 6,75,000',
 '₹ 4,50,000',
 '₹ 24,50,000',
 '₹ 3,75,000',
 '₹ 1,55,000',
 '₹ 5,30,000',
 '₹ 4,95,000',
 '₹ 5,70,000',
 '₹ 16,40,000',
 '--',
 '₹ 4,40,000',
 '₹ 6,25,000',
 '₹ 8,45,000',
 '₹ 12,00,000',
 '₹ 5,15,000',
 '₹ 3,30,000',
 '₹ 4,80,000',
 '₹ 16,00,000',
 '₹ 1,35,000',
 '₹ 4,70,000',
 '₹ 14,00,000',
 '--',
 '₹ 5,60,000',
 '₹ 17,50,000',
 '₹ 6,40,000',
 '₹ 8,45,000',
 '₹ 1,49,999',
 '₹ 2,10,000',
 '₹ 7,50,000',
 '₹ 4,50,000',
 '₹ 8,50,000',
 '₹ 6,50,000',
 '₹ 2,51,000',
 '₹ 8,25,000',
 '₹ 8,10,000',
 '₹ 13,75,000',
 '₹ 8,25,000',
 '₹ 8,25,000',
 '₹ 9,11,000',
 '₹ 7,40,000',
 '₹ 4,50,000',
 '₹ 6,50,000',
 '₹ 17,49,000',
 '₹ 14,60,255',
 '₹ 10,25,000',
 '₹ 14,60,255',
 '₹ 13,45,762',
 '₹ 7,40,000',
 '₹ 7,98,880',
 '₹ 4,20,000',
 '₹ 9,90,000',
 '₹ 5,20,000',
 '₹ 15,00,000',
 '₹ 3,90,000',
 '₹ 9,50,000',
 '₹ 8,95,000',
 '₹ 2,70,000',
 '₹ 5,00,000',
 '₹ 4,50,000',
 '₹ 3,00,000',
 '₹ 5,20,000',
 '₹ 4,00,000',
 '₹ 6,20,000',
 '₹ 7,85,000',
 '₹ 14,50,000',
 '₹ 13,80,000',
 '₹ 2,39,000',
 '₹ 3,85,000',
 '₹ 2,80,000',
 '₹ 6,50,000',
 '₹ 3,10,000',
 '₹ 12,50,000',
 '₹ 14,25,000',
 '₹ 7,70,000',
 '₹ 10,25,000',
 '₹ 8,50,000',
 '₹ 4,70,000',
 '₹ 10,20,000',
 '₹ 8,50,000',
 '₹ 16,03,471',
 '₹ 3,55,000',
 '₹ 7,75,000',
 '₹ 5,95,000',
 '₹ 6,25,000',
 '₹ 8,29,000',
 '₹ 11,25,000',
 '₹ 2,50,000',
 '₹ 2,60,000',
 '₹ 5,50,000',
 '₹ 11,50,000',
 '₹ 5,95,000',
 '₹ 12,40,000',
 '₹ 15,99,999',
 '₹ 10,41,000',
 '₹ 6,90,000',
 '₹ 4,80,000',
 '₹ 7,50,000',
 '₹ 1,20,000',
 '₹ 7,49,999',
 '₹ 10,75,000',
 '₹ 14,95,000',
 '₹ 6,35,000',
 '₹ 7,75,000',
 '₹ 16,45,000',
 '₹ 9,75,000',
 '₹ 8,00,000',
 '₹ 4,50,000',
 '₹ 2,10,000',
 '₹ 5,00,000',
 '₹ 1,15,000',
 '₹ 3,10,000',
 '₹ 13,50,000',
 '₹ 4,50,000',
 '₹ 7,80,000',
 '₹ 7,61,000',
 '₹ 11,00,000',
 '₹ 8,00,000',
 '₹ 4,25,000',
 '₹ 3,30,000',
 '₹ 2,40,000',
 '₹ 7,70,000',
 '₹ 2,90,000',
 '₹ 4,30,000',
 '₹ 9,75,000',
 '₹ 9,65,000',
 '--',
 '₹ 5,20,000',
 '₹ 3,60,000',
 '₹ 7,75,000',
 '₹ 8,50,000',
 '₹ 8,25,000',
 '₹ 6,85,000',
 '₹ 6,75,000',
 '₹ 4,98,888',
 '₹ 13,50,000',
 '₹ 3,80,000',
 '₹ 5,00,000',
 '₹ 10,75,000',
 '₹ 14,75,000',
 '₹ 4,25,000',
 '₹ 7,75,000',
 '₹ 5,20,000',
 '₹ 16,75,000',
 '₹ 6,50,000',
 '₹ 11,50,000',
 '₹ 2,75,000',
 '₹ 10,50,000',
 '₹ 8,75,000',
 '₹ 5,50,000',
 '₹ 14,75,000',
 '₹ 3,90,000',
 '₹ 5,45,000',
 '--',
 '₹ 4,50,000',
 '₹ 7,00,000',
 '₹ 3,30,000',
 '₹ 17,75,000',
 '₹ 2,95,000',
 '₹ 8,10,000',
 '₹ 3,80,000',
 '₹ 9,00,000',
 '₹ 2,50,000',
 '₹ 2,95,000',
 '₹ 9,60,000',
 '₹ 9,25,000',
 '₹ 1,90,000',
 '₹ 4,70,000',
 '₹ 7,15,000',
 '₹ 1,50,000',
 '₹ 2,75,000',
 '₹ 15,50,000',
 '₹ 8,74,999',
 '₹ 9,74,999',
 '₹ 12,50,000',
 '₹ 5,20,000',
 '₹ 8,99,999',
 '₹ 17,50,000',
 '₹ 5,50,000',
 '₹ 4,25,000',
 '₹ 11,75,000',
 '₹ 17,94,000',
 '₹ 18,25,000',
 '₹ 10,25,000',
 '₹ 14,55,000',
 '₹ 16,99,000',
 '₹ 1,30,000',
 '₹ 5,00,000',
 '₹ 18,75,000',
 '₹ 13,25,000',
 '₹ 7,80,000',
 '₹ 8,50,000',
 '₹ 10,15,000',
 '₹ 13,00,000',
 '₹ 2,40,000',
 '₹ 3,51,000',
 '₹ 2,68,000',
 '₹ 11,45,000',
 '₹ 17,45,000',
 '₹ 15,75,000',
 '₹ 3,50,000',
 '₹ 7,75,000',
 '₹ 9,40,000',
 '₹ 5,65,000',
 '₹ 16,65,000',
 '₹ 1,69,999',
 '₹ 5,50,000',
 '₹ 2,00,000',
 '₹ 6,85,000',
 '₹ 2,50,000',
 '₹ 4,70,000',
 '₹ 9,80,000',
 '₹ 8,60,000',
 '₹ 14,50,000',
 '₹ 3,90,000',
 '₹ 12,99,999',
 '₹ 7,50,000',
 '₹ 11,75,000',
 '₹ 4,40,000',
 '₹ 11,00,000',
 '₹ 10,50,000',
 '₹ 6,49,999',
 '₹ 22,00,000',
 '₹ 3,95,000',
 '₹ 5,60,000',
 '₹ 5,50,000',
 '₹ 6,80,000',
 '₹ 3,25,000',
 '₹ 5,20,000',
 '₹ 7,45,000',
 '₹ 2,50,000',
 '₹ 9,50,000',
 '₹ 6,10,000',
 '₹ 3,40,000',
 '₹ 9,99,000',
 '₹ 14,75,000',
 '₹ 8,50,000',
 '₹ 8,50,000',
 '₹ 8,50,000',
 '₹ 11,25,000',
 '₹ 17,50,000',
 '₹ 14,25,000',
 '₹ 8,65,000',
 '--',
 '₹ 14,00,000',
 '₹ 5,25,000',
 '₹ 8,70,000',
 '₹ 5,89,000',
 '₹ 8,15,000',
 '₹ 4,00,000',
 '₹ 17,50,000',
 '₹ 6,50,000',
 '₹ 18,00,000',
 '₹ 9,50,000',
 '₹ 9,25,000',
 '₹ 5,95,000',
 '₹ 4,90,000',
 '₹ 4,95,000',
 '₹ 14,70,000',
 '₹ 8,20,000',
 '₹ 19,50,000',
 '₹ 3,90,000',
 '₹ 4,99,000',
 '₹ 10,90,000',
 '₹ 6,35,000',
 '₹ 6,50,000',
 '₹ 2,99,000',
 '₹ 5,50,000',
 '₹ 5,25,000',
 '₹ 3,25,000',
 '₹ 8,00,000',
 '₹ 7,50,000',
 '₹ 8,85,000',
 '₹ 4,50,000',
 '₹ 5,50,000',
 '₹ 19,25,000',
 '₹ 4,15,000',
 '₹ 11,20,000',
 '₹ 5,95,000',
 '₹ 13,65,000',
 '₹ 16,25,000',
 '₹ 2,75,000',
 '₹ 11,00,000',
 '₹ 3,75,000',
 '₹ 9,75,000',
 '₹ 17,60,000',
 '₹ 6,25,000',
 '₹ 4,69,000',
 '₹ 6,00,000',
 '₹ 14,21,000',
 '₹ 7,75,000',
 '₹ 7,25,000',
 '₹ 12,50,000',
 '₹ 15,29,999',
 '₹ 26,51,000',
 '₹ 9,00,000',
 '₹ 7,50,000',
 '₹ 5,25,000']

In [14]:
variant

['S11',
 'SLX',
 'T6 PLUS',
 '--',
 'D4',
 'S10 8 Seater',
 '2011-2015 W8-2WD',
 'W8',
 'LX 4-STR Hard Top AT',
 'W10 2WD',
 '2001-2010 SLE',
 '2009-2014 SLE BSIII',
 'S5',
 '2011-2015 W8-2WD',
 'LX 4-STR Convertible AT',
 '1.5 D4 BSIV',
 'D2 BS IV',
 'W8',
 '2009-2014 VLX 2WD AIRBAG AT BSIV',
 '2009-2014 SLE BSIV',
 'CRDE 4X4 BS IV',
 'M4',
 'AX5 7 Str',
 'MM 540 DP',
 'CL 500 MDI',
 '2001-2010 LX Non AC',
 'SLX',
 'S9',
 '--',
 'FB 1.25T',
 '1.5 dCi D4',
 'S4 Plus',
 'C2',
 'B4',
 'SLE',
 '2009-2014 SLE BSIV',
 'T8 AMT (Automatic)',
 'W7 AT',
 'W6 Diesel',
 'W8',
 'Diesel 1.5 DLS',
 'W8 Option Diesel',
 'M2 8Str',
 '1.5 D4 BSIV',
 'D6',
 '2011-2015 W6 2WD',
 'AT W10 AWD',
 '2011-2015 W8 4WD',
 'SLX',
 'S11',
 'ZLX',
 'DI 4X4',
 'S11',
 'LX D 4WD AT',
 'AT W6 2WD',
 'W10 AT',
 '2002-2013 2.6 CRDe',
 'W6 1.99 mHawk',
 'W6 1.99 mHawk',
 '2002-2013 LX',
 'T8',
 'S11',
 '2011-2015 W8 2WD',
 'D4',
 'W8 2WD',
 'W6 2WD',
 'Others',
 'S10',
 '2002-2013 SLX 4WD',
 '2002-2013 GLX AWD Limited Edition',
 '2002-2013 Vlx BS-IV',
 '--',
 '2009-2011 D2',
 'ZLX',
 'T8',
 'W11 Option',
 '2001-2010 SLX',
 'LX 4-STR Hard Top MT',
 'W8',
 'W8',
 '--',
 'S11',
 'Plus AC BS IV',
 'CJ 500 DI',
 'W6 2WD',
 '2016-2017 mFALCON G80 K4 Plus',
 '2009-2014 SLE BSIV',
 'W9 AT',
 'W6 2WD',
 'W8',
 'S6',
 'W6 2WD',
 'S4 Plus',
 'M4',
 'S9',
 'W6 2WD',
 'S6 Plus',
 '2002-2013 Sle',
 '2009-2014 M2DI',
 '2011-2015 W8 2WD',
 'S11',
 'D4',
 '',
 '2009-2014 SLE BSIV',
 '2011-2015 W8 2WD',
 'D2 BS IV',
 'LX 4-STR Convertible AT',
 'W6 AT',
 '2009-2014 SLE BSIV',
 'W8',
 'Camper DX',
 'T6',
 '2006-2009 VLX 2WD BSIII',
 'N 10',
 'AX3',
 '2009-2011 E8',
 'W5',
 '2011-2015 W8 2WD',
 'ZLX',
 'T8',
 'CRDE 4X4 BS IV',
 'W6 2WD',
 'W8 2WD',
 'B6',
 'SLX',
 '2009-2014 SLE BSIV',
 'S10',
 'W6',
 'Plus BS IV',
 'LX 4X4 Hardtop',
 'S10',
 '2010-2015 CRDe AC',
 'W9',
 'W8',
 '',
 'W6 2WD',
 '2009-2014 SLE BSIV',
 'S6 Plus',
 '2010-2015 CRDe AC',
 'T8 Plus AMT',
 '--',
 '--',
 '--',
 'DI NON AC BS III White',
 'C8',
 '2001-2010 DI',
 'ZLX',
 'AX7',
 'AX7 AT Luxury Pack',
 'SLX',
 '2009-2014 SLE BSIV',
 '2009-2011 E8 BS4',
 'W8 2WD',
 'S10 7 Seater',
 'W10 AWD',
 '',
 'FB 1.25T',
 'W8 4WD',
 '2011-2015 W8 2WD',
 '2002-2013 EX',
 'S11',
 'AX7 AT Luxury Pack',
 'S5',
 '2011-2015 W8 4WD',
 '2011-2015 W8 4WD',
 '2009-2014 LX 4X4',
 'LX 4-STR Convertible AT',
 'SLE',
 '',
 '2001-2010 SLX',
 '1.5 D2 BS-IV',
 'AT W6 1.99 mHawk',
 '2002-2013 SLX',
 '2001-2010 SLE',
 'AT W10 FWD',
 'S3',
 'T8',
 'W9',
 'LX 4-STR Hard Top AT',
 'B6 (O)',
 'S3',
 '2002-2013 2.6 CRDe',
 'S11',
 'S11',
 'C8',
 'AT W10 FWD',
 'AX5 7 Str',
 'LX 4-STR Hard Top AT',
 '2002-2013 2.6 SLX Turbo 7 Seater',
 'W8 4WD',
 'W6 2WD',
 'RX7',
 'ZLX BSIII',
 'D4',
 'AX7',
 'B4',
 '2002-2013 2.6 SLX Turbo 7 Seater',
 'SLX',
 'FB 1.25T',
 'VLX BS III',
 'S11',
 '--',
 '2011-2015 W8 2WD',
 '2011-2015 W8-4WD',
 '2011-2015 W6-2WD',
 'M8 8Str',
 '2011-2015 W8-4WD',
 'K2 Plus',
 'T8',
 'LX 4-STR Hard Top AT',
 '2002-2013 2.6 SLX Turbo 7 Seater',
 'SLE',
 'W5',
 '--',
 'W8',
 'S11',
 '2002-2013 Sle',
 'P8',
 'Petrol 1.4 GLE',
 '2009-2011 E8',
 'W6 2WD',
 'W8',
 'W8 2WD',
 'T6 PLUS',
 'C4',
 'W10 AWD',
 'S4 Plus',
 'S5',
 'W10 2WD',
 'S4',
 'W10 2WD',
 'Others',
 'G80 K6 Plus 5Str',
 'K8 5Str',
 'LX 4-STR Hard Top AT',
 'S11',
 'S7 140',
 'S11',
 'W11 Option',
 '2011-2015 W8 2WD',
 '2011-2015 Sportz',
 'K8',
 '2011-2015 W8-4WD',
 'SLE BS IV',
 'AX 4-STR Convertible MT',
 'FB 1.25T',
 'FB 1.7T',
 'W6 2WD',
 '2006-2009 DX 2.6 Turbo 7 Str',
 'W8 2WD',
 '2002-2013 M2DI',
 'C2',
 'B4',
 '2011-2015 W6-2WD',
 'FB 1.25T',
 'ZLX',
 'S11',
 'S5',
 '2006-2009 DX 2.6 Turbo 8 Str',
 'ZLX BSIII',
 '2006-2009 DX 2.6 Turbo 7 Str',
 'W8',
 '2001-2010 PLUS AC PS',
 'S11',
 'LX 4-STR Hard Top AT',
 'D4',
 'W6 Diesel',
 '',
 'G80 K4 Plus',
 'W8 Option',
 'W8 2WD',
 'LX D 4WD AT',
 '2016-2017 mFALCON G80 K4 Plus 5str',
 'S4 Plus',
 'W8',
 '',
 'S10',
 'W10 AT',
 '2009-2011 E8',
 '2002-2013 2.6 CRDe',
 '2011-2015 W6 2WD',
 'S5 Plus',
 'H8 ABS Airbag BS IV',
 'S7 120',
 'W10 AT',
 'AT W10 AWD',
 'S6 Plus',
 '2009-2014 SLE BSIV',
 'M4',
 'P4',
 'W8',
 'W10 AT',
 'S9',
 'T8',
 'W4',
 'W11',
 'ZLX',
 'T8',
 '2010-2015 CRDe AC',
 '2002-2013 VLX',
 '2011-2015 W8 4WD',
 '2010-2011 1.4 G4 BSIV',
 'FB 1.7T',
 'M8',
 'S4 7 Seater',
 '2001-2010 SLE',
 'W10 AWD',
 'M8',
 'S8 7 Seater',
 'C8',
 '2009-2014 LX',
 '2009-2011 E8 BS4',
 'Plus AC BS IV',
 '2001-2010 SLX',
 '2002-2013 EX',
 'T10',
 'W10 AT',
 '--',
 '2009-2014 VLX 2WD AIRBAG AT BSIV',
 '2009-2011 E4',
 'W10 AWD',
 'W10 2WD',
 'W8',
 '2009-2014 VLX 4WD AIRBAG AT BSIV',
 'SLE',
 'T8',
 'S7 120',
 'DI 4WD NON AC',
 'VLX BS III',
 'S5',
 'LX 4X4 Hardtop',
 '2002-2013 2.6 SLX CRDe',
 '2011-2015 W8 4WD',
 'SLX',
 'S11',
 'ZLX',
 'S10',
 'D4',
 'W6 2WD',
 'W8',
 'ZLX',
 'W11 Option',
 '2009-2014 LX',
 'W8 2WD',
 '--',
 'C8',
 'M4',
 '2002-2013 M2DI',
 'LX 4-STR Hard Top AT',
 'DI NON AC BS III SILVER',
 'Plus AC BS IV',
 'CRDe',
 'Plus AC BS IV',
 'D2 BS IV',
 '1.5 D4 BSIV',
 'B6 (O)',
 'S2',
 '2006-2009 SLX 2.6 Turbo 7 Str',
 'ZLX',
 'W6 2WD',
 'C2',
 'MM 550 XDB',
 'LX 4-STR Hard Top MT',
 'W10 2WD',
 'AT W10 FWD',
 'W10 AWD',
 'W8',
 'W10 2WD',
 'LX 4X4 Hardtop',
 'SLE',
 'C8',
 'W6 AT',
 'LX 4-STR Convertible AT',
 'LX 4-STR Hard Top AT',
 'W6 2WD',
 'S11',
 'LX 4-STR Hard Top MT',
 '2009-2011 E4',
 '2011-2015 W4',
 'W11',
 'S10',
 'FB 1.25T',
 'S2',
 'W10 AT',
 'S10',
 '2009-2011 D2',
 'VLX BS III',
 'D4',
 'W9',
 'DI 4X4',
 'W11',
 '2012-2014 D2 BSIV',
 'W8',
 'W10 2WD',
 '2009-2014 VLX SE BSIV',
 'LX 4-STR Hard Top AT',
 'Others',
 'K8 5Str',
 'Petrol 1.4 GLE',
 'W8',
 'C4',
 'DI 4WD BSIII',
 'S10',
 'W10 2WD',
 'S11',
 'Classic',
 'RX7',
 'FB 1.25T',
 'W7',
 'P6',
 'W10 AWD',
 'W10 1.99 mHawk',
 'W8',
 'AX5',
 'D75 K2',
 'W8',
 'W8',
 'CBC 1.7T',
 '2012-2014 E4 BS III',
 '2001-2010 ZLX BSIII',
 'W6 2WD',
 '2001-2010 PLUS AC',
 'W10 2WD',
 '2009-2014 LX',
 'FB 1.7T',
 'S7 120',
 'LX 4X4 Hardtop',
 'S8',
 'S8',
 'W10 2WD',
 'W6 AT',
 'S11 4WD',
 'W9 AT',
 'W6 2WD',
 '--',
 'Others',
 '2009-2014 VLX 2WD AIRBAG AT BSIV',
 'W8 2WD',
 'W4 1.99 mHawk',
 'W8',
 'D2',
 'LX 4-STR Hard Top AT',
 'W8 2WD',
 'AX3',
 'M2',
 'S6 Plus',
 '',
 'ZLX',
 'ZLX',
 'W9 AT',
 'S4',
 'S11 4WD',
 'D75 K2',
 'P6',
 'W8 Option Diesel',
 '2011-2015 W6 2WD',
 'ZLX',
 '2012-2014 E4 BS IV',
 'T8',
 'W8 2WD',
 'VLX BS III',
 'T6 PLUS',
 'ZLX',
 'M2',
 '2009-2014 SLE BSIV',
 '2011-2015 W8 2WD',
 'S11',
 'VLX Airbags BS III',
 'S10',
 'W8',
 'W7',
 'LX 4-STR Hard Top MT',
 '1.5 D4',
 'Getaway 4WD',
 '2016-2017 mFALCON D75 K6 Plus',
 'S6',
 'LX 4-STR Hard Top AT',
 'T6',
 'W8 2WD',
 'SLX BS IV',
 'W9',
 '',
 'W8',
 '1.99 S10',
 'S11',
 'AX7 Diesel AT Luxury Pack',
 'W8 1.99 mHawk',
 'W8 2WD',
 'W8 2WD']

In [15]:
fuel

['DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n79000.0 KM\nMANUAL',
 'DIESEL\n47000.0 KM\nMANUAL',
 '--',
 'DIESEL\n120000 KM\nMANUAL',
 'DIESEL\n72000.0 KM\nMANUAL',
 'DIESEL\n95000.0 KM\nMANUAL',
 'DIESEL\n140000.0 KM\nMANUAL',
 'PETROL\n12000.0 KM\nAUTOMATIC',
 'DIESEL\n119000.0 KM\nMANUAL',
 'DIESEL\n107320.0 KM\nMANUAL',
 'DIESEL\n72800.0 KM\nMANUAL',
 'DIESEL\n42000.0 KM\nMANUAL',
 'DIESEL\n58999.0 KM\nMANUAL',
 'PETROL\n2000.0 KM\nAUTOMATIC',
 'DIESEL\n123289.0 KM\nMANUAL',
 'DIESEL\n72,323 KM\nAUTOMATIC',
 'DIESEL\n102000.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nAUTOMATIC',
 'DIESEL\n150,000 KM\nMANUAL',
 'DIESEL\n35000.0 KM\nMANUAL',
 'DIESEL\n82899.0 KM\nMANUAL',
 'PETROL\n4400.0 KM\nMANUAL',
 'DIESEL\n33140 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n145,000 KM\nAUTOMATIC',
 'DIESEL\n85,000 KM\n--',
 'DIESEL\n84000.0 KM\nMANUAL',
 '--',
 'DIESEL\n-- KM\n--',
 'DIESEL\n70,756 KM\n--',
 'DIESEL\n92000.0 KM\nMANUAL',
 'DIESEL\n92,000 KM\nMANUAL',
 'DIESEL\n10,000 KM\n--',
 'DIESEL\n81,228 KM\nMANUAL',
 'DIESEL\n85000.0 KM\nMANUAL',
 'DIESEL\n89000.0 KM\nAUTOMATIC',
 'DIESEL\n58000.0 KM\nAUTOMATIC',
 'DIESEL\n15500.0 KM\nMANUAL',
 'PETROL\n1730.0 KM\nMANUAL',
 'DIESEL\n177000.0 KM\nMANUAL',
 'DIESEL\n15996.0 KM\nAUTOMATIC',
 'DIESEL\n57496.0 KM\nMANUAL',
 'DIESEL\n999999 KM\nMANUAL',
 'ELECTRIC\n30000 KM\nAUTOMATIC',
 'DIESEL\n78000.0 KM\nMANUAL',
 'DIESEL\n42000.0 KM\n--',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n115000.0 KM\nMANUAL',
 'DIESEL\n53800.0 KM\nMANUAL',
 'DIESEL\n16000.0 KM\nMANUAL',
 'DIESEL\n21000.0 KM\nMANUAL',
 'DIESEL\n65000.0 KM\nMANUAL',
 'DIESEL\n4500.0 KM\nMANUAL',
 'DIESEL\n37770.0 KM\nAUTOMATIC',
 'DIESEL\n77474.0 KM\nAUTOMATIC',
 'DIESEL\n2.0 KM\nMANUAL',
 'DIESEL\n79000.0 KM\nMANUAL',
 'DIESEL\n79900.0 KM\nMANUAL',
 'DIESEL\n125,000 KM\nAUTOMATIC',
 'DIESEL\n150000.0 KM\nMANUAL',
 'DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n69000.0 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n140000 KM\nMANUAL',
 'DIESEL\n91000.0 KM\nMANUAL',
 'DIESEL\n55000.0 KM\nMANUAL',
 'DIESEL\n45000.0 KM\nMANUAL',
 'DIESEL\n87,000 KM\nMANUAL',
 'DIESEL\n8,000 KM\nMANUAL',
 'DIESEL\n70,000 KM\nMANUAL',
 '--',
 'DIESEL\n75,000 KM\nMANUAL',
 'DIESEL\n85,000 KM\nMANUAL',
 'DIESEL\n100,900 KM\nMANUAL',
 'DIESEL\n54000.0 KM\nMANUAL',
 'DIESEL\n134775.0 KM\nMANUAL',
 'DIESEL\n14,800 KM\nMANUAL',
 'DIESEL\n85000.0 KM\nMANUAL',
 'DIESEL\n87000.0 KM\nMANUAL',
 '--',
 'DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n51381.0 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'PETROL\n25000.0 KM\nMANUAL',
 'DIESEL\n91220.0 KM\nMANUAL',
 'DIESEL\n53000.0 KM\nAUTOMATIC',
 'DIESEL\n72581.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n83000.0 KM\nMANUAL',
 'DIESEL\n118000.0 KM\nMANUAL',
 'DIESEL\n77000.0 KM\nMANUAL',
 'DIESEL\n57676.0 KM\nMANUAL',
 'DIESEL\n31000.0 KM\nMANUAL',
 'DIESEL\n94500.0 KM\nMANUAL',
 'DIESEL\n29000.0 KM\nMANUAL',
 'DIESEL\n145356.0 KM\nMANUAL',
 '--\n155000.0 KM\n--',
 'DIESEL\n115252.0 KM\nMANUAL',
 'DIESEL\n70000.0 KM\nMANUAL',
 'DIESEL\n115000.0 KM\nMANUAL',
 'DIESEL\n53000.0 KM\n--',
 'DIESEL\n180000 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n85,000 KM\nMANUAL',
 'PETROL\n2000.0 KM\nAUTOMATIC',
 'DIESEL\n56000.0 KM\nAUTOMATIC',
 'DIESEL\n80,000 KM\nAUTOMATIC',
 'DIESEL\n96,000 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n-- KM\nMANUAL',
 'DIESEL\n102,000 KM\nMANUAL',
 'ELECTRIC\n35,000 KM\n--',
 'DIESEL\n180 KM\nAUTOMATIC',
 'DIESEL\n157,000 KM\nMANUAL',
 'PETROL\n70,000 KM\nMANUAL',
 'DIESEL\n93,124 KM\nMANUAL',
 'DIESEL\n76000.0 KM\nMANUAL',
 'DIESEL\n46258.0 KM\nMANUAL',
 'DIESEL\n73000.0 KM\nMANUAL',
 'DIESEL\n28000.0 KM\nMANUAL',
 'DIESEL\n91093.0 KM\nMANUAL',
 'CNG\n70000 KM\nMANUAL',
 'DIESEL\n180000 KM\nMANUAL',
 'DIESEL\n68000.0 KM\nMANUAL',
 'DIESEL\n65000.0 KM\nMANUAL',
 'PETROL\n10718.0 KM\nAUTOMATIC',
 'DIESEL\n73123.0 KM\n--',
 'DIESEL\n0.0 KM\nAUTOMATIC',
 'DIESEL\n70000.0 KM\nMANUAL',
 'DIESEL\n39000.0 KM\nMANUAL',
 'DIESEL\n52000.0 KM\nMANUAL',
 'DIESEL\n56000.0 KM\nMANUAL',
 '--\n85000.0 KM\n--',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n74000.0 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n100000.0 KM\nMANUAL',
 'DIESEL\n80000.0 KM\nAUTOMATIC',
 '--',
 '--',
 '--',
 'ELECTRIC\n90000 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n110000.0 KM\nMANUAL',
 'DIESEL\n12000.0 KM\nMANUAL',
 'PETROL\n32000.0 KM\nAUTOMATIC',
 'DIESEL\n73685.0 KM\nMANUAL',
 'DIESEL\n58988.0 KM\nMANUAL',
 'DIESEL\n110,000 KM\nMANUAL',
 'DIESEL\n89000.0 KM\nMANUAL',
 'DIESEL\n73000.0 KM\nMANUAL',
 'DIESEL\n65500.0 KM\nMANUAL',
 'DIESEL\n53000.0 KM\nMANUAL',
 'DIESEL\n70,000 KM\nMANUAL',
 'DIESEL\n105353.0 KM\nMANUAL',
 'DIESEL\n150,000 KM\nMANUAL',
 'DIESEL\n800000.0 KM\nMANUAL',
 'DIESEL\n35000.0 KM\nMANUAL',
 'DIESEL\n10.0 KM\nAUTOMATIC',
 'DIESEL\n63571.0 KM\nMANUAL',
 'DIESEL\n999999 KM\nMANUAL',
 'DIESEL\n50000 KM\nMANUAL',
 'DIESEL\n67000.0 KM\n--',
 'PETROL\n5,000 KM\nAUTOMATIC',
 'DIESEL\n12,000 KM\nMANUAL',
 'DIESEL\n60000.0 KM\nMANUAL',
 'DIESEL\n18 KM\nMANUAL',
 'DIESEL\n22 KM\nMANUAL',
 'DIESEL\n73,000 KM\nMANUAL',
 'DIESEL\n76076.0 KM\nMANUAL',
 'DIESEL\n18 KM\n--',
 'DIESEL\n18 KM\nMANUAL',
 'DIESEL\n53000.0 KM\nMANUAL',
 'DIESEL\n67000.0 KM\nMANUAL',
 'DIESEL\n42000.0 KM\nMANUAL',
 'PETROL\n6300.0 KM\nAUTOMATIC',
 'DIESEL\n50012.0 KM\nMANUAL',
 'DIESEL\n75000.0 KM\nMANUAL',
 'DIESEL\n198000.0 KM\nMANUAL',
 'DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n200000 KM\nMANUAL',
 'DIESEL\n69,000 KM\nAUTOMATIC',
 'PETROL\n0.0 KM\nAUTOMATIC',
 'PETROL\n2500.0 KM\nAUTOMATIC',
 'DIESEL\n120000.0 KM\nMANUAL',
 'DIESEL\n99525.0 KM\nMANUAL',
 'DIESEL\n50000.0 KM\nMANUAL',
 'DIESEL\n59000.0 KM\nAUTOMATIC',
 'DIESEL\n134993.0 KM\nMANUAL',
 'DIESEL\n75000.0 KM\n--',
 'PETROL\n2700.0 KM\nAUTOMATIC',
 'DIESEL\n18 KM\nAUTOMATIC',
 'DIESEL\n80,000 KM\nMANUAL',
 'DIESEL\n103,000 KM\nAUTOMATIC',
 'DIESEL\n95,000 KM\nMANUAL',
 'DIESEL\n113000.0 KM\nMANUAL',
 'DIESEL\n68000.0 KM\nMANUAL',
 '--',
 'DIESEL\n85000.0 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n50000 KM\nMANUAL',
 'DIESEL\n7,000 KM\nMANUAL',
 'DIESEL\n80,000 KM\nMANUAL',
 'DIESEL\n120,000 KM\nMANUAL',
 'DIESEL\n85,000 KM\nAUTOMATIC',
 'PETROL\n6,500 KM\nAUTOMATIC',
 'DIESEL\n65,000 KM\nMANUAL',
 'DIESEL\n100,000 KM\nMANUAL',
 'DIESEL\n13,000 KM\nMANUAL',
 '--',
 'DIESEL\n112000.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n130612.0 KM\nMANUAL',
 'DIESEL\n55000.0 KM\nMANUAL',
 'DIESEL\n160000 KM\nMANUAL',
 'DIESEL\n140000 KM\nMANUAL',
 'DIESEL\n52480.0 KM\nMANUAL',
 'DIESEL\n88000.0 KM\nMANUAL',
 'DIESEL\n86000.0 KM\nMANUAL',
 'DIESEL\n78000.0 KM\nMANUAL',
 'DIESEL\n71000.0 KM\n--',
 'DIESEL\n62013.0 KM\nMANUAL',
 'DIESEL\n65000.0 KM\nMANUAL',
 'DIESEL\n30000.0 KM\nMANUAL',
 'DIESEL\n78000.0 KM\nMANUAL',
 'DIESEL\n58000.0 KM\nMANUAL',
 'DIESEL\n72000.0 KM\nMANUAL',
 'CNG & HYBRIDS\n52380.0 KM\nMANUAL',
 'DIESEL\n76000.0 KM\nMANUAL',
 'DIESEL\n35000.0 KM\nMANUAL',
 'PETROL\n9900.0 KM\nAUTOMATIC',
 'DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n54250.0 KM\nMANUAL',
 'DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n62248 KM\nMANUAL',
 'DIESEL\n120000 KM\nMANUAL',
 '--\n99890.0 KM\n--',
 'DIESEL\n56000.0 KM\nMANUAL',
 'DIESEL\n81800.0 KM\nMANUAL',
 'DIESEL\n82,000 KM\nMANUAL',
 'DIESEL\n26000.0 KM\nMANUAL',
 'DIESEL\n125,000 KM\nMANUAL',
 'DIESEL\n650,000 KM\n--',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n120,000 KM\nMANUAL',
 'DIESEL\n66,550 KM\nMANUAL',
 'DIESEL\n75,000 KM\nMANUAL',
 'DIESEL\n76,000 KM\nMANUAL',
 'DIESEL\n82,000 KM\nAUTOMATIC',
 'DIESEL\n81,000 KM\nMANUAL',
 'CNG & HYBRIDS\n72,000 KM\nMANUAL',
 'DIESEL\n97000.0 KM\nMANUAL',
 'PETROL\n41504.0 KM\nMANUAL',
 'DIESEL\n88235.0 KM\nMANUAL',
 'DIESEL\n140000 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n56,000 KM\nMANUAL',
 'DIESEL\n128,000 KM\nMANUAL',
 'DIESEL\n170,000 KM\nAUTOMATIC',
 'DIESEL\n57,000 KM\nMANUAL',
 'DIESEL\n34000.0 KM\nAUTOMATIC',
 'DIESEL\n125000.0 KM\nMANUAL',
 'DIESEL\n19000.0 KM\nMANUAL',
 'DIESEL\n73125.0 KM\nMANUAL',
 'PETROL\n19000.0 KM\nMANUAL',
 'PETROL\n39520.0 KM\nMANUAL',
 'DIESEL\n86,000 KM\nMANUAL',
 'DIESEL\n1.0 KM\nAUTOMATIC',
 'PETROL\n25000.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n101000.0 KM\nMANUAL',
 'DIESEL\n110000.0 KM\nMANUAL',
 'DIESEL\n94000.0 KM\nMANUAL',
 'DIESEL\n135000.0 KM\nAUTOMATIC',
 'DIESEL\n180000 KM\nMANUAL',
 'DIESEL\n180000 KM\nMANUAL',
 'DIESEL\n68000.0 KM\nMANUAL',
 'DIESEL\n38500.0 KM\nMANUAL',
 'DIESEL\n77500.0 KM\nMANUAL',
 'DIESEL\n64284.0 KM\nMANUAL',
 'DIESEL\n59999.0 KM\nAUTOMATIC',
 'DIESEL\n96120.0 KM\nMANUAL',
 'DIESEL\n85698.0 KM\nMANUAL',
 'DIESEL\n62356.0 KM\nMANUAL',
 'DIESEL\n67,000 KM\nMANUAL',
 'PETROL\n15,000 KM\nMANUAL',
 'DIESEL\n160000.0 KM\nMANUAL',
 'DIESEL\n70000.0 KM\nAUTOMATIC',
 'DIESEL\n30000.0 KM\nMANUAL',
 'DIESEL\n55,000 KM\nMANUAL',
 'DIESEL\n68000.0 KM\nMANUAL',
 'DIESEL\n70,283 KM\nMANUAL',
 'DIESEL\n58000.0 KM\nMANUAL',
 'DIESEL\n65700.0 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n60000.0 KM\nMANUAL',
 'DIESEL\n140,000 KM\nMANUAL',
 'DIESEL\n55,000 KM\nMANUAL',
 'DIESEL\n22,000 KM\nMANUAL',
 'DIESEL\n800000.0 KM\nMANUAL',
 'DIESEL\n16 KM\nAUTOMATIC',
 'DIESEL\n65000.0 KM\nMANUAL',
 'DIESEL\n46,971 KM\nAUTOMATIC',
 'DIESEL\n144,100 KM\nMANUAL',
 'DIESEL\n150000.0 KM\nMANUAL',
 'DIESEL\n110,000 KM\nMANUAL',
 'DIESEL\n160 KM\nMANUAL',
 'DIESEL\n55000.0 KM\nMANUAL',
 'DIESEL\n89,000 KM\nMANUAL',
 'DIESEL\n140,000 KM\nMANUAL',
 'DIESEL\n52000.0 KM\nMANUAL',
 'DIESEL\n54000.0 KM\nAUTOMATIC',
 '--',
 'DIESEL\n50000 KM\nAUTOMATIC',
 'DIESEL\n200000 KM\nMANUAL',
 'DIESEL\n65000.0 KM\nMANUAL',
 'DIESEL\n61000.0 KM\nMANUAL',
 'DIESEL\n88000.0 KM\nMANUAL',
 'DIESEL\n59000.0 KM\nAUTOMATIC',
 'DIESEL\n72185.0 KM\nMANUAL',
 'DIESEL\n66000.0 KM\nAUTOMATIC',
 'DIESEL\n22000.0 KM\nMANUAL',
 'DIESEL\n83,000 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n141879.0 KM\nMANUAL',
 'PETROL\n4,000 KM\nMANUAL',
 'DIESEL\n180000.0 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n80000.0 KM\nMANUAL',
 'DIESEL\n30000.0 KM\nMANUAL',
 'DIESEL\n61000.0 KM\nMANUAL',
 'DIESEL\n109523.0 KM\nMANUAL',
 'DIESEL\n160000 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n128458.0 KM\nMANUAL',
 'DIESEL\n105000.0 KM\nMANUAL',
 'DIESEL\n77000.0 KM\nMANUAL',
 'DIESEL\n72000.0 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 '--',
 'DIESEL\n80030.0 KM\nMANUAL',
 'DIESEL\n114000.0 KM\nMANUAL',
 'DIESEL\n179,000 KM\nAUTOMATIC',
 'PETROL\n5900.0 KM\nAUTOMATIC',
 'DIESEL\n115,000 KM\nMANUAL',
 'DIESEL\n58000.0 KM\nMANUAL',
 'DIESEL\n54,000 KM\nMANUAL',
 'DIESEL\n45000.0 KM\nMANUAL',
 'DIESEL\n14,650 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n77000.0 KM\nMANUAL',
 'DIESEL\n145236.0 KM\nMANUAL',
 'DIESEL\n120000 KM\nMANUAL',
 'DIESEL\n120000 KM\nMANUAL',
 'DIESEL\n67000.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n40,000 KM\nMANUAL',
 'DIESEL\n17,000 KM\nMANUAL',
 'DIESEL\n104000.0 KM\nMANUAL',
 'DIESEL\n84000.0 KM\nAUTOMATIC',
 'DIESEL\n47000.0 KM\nMANUAL',
 'DIESEL\n76000.0 KM\nMANUAL',
 'DIESEL\n83000.0 KM\nMANUAL',
 'DIESEL\n17000.0 KM\nMANUAL',
 'DIESEL\n87,000 KM\nMANUAL',
 'DIESEL\n114000.0 KM\nMANUAL',
 'DIESEL\n24000.0 KM\nAUTOMATIC',
 'PETROL\n11832.0 KM\nAUTOMATIC',
 'DIESEL\n37000.0 KM\nAUTOMATIC',
 'DIESEL\n119600.0 KM\nMANUAL',
 'DIESEL\n41790 KM\nMANUAL',
 'DIESEL\n7950.0 KM\nMANUAL',
 'DIESEL\n10000 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n39428.0 KM\nAUTOMATIC',
 'DIESEL\n55000.0 KM\nMANUAL',
 'DIESEL\n41000.0 KM\nMANUAL',
 'DIESEL\n51000.0 KM\nMANUAL',
 'DIESEL\n68000.0 KM\nAUTOMATIC',
 'DIESEL\n80000.0 KM\nMANUAL',
 'DIESEL\n158000.0 KM\nMANUAL',
 'DIESEL\n104000.0 KM\nMANUAL',
 'DIESEL\n82820.0 KM\nMANUAL',
 'DIESEL\n89000.0 KM\nMANUAL',
 'DIESEL\n29000.0 KM\nAUTOMATIC',
 'DIESEL\n34000.0 KM\nMANUAL',
 'DIESEL\n94,800 KM\nMANUAL',
 'DIESEL\n115000.0 KM\nMANUAL',
 'DIESEL\n64200.0 KM\nMANUAL',
 'DIESEL\n82336.0 KM\nMANUAL',
 'DIESEL\n20000.0 KM\nAUTOMATIC',
 'DIESEL\n75236.0 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n120000 KM\nMANUAL',
 'DIESEL\n50000.0 KM\nMANUAL',
 'DIESEL\n100,000 KM\nMANUAL',
 'DIESEL\n100,000 KM\nMANUAL',
 'DIESEL\n70000.0 KM\nMANUAL',
 'DIESEL\n87000.0 KM\nMANUAL',
 'DIESEL\n80000.0 KM\nMANUAL',
 'DIESEL\n20,000 KM\nMANUAL',
 'DIESEL\n21,550 KM\nAUTOMATIC',
 'DIESEL\n1200.0 KM\nMANUAL',
 'DIESEL\n52000.0 KM\nMANUAL',
 'DIESEL\n15,800 KM\nAUTOMATIC',
 'DIESEL\n150000.0 KM\nMANUAL',
 'DIESEL\n60000.0 KM\nMANUAL',
 'DIESEL\n40000.0 KM\nMANUAL',
 'DIESEL\n17000.0 KM\nMANUAL',
 'PETROL\n22064.0 KM\nMANUAL',
 'DIESEL\n65000.0 KM\nMANUAL',
 'DIESEL\n72000.0 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n160000 KM\nMANUAL',
 'DIESEL\n120000.0 KM\nMANUAL',
 'DIESEL\n114,326 KM\nMANUAL',
 'DIESEL\n70,000 KM\nMANUAL',
 'DIESEL\n67552.0 KM\nMANUAL',
 'DIESEL\n71,000 KM\nAUTOMATIC',
 'DIESEL\n100,000 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 'PETROL\n4000.0 KM\nMANUAL',
 'DIESEL\n77000.0 KM\nMANUAL',
 'DIESEL\n77000.0 KM\nMANUAL',
 'DIESEL\n61000.0 KM\nMANUAL',
 'DIESEL\n56000.0 KM\nAUTOMATIC',
 'DIESEL\n20000.0 KM\nMANUAL',
 'DIESEL\n46000.0 KM\nAUTOMATIC',
 'DIESEL\n100000.0 KM\nMANUAL',
 '--',
 'DIESEL\n19,000 KM\nMANUAL',
 'DIESEL\n178873.0 KM\nMANUAL',
 'DIESEL\n70000 KM\nMANUAL',
 'DIESEL\n120000 KM\nMANUAL',
 'DIESEL\n103792.0 KM\nMANUAL',
 'ELECTRIC\n58,000 KM\nAUTOMATIC',
 'DIESEL\n12000.0 KM\nAUTOMATIC',
 'DIESEL\n66382.0 KM\nMANUAL',
 'DIESEL\n4000.0 KM\nMANUAL',
 'DIESEL\n88185.0 KM\nMANUAL',
 'DIESEL\n73000.0 KM\nMANUAL',
 '--\n46000.0 KM\n--',
 'DIESEL\n120000.0 KM\nMANUAL',
 'DIESEL\n120000.0 KM\nMANUAL',
 'DIESEL\n35000.0 KM\nAUTOMATIC',
 'DIESEL\n131000.0 KM\nMANUAL',
 'DIESEL\n12000.0 KM\nMANUAL',
 'PETROL\n38000.0 KM\nMANUAL',
 'ELECTRIC\n17000.0 KM\nAUTOMATIC',
 'DIESEL\n90000 KM\nMANUAL',
 'DIESEL\n140000 KM\nMANUAL',
 'DIESEL\n110000.0 KM\nMANUAL',
 'DIESEL\n83000.0 KM\nMANUAL',
 'DIESEL\n45000.0 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n62000.0 KM\nMANUAL',
 'DIESEL\n42000.0 KM\nMANUAL',
 'DIESEL\n35000.0 KM\nMANUAL',
 'DIESEL\n25000.0 KM\nMANUAL',
 'DIESEL\n76000.0 KM\nMANUAL',
 'DIESEL\n87000.0 KM\nMANUAL',
 'DIESEL\n29000.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n42000.0 KM\nMANUAL',
 'DIESEL\n73300.0 KM\nMANUAL',
 'DIESEL\n2018.0 KM\nAUTOMATIC',
 'DIESEL\n15000.0 KM\nMANUAL',
 'DIESEL\n140000 KM\nMANUAL',
 'DIESEL\n70000 KM\nAUTOMATIC',
 'DIESEL\n85000.0 KM\nMANUAL',
 'DIESEL\n49000.0 KM\nMANUAL',
 'PETROL\n2000.0 KM\nAUTOMATIC',
 'DIESEL\n127000.0 KM\nMANUAL',
 'DIESEL\n82000.0 KM\nMANUAL',
 'DIESEL\n75,000 KM\nMANUAL',
 'DIESEL\n45000.0 KM\nAUTOMATIC',
 'DIESEL\n95000.0 KM\nMANUAL',
 'DIESEL\n90000.0 KM\nMANUAL',
 'DIESEL\n88,000 KM\nMANUAL',
 'DIESEL\n62532.0 KM\nMANUAL',
 'DIESEL\n5700.0 KM\nAUTOMATIC',
 'DIESEL\n110000.0 KM\nMANUAL',
 'DIESEL\n112000.0 KM\nMANUAL',
 'DIESEL\n85000.0 KM\nMANUAL']

In [16]:
owner

['First',
 '2nd',
 '1st',
 '--',
 'Second',
 '1st',
 '3rd',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '3rd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 'Third',
 'Second',
 '3rd',
 '2nd',
 '1st',
 '--',
 '2nd',
 '1st',
 '1st',
 '1st',
 '3rd',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 'Second',
 'Second',
 '1st',
 '1st',
 '1st',
 '3rd',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '3rd',
 '3rd',
 '1st',
 '1st',
 'First',
 '2nd',
 'Second',
 'First',
 '1st',
 '1st',
 '1st',
 '2nd',
 '2nd',
 '2nd',
 '--',
 '2nd',
 '4th',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '2nd',
 '--',
 'First',
 '1st',
 'Third',
 'First',
 '1st',
 '1st',
 '1st',
 '1st',
 '3rd',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '2nd',
 '1st',
 '--',
 'First',
 'Second',
 '2nd',
 '1st',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '4th',
 '2nd',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '2nd',
 'First',
 'Second',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '1st',
 '2nd',
 '1st',
 '1st',
 '--',
 '1st',
 '3rd',
 '2nd',
 '1st',
 '1st',
 '--',
 '--',
 '--',
 'First',
 'Second',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '2nd',
 '2nd',
 '1st',
 '2nd',
 '1st',
 '2nd',
 '3rd',
 '--',
 '1st',
 '1st',
 '1st',
 'First',
 'Second',
 '2nd',
 '1st',
 '3rd',
 '2nd',
 '2nd',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '3rd',
 'First',
 'Second',
 'Second',
 '2nd',
 '--',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '2nd',
 '1st',
 '--',
 '2nd',
 'Second',
 'First',
 '1st',
 '3rd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '2nd',
 '1st',
 '1st',
 '1st',
 'Second',
 'Third',
 '2nd',
 '2nd',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '2nd',
 'First',
 '2nd',
 'First',
 'First',
 'First',
 '--',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '2nd',
 '1st',
 '3rd',
 '3rd',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 'Second',
 'Fourth',
 '2nd',
 '4th',
 '3rd',
 '4th',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '1st',
 '3rd',
 '2nd',
 '2nd',
 '2nd',
 '1st',
 'Second',
 'Second',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 'Second',
 'Second',
 '2nd',
 '1st',
 '1st',
 '1st',
 '2nd',
 '3rd',
 '1st',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '--',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '--',
 '--',
 'Second',
 'Second',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '2nd',
 '1st',
 'First',
 'Second',
 '2nd',
 '2nd',
 '1st',
 '1st',
 '--',
 '--',
 '1st',
 '1st',
 '2nd',
 '1st',
 '2nd',
 '1st',
 '3rd',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '2nd',
 'Third',
 'First',
 '2nd',
 '1st',
 '2nd',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 'First',
 '1st',
 'First',
 'First',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '3rd',
 '1st',
 '3rd',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 'Second',
 'Fourth',
 '1st',
 '2nd',
 '2nd',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '--',
 '--',
 'First',
 'Second',
 '2nd',
 '2nd',
 '2nd',
 '1st',
 '3rd',
 '2nd',
 '--',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '1st',
 '3rd',
 'Second',
 'First',
 '3rd',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '--',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 'First',
 'First',
 '1st',
 '1st',
 '2nd',
 '--',
 '--',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '--',
 'Second',
 'First',
 '1st',
 '1st',
 '1st',
 '1st',
 '2nd',
 '1st',
 '1st',
 '1st',
 '3rd',
 '1st',
 '1st',
 '1st',
 '2nd',
 '2nd',
 '1st']

In [17]:
location

['4th floor, Pocket L, Multi-level Parking, Sector 18, Noida, Noida, Uttar Pardesh\nGet Directions',
 'Nijam Nagar, Jalandhar, Punjab',
 'P.no 163/8, My car Bazaar, Deendayal Chowk, Deendayal Chowk, beside celebration marriage garden, Jabalpur, Madhya Pradesh\nGet Directions',
 '--',
 'Yerwada, Pune, Maharashtra',
 'Dilshad Garden, Delhi, Delhi',
 'Sector 9C, Chandigarh, Chandigarh',
 'Sheriff Colony Extn, Tiruppur, Tamil Nadu',
 'Paschim Vihar, Delhi, Delhi',
 'Akasha Village, Anand, Gujarat',
 'Asher Nagar, Tiruppur, Tamil Nadu',
 'Navrangpura, Ahmedabad, Gujarat',
 'Chanakyapuri, Ahmedabad, Gujarat',
 'Jhandewalan, Delhi, Delhi',
 'Vikaspuri, Delhi, Delhi',
 'Mallaram, Tallada, Telangana',
 'Panchaiti Akhara, Gaya, Bihar',
 'National Academy Of Direct Taxes, Nagpur, Maharashtra',
 'Sector 10 Sakte Purwa, Lucknow, Uttar Pradesh',
 'Anandpuri Rohta Road, Meerut, Uttar Pradesh',
 'Industrial Area, Chandigarh, Chandigarh',
 'Rajiv Gandhi Road, Shankar Nagar, , -, Anna Park - Back side, Anna Park - Back side, SALEM, Tamil Nadu\nGet Directions',
 'Kandivali West, Mumbai, Maharashtra',
 'Adibatla, Hyderabad, Telangana',
 'Kuttikattur, Kozhikode, Kerala',
 'Salempur, Katghar Lalganj, Uttar Pradesh',
 'Alampur, Telangana, India',
 'Sector 10 Sakte Purwa, Lucknow, Uttar Pradesh',
 '--',
 'Indupur, Barahiya, Bihar',
 'Vishavkarma Chowk, Paonta Sahib, Himachal Pradesh',
 'Sector 10 Sakte Purwa, Lucknow, Uttar Pradesh',
 'Darjipara, Bolpur, West Bengal',
 'Sirasi, Sirsi, Karnataka',
 'Teen Guli, Damoh, Madhya Pradesh',
 'Office No.149, Anarkali Complex, Jhandewalan Extension, Jhandewaln, Jhandewalan Metro Station Gate no=2, Delhi, Delhi\nGet Directions',
 'MIDC, Mumbai, Maharashtra',
 'Malad West, Mumbai, Maharashtra',
 'Rajouri Garden, Delhi, Delhi',
 'Parudeesa Colony, Aluva, Kerala',
 'GKNM Hospital, Coimbatore, Tamil Nadu',
 'Sector 12, Faridabad, Haryana',
 'Plot no 799/1340/3061, sum hospital old road, ghatikia, sum hospital old road, Khurda, Bhubaneswar\nGet Directions',
 'Manikantha Nagar, Vijayawada, Andhra Pradesh',
 'Indrarrastha Colony, Jaipur, Rajasthan',
 'Karol Bagh, Delhi, Delhi',
 'Ernakulam, Kochi, Kerala',
 'Baner, Pune, Maharashtra',
 'Rajaji Nagar, Bengaluru, Karnataka',
 'Paschimpuri, Delhi, Delhi',
 'Changubetty, Kottakal, Kerala',
 'Sector 6, Karnal, Haryana',
 'Jyoti Nager, Malegaon, Maharashtra',
 'Navrangpura, Ahmedabad, Gujarat',
 'Nagole, Hyderabad, Telangana',
 'Sutarwadi, Pune, Maharashtra',
 'Karakonam, Pazhugal, Tamil Nadu',
 'Rajaji Nagar, Bengaluru, Karnataka',
 'Rajaji Nagar, Bengaluru, Karnataka',
 'Surkhi, Obra, Bihar',
 'Asher Nagar, Tiruppur, Tamil Nadu',
 'Kings Mall, Rohini West, Delhi, 110085, Rohini, Delhi, Delhi\nGet Directions',
 'Vijay Nagar, Jalandhar, Punjab',
 'Mahalakshmi Layout, Bengaluru, Karnataka',
 'KR Puram, Bengaluru, Karnataka',
 'BK Guda, Hyderabad, Telangana',
 'Pitampura, Delhi, Delhi',
 'Geeta Colony, Delhi, Delhi',
 'Barbaspur, Varanasi, Uttar Pradesh',
 'Tiwariganj, Lucknow, Uttar Pradesh',
 'Sreepur, Habra, West Bengal',
 '--',
 'Friends Colony, Mukerian, Punjab',
 'Gahopur, Maunath Bhanjan, Uttar Pradesh',
 'Ramji Nagar, Nellore, Andhra Pradesh',
 'Chiku Vadi, Surat, Gujarat',
 'Vasanth Nagar, Thrissur, Kerala',
 'Badagara, Vadakara, Kerala',
 'Bhovi Palya, Bengaluru, Karnataka',
 'Bhovi Palya, Bengaluru, Karnataka',
 '--',
 'Raheja Mall, Sohna Rd D1 block, Malibu Town, Sector 47, Gurugram, Gurugram, Haryana\nGet Directions',
 'Ahiritola, Kolkata, West Bengal',
 'Chandrashekhara Layout, Bengaluru, Karnataka',
 'Bangur Avenue, Kolkata, West Bengal',
 'Sector 126, Noida, Uttar Pradesh',
 'Vikhroli West, Mumbai, Maharashtra',
 'Marenahalli, Bengaluru, Karnataka',
 'Kanakapura Main Road, Bengaluru, Karnataka',
 'Kamakshipalya, Bengaluru, Karnataka',
 'Sector 15, Noida, Uttar Pradesh',
 'Sitapur, Sitapur, Uttar Pradesh',
 'Pitampura, Delhi, Delhi',
 'Nirman Nagar, Jaipur, Rajasthan',
 'DLF City Phase 3, Gurgaon, Haryana',
 'Nagole, Hyderabad, Telangana',
 'Guru Angad Nagar, Delhi, Delhi',
 'Asher Nagar, Tiruppur, Tamil Nadu',
 'Thindal Malai, Erode, Tamil Nadu',
 'Majiwada, Thane, Maharashtra',
 'Naranpura, Ahmedabad, Gujarat',
 'Gunadala, Vijayawada, Andhra Pradesh',
 'Andul, Kolkata, West Bengal',
 'Muneshwar Nagar, Madurai, Tamil Nadu',
 'Manpur, Lalganj, Bihar',
 'Kachra Para, Nagdaha, West Bengal',
 'Vikaspuri, Delhi, Delhi',
 'Mayur Vihar Phase 3, Delhi, Delhi',
 'Madhuban, Bihar, India',
 'Lukarganj, Allahabad, Uttar Pradesh',
 'Katraj, Pune, Maharashtra',
 'Behta, Nadigaon, Uttar Pradesh',
 'Chandwa, Ara, Bihar',
 'Saltia, Habra, West Bengal',
 'Alamcode, Thiruvananthapuram, Kerala',
 'Puzhakkattiri, Malappuram, Kerala',
 'Bareilly Cantt, Bareilly, Uttar Pradesh',
 'Sector 134, Noida, Uttar Pradesh',
 'Bhovi Palya, Bengaluru, Karnataka',
 'Lohia Nagar, Ghaziabad, Uttar Pradesh',
 'Kalamassery, Kochi, Kerala',
 'Indira Nagar, Bengaluru, Karnataka',
 'Hebbal, Bengaluru, Karnataka',
 'Sushant Lok Phase 3, Gurgaon, Haryana',
 'Koradi Road, Nagpur, Maharashtra',
 'Madhuban Chowk, Delhi, Delhi',
 'Saket, Delhi, Delhi',
 'Borivali West, Mumbai, Maharashtra',
 'Hansapal, Bhubaneshwar, Odisha',
 'SG Highway, Ahmedabad, Gujarat',
 'Mayur Vihar Phase 1, Delhi, Delhi',
 'Sector 15, Noida, Uttar Pradesh',
 'Vengal Rao Nagar, Hyderabad, Telangana',
 'Pitampura, Delhi, Delhi',
 'Taj Bagh, Nagpur, Maharashtra',
 'Dwarka, Delhi, Delhi',
 'Lajpat Nagar 2, Delhi, Delhi',
 'Subhash Nagar, Delhi, Delhi',
 'Sector 40C, Chandigarh, Chandigarh',
 'Rajaji Nagar, Bengaluru, Karnataka',
 '--',
 '--',
 '--',
 'Dausa, Bassi, Rajasthan',
 'Inda, Kharagpur, West Bengal',
 'Thindal Malai, Erode, Tamil Nadu',
 'Thindal Malai, Erode, Tamil Nadu',
 'MLAs Colony, Hyderabad, Telangana',
 'Ashok Vihar, Delhi, Delhi',
 'Janakpuri, Delhi, Delhi',
 'Jhandewalan, Delhi, Delhi',
 'Sundarpur, Varanasi, Uttar Pradesh',
 'Paschim Vihar, Delhi, Delhi',
 'Karol Bagh, Delhi, Delhi',
 'Karol Bagh, Delhi, Delhi',
 'Hospital Chowk, Sundargarh, Odisha',
 'Babra Mohalla, Rohtak, Haryana',
 'Hasthampatti, Salem, Tamil Nadu',
 'Kadamwak Wasti, Loni Kalbhor, Maharashtra',
 'Gariya, Kolkata, West Bengal',
 'Soma Talav, Vadodara, Gujarat',
 'Model Town, Jalandhar, Punjab',
 'Satya Vihar, Bhubaneshwar, Odisha',
 'New Panvel, Navi Mumbai, Maharashtra',
 'Baba Saheb Ambedkar Chowk, Mumbai, Maharashtra',
 'Gariya, Kolkata, West Bengal',
 'Jubilee Hills, Hyderabad, Telangana',
 'Lal Singh Basti, Bathinda, Punjab',
 'LB Nagar, Hyderabad, Telangana',
 'Barmer Rural, Barmer, Rajasthan',
 'Sidhanathwadi, Wai, Maharashtra',
 'Hatti, Hatti Gold Mines, Karnataka',
 'Mansarovar Garden, Delhi, Delhi',
 'Kuaari Devi, Motihari, Bihar',
 'Ram Mandir Society, Surat, Gujarat',
 'Juhu Tara Road, Mumbai, Maharashtra',
 'Vikaspuri, Delhi, Delhi',
 'Rajouri Garden, Delhi, Delhi',
 'Ernakulam, Kochi, Kerala',
 'Pachim Bargaon, Guwahati, Assam',
 'Fatima Nagar, Pune, Maharashtra',
 '11th Stone, Nedumangadu,, Nedumangad, Nedumangad, Thiruvananthapuram, Keral\nGet Directions',
 'Kings Mall, Rohini West, Delhi, 110085, Rohini, Delhi, Delhi\nGet Directions',
 'Thakur Colony, Ludhiana, Punjab',
 'Sahayog Nagar, Pune, Maharashtra',
 'Outer Ring Road, Bengaluru, Karnataka',
 'SG Highway, Ahmedabad, Gujarat',
 'Church Gate, Mumbai, Maharashtra',
 'Perungudi, Chennai, Tamil Nadu',
 'Dahisar East, Mumbai, Maharashtra',
 'Palarivattom, Kochi, Kerala',
 'Jhilmil Colony, Delhi, Delhi',
 'RVE Nagar, Tiruppur, Tamil Nadu',
 'Ganesh Nagar, Nagpur, Maharashtra',
 'Mayur Vihar Phase 3, Delhi, Delhi',
 'Kuaari Devi, Motihari, Bihar',
 'Bajrang Nagar, Rewa, Madhya Pradesh',
 'Nieadi, Niwari, Madhya Pradesh',
 'Garhmara, Udalguri, Assam',
 'Rangampalaiyam, Erode, Tamil Nadu',
 'Jai Bhawani Colony, Jaipur, Rajasthan',
 '--',
 'Mayur Vihar Phase 1, Delhi, Delhi',
 'Indirapuram Niti Khand 3, Ghaziabad, Uttar Pradesh',
 'Industrial Development Colony, Jalandhar, Punjab',
 'Industrial Area, Chandigarh, Chandigarh',
 'Darbesh Para, Jangipur, West Bengal',
 'Maddilapalem, Visakhapatnam, Andhra Pradesh',
 'Civil Lines, Buxar, Bihar',
 'Paschim Vihar, Delhi, Delhi',
 'Barhampur, Ghoghardiha, Bihar',
 'Sati, Assandh, Haryana',
 'Jatabhar, Dhanwar, Jharkhand',
 '--',
 'Vashi, Navi Mumbai, Maharashtra',
 'Naranpura, Ahmedabad, Gujarat',
 'Salem East Old, Salem, Tamil Nadu',
 'Thane Belapur Road, Thane, Maharashtra',
 'Dammaiguda, Hyderabad, Telangana',
 'Ambattur Krishna Ganamoorthy Nagar, Chennai, Tamil Nadu',
 'Boring Chauraha, Patna, Bihar',
 'Malviya Nagar, Delhi, Delhi',
 'Nashik Road, Nashik, Maharashtra',
 'Kodambakkam Zacharia Colony, Chennai, Tamil Nadu',
 'Connaught Place, Delhi, Delhi',
 'Rajouri Garden, Delhi, Delhi',
 'Pitampura, Delhi, Delhi',
 'Anand Vihar, Delhi, Delhi',
 'Pitampura, Delhi, Delhi',
 'MP Nagar, Bhopal, Madhya Pradesh',
 'Naranpura, Ahmedabad, Gujarat',
 'Navrangpura, Ahmedabad, Gujarat',
 'Ashok Nagar, Chennai, Tamil Nadu',
 'Kodambakkam Trustpuram, Chennai, Tamil Nadu',
 'MLAs Colony, Hyderabad, Telangana',
 'Raheja Mall, Sohna Rd D1 block, Malibu Town, Sector 47, Gurugram, Gurugram, Haryana\nGet Directions',
 'Karmchari Nagar, Bareilly, Uttar Pradesh',
 'Kings Mall, Rohini West, Delhi, 110085, Rohini, Delhi, Delhi\nGet Directions',
 'Kings Mall, Rohini West, Delhi, 110085, Rohini, Delhi, Delhi\nGet Directions',
 'Palayam, Thiruvananthapuram, Kerala',
 'Sector 19C, Chandigarh, Chandigarh',
 'Chandigarh Airport Area, Chandigarh, Chandigarh',
 'Untwadi, Nashik, Maharashtra',
 'Jyoti Khuria, Uttar Pradesh, India',
 'Rajokri, Delhi, Delhi',
 'Kurinji Nagar, Cuddalore, Tamil Nadu',
 'Komaranahalli, Bhadravati, Karnataka',
 'Santacruz East, Mumbai, Maharashtra',
 'Nandan 364, Hoshiarpur, Punjab',
 'Abdulbaripur, Koilwar, Bihar',
 'Mishrauli, Barhalganj, Uttar Pradesh',
 'Ekta Chowk, Bhabua, Bihar',
 'Jam, Rasra, Uttar Pradesh',
 'Sector 137, Noida, Uttar Pradesh',
 'Tapukadi, RIICO Industrial Area Chopanki, Rajasthan',
 'Kondalampatti, Salem, Tamil Nadu',
 'Kings Mall, Rohini West, Delhi, 110085, Rohini, Delhi, Delhi\nGet Directions',
 'Umda, Bhilai, Chhattisgarh',
 'Meenchantha, Kozhikode, Kerala',
 'Shiv Colony, Hisar, Haryana',
 'Boro Village, Haflong, Assam',
 'Malkapur, Karad, Maharashtra',
 'Jharkhandeshwar Colony, Porsa, Madhya Pradesh',
 'Kangla, Imphal, Manipur',
 'Model Town, Ludhiana, Punjab',
 'Kolathur Tilai Nagar, Chennai, Tamil Nadu',
 'Gulmohar Nagar, Nashik, Maharashtra',
 'Hansapal, Bhubaneshwar, Odisha',
 'Anna Nagar, Chennai, Tamil Nadu',
 'Pachim Bargaon, Guwahati, Assam',
 'Kalamboli, Navi Mumbai, Maharashtra',
 'Manpada, Thane, Maharashtra',
 'Sector 15, Noida, Uttar Pradesh',
 'Laxmi Nagar, Raipur, Chhattisgarh',
 'Thane West, Thane, Maharashtra',
 'Rangampalaiyam, Erode, Tamil Nadu',
 'Nagpur GPO, Nagpur, Maharashtra',
 'DLF My Pad B2, Shop No 06, Vibhuti Khand, Infront Of Hyatt Regency, LUCKNOW, Uttar Pradesh\nGet Directions',
 'Kanakia Road, Mumbai, Maharashtra',
 'Manko, Adampur, Punjab',
 'Sector 16, Faridabad, Haryana',
 'Ring Road, Surat, Gujarat',
 'Pachpedi Naka, Raipur, Chhattisgarh',
 'Boring Chauraha, Patna, Bihar',
 'Sector 19D, Chandigarh, Chandigarh',
 'Kalyan, Thane, Maharashtra',
 'Jhandewalan, Delhi, Delhi',
 'Jhandewalan, Delhi, Delhi',
 'Sector 37C, Chandigarh, Chandigarh',
 'Sarulah, Sualkuchi, Assam',
 'Shantipuram, Visakhapatnam, Andhra Pradesh',
 'Greater Kailash 1, Delhi, Delhi',
 'Kanhai, Gurgaon, Haryana',
 'Lajpat Nagar 1, Delhi, Delhi',
 'Pitampura, Delhi, Delhi',
 'Hebbal, Bengaluru, Karnataka',
 'Vasantham Nagar, Karaikudi SIDCO Industrial Estate, Tamil Nadu',
 'Everest Vihar, Jaipur, Rajasthan',
 'Navlakha, Indore, Madhya Pradesh',
 'Bijna, Jetia, West Bengal',
 'Pitampura, Delhi, Delhi',
 'Officer Colony, Sangrur, Punjab',
 'Chengalam South, Kottayam, Kerala',
 'Thenpathi, Sirkali, Tamil Nadu',
 'Dwarka, Delhi, Delhi',
 'Adawal, Bastar, Chhattisgarh',
 'Pitampura, Delhi, Delhi',
 'Pathanapuram, Kollam, Kerala',
 'Jatauraj, Kaimganj, Uttar Pradesh',
 'Palayankottai, Tirunelveli, Tamil Nadu',
 'Gird Gonda, Gonda, Uttar Pradesh',
 'Ghorhata, Basti, Uttar Pradesh',
 'Shaileshree Vihar, Bhubaneshwar, Odisha',
 'Padmadhar Colony, Rewa, Madhya Pradesh',
 'Pattigarh, Bahadurganj, Uttar Pradesh',
 'Maa Vidhar Colony, Indore, Madhya Pradesh',
 'BLOCK KP SHOP NO 22 PLOT NO 23 PITAMPURA, NEAR CITY PARK HOTEL, NEAR CITY PARK HOTEL, Delhi, Delhi\nGet Directions',
 '--',
 'Hridaypur, Kolkata, West Bengal',
 'Somanur, Karumathampatti, Tamil Nadu',
 'Sector 126, Noida, Uttar Pradesh',
 'Pitampura, Delhi, Delhi',
 'Anna Nagar, Chennai, Tamil Nadu',
 'Bar Majra, Mohali, Punjab',
 'Outer Ring Road, Bengaluru, Karnataka',
 'Mulund West, Mumbai, Maharashtra',
 'Jabalpur Ho, Jabalpur, Madhya Pradesh',
 'Sohanpur, Bhatpar Rani, Uttar Pradesh',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Hasthampatti, Salem, Tamil Nadu',
 'Sector 16, Noida, Uttar Pradesh',
 'Koundampalayam, Coimbatore, Tamil Nadu',
 'Chembur, Mumbai, Maharashtra',
 'Banashankari Stage 2, Bengaluru, Karnataka',
 'Sector 6, Panipat, Haryana',
 'Putan, Udaipur, Rajasthan',
 'Lila Bhawan, Patiala, Punjab',
 'Ganpati Nagar, Jaipur, Rajasthan',
 'Ramaiah Reddy Colony, Bengaluru, Karnataka',
 'Gokulam, Mysuru, Karnataka',
 'Parapalayam, Tiruppur, Tamil Nadu',
 'Ajmal Dham Society, Surat, Gujarat',
 'Naranpura, Ahmedabad, Gujarat',
 'Karol Bagh, Delhi, Delhi',
 '--',
 'Kukatpally, Hyderabad, Telangana',
 'Mayur Vihar Phase 3, Delhi, Delhi',
 'Kharsia Naka, Ambikapur, Chhattisgarh',
 'Banjara Hills, Hyderabad, Telangana',
 'Dighi Kalan, Hajipur, Bihar',
 'Shaileshree Vihar, Bhubaneshwar, Odisha',
 'Sangolda, Saligao, Goa',
 'Shaileshree Vihar, Bhubaneshwar, Odisha',
 'Kajlpura Society, Mahad, Maharashtra',
 'Balkampet, Hyderabad, Telangana',
 'Kolathur, Chennai, Tamil Nadu',
 'Risali, Bhilai, Chhattisgarh',
 'Mele Palayam, Kozhikode, Kerala',
 'Tek Chand Nagar, Gurgaon, Haryana',
 'Pitampura, Delhi, Delhi',
 'Paschim Vihar, Delhi, Delhi',
 'Adimali, Idukki Township, Kerala',
 'Balusumoodi, Bhimavaram, Andhra Pradesh',
 'Mulund West, Mumbai, Maharashtra',
 'Mulund West, Mumbai, Maharashtra',
 'Shaileshree Vihar, Bhubaneshwar, Odisha',
 'Karol Bagh, Delhi, Delhi',
 'Mulund West, Mumbai, Maharashtra',
 'Babusapalaya, Bengaluru, Karnataka',
 'Lakdikapool, Hyderabad, Telangana',
 'Banashankari Stage 2, Bengaluru, Karnataka',
 'Puthanathani, Malappuram, Kerala',
 'Pumpwell, Mangaluru, Karnataka',
 'Hsr Layout Sector 7, Bengaluru, Karnataka',
 '122 C-Tatabad 3rd Street,Coimbatore -641012, Tatabad, Coimbatore, Tamil Nadu\nGet Directions',
 'Kings Mall, Rohini West, Delhi, 110085, Rohini, Delhi, Delhi\nGet Directions',
 'Ashok Vihar, Delhi, Delhi',
 'Block Colony, Khair, Uttar Pradesh',
 'Arvind Colony, Hyderabad, Telangana',
 'KTJ Nagar, Davanagere, Karnataka',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Central Secretariat, Delhi, Delhi',
 'Free Ganj, Ujjain, Madhya Pradesh',
 'Dwarka, Nashik, Maharashtra',
 'Satya Nagar, Surat, Gujarat',
 'Andheri East, Mumbai, Maharashtra',
 'Chembur, Mumbai, Maharashtra',
 'Balkampet, Hyderabad, Telangana',
 'Nijam Nagar, Jalandhar, Punjab',
 'Daldagre, Tura, Meghalaya',
 'Kamakshipalya, Bengaluru, Karnataka',
 'Dilshad Garden, Delhi, Delhi',
 'Kalyani Industrial Growth Centre Phase 3, Kalyani, West Bengal',
 'Vijay Nagar, Jalandhar, Punjab',
 'Dabhoi, Vadodara, Gujarat',
 'Belur, Kolkata, West Bengal',
 'Manjri, Yamunanagar, Haryana',
 'Navrangpura, Ahmedabad, Gujarat',
 'Kusadangar, Bhawanipatna, Odisha',
 'Maguria, Puruliya, West Bengal',
 'Shaileshree Vihar, Bhubaneshwar, Odisha',
 'EASTERN BYPASS, Siliguri, West Bengal',
 'Vikaspuri, Delhi, Delhi',
 'Ponnakannikadu, Peravurani, Tamil Nadu',
 'Byramji Town, Nagpur, Maharashtra',
 'EASTERN BYPASS, Siliguri, West Bengal',
 'Ashok Vihar, Delhi, Delhi',
 'Rajive Nagar, Jangaon, Telangana',
 'Gudimalka Pur, Hyderabad, Telangana',
 'Rajendra Place, Delhi, Delhi',
 'Rohini Sector 2, Delhi, Delhi',
 'Ambedkar Nagar, Pune, Maharashtra',
 'RTC Colony, Hyderabad, Telangana',
 'BLOCK KP SHOP NO 22 PLOT NO 23 PITAMPURA, NEAR CITY PARK HOTEL, NEAR CITY PARK HOTEL, Delhi, Delhi\nGet Directions',
 'BLOCK KP SHOP NO 22 PLOT NO 23 PITAMPURA, NEAR CITY PARK HOTEL, NEAR CITY PARK HOTEL, Delhi, Delhi\nGet Directions',
 'Peethawas, Jaipur, Rajasthan',
 'Panchira, Pallippuram Thiruvananthapuram District, Kerala',
 'Vridhachalan, Erode, Tamil Nadu',
 'Santhi Nagar, Tirunelveli, Tamil Nadu',
 'Nawagarh Janjgir, Chhattisgarh, India',
 'SBI Housing Colony, Bhubaneshwar, Odisha',
 'Takia Yakub, Gopalganj, Bihar',
 'Chevidipet, Gudalur The Nilgiris District, Tamil Nadu',
 'Rohini Sector 10, Delhi, Delhi',
 'Sector 126, Noida, Uttar Pradesh',
 'Kirti Nagar, Delhi, Delhi',
 'Preet Vihar, Delhi, Delhi',
 'Madhuban Chowk, Delhi, Delhi',
 'Mayur Vihar Phase 1, Delhi, Delhi',
 'Malviya Nagar, Delhi, Delhi',
 'Karkar Duma, Delhi, Delhi',
 'Jayanagar, Bengaluru, Karnataka',
 '--',
 'Neduvathoor, Kottarakkara, Kerala',
 'Rajiv Gandhi Road, Shankar Nagar, , -, Anna Park - Back side, Anna Park - Back side, SALEM, Tamil Nadu\nGet Directions',
 'Amarabati, Kolkata, West Bengal',
 'Thaltej, Ahmedabad, Gujarat',
 'Kaveri layout, Bengaluru, Karnataka',
 'Muduttupuzha, Muvattupuzha, Kerala',
 'Satyasai Road, Indore, Madhya Pradesh',
 'Ganesh Nagar, Bhopal, Madhya Pradesh',
 'Punjabi Bagh West, Delhi, Delhi',
 'Ganesh Nagar, Bhopal, Madhya Pradesh',
 'Dwarka, Delhi, Delhi',
 'Kachujan Gaon, Tinsukia, Assam',
 'Begumpet, Hyderabad, Telangana',
 'Shamshabad, Hyderabad, Telangana',
 'Connaught Place, Delhi, Delhi',
 'Jaya Nagar East, Bengaluru, Karnataka',
 'Shri Kabir Motors ( Insaf Ahmed ), 323 to 326 ,Ayodhyapuri Colony, LIG Link Road, LIG Link Road, Indore, Madhya Pradesh\nGet Directions',
 '106,, main road,pallikaranai, velachery, (near ishwarya mahal), chennai, Tamil Nadu\nGet Directions',
 'Vijaya Nagar, Bengaluru, Karnataka',
 'Madhapur, Hyderabad, Telangana',
 'Kavi Nagar Jila Panchayat Colony, Ghaziabad, Uttar Pradesh',
 'Byridewarakoppa, Hubballi, Karnataka',
 'Karol Bagh, Delhi, Delhi',
 'Saket, Delhi, Delhi',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Wright Town, Jabalpur, Madhya Pradesh',
 'Central Secretariat, Delhi, Delhi',
 'Mayur Vihar, Delhi, Delhi',
 'Netaji Subhash Place, Delhi, Delhi',
 'Kandivali West, Mumbai, Maharashtra',
 'Greater Kailash, Delhi, Delhi',
 'Mulund West, Mumbai, Maharashtra',
 'Paschim Vihar, Delhi, Delhi',
 'Teen Hath Naka, Thane, Maharashtra',
 'Borivali West, Mumbai, Maharashtra',
 'City Tower,, Near New Anaj Mandi and TVS Agency, G.T. Road, Panipat, TVS Agency, Panipat, Haryana\nGet Directions',
 'Anand Gokul Layout, Bengaluru, Karnataka',
 'New Chandigarh, Chandigarh, Chandigarh',
 'Kandivali West, Mumbai, Maharashtra',
 'Rohini Sector 3, Delhi, Delhi',
 'Rajouri Garden, Delhi, Delhi',
 'Naranpura, Ahmedabad, Gujarat',
 'Karol Bagh, Delhi, Delhi',
 'Baldev Nagar, Mahoba, Uttar Pradesh',
 'Nirman Vihar, Delhi, Delhi',
 'Kamakshipalya, Bengaluru, Karnataka',
 'Kamakshipalya, Bengaluru, Karnataka',
 'Krishna Nagar, Modinagar, Uttar Pradesh',
 'SBI Housing Colony, Bhubaneshwar, Odisha',
 'IOC Nagar, Vadodara, Gujarat',
 'Ambika Vihar, Jammu, Jammu & Kashmir',
 'Kalidas Nagar, Tumakuru, Karnataka',
 'Ashok Nagar, Jalandhar, Punjab']

In [18]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,Mahindra Scorpio (2018),S11,DIESEL\n41790 KM\nMANUAL,First,"4th floor, Pocket L, Multi-level Parking, Sect...","₹ 14,60,000"
1,Mahindra Bolero (2008),SLX,DIESEL\n79000.0 KM\nMANUAL,2nd,"Nijam Nagar, Jalandhar, Punjab","₹ 2,90,000"
2,Mahindra Tuv 300 (2018),T6 PLUS,DIESEL\n47000.0 KM\nMANUAL,1st,"P.no 163/8, My car Bazaar, Deendayal Chowk, De...","₹ 7,65,000"
3,--,--,--,--,--,--
4,Mahindra Xylo (2015),D4,DIESEL\n120000 KM\nMANUAL,Second,"Yerwada, Pune, Maharashtra","₹ 4,00,000"
...,...,...,...,...,...,...
484,Mahindra Scorpio (2019),S11,DIESEL\n62532.0 KM\nMANUAL,1st,"SBI Housing Colony, Bhubaneshwar, Odisha","₹ 15,29,999"
485,Mahindra Xuv700 (2022),AX7 Diesel AT Luxury Pack,DIESEL\n5700.0 KM\nAUTOMATIC,1st,"IOC Nagar, Vadodara, Gujarat","₹ 26,51,000"
486,Mahindra Xuv500 (2016),W8 1.99 mHawk,DIESEL\n110000.0 KM\nMANUAL,2nd,"Ambika Vihar, Jammu, Jammu & Kashmir","₹ 9,00,000"
487,Mahindra Xuv500 (2012),W8 2WD,DIESEL\n112000.0 KM\nMANUAL,2nd,"Kalidas Nagar, Tumakuru, Karnataka","₹ 7,50,000"
488,Mahindra Xuv500 (2013),W8 2WD,DIESEL\n85000.0 KM\nMANUAL,1st,"Ashok Nagar, Jalandhar, Punjab","₹ 5,25,000"

In [20]:
b = df['Brand'].str[0:8]
b

0      Mahindra
1      Mahindra
2      Mahindra
3            --
4      Mahindra
         ...
484    Mahindra
485    Mahindra
486    Mahindra
487    Mahindra
488    Mahindra
Name: Brand, Length: 489, dtype: object

In [26]:
c = df['Brand'].str[9:-7]
c

0      Scorpio
1       Bolero
2      Tuv 300
3
4         Xylo
        ...
484    Scorpio
485     Xuv700
486     Xuv500
487     Xuv500
488     Xuv500
Name: Brand, Length: 489, dtype: object

In [27]:
d = df['Brand'].str[-5:-1]
d

0      2018
1      2008
2      2018
3         -
4      2015
       ...
484    2019
485    2022
486    2016
487    2012
488    2013
Name: Brand, Length: 489, dtype: object

In [28]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0            1          2
0    DIESEL     41790 KM     MANUAL
1    DIESEL   79000.0 KM     MANUAL
2    DIESEL   47000.0 KM     MANUAL
3        --         None       None
4    DIESEL    120000 KM     MANUAL
..      ...          ...        ...
484  DIESEL   62532.0 KM     MANUAL
485  DIESEL    5700.0 KM  AUTOMATIC
486  DIESEL  110000.0 KM     MANUAL
487  DIESEL  112000.0 KM     MANUAL
488  DIESEL   85000.0 KM     MANUAL

[489 rows x 3 columns]

In [29]:
k = e[1].str[:-3]
k

0         41790
1       79000.0
2       47000.0
3          None
4        120000
         ...
484     62532.0
485      5700.0
486    110000.0
487    112000.0
488     85000.0
Name: 1, Length: 489, dtype: object

In [30]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7
0,4th floor,Pocket L,Multi-level Parking,Sector 18,Noida,Noida,Uttar Pardesh\nGet Directions,None
1,Nijam Nagar,Jalandhar,Punjab,None,None,None,None,None
2,P.no 163/8,My car Bazaar,Deendayal Chowk,Deendayal Chowk,beside celebration marriage garden,Jabalpur,Madhya Pradesh\nGet Directions,None
3,--,None,None,None,None,None,None,None
4,Yerwada,Pune,Maharashtra,None,None,None,None,None
...,...,...,...,...,...,...,...,...
484,SBI Housing Colony,Bhubaneshwar,Odisha,None,None,None,None,None
485,IOC Nagar,Vadodara,Gujarat,None,None,None,None,None
486,Ambika Vihar,Jammu,Jammu & Kashmir,None,None,None,None,None
487,Kalidas Nagar,Tumakuru,Karnataka,None,None,None,None,None
488,Ashok Nagar,Jalandhar,Punjab,None,None,None,None,None

In [31]:
p = df['Price'].str.split(pat='₹',expand = True)
p

      0           1
0         14,60,000
1          2,90,000
2          7,65,000
3    --        None
4          4,00,000
..   ..         ...
484       15,29,999
485       26,51,000
486        9,00,000
487        7,50,000
488        5,25,000

[489 rows x 2 columns]

In [32]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Mahindra,S11,DIESEL,First,Multi-level Parking,"14,60,000",Scorpio,2018,41790,MANUAL
1,Mahindra,SLX,DIESEL,2nd,Punjab,"2,90,000",Bolero,2008,79000.0,MANUAL
2,Mahindra,T6 PLUS,DIESEL,1st,Deendayal Chowk,"7,65,000",Tuv 300,2018,47000.0,MANUAL
3,--,--,--,--,None,None,,-,None,None
4,Mahindra,D4,DIESEL,Second,Maharashtra,"4,00,000",Xylo,2015,120000,MANUAL
...,...,...,...,...,...,...,...,...,...,...
484,Mahindra,S11,DIESEL,1st,Odisha,"15,29,999",Scorpio,2019,62532.0,MANUAL
485,Mahindra,AX7 Diesel AT Luxury Pack,DIESEL,1st,Gujarat,"26,51,000",Xuv700,2022,5700.0,AUTOMATIC
486,Mahindra,W8 1.99 mHawk,DIESEL,2nd,Jammu & Kashmir,"9,00,000",Xuv500,2016,110000.0,MANUAL
487,Mahindra,W8 2WD,DIESEL,2nd,Karnataka,"7,50,000",Xuv500,2012,112000.0,MANUAL
488,Mahindra,W8 2WD,DIESEL,1st,Punjab,"5,25,000",Xuv500,2013,85000.0,MANUAL

In [33]:
df['Brand'].value_counts()

Mahindra    477
--           12
Name: Brand, dtype: int64

In [34]:
print(df[df['Brand'] == '--'].index.values)

[  3  28  71  80 140 141 142 201 213 317 344 434]

In [35]:
df.drop(index=[3,28,71,80,140,141,142,201,213,317,344,434],inplace=True,axis=0)

In [36]:
df['Brand'].value_counts()

Mahindra    477
Name: Brand, dtype: int64

In [37]:
df['Fuel'].value_counts()

DIESEL           437
PETROL            28
ELECTRIC           5
--                 4
CNG & HYBRIDS      2
CNG                1
Name: Fuel, dtype: int64

In [38]:
print(df[df['Fuel'] == '--'].index.values)

[ 98 134 240 446]

In [39]:
df.drop(index=[98,134,240,446],inplace=True,axis=0)

In [40]:
df['Fuel'].value_counts()

DIESEL           437
PETROL            28
ELECTRIC           5
CNG & HYBRIDS      2
CNG                1
Name: Fuel, dtype: int64

In [41]:
df['Owner'].value_counts()

1st       273
2nd        99
First      25
Second     25
3rd        25
--         16
Third       4
4th         4
Fourth      2
Name: Owner, dtype: int64

In [42]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')
df['Owner'] = df['Owner'].replace('Fourth','4th')

In [43]:
print(df[df['Owner'] == '--'].index.values)

[ 56 102 129 159 186 248 271 311 316 343 415 416 425 459 460 471]

In [44]:
df.drop(index=[56,102,129,159,186,248,271,311,316,343,415,416,425,459,460,471],inplace=True,axis=0)

In [45]:
df['Owner'].value_counts()

1st    298
2nd    124
3rd     29
4th      6
Name: Owner, dtype: int64

In [46]:
df['Location'].value_counts()

 Delhi                    86
 Maharashtra              51
 Karnataka                39
 Tamil Nadu               35
 Uttar Pradesh            35
 Telangana                23
 Kerala                   21
 Gujarat                  20
 Madhya Pradesh           18
 West Bengal              17
 Bihar                    15
 Punjab                   15
 Odisha                   12
 Haryana                  12
 Rajasthan                10
 Chandigarh                8
 Andhra Pradesh            6
 Chhattisgarh              6
 Assam                     5
 India                     4
                           2
 Malibu Town               2
 Tatabad                   1
 Goa                       1
 Multi-level Parking       1
 Meghalaya                 1
 Vibhuti Khand             1
 main road                 1
Ayodhyapuri Colony         1
 Jhandewalan Extension     1
 Manipur                   1
 Jharkhand                 1
                           1
 ghatikia                  1
 Himachal Pradesh          1
 Deendayal Chowk           1
 Jammu & Kashmir           1
Name: Location, dtype: int64

In [47]:
df['Variant'].value_counts()

W8                      22
S11                     20
W6 2WD                  15
ZLX                     13
LX 4-STR Hard Top AT    11
                        ..
LX D 4WD AT              1
G80 K6 Plus 5Str         1
AT W6 2WD                1
2002-2013 LX             1
W8 1.99 mHawk            1
Name: Variant, Length: 177, dtype: int64

In [48]:
df['Transmission'].value_counts()

MANUAL       378
AUTOMATIC     67
--            12
Name: Transmission, dtype: int64

In [50]:
print(df[df['Transmission'] == '--'].index.values)

[ 26  29  30  33  46 113 128 165 173 193 224 246]

In [51]:
df.drop(index=[26,29,30,33,46,113,128,165,173,193,224,246],inplace=True,axis=0)

In [52]:
df['Transmission'].value_counts()

MANUAL       378
AUTOMATIC     67
Name: Transmission, dtype: int64

In [53]:
df.to_excel("car_3.xlsx")

In [54]:
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Mahindra,S11,DIESEL,1st,Multi-level Parking,"14,60,000",Scorpio,2018,41790,MANUAL
1,Mahindra,SLX,DIESEL,2nd,Punjab,"2,90,000",Bolero,2008,79000.0,MANUAL
2,Mahindra,T6 PLUS,DIESEL,1st,Deendayal Chowk,"7,65,000",Tuv 300,2018,47000.0,MANUAL
4,Mahindra,D4,DIESEL,2nd,Maharashtra,"4,00,000",Xylo,2015,120000,MANUAL
5,Mahindra,S10 8 Seater,DIESEL,1st,Delhi,"9,50,000",Scorpio,2016,72000.0,MANUAL
...,...,...,...,...,...,...,...,...,...,...
484,Mahindra,S11,DIESEL,1st,Odisha,"15,29,999",Scorpio,2019,62532.0,MANUAL
485,Mahindra,AX7 Diesel AT Luxury Pack,DIESEL,1st,Gujarat,"26,51,000",Xuv700,2022,5700.0,AUTOMATIC
486,Mahindra,W8 1.99 mHawk,DIESEL,2nd,Jammu & Kashmir,"9,00,000",Xuv500,2016,110000.0,MANUAL
487,Mahindra,W8 2WD,DIESEL,2nd,Karnataka,"7,50,000",Xuv500,2012,112000.0,MANUAL
488,Mahindra,W8 2WD,DIESEL,1st,Punjab,"5,25,000",Xuv500,2013,85000.0,MANUAL

In [11]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_tata'
driver.get(url)

In [7]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [8]:
link

['https://www.olx.in/item/car-sold-by-olx-autos-iid-1698754301',
 'https://www.olx.in/item/tata-safari-storme-lx-2014-diesel-iid-1696233396',
 'https://www.olx.in/item/tata-tiago-12-revotron-xz-2018-petrol-iid-1699825934',
 'https://www.olx.in/item/tata-indigo-cs-2016-diesel-iid-1703559531',
 'https://www.olx.in/item/tata-tiago-2020-petrol-iid-1703558797',
 'https://www.olx.in/item/tata-zest-2019-iid-1703559836',
 'https://www.olx.in/item/tata-indica-vista-2011-diesel-163509-km-driven-iid-1699278766',
 'https://www.olx.in/item/tata-indigo-2007-cng-hybrids-well-maintained-iid-1703559507',
 'https://www.olx.in/item/tata-indica-vista-2011-diesel-120000-km-driven-iid-1703559189',
 'https://www.olx.in/item/tata-manza-2012-diesel-good-condition-iid-1703559053',
 'https://www.olx.in/item/tata-tigor-105-revotorq-xt-2018-diesel-iid-1678895432',
 'https://www.olx.in/item/tata-nexon-kraz-diesel-2018-diesel-iid-1702781123',
 'https://www.olx.in/item/tata-indica-dlx-2013-diesel-iid-1639201663',
 'https://www.olx.in/item/tata-harrier-xz-2020-diesel-iid-1699993901',
 'https://www.olx.in/item/tata-aria-2011-diesel-well-maintained-iid-1703558239',
 'https://www.olx.in/item/tata-indica-vista-2010-diesel-good-condition-iid-1703558213',
 'https://www.olx.in/item/tata-zest-2018-diesel-well-maintained-iid-1703558145',
 'https://www.olx.in/item/tata-indica-vista-2014-diesel-iid-1703558046',
 'https://www.olx.in/item/tata-nexon-12-revotron-xz-plus-2022-petrol-iid-1701344857',
 'https://www.olx.in/item/tata-zest-revotron-12t-xe-2020-diesel-iid-1682749422',
 'https://www.olx.in/item/tata-zest-revotron-12t-xm-2015-petrol-iid-1703374257',
 'https://www.olx.in/item/tata-harrier-xt-2019-diesel-iid-1689650633',
 'https://www.olx.in/item/tata-nano-2012-petrol-iid-1703553870',
 'https://www.olx.in/item/tata-indica-v2-2010-diesel-iid-1703551898',
 'https://www.olx.in/item/tata-safari-2021-diesel-8500-km-driven-iid-1703557525',
 'https://www.olx.in/item/tata-nano-2012-petrol-28500-km-driven-iid-1703557407',
 'https://www.olx.in/item/tata-harrier-xt-2021-diesel-iid-1702134589',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xz-plus-2019-petrol-iid-1698782230',
 'https://www.olx.in/item/tata-harrier-xza-plus-dark-edition-2022-diesel-iid-1699442475',
 'https://www.olx.in/item/tata-nexon-2021-petrol-iid-1699992323',
 'https://www.olx.in/item/tata-tiago-12-revotron-xz-2020-petrol-iid-1702235869',
 'https://www.olx.in/item/tata-indigo-2008-diesel-90000-km-driven-iid-1703557117',
 'https://www.olx.in/item/tata-tiago-2016-iid-1703556917',
 'https://www.olx.in/item/good-condition-ka-19-iid-1703556741',
 'https://www.olx.in/item/tata-tigor-xz-plus-2019-cng-hybrids-iid-1703556665',
 'https://www.olx.in/item/tata-indica-vista-2011-diesel-well-maintained-iid-1703556415',
 'https://www.olx.in/item/tata-indica-2013-diesel-good-condition-iid-1703556148',
 'https://www.olx.in/item/tata-manza-2011-petrol-good-condition-iid-1703555895',
 'https://www.olx.in/item/tata-indica-v2-2009-petrol-57300-km-driven-iid-1703555857',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xz-plus-dual-tone-2020-diesel-iid-1693744276',
 'https://www.olx.in/item/tata-manza-aura-plus-quadrajet-2011-petrol-iid-1696184516',
 'https://www.olx.in/item/tata-safari-2021-diesel-iid-1697642526',
 'https://www.olx.in/item/tata-nano-2012-petrol-iid-1703550841',
 'https://www.olx.in/item/tata-nano-2014-petrol-iid-1703549223',
 'https://www.olx.in/item/tata-safari-dicor-22-ex-4x2-2012-diesel-iid-1589457120',
 'https://www.olx.in/item/tata-indica-v2-2006-diesel-200000-km-driven-iid-1703555573',
 'https://www.olx.in/item/good-condition-iid-1703555491',
 'https://www.olx.in/item/tata-indigo-ecs-2016-diesel-good-condition-iid-1703555173',
 'https://www.olx.in/item/tata-safari-storme-lx-2013-diesel-iid-1703555011',
 'https://www.olx.in/item/tata-tigor-2018-diesel-well-maintained-iid-1703554512',
 'https://www.olx.in/item/tata-indica-ev2-2018-diesel-150000-km-driven-iid-1703554358',
 'https://www.olx.in/item/tata-indigo-ecs-2012-diesel-well-maintained-iid-1703554290',
 'https://www.olx.in/item/tata-indica-2007-iid-1703553664',
 'https://www.olx.in/item/rim-with-wheel-cap-in-6000-iid-1703553661',
 'https://www.olx.in/item/good-condition-iid-1703553592',
 'https://www.olx.in/item/tata-tiago-2019-cng-hybrids-good-condition-iid-1703553529',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xz-plus-2020-diesel-iid-1703553503',
 'https://www.olx.in/item/tata-indica-vista-2014-iid-1703553299',
 'https://www.olx.in/item/sel-exseng-iid-1703553185',
 'https://www.olx.in/item/tata-nano-2012-2015-lx-2014-petrol-iid-1696506661',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1699102852',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xe-2019-diesel-iid-1702173406',
 'https://www.olx.in/item/tata-indica-v2-2016-diesel-iid-1703543356',
 'https://www.olx.in/item/tata-tigor-2020-diesel-iid-1703540087',
 'https://www.olx.in/item/tata-indica-vista-2009-diesel-well-maintained-iid-1703552777',
 'https://www.olx.in/item/tata-indica-v2-2014-diesel-172000-km-driven-iid-1703552726',
 'https://www.olx.in/item/tata-indigo-ecs-2013-diesel-well-maintained-iid-1703552725',
 'https://www.olx.in/item/tata-indigo-ecs-2016-diesel-70000-km-driven-iid-1703552437',
 'https://www.olx.in/item/tata-indica-v2-2010-iid-1703552333',
 'https://www.olx.in/item/tata-tiago-xz-plus-2019-petrol-iid-1702830486',
 'https://www.olx.in/item/tata-tiago-xe-diesel-2018-diesel-iid-1696846377',
 'https://www.olx.in/item/tata-nano-2013-petrol-57800-km-driven-iid-1703551859',
 'https://www.olx.in/item/80--iid-1703551795',
 'https://www.olx.in/item/tata-nano-2013-petrol-well-maintained-iid-1703551674',
 'https://www.olx.in/item/tata-ace-magic-with-pack-cub-iid-1703551616',
 'https://www.olx.in/item/tata-winger-platinum-bsiv-2013-diesel-iid-1703551486',
 'https://www.olx.in/item/tata-indica-v2-2006-diesel-300000-km-driven-iid-1703551420',
 'https://www.olx.in/item/tata-indica-2009-petrol-iid-1703551377',
 'https://www.olx.in/item/tata-indica-dls-2011-diesel-well-maintained-iid-1703551146',
 'https://www.olx.in/item/tata-harrier-xz-2019-diesel-iid-1693226864',
 'https://www.olx.in/item/tata-punch-pure-2022-iid-1667376283',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xza-plus-2022-diesel-iid-1702487066',
 'https://www.olx.in/item/tata-sumo-2013-diesel-iid-1703539226',
 'https://www.olx.in/item/tata-indica-v2-2015-diesel-iid-1703538329',
 'https://www.olx.in/item/tata-nano-2012-2015-lx-se-2012-lpg-iid-1703550966',
 'https://www.olx.in/item/tata-indica-v2-dls-bsiii-2007-diesel-iid-1696430016',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xz-plus-2018-diesel-iid-1702828975',
 'https://www.olx.in/item/tata-nano-xta-2015-petrol-iid-1696844492',
 'https://www.olx.in/item/tata-nexon-12-revotron-xe-2018-petrol-iid-1695425816',
 'https://www.olx.in/item/tata-safari-2007-diesel-good-condition-iid-1703549128',
 'https://www.olx.in/item/tata-indica-ev2-2013-diesel-iid-1703548960',
 'https://www.olx.in/item/tata-indica-v2-2006-diesel-70000-km-driven-iid-1703548941',
 'https://www.olx.in/item/tata-nano-2013-petrol-42000-km-driven-iid-1703548838',
 'https://www.olx.in/item/tata-safari-storme-ex-2017-diesel-iid-1702828013',
 'https://www.olx.in/item/tata-nano-cng-xm-2014-cng-hybrids-iid-1688534331',
 'https://www.olx.in/item/tata-harrier-xz-2019-diesel-iid-1701595460',
 'https://www.olx.in/item/tata-nexon-ev-2022-electric-iid-1687550174',
 'https://www.olx.in/item/tata-nexon-12-revotron-xma-2019-petrol-iid-1696843331',
 'https://www.olx.in/item/tata-hexa-xm-plus-2017-diesel-iid-1690317034',
 'https://www.olx.in/item/tata-safari-2021-diesel-iid-1685459086',
 'https://www.olx.in/item/tata-tiago-xm-2018-petrol-iid-1703151444',
 'https://www.olx.in/item/tata-tiago-105-revotorq-xt-2019-petrol-iid-1696388566',
 'https://www.olx.in/item/tata-manza-2010-petrol-iid-1703537373',
 'https://www.olx.in/item/tata-manza-2010-petrol-iid-1703537187',
 'https://www.olx.in/item/tata-hexa-xta-2017-diesel-iid-1701598925',
 'https://www.olx.in/item/tata-indica-vista-2009-diesel-top-model-with-alloy-wheelcentral-lock-iid-1703548470',
 'https://www.olx.in/item/tata-indica-ev2-2016-diesel-150000-km-driven-iid-1703548412',
 'https://www.olx.in/item/tata-indica-iid-1703546867',
 'https://www.olx.in/item/tata-tiago-12-revotron-xz-2019-petrol-iid-1689831982',
 'https://www.olx.in/item/tata-tiago-12-revotron-xt-2016-petrol-iid-1701468252',
 'https://www.olx.in/item/tata-tiago-xza-plus-2018-petrol-iid-1700809033',
 'https://www.olx.in/item/tata-tiago-12-revotron-xz-plus-2020-petrol-iid-1700807412',
 'https://www.olx.in/item/tata-harrier-xza-plus-dark-edition-2022-diesel-iid-1699432488',
 'https://www.olx.in/item/money-problem-iid-1703546269',
 'https://www.olx.in/item/tata-tiago-2021-last11-months-petrol-3165-km-driven-good-car-white-iid-1703546086',
 'https://www.olx.in/item/tata-indica-2008-diesel-100000-km-driven-iid-1703546042',
 'https://www.olx.in/item/new-battery70tyres-engine-complete-tax-upto-date-paid-iid-1703545952',
 'https://www.olx.in/item/tata-indica-vista-2010-diesel-88000-km-driveni-iid-1703545769',
 'https://www.olx.in/item/tata-indica-vista-2010-iid-1703545734',
 'https://www.olx.in/item/tata-indigo-cs-lx-tdi-2014-diesel-iid-1698151632',
 'https://www.olx.in/item/tata-altroz-2022-petrol-iid-1701611661',
 'https://www.olx.in/item/tata-altroz-xz-2020-petrol-iid-1691787566',
 'https://www.olx.in/item/tata-sumo-2006-diesel-iid-1703536390',
 'https://www.olx.in/item/tata-ace-2018-diesel-iid-1703534290',
 'https://www.olx.in/item/tata-indigo-cs-2010-iid-1703545535',
 'https://www.olx.in/item/tata-indica-v2-2013-diesel-86000-km-driven-iid-1703545510',
 'https://www.olx.in/item/tata-tiago-xza-plus-dual-tone-2021-petrol-iid-1703545299',
 'https://www.olx.in/item/tata-nexon-12-revotron-xz-plus-2018-petrol-iid-1703544846',
 'https://www.olx.in/item/tata-indica-v2-ls-2009-diesel-iid-1696839702',
 'https://www.olx.in/item/tata-aria-2012-diesel-well-maintained-iid-1703544378',
 'https://www.olx.in/item/tata-indica-vista-2011-diesel-130000-km-driven-iid-1703544005',
 'https://www.olx.in/item/tata-indica-v2-dls-bsiii-2007-diesel-iid-1689113319',
 'https://www.olx.in/item/tata-indica-20-iid-1703543800',
 'https://www.olx.in/item/tata-intra-v10-model-33-loan-bacha-h-loan-price-13400-iid-1703543758',
 'https://www.olx.in/item/tata-indica-2016-diesel-120000-km-driven-iid-1703543730',
 'https://www.olx.in/item/tata-nano-twistxt-dec-2014-1-st-owner-37000-km-driven-iid-1701559560',
 'https://www.olx.in/item/tata-indigo-cs-2008-iid-1703543472',
 'https://www.olx.in/item/tata-tiago-105-revotorq-xe-2017-petrol-iid-1703543246',
 'https://www.olx.in/item/tata-zest-2014-diesel-82000-km-driven-iid-1701570177',
 'https://www.olx.in/item/tata-hexa-2018-diesel-iid-1702243090',
 'https://www.olx.in/item/tata-nexon-15-diesel-2018-diesel-iid-1702727656',
 'https://www.olx.in/item/tata-nexon-2020-petrol-iid-1702931088',
 'https://www.olx.in/item/tata-manza-2010-diesel-iid-1703527091',
 'https://www.olx.in/item/tata-indigo-ecs-2014-diesel-iid-1703524942',
 'https://www.olx.in/item/tata-indica-vista-quadrajet-ls-2011-diesel-iid-1697015285',
 'https://www.olx.in/item/tata-harrier-xza-plus-dark-edition-2021-diesel-iid-1678203182',
 'https://www.olx.in/item/tata-safari-2007-with-good-condition-iid-1703542131',
 'https://www.olx.in/item/tata-indigo-ecs-2014-iid-1703541855',
 'https://www.olx.in/item/tata-indigo-ecs-2018-cng-hybrids-64000-km-driven-iid-1700043038',
 'https://www.olx.in/item/garidi-uraga-khangni-garidi-semningai-1-ta-leite-iid-1703541638',
 'https://www.olx.in/item/tata-indigo-ecs-2016-diesel-100000-km-driven-iid-1703541400',
 'https://www.olx.in/item/safari-dicor-vx-good-condition-iid-1703541203',
 'https://www.olx.in/item/tata-indica-v2-2009-diesel-94000-km-driven-iid-1703541089',
 'https://www.olx.in/item/-iid-1703540906',
 'https://www.olx.in/item/tata-manza-top-end-version-iid-1703540845',
 'https://www.olx.in/item/tata-nano-2012-2015-twist-xt-2015-petrol-iid-1702301822',
 'https://www.olx.in/item/tata-zest-quadrajet-13-75ps-xe-2015-diesel-iid-1697512956',
 'https://www.olx.in/item/tata-nexon-2019-petrol-iid-1697512743',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xm-2018-diesel-iid-1697512464',
 'https://www.olx.in/item/tata-nexon-15-revotorq-xz-plus-2018-petrol-iid-1695971444',
 'https://www.olx.in/item/tata-safari-storme-ex-2013-diesel-iid-1702183478',
 'https://www.olx.in/item/tata-vista-others-2010-diesel-iid-1696773371',
 'https://www.olx.in/item/tata-nano-2011-petrol-iid-1703523791',
 'https://www.olx.in/item/tata-indigo-ecs-2011-diesel-iid-1703523671',
 'https://www.olx.in/item/tata-safari-dicor-22-gx-4x2-2010-diesel-iid-1696836240',
 'https://www.olx.in/item/tata-indica-vista-quadrajet-vx-2012-diesel-iid-1696836213',
 'https://www.olx.in/item/tata-altroz-xt-petrol-well-maintained-iid-1703540575',
 'https://www.olx.in/item/tata-indica-vista-2011-diesel-130000-km-driven-iid-1703540404',
 'https://www.olx.in/item/tata-harrier-xz-2021-diesel-iid-1703536867',
 'https://www.olx.in/item/very-good-condition-ac-new-battery-iid-1703539731',
 'https://www.olx.in/item/tata-indica-v2-2013-diesel-75000-km-driven-iid-1703539572',
 'https://www.olx.in/item/tata-indica-2012-iid-1703539115',
 'https://www.olx.in/item/tata-estate-2008-diesel-iid-1703538818',
 'https://www.olx.in/item/tata-nano-2014-petrol-11000-km-driven-iid-1703538781',
 'https://www.olx.in/item/tata-zest-2014-petrol-good-condition-iid-1703538759',
 'https://www.olx.in/item/good-condition-no-problem-iid-1698043012',
 'https://www.olx.in/item/tata-zest-2017-diesel-65210-km-driven-iid-1685472039',
 'https://www.olx.in/item/tata-safari-ex-4x2-2011-diesel-iid-1685242641',
 'https://www.olx.in/item/tata-hexa-xt-2017-diesel-iid-1692923224',
 'https://www.olx.in/item/tata-harrier-xt-2022-diesel-iid-1698606992',
 'https://www.olx.in/item/tata-safari-storme-lx-2012-diesel-iid-1700728963',
 'https://www.olx.in/item/tata-altroz-xz-2021-petrol-iid-1699679240',
 'https://www.olx.in/item/tata-indigo-cs-2009-petrol-iid-1703522686',
 'https://www.olx.in/item/tata-zest-2018-diesel-time-pasars-go-away-iid-1703519851',
 'https://www.olx.in/item/tata-indigo-ecs-2017-diesel-90000-km-driven-iid-1703538362',
 'https://www.olx.in/item/tata-tiago-12-revotron-xz-plus-2021-petrol-iid-1701063535',
 'https://www.olx.in/item/tata-harrier-xz-2022-diesel-iid-1698669869',
 'https://www.olx.in/item/tata-hexa-xt-2017-diesel-iid-1703538323',
 'https://www.olx.in/item/tata-safari-storme-vx-2013-diesel-iid-1703538265',
 'https://www.olx.in/item/tata-indigo-cs-2011-diesel-well-maintained-iid-1703538079',
 'https://www.olx.in/item/tata-nano-2010-petrol-70000-km-driven-iid-1698699195',
 'https://www.olx.in/item/tata-safari-2011-diesel-44000-km-driven-iid-1703537835',
 'https://www.olx.in/item/tatanano-good-condition-iid-1698042089',
 'https://www.olx.in/item/tata-zest-revotron-12t-xe-2015-cng-hybrids-iid-1703537532',
 'https://www.olx.in/item/tata-indigo-cs-2013-diesel-70000-km-driven-iid-1703537494',
 'https://www.olx.in/item/tata-safari-2009-diesel-95000-km-driven-iid-1703537176',
 'https://www.olx.in/item/tata-sumo-gold-2014-diesel-150000-km-driven-iid-1703536886',
 'https://www.olx.in/item/tata-indica-vista-2011-diesel-well-maintained-iid-1703536778',
 'https://www.olx.in/item/tata-nano-2013-petrol-well-maintained-iid-1703536571',
 'https://www.olx.in/item/tata-manza-aura-plus-safire-bs-iv-2011-petrol-iid-1693997159',
 'https://www.olx.in/item/tata-sumo-grande-2009-diesel-iid-1701225679',
 'https://www.olx.in/item/tata-tiago-12-revotron-xm-2016-petrol-iid-1697609622',
 'https://www.olx.in/item/tata-indica-v2-2015-diesel-iid-1703518451',
 'https://www.olx.in/item/tata-nano-2015-petrol-iid-1703517224',
 'https://www.olx.in/item/tata-indica-vista-2011-iid-1703536392',
 'https://www.olx.in/item/tata-tiago-xm-2017-petrol-iid-1659559992',
 'https://www.olx.in/item/tata-nexon-ev-2022-electric-iid-1702962090',
 'https://www.olx.in/item/tata-safari-dicor-ex-4x2-bs-iv-2009-diesel-iid-1700798072',
 'https://www.olx.in/item/tata-zest-amt-quadrajet-13-xma-2014-diesel-iid-1702116760',
 'https://www.olx.in/item/tata-tiago-12-revotron-xe-2021-petrol-iid-1703536258',
 'https://www.olx.in/item/tata-venture-2011-diesel-50000-km-driven-iid-1703535592',
 'https://www.olx.in/item/tata-tiago-12-revotron-xt-2018-cng-hybrids-iid-1703535179',
 'https://www.olx.in/item/good-condition-vehicle-for-sale-iid-1703535134',
 'https://www.olx.in/item/tata-safari-2010-diesel-good-condition-iid-1703534977',
 'https://www.olx.in/item/tata-nano-2010-power-staring-new-battery-4-tiaras-ok-iid-1703534896',
 'https://www.olx.in/item/tata-safari-2009-diesel-well-maintained-iid-1703534815',
 'https://www.olx.in/item/tata-indigo-2003-petrol-46042-km-driven-good-condition-iid-1703534685',
 'https://www.olx.in/item/tata-nexon-2022-diesel-1600-km-driven-iid-1703534577',
 'https://www.olx.in/item/tata-indigo-xl-2008-diesel-good-condition-iid-1703534242',
 'https://www.olx.in/item/tata-indica-dls-2008-diesel-iid-1702361239',
 'https://www.olx.in/item/tata-indica-lxi-2007-petrol-iid-1696991323',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1698938477',
 'https://www.olx.in/item/tata-estate-2017-diesel-good-condition-iid-1703512209',
 'https://www.olx.in/item/tata-indigo-cs-2010-diesel-iid-1703509472',
 'https://www.olx.in/item/tata-magic-new-model-iid-1703534202',
 'https://www.olx.in/item/tata-indica-v2-2011-diesel-90000-km-driven-iid-1703534011',
 'https://www.olx.in/item/tata-nano-2012-2015-cng-2014-cng-hybrids-iid-1700111420',
 'https://www.olx.in/item/tata-hexa-xt-2018-diesel-iid-1689836699',
 'https://www.olx.in/item/tata-safari-2021-diesel-iid-1696022150',
 'https://www.olx.in/item/good-condition-resently-insurance-recently-oil-changa-center-lock-iid-1663802143',
 'https://www.olx.in/item/tata-taigo-xz-iid-1703533863',
 'https://www.olx.in/item/tata-tiago-petrol-iid-1703533756',
 'https://www.olx.in/item/tata-indigo-2009-iid-1703533751',
 'https://www.olx.in/item/tata-indigo-ecs-ecs-ls-tdi-2014-diesel-iid-1703533607',
 'https://www.olx.in/item/tata-nano-for-sale-iid-1703533234',
 'https://www.olx.in/item/tata-indica-ev2-ev2-glx-emax-2014-cng-hybrids-iid-1703533180',
 'https://www.olx.in/item/tata-indica-vista-2015-diesel-135000-km-driven-iid-1703532726',
 'https://www.olx.in/item/tata-indigo-ecs-2011-diesel-good-condition-iid-1703532039',
 'https://www.olx.in/item/tata-indica-vista-2013-iid-1703532013',
 'https://www.olx.in/item/tata-harrier-xza-plus-at-2021-diesel-iid-1700209548',
 'https://www.olx.in/item/tata-zest-others-2017-diesel-iid-1694679896',
 'https://www.olx.in/item/tata-hexa-xm-2018-diesel-iid-1702356212',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1699936982',
 'https://www.olx.in/item/tata-indigo-ecs-2015-diesel-iid-1703506123',
 'https://www.olx.in/item/indica-ls-v2-201314-regd-diesel-own-board-iid-1699671382',
 'https://www.olx.in/item/accountant-iid-1703531929',
 'https://www.olx.in/item/tata-tiago-12-revotron-xta-2017-petrol-iid-1694162433',
 'https://www.olx.in/item/tata-nexon-2020-petrol-iid-1700109569',
 'https://www.olx.in/item/tata-safari-2021-diesel-iid-1700794311',
 'https://www.olx.in/item/tata-sumo-victa-2010-diesel-100000-km-driven-iid-1703531403',
 'https://www.olx.in/item/indigo-cs-lx-tdi-iid-1703531157',
 'https://www.olx.in/item/tata-indica-2004-diesel-good-condition-iid-1696559711',
 'https://www.olx.in/item/tata-zest-2018-diesel-128000-km-driven-iid-1703530504',
 'https://www.olx.in/item/tata-safari-storme-vx-2013-diesel-iid-1703530490',
 'https://www.olx.in/item/tata-nano-2012-2015-cx-bsiii-2011-petrol-iid-1667900871',
 'https://www.olx.in/item/tata-zest-quadrajet-13-xm-2017-diesel-iid-1701025623',
 'https://www.olx.in/item/tata-harrier-xza-plus-dark-edition-2022-diesel-iid-1699419376',
 'https://www.olx.in/item/tata-harrier-xz-2020-diesel-iid-1682521066',
 'https://www.olx.in/item/tata-tiago-12-revotron-xz-2018-petrol-iid-1702807102',

In [9]:
len(link)

498

In [12]:
driver.get(link[0])

In [13]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [14]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,--,--,--,--,--,--
1,--,--,--,--,--,--
2,Tata Tiago (2018),1.2 Revotron XZ,PETROL\n72000.0 KM\nMANUAL,1st,"Ram Nagar, Madurai, Tamil Nadu","₹ 5,00,000"
3,Tata Indigo Cs (2016),2008-2012 eVX,DIESEL\n200000 KM\nMANUAL,Third,"V Nagar, Rasipuram, Tamil Nadu","₹ 2,30,000"
4,Tata Tiago (2020),1.05 Revotorq XZ Plus,PETROL\n30000 KM\nMANUAL,First,"Macheda, Jaipur, Rajasthan","₹ 5,00,000"
...,...,...,...,...,...,...
493,Tata Harrier (2020),XZA+,DIESEL\n31000.0 KM\nAUTOMATIC,1st,"Yelahanka, Bengaluru, Karnataka","₹ 21,25,000"
494,Tata Sumo Gold (2013),Gold CX BSIII,DIESEL\n166580.0 KM\nMANUAL,2nd,"Bahura, Jangipur, West Bengal","₹ 1,79,000"
495,Tata Indica Vista (2009),2008-2013 Aura 1.2 Safire ABS,"DIESEL\n100,000 KM\nMANUAL",4th,"Vinayaka Nagar, Tarikere, Karnataka","₹ 1,55,000"
496,Tata Nexon (2021),1.2 Revotron XZ Plus,"PETROL\n4,851 KM\nMANUAL",1st,"Zadeshwar, Bharuch, Gujarat","₹ 11,51,001"
497,Tata Indica Ev2 (2016),eV2 LS,DIESEL\n130000.0 KM\nMANUAL,1st,"Tirumala Colony, Hyderabad, Telangana","₹ 1,63,000"

In [16]:
b = df['Brand'].str[0:4]
b

0        --
1        --
2      Tata
3      Tata
4      Tata
       ...
493    Tata
494    Tata
495    Tata
496    Tata
497    Tata
Name: Brand, Length: 498, dtype: object

In [20]:
c = df['Brand'].str[5:-7]
c

0
1
2             Tiago
3         Indigo Cs
4             Tiago
           ...
493         Harrier
494       Sumo Gold
495    Indica Vista
496           Nexon
497      Indica Ev2
Name: Brand, Length: 498, dtype: object

In [21]:
d = df['Brand'].str[-5:-1]
d

0         -
1         -
2      2018
3      2016
4      2020
       ...
493    2020
494    2013
495    2009
496    2021
497    2016
Name: Brand, Length: 498, dtype: object

In [22]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0            1          2
0        --         None       None
1        --         None       None
2    PETROL   72000.0 KM     MANUAL
3    DIESEL    200000 KM     MANUAL
4    PETROL     30000 KM     MANUAL
..      ...          ...        ...
493  DIESEL   31000.0 KM  AUTOMATIC
494  DIESEL  166580.0 KM     MANUAL
495  DIESEL   100,000 KM     MANUAL
496  PETROL     4,851 KM     MANUAL
497  DIESEL  130000.0 KM     MANUAL

[498 rows x 3 columns]

In [23]:
k = e[1].str[:-3]
k

0          None
1          None
2       72000.0
3        200000
4         30000
         ...
493     31000.0
494    166580.0
495     100,000
496       4,851
497    130000.0
Name: 1, Length: 498, dtype: object

In [24]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,--,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,--,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Ram Nagar,Madurai,Tamil Nadu,None,None,None,None,None,None,None,None,None,None,None,None
3,V Nagar,Rasipuram,Tamil Nadu,None,None,None,None,None,None,None,None,None,None,None,None
4,Macheda,Jaipur,Rajasthan,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,Yelahanka,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None
494,Bahura,Jangipur,West Bengal,None,None,None,None,None,None,None,None,None,None,None,None
495,Vinayaka Nagar,Tarikere,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None
496,Zadeshwar,Bharuch,Gujarat,None,None,None,None,None,None,None,None,None,None,None,None
497,Tirumala Colony,Hyderabad,Telangana,None,None,None,None,None,None,None,None,None,None,None,None

In [25]:
p = df['Price'].str.split(pat='₹',expand = True)
p

      0           1
0    --        None
1    --        None
2          5,00,000
3          2,30,000
4          5,00,000
..   ..         ...
493       21,25,000
494        1,79,000
495        1,55,000
496       11,51,001
497        1,63,000

[498 rows x 2 columns]

In [26]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,--,--,--,--,None,None,,-,None,None
1,--,--,--,--,None,None,,-,None,None
2,Tata,1.2 Revotron XZ,PETROL,1st,Tamil Nadu,"5,00,000",Tiago,2018,72000.0,MANUAL
3,Tata,2008-2012 eVX,DIESEL,Third,Tamil Nadu,"2,30,000",Indigo Cs,2016,200000,MANUAL
4,Tata,1.05 Revotorq XZ Plus,PETROL,First,Rajasthan,"5,00,000",Tiago,2020,30000,MANUAL
...,...,...,...,...,...,...,...,...,...,...
493,Tata,XZA+,DIESEL,1st,Karnataka,"21,25,000",Harrier,2020,31000.0,AUTOMATIC
494,Tata,Gold CX BSIII,DIESEL,2nd,West Bengal,"1,79,000",Sumo Gold,2013,166580.0,MANUAL
495,Tata,2008-2013 Aura 1.2 Safire ABS,DIESEL,4th,Karnataka,"1,55,000",Indica Vista,2009,"100,000",MANUAL
496,Tata,1.2 Revotron XZ Plus,PETROL,1st,Gujarat,"11,51,001",Nexon,2021,"4,851",MANUAL
497,Tata,eV2 LS,DIESEL,1st,Telangana,"1,63,000",Indica Ev2,2016,130000.0,MANUAL

In [27]:
df['Brand'].value_counts()

Tata    481
--       17
Name: Brand, dtype: int64

In [28]:
print(df[df['Brand'] == '--'].index.values)

[  0   1  40  59  60 119 159 199 201 220 221 242 260 300 372 418 439]

In [29]:
df.drop(index=[0,1,40,59,60,119,159,199,201,220,221,242,260,300,372,418,439],inplace=True,axis=0)

In [30]:
df['Brand'].value_counts()

Tata    481
Name: Brand, dtype: int64

In [31]:
df['Variant'].value_counts()

                          14
XZ                        12
XT                        11
1.2 Revotron XZ           11
eCS LS TDI                10
                          ..
EX 4x2                     1
2009-2011 DLX              1
XZ+                        1
2008-2013 Quadrajet VX     1
Gold CX BSIII              1
Name: Variant, Length: 224, dtype: int64

In [33]:
print(df[df['Variant'] == ''].index.values)

[ 74  90 120 139 141 172 200 360 395 408 448 459 464 484]

In [34]:
df.drop(index=[74,90,120,139,141,172,200,360,395,408,448,459,464,484],inplace=True,axis=0)

In [35]:
df['Variant'].value_counts()

XZ                        12
1.2 Revotron XZ           11
XT                        11
eCS LS TDI                10
XZ Plus                    9
                          ..
EX 4x2                     1
2009-2011 DLX              1
XZ+                        1
2008-2013 Quadrajet VX     1
Gold CX BSIII              1
Name: Variant, Length: 223, dtype: int64

In [36]:
df['Location'].value_counts()

 Maharashtra             69
 Tamil Nadu              55
 Karnataka               50
 Delhi                   34
 Kerala                  30
 Uttar Pradesh           29
 Telangana               28
 Gujarat                 27
 Andhra Pradesh          25
 Haryana                 16
 West Bengal             14
 Punjab                  13
 Assam                   12
 Madhya Pradesh          11
 Rajasthan               10
 Odisha                   6
 Bihar                    6
 India                    4
 Chhattisgarh             4
 main road                3
 Jharkhand                3
 Uttaranchal              2
 Himachal Pradesh         2
 Goa                      2
                          1
496001                    1
 Jammu & Kashmir          1
 Arunachal Pradesh        1
 Mega Center              1
 Trivandrum               1
 Manipur                  1
 Service road             1
PANDARA                   1
 NEAR CITY PARK HOTEL     1
Ballygunge                1
Kumkum Party Plot         1
Name: Location, dtype: int64

In [37]:
df['Fuel'].value_counts()

DIESEL           319
PETROL           121
CNG & HYBRIDS     18
ELECTRIC           5
--                 3
LPG                1
Name: Fuel, dtype: int64

In [38]:
print(df[df['Fuel'] == '--'].index.values)

[ 80 399 460]

In [39]:
df.drop(index=[80,399,460],inplace=True,axis=0)

In [40]:
df['Owner'].value_counts()

1st       243
2nd       103
3rd        32
First      25
Second     19
4th        16
--         11
4+          7
Third       4
Fourth      4
Name: Owner, dtype: int64

In [41]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')
df['Owner'] = df['Owner'].replace('Fourth','4th')

In [42]:
print(df[df['Owner'] == '--'].index.values)

[ 11  39  44  68 205 214 233 310 324 340 469]

In [43]:
df.drop(index=[11,39,44,68,205,214,233,310,324,340,469],inplace=True,axis=0)

In [44]:
df['Transmission'].value_counts()

MANUAL       362
AUTOMATIC     77
--            14
Name: Transmission, dtype: int64

In [45]:
print(df[df['Transmission'] == '--'].index.values)

[ 51 115 125 131 175 197 215 269 288 311 333 416 457 471]

In [46]:
df.drop(index=[51,115,125,131,175,197,215,269,288,311,333,416,457,471],inplace=True,axis=0)

In [47]:
df['Transmission'].value_counts()

MANUAL       362
AUTOMATIC     77
Name: Transmission, dtype: int64

In [48]:
df['Model'].value_counts()

Nexon                47
Tiago                45
Indica Vista         35
Nano                 33
Indica V2            32
Zest                 28
Harrier              27
Safari               24
Indigo Ecs           21
Manza                17
Indigo Cs            15
Hexa                 13
Indica               13
Indigo               11
Safari Storme        10
Indica Ev2            7
Altroz                7
Sumo                  7
Sumo Gold             6
Nexon Ev              5
Tigor                 5
Aria                  4
Sumo Victa            3
Estate                3
Sumo Grande           3
Nano Genx             3
Xenon Xt              2
Venture               2
Indigo Xl             2
Sumo Spacio           1
Indica V2 Xeta        1
Bolt                  1
Vista Tech            1
Winger                1
Sierra                1
Sumo Grande Mk Ii     1
Vista                 1
Punch                 1
Name: Model, dtype: int64

In [49]:
df.to_excel("car_4.xlsx")

In [50]:
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
2,Tata,1.2 Revotron XZ,PETROL,1st,Tamil Nadu,"5,00,000",Tiago,2018,72000.0,MANUAL
3,Tata,2008-2012 eVX,DIESEL,3rd,Tamil Nadu,"2,30,000",Indigo Cs,2016,200000,MANUAL
4,Tata,1.05 Revotorq XZ Plus,PETROL,1st,Rajasthan,"5,00,000",Tiago,2020,30000,MANUAL
5,Tata,Premio,CNG & HYBRIDS,1st,Uttar Pradesh,"1,50,000",Zest,2019,"80,000",AUTOMATIC
6,Tata,Quadrajet 90 VX,DIESEL,1st,West Bengal,"1,50,000",Indica Vista,2011,"163,509",MANUAL
...,...,...,...,...,...,...,...,...,...,...
493,Tata,XZA+,DIESEL,1st,Karnataka,"21,25,000",Harrier,2020,31000.0,AUTOMATIC
494,Tata,Gold CX BSIII,DIESEL,2nd,West Bengal,"1,79,000",Sumo Gold,2013,166580.0,MANUAL
495,Tata,2008-2013 Aura 1.2 Safire ABS,DIESEL,4th,Karnataka,"1,55,000",Indica Vista,2009,"100,000",MANUAL
496,Tata,1.2 Revotron XZ Plus,PETROL,1st,Gujarat,"11,51,001",Nexon,2021,"4,851",MANUAL
497,Tata,eV2 LS,DIESEL,1st,Telangana,"1,63,000",Indica Ev2,2016,130000.0,MANUAL

In [6]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_cars-honda'
driver.get(url)

In [7]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [8]:
link

['https://www.olx.in/item/honda-cr-v-2007-2012-mt-with-sun-roof-2008-petrol-iid-1697302753',
 'https://www.olx.in/item/honda-wr-v-i-vtec-vx-2018-petrol-iid-1692260521',
 'https://www.olx.in/item/honda-brio-v-automatic-2013-petrol-iid-1665960567',
 'https://www.olx.in/item/honda-city-vx-sunroof-2018-iid-1681597758',
 'https://www.olx.in/item/honda-accord-2010-petrol-well-maintained-iid-1699730196',
 'https://www.olx.in/item/honda-amaze-2013-2016-ex-i-dtech-2016-diesel-iid-1701050480',
 'https://www.olx.in/item/honda-amaze-12-smt-i-vtec-2019-petrol-iid-1703059767',
 'https://www.olx.in/item/honda-city-zx-gxi-2008-petrol-iid-1693643896',
 'https://www.olx.in/item/honda-city-2011-2013-v-at-2013-petrol-iid-1702909325',
 'https://www.olx.in/item/honda-brio-12-vx-mt-2016-petrol-iid-1701545236',
 'https://www.olx.in/item/honda-city-2011-2013-15-s-at-2010-petrol-iid-1700886048',
 'https://www.olx.in/item/honda-city-i-vtec-v-2016-petrol-iid-1680881291',
 'https://www.olx.in/item/honda-city-i-vtec-v-2010-petrol-iid-1680880244',
 'https://www.olx.in/item/honda-cr-v-20-2wd-2013-petrol-iid-1684712372',
 'https://www.olx.in/item/honda-cr-v-20-2wd-2013-petrol-iid-1684712106',
 'https://www.olx.in/item/honda-city-i-vtec-s-2010-petrol-iid-1701546248',
 'https://www.olx.in/item/honda-jazz-v-cvt-2018-petrol-iid-1693645019',
 'https://www.olx.in/item/honda-city-i-dtec-zx-2018-diesel-iid-1701546237',
 'https://www.olx.in/item/honda-amaze-12-smt-i-vtec-2015-petrol-iid-1694907156',
 'https://www.olx.in/item/honda-city-zx-gxi-2006-petrol-iid-1694906670',
 'https://www.olx.in/item/honda-amaze-12-smt-i-vtec-2014-petrol-iid-1694796744',
 'https://www.olx.in/item/honda-amaze-2018-petrol-iid-1702739772',
 'https://www.olx.in/item/honda-amaze-2019-petrol-iid-1703226618',
 'https://www.olx.in/item/honda-city-2003-petrol-iid-1703569169',
 'https://www.olx.in/item/honda-jazz-2017-petrol-iid-1703568960',
 'https://www.olx.in/item/honda-city-i-vtec-vx-2016-petrol-iid-1686031276',
 'https://www.olx.in/item/honda-city-zx-vtec-2019-petrol-iid-1684185008',
 'https://www.olx.in/item/honda-brio-2015-petrol-iid-1702910132',
 'https://www.olx.in/item/honda-jazz-12-vx-i-vtec-2019-petrol-iid-1696920737',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-at-2009-petrol-iid-1691156194',
 'https://www.olx.in/item/honda-city-2014-2015-i-vtec-cvt-sv-2014-petrol-iid-1686697962',
 'https://www.olx.in/item/honda-city-i-vtec-v-2018-petrol-iid-1686656925',
 'https://www.olx.in/item/honda-brio-2013-2016-e-mt-2013-petrol-iid-1646042179',
 'https://www.olx.in/item/honda-jazz-v-cvt-2016-petrol-iid-1701937244',
 'https://www.olx.in/item/honda-city-zx-gxi-2008-petrol-iid-1691509804',
 'https://www.olx.in/item/honda-amaze-v-diesel-2019-diesel-iid-1701936741',
 'https://www.olx.in/item/honda-jazz-v-2015-petrol-iid-1703056926',
 'https://www.olx.in/item/honda-city-i-vtec-vx-2015-petrol-iid-1702194892',
 'https://www.olx.in/item/honda-city-zx-2018-diesel-iid-1701546129',
 'https://www.olx.in/item/honda-brio-12-s-mt-2012-petrol-iid-1644267948',
 'https://www.olx.in/item/honda-city-2015-petrol-iid-1702788695',
 'https://www.olx.in/item/honda-jazz-s-manual-2018-petrol-iid-1703069020',
 'https://www.olx.in/item/honda-city-2008-2011-15-v-mt-2010-petrol-iid-1701819969',
 'https://www.olx.in/item/honda-city-2004-petrol-iid-1703568910',
 'https://www.olx.in/item/honda-accord-2013-petrol-iid-1699321110',
 'https://www.olx.in/item/honda-br-v-i-vtec-v-cvt-2016-petrol-iid-1700061727',
 'https://www.olx.in/item/honda-city-2014-petrol-iid-1700060368',
 'https://www.olx.in/item/honda-brio-12-s-mt-2012-petrol-iid-1701409470',
 'https://www.olx.in/item/honda-amaze-15-smt-i-dtec-2013-diesel-iid-1700341012',
 'https://www.olx.in/item/honda-jazz-s-manual-2015-petrol-iid-1699508524',
 'https://www.olx.in/item/honda-cr-v-24-automatic-2008-petrol-iid-1702788515',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-at-2009-cng-hybrids-iid-1692909256',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2009-petrol-iid-1699993860',
 'https://www.olx.in/item/honda-city-2014-2015-v-mt-2015-petrol-iid-1702907910',
 'https://www.olx.in/item/honda-city-2019-petrol-iid-1696917628',
 'https://www.olx.in/item/honda-wr-v-edge-edition-i-vtec-s-2018-petrol-iid-1694255689',
 'https://www.olx.in/item/honda-city-2013-petrol-iid-1687177322',
 'https://www.olx.in/item/honda-jazz-12-vx-i-vtec-2017-petrol-iid-1702908016',
 'https://www.olx.in/item/honda-brio-2012-petrol-iid-1702198901',
 'https://www.olx.in/item/honda-brio-2014-petrol-iid-1695570247',
 'https://www.olx.in/item/honda-amaze-v-diesel-2019-diesel-iid-1698687983',
 'https://www.olx.in/item/honda-amaze-2019-petrol-iid-1702935047',
 'https://www.olx.in/item/honda-amaze-s-i-vtec-2016-petrol-iid-1681042448',
 'https://www.olx.in/item/honda-city-2015-diesel-iid-1703567520',
 'https://www.olx.in/item/honda-city-2004-petrol-iid-1703563753',
 'https://www.olx.in/item/honda-civic-18-v-mt-2008-petrol-iid-1697591944',
 'https://www.olx.in/item/honda-amaze-vx-i-vtec-2013-cng-hybrids-iid-1701542932',
 'https://www.olx.in/item/honda-city-vx-cvt-2014-petrol-iid-1702760816',
 'https://www.olx.in/item/honda-city-zx-vtec-plus-2022-petrol-iid-1700108243',
 'https://www.olx.in/item/honda-wr-v-i-vtec-vx-2017-petrol-iid-1702199123',
 'https://www.olx.in/item/honda-city-i-dtec-zx-2017-diesel-iid-1700069765',
 'https://www.olx.in/item/honda-civic-18-v-mt-2010-cng-hybrids-iid-1698591165',
 'https://www.olx.in/item/honda-city-2003-2005-15-gxi-2004-petrol-iid-1676395695',
 'https://www.olx.in/item/honda-city-2011-2013-v-at-2011-petrol-iid-1689098266',
 'https://www.olx.in/item/honda-civic-18-v-at-2010-petrol-iid-1699528152',
 'https://www.olx.in/item/honda-city-v-2018-petrol-iid-1698234745',
 'https://www.olx.in/item/honda-city-2014-2015-i-vtec-cvt-sv-2014-petrol-iid-1694256355',
 'https://www.olx.in/item/honda-city-i-vtec-v-2017-petrol-iid-1702480250',
 'https://www.olx.in/item/honda-mobilio-v-option-i-vtec-2016-petrol-iid-1699509610',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2010-petrol-iid-1678963093',
 'https://www.olx.in/item/honda-city-2014-2015-i-dtec-v-2015-diesel-iid-1680910592',
 'https://www.olx.in/item/honda-city-2011-2013-15-v-at-sunroof-2013-petrol-iid-1699537990',
 'https://www.olx.in/item/honda-amaze-2019-petrol-iid-1703225484',
 'https://www.olx.in/item/honda-city-2012-petrol-iid-1703563469',
 'https://www.olx.in/item/honda-city-1998-petrol-well-maintained-iid-1703561405',
 'https://www.olx.in/item/honda-city-2011-2013-15-s-at-2013-petrol-iid-1693791154',
 'https://www.olx.in/item/honda-amaze-2013-2016-s-i-dtech-2014-diesel-iid-1702200105',
 'https://www.olx.in/item/honda-jazz-15-v-i-dtec-2015-diesel-iid-1695570693',
 'https://www.olx.in/item/honda-civic-18-s-mt-2007-petrol-iid-1695015900',
 'https://www.olx.in/item/honda-city-i-vtec-sv-2015-petrol-iid-1694962309',
 'https://www.olx.in/item/honda-city-i-vtec-s-2009-petrol-iid-1693805924',
 'https://www.olx.in/item/honda-city-2008-2011-15-v-mt-2011-petrol-iid-1694774453',
 'https://www.olx.in/item/honda-cr-v-24-automatic-2015-petrol-iid-1698234504',
 'https://www.olx.in/item/honda-city-2014-2015-i-dtec-sv-2014-diesel-iid-1674318812',
 'https://www.olx.in/item/honda-city-i-vtec-v-2015-petrol-iid-1694905923',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2011-petrol-iid-1688461169',
 'https://www.olx.in/item/honda-jazz-s-manual-2012-petrol-iid-1703333579',
 'https://www.olx.in/item/honda-brio-12-s-mt-2014-petrol-iid-1702906989',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2008-petrol-iid-1698836455',
 'https://www.olx.in/item/honda-amaze-15-smt-i-dtec-2014-diesel-iid-1692996457',
 'https://www.olx.in/item/honda-civic-v-2007-petrol-iid-1700574013',
 'https://www.olx.in/item/honda-amaze-s-i-vtec-2014-petrol-iid-1700366802',
 'https://www.olx.in/item/honda-amaze-2019-petrol-iid-1703177569',
 'https://www.olx.in/item/honda-jazz-2015-diesel-iid-1703546308',
 'https://www.olx.in/item/honda-amaze-2016-cng-hybrids-iid-1703560166',
 'https://www.olx.in/item/honda-city-zx-gxi-2005-petrol-iid-1700882706',
 'https://www.olx.in/item/honda-civic-v-cvt-i-vtec-2007-petrol-iid-1702908547',
 'https://www.olx.in/item/honda-wr-v-i-dtec-vx-2019-diesel-iid-1702198881',
 'https://www.olx.in/item/honda-city-i-vtec-s-2009-petrol-iid-1696623264',
 'https://www.olx.in/item/honda-wr-v-i-vtec-vx-2017-petrol-iid-1685316826',
 'https://www.olx.in/item/honda-city-v-manual-diesel-2016-diesel-iid-1696240047',
 'https://www.olx.in/item/honda-jazz-vx-diesel-2015-diesel-iid-1688461897',
 'https://www.olx.in/item/honda-amaze-2013-2016-s-i-dtech-2014-diesel-iid-1702908993',
 'https://www.olx.in/item/honda-city-i-dtec-v-2017-diesel-iid-1702918234',
 'https://www.olx.in/item/honda-city-2014-2015-v-mt-2015-petrol-iid-1701141681',
 'https://www.olx.in/item/honda-city-i-vtec-vx-2019-petrol-iid-1700054178',
 'https://www.olx.in/item/honda-jazz-v-cvt-2016-petrol-iid-1699507020',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2011-petrol-iid-1698185781',
 'https://www.olx.in/item/honda-wr-v-i-vtec-vx-2019-petrol-iid-1702757926',
 'https://www.olx.in/item/honda-wr-v-i-vtec-vx-2019-petrol-iid-1702757324',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-vx-2017-petrol-iid-1697863439',
 'https://www.olx.in/item/honda-city-2011-2013-15-v-at-sunroof-2013-petrol-iid-1702523768',
 'https://www.olx.in/item/honda-city-2014-diesel-well-maintained-on-sale-iid-1702077044',
 'https://www.olx.in/item/honda-jazz-2015-diesel-iid-1703559784',
 'https://www.olx.in/item/honda-city-zx-2008-petrol-iid-1703559033',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2013-petrol-iid-1702216322',
 'https://www.olx.in/item/honda-amaze-2013-2016-sx-i-dtec-2014-diesel-iid-1679254222',
 'https://www.olx.in/item/honda-accord-24-automatic-2011-petrol-iid-1702196003',
 'https://www.olx.in/item/honda-brio-12-s-mt-2012-petrol-iid-1700880938',
 'https://www.olx.in/item/honda-brio-2011-2013-s-option-mt-2012-petrol-iid-1700339271',
 'https://www.olx.in/item/honda-amaze-2015-diesel-iid-1702904831',
 'https://www.olx.in/item/honda-civic-18-s-mt-2007-petrol-iid-1702196932',
 'https://www.olx.in/item/honda-civic-hybrid-2008-petrol-iid-1701540459',
 'https://www.olx.in/item/honda-city-i-vtec-v-2018-petrol-iid-1700880759',
 'https://www.olx.in/item/honda-city-2008-2011-15-v-mt-2011-petrol-iid-1696914975',
 'https://www.olx.in/item/honda-jazz-12-sv-i-vtec-2018-petrol-iid-1702196668',
 'https://www.olx.in/item/honda-city-i-vtec-cvt-vx-2016-petrol-iid-1700200010',
 'https://www.olx.in/item/honda-city-i-vtec-cvt-vx-2016-petrol-iid-1700199173',
 'https://www.olx.in/item/honda-city-i-vtec-s-2017-petrol-iid-1690387044',
 'https://www.olx.in/item/honda-accord-24-elegance-manual-2011-petrol-iid-1686542165',
 'https://www.olx.in/item/honda-city-zx-vtec-2020-petrol-iid-1702375393',
 'https://www.olx.in/item/honda-jazz-v-automatic-2016-petrol-iid-1693254237',
 'https://www.olx.in/item/honda-civic-18-s-mt-2008-petrol-iid-1700107263',
 'https://www.olx.in/item/honda-city-2012-petrol-iid-1703556432',
 'https://www.olx.in/item/honda-city-2014-petrol-iid-1703555143',
 'https://www.olx.in/item/honda-city-2011-2013-v-mt-2013-cng-hybrids-iid-1676937232',
 'https://www.olx.in/item/honda-amaze-vx-petrol-2019-petrol-iid-1701541809',
 'https://www.olx.in/item/honda-amaze-15-v-cvt-i-dtec-automatic-2019-diesel-iid-1701141935',
 'https://www.olx.in/item/honda-jazz-12-v-at-i-vtec-2017-petrol-iid-1700200647',
 'https://www.olx.in/item/honda-city-zx-gxi-2006-petrol-iid-1696914862',
 'https://www.olx.in/item/honda-city-zx-2018-diesel-iid-1694253758',
 'https://www.olx.in/item/honda-city-2014-2015-i-dtec-sv-2015-diesel-iid-1669447698',
 'https://www.olx.in/item/honda-jazz-s-diesel-2015-diesel-iid-1700200538',
 'https://www.olx.in/item/honda-amaze-s-diesel-2016-diesel-iid-1700199995',
 'https://www.olx.in/item/honda-city-2014-2015-i-dtec-s-2014-diesel-iid-1695026350',
 'https://www.olx.in/item/honda-amaze-12-ex-i-vtec-2015-petrol-iid-1277590359',
 'https://www.olx.in/item/honda-civic-18-s-at-2008-cng-hybrids-iid-1700395437',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2008-petrol-iid-1700327269',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2010-cng-hybrids-iid-1686540807',
 'https://www.olx.in/item/honda-brio-12-s-mt-2015-petrol-iid-1686309144',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1699882234',
 'https://www.olx.in/item/honda-city-i-vtec-cvt-zx-2020-petrol-iid-1694055972',
 'https://www.olx.in/item/honda-city-i-dtec-v-2017-diesel-iid-1693407774',
 'https://www.olx.in/item/honda-city-2019-petrol-iid-1703552816',
 'https://www.olx.in/item/honda-brio-2013-petrol-iid-1703550794',
 'https://www.olx.in/item/honda-city-i-dtec-sv-2014-diesel-iid-1694254727',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-s-2017-petrol-iid-1692632961',
 'https://www.olx.in/item/honda-city-15-s-manual-2009-petrol-iid-1585316992',
 'https://www.olx.in/item/honda-cr-v-20l-2wd-mt-2014-cng-hybrids-iid-1700334975',
 'https://www.olx.in/item/honda-city-i-vtec-s-2009-petrol-iid-1697034443',
 'https://www.olx.in/item/honda-city-2011-2013-s-2012-petrol-iid-1701928422',
 'https://www.olx.in/item/honda-amaze-12-smt-i-vtec-2016-petrol-iid-1699778134',
 'https://www.olx.in/item/honda-city-v-2017-petrol-iid-1699505166',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-v-2017-petrol-iid-1689992747',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-elegance-2010-petrol-iid-1696777194',
 'https://www.olx.in/item/honda-city-2014-2015-v-mt-2013-petrol-iid-1700794985',
 'https://www.olx.in/item/honda-mobilio-2014-diesel-59500-km-driven-iid-1701593702',
 'https://www.olx.in/item/honda-amaze-2013-2016-ex-i-vtech-2013-petrol-iid-1703184825',
 'https://www.olx.in/item/honda-wr-v-i-dtec-vx-2017-petrol-iid-1701793480',
 'https://www.olx.in/item/honda-jazz-12-s-i-vtec-2016-petrol-iid-1703529945',
 'https://www.olx.in/item/honda-jazz-15-vx-i-dtec-2017-diesel-iid-1695438989',
 'https://www.olx.in/item/honda-amaze-2019-petrol-iid-1703211304',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-s-2017-petrol-iid-1699362891',
 'https://www.olx.in/item/honda-city-zx-2006-cng-hybrids-iid-1703545113',
 'https://www.olx.in/item/honda-civic-2007-petrol-well-maintained-iid-1701559771',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2011-petrol-iid-1702791473',
 'https://www.olx.in/item/honda-amaze-2016-cng-hybrids-well-maintained-iid-1701559809',
 'https://www.olx.in/item/honda-city-i-dtec-v-2014-diesel-iid-1695197937',
 'https://www.olx.in/item/honda-amaze-s-i-dtec-2016-diesel-iid-1702755266',
 'https://www.olx.in/item/honda-jazz-12-sv-i-vtec-2010-petrol-iid-1702193769',
 'https://www.olx.in/item/honda-amaze-2013-2016-sx-i-dtec-2016-diesel-iid-1696427498',
 'https://www.olx.in/item/honda-city-i-dtec-sv-2014-diesel-iid-1701662972',
 'https://www.olx.in/item/honda-city-v-2020-petrol-iid-1700789685',
 'https://www.olx.in/item/honda-amaze-vx-diesel-2013-diesel-iid-1699216208',
 'https://www.olx.in/item/honda-amaze-12-smt-i-vtec-2018-petrol-iid-1700056536',
 'https://www.olx.in/item/honda-city-i-vtec-cvt-zx-2019-petrol-iid-1701538835',
 'https://www.olx.in/item/honda-city-2016-diesel-iid-1699505576',
 'https://www.olx.in/item/honda-wr-v-i-vtec-s-2017-petrol-iid-1691031902',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-vx-option-2015-petrol-iid-1699589519',
 'https://www.olx.in/item/honda-city-v-2015-petrol-iid-1698229919',
 'https://www.olx.in/item/honda-wr-v-i-vtec-vx-2018-petrol-iid-1695435667',
 'https://www.olx.in/item/honda-amaze-s-i-dtec-2015-diesel-iid-1701786197',
 'https://www.olx.in/item/honda-amaze-2019-petrol-iid-1703199864',
 'https://www.olx.in/item/honda-civic-2010-cng-hybrids-iid-1703542170',
 'https://www.olx.in/item/honda-jazz-2010-cng-hybrids-iid-1703542110',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-vx-2015-petrol-iid-1703328074',
 'https://www.olx.in/item/honda-amaze-s-diesel-2013-diesel-iid-1694024990',
 'https://www.olx.in/item/honda-civic-cvt-i-vtec-2010-petrol-iid-1693994257',
 'https://www.olx.in/item/honda-city-2014-2015-i-vtec-v-2015-petrol-iid-1687479414',
 'https://www.olx.in/item/honda-city-i-dtec-v-2014-diesel-iid-1702903283',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-vx-2016-petrol-iid-1700197577',
 'https://www.olx.in/item/honda-city-2011-2013-s-2012-petrol-iid-1692355292',
 'https://www.olx.in/item/honda-city-2015-2017-i-vtec-vx-option-2015-cng-hybrids-iid-1702902248',
 'https://www.olx.in/item/honda-city-i-vtec-vx-2009-petrol-iid-1691681046',
 'https://www.olx.in/item/honda-city-v-2011-petrol-iid-1691679863',
 'https://www.olx.in/item/honda-city-2014-2015-i-vtec-vx-option-2014-cng-hybrids-iid-1701930488',
 'https://www.olx.in/item/honda-city-2015-petrol-iid-1671665604',
 'https://www.olx.in/item/honda-city-i-dtec-vx-2015-diesel-iid-1699297751',
 'https://www.olx.in/item/honda-city-v-2012-petrol-iid-1701136817',
 'https://www.olx.in/item/honda-mobilio-others-2014-diesel-iid-1700054428',
 'https://www.olx.in/item/honda-amaze-vx-cvt-petrol-2016-petrol-iid-1693137048',
 'https://www.olx.in/item/honda-amaze-s-i-vtec-2018-petrol-iid-1697362047',
 'https://www.olx.in/item/honda-amaze-vx-i-vtec-2017-petrol-iid-1700445127',
 'https://www.olx.in/item/honda-city-zx-2008-petrol-iid-1703541233',
 'https://www.olx.in/item/honda-city-zx-2006-petrol-iid-1703540397',
 'https://www.olx.in/item/honda-amaze-e-option-i-dtec-2015-diesel-iid-1700334516',
 'https://www.olx.in/item/honda-city-i-vtec-vx-2014-petrol-iid-1701402013',
 'https://www.olx.in/item/honda-amaze-vx-i-dtec-2018-diesel-iid-1697580916',
 'https://www.olx.in/item/honda-amaze-s-i-dtec-2014-diesel-iid-1701282639',
 'https://www.olx.in/item/honda-city-2011-2013-corporate-edition-2013-petrol-iid-1699800457',
 'https://www.olx.in/item/honda-amaze-e-diesel-2013-diesel-iid-1695462694',
 'https://www.olx.in/item/honda-amaze-2013-2016-e-i-dtech-2013-diesel-iid-1703162527',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2009-petrol-iid-1700565226',
 'https://www.olx.in/item/honda-city-2011-2013-v-at-2013-petrol-iid-1700566062',
 'https://www.olx.in/item/honda-accord-24-manual-2009-petrol-iid-1703164592',
 'https://www.olx.in/item/honda-amaze-vx-petrol-2013-petrol-iid-1702754430',
 'https://www.olx.in/item/honda-cr-v-20l-2wd-at-2013-cng-hybrids-iid-1702191726',
 'https://www.olx.in/item/honda-city-i-vtec-vx-2015-petrol-iid-1691677733',
 'https://www.olx.in/item/honda-brio-12-vx-mt-2012-petrol-iid-1691676566',
 'https://www.olx.in/item/honda-jazz-12-v-i-vtec-2015-petrol-iid-1699502183',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2010-petrol-iid-1674727145',
 'https://www.olx.in/item/honda-jazz-2021-petrol-iid-1694243046',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1698143429',
 'https://www.olx.in/item/honda-amaze-2020-diesel-iid-1703537087',
 'https://www.olx.in/item/honda-city-2015-cng-hybrids-iid-1703534090',
 'https://www.olx.in/item/honda-brio-12-e-mt-2014-petrol-iid-1702192646',
 'https://www.olx.in/item/honda-city-vx-cvt-2016-petrol-iid-1700612571',
 'https://www.olx.in/item/honda-city-i-vtec-zx-2017-petrol-iid-1700195791',
 'https://www.olx.in/item/honda-city-2008-2011-15-s-mt-2009-petrol-iid-1699624295',
 'https://www.olx.in/item/honda-jazz-v-automatic-2015-petrol-iid-1694303438',
 'https://www.olx.in/item/honda-city-v-manual-diesel-2019-diesel-iid-1702900554',
 'https://www.olx.in/item/honda-jazz-15-vx-i-dtec-2018-diesel-iid-1702900011',
 'https://www.olx.in/item/honda-amaze-vx-petrol-2018-petrol-iid-1702192959',
 'https://www.olx.in/item/honda-city-v-2018-petrol-iid-1702192844',
 'https://www.olx.in/item/honda-amaze-12-smt-i-vtec-2015-petrol-iid-1696910930',
 'https://www.olx.in/item/honda-city-2014-2015-e-2014-petrol-iid-1696910115',
 'https://www.olx.in/item/honda-city-vx-cvt-2015-petrol-iid-1699501436',
 'https://www.olx.in/item/honda-mobilio-v-i-dtec-2014-diesel-iid-1698335396',

In [9]:
len(link)

499

In [12]:
driver.get(link[0])

In [13]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [15]:
brand

['--',
 'Honda Wr-V (2018)',
 '--',
 'Honda City (2018)',
 'Chevrolet Cruze (2010)',
 'Honda Amaze (2016)',
 'Honda Amaze (2019)',
 'Honda City Zx (2008)',
 'Honda City (2013)',
 'Honda Brio (2016)',
 'Honda City (2010)',
 'Honda City (2016)',
 'Honda City (2010)',
 'Honda Cr-V (2013)',
 'Honda Cr-V (2013)',
 'Honda City (2010)',
 'Honda Jazz (2018)',
 'Honda City (2018)',
 'Honda Amaze (2015)',
 'Honda City Zx (2006)',
 'Honda Amaze (2014)',
 'Honda Amaze (2018)',
 'Honda Amaze (2019)',
 'Honda City (2003)',
 'Honda Jazz (2017)',
 'Honda City (2016)',
 'Honda City Zx (2019)',
 'Honda Brio (2015)',
 'Honda Jazz (2019)',
 'Honda City (2009)',
 'Honda City (2014)',
 'Honda City (2018)',
 'Honda Brio (2013)',
 'Honda Jazz (2016)',
 'Honda City Zx (2008)',
 'Honda Amaze (2019)',
 'Honda Jazz (2015)',
 'Honda City (2015)',
 'Honda City (2018)',
 'Honda Brio (2012)',
 'Honda City (2015)',
 'Honda Jazz (2018)',
 'Honda City (2010)',
 'Honda City (2004)',
 'Honda Accord (2013)',
 'Honda Br-V (2016)',
 'Honda City (2014)',
 'Honda Brio (2012)',
 'Honda Amaze (2013)',
 'Honda Jazz (2015)',
 'Honda Cr-V (2008)',
 'Honda City (2009)',
 'Honda City (2009)',
 'Honda City (2015)',
 'Honda City (2019)',
 'Honda Wr-V (2018)',
 'Honda City (2013)',
 'Honda Jazz (2017)',
 'Honda Brio (2012)',
 'Honda Brio (2014)',
 'Honda Amaze (2019)',
 'Honda Amaze (2019)',
 'Honda Amaze (2016)',
 'Honda City (2015)',
 'Honda City (2004)',
 'Honda Civic (2008)',
 'Honda Amaze (2013)',
 'Honda City (2014)',
 'Honda City Zx (2022)',
 'Honda Wr-V (2017)',
 '--',
 'Honda Civic (2010)',
 'Honda City (2004)',
 'Honda City (2011)',
 'Honda Civic (2010)',
 'Honda City (2018)',
 'Honda City (2014)',
 'Honda City (2017)',
 'Honda Mobilio (2016)',
 '--',
 '--',
 'Honda City (2013)',
 'Honda Amaze (2019)',
 'Honda City (2012)',
 'Honda Cr-V (1998)',
 'Honda City (2013)',
 'Honda Amaze (2014)',
 'Honda Jazz (2015)',
 'Honda Civic (2007)',
 'Honda City (2015)',
 'Honda City (2009)',
 'Honda City (2011)',
 'Honda Cr-V (2015)',
 'Honda City (2014)',
 'Honda City (2015)',
 '--',
 'Honda Jazz (2012)',
 'Honda Brio (2014)',
 'Honda City (2008)',
 'Honda Amaze (2014)',
 'Honda Civic (2007)',
 'Honda Amaze (2014)',
 'Honda Amaze (2019)',
 'Honda Jazz (2015)',
 'Honda Amaze (2016)',
 'Honda City Zx (2005)',
 'Honda Civic (2007)',
 'Honda Wr-V (2019)',
 'Honda City (2009)',
 'Honda Wr-V (2017)',
 'Honda City (2016)',
 'Honda Jazz (2015)',
 'Honda Amaze (2014)',
 'Honda City (2017)',
 'Honda City (2015)',
 'Honda City (2019)',
 'Honda Jazz (2016)',
 'Honda City (2011)',
 'Honda Wr-V (2019)',
 'Honda Wr-V (2019)',
 'Honda City (2017)',
 'Honda City (2013)',
 '--',
 'Honda Jazz (2015)',
 'Honda City Zx (2008)',
 'Honda City (2013)',
 'Honda Amaze (2014)',
 'Honda Accord (2011)',
 'Honda Brio (2012)',
 'Honda Brio (2012)',
 'Honda Amaze (2015)',
 'Honda Civic (2007)',
 'Honda Civic (2008)',
 'Honda City (2018)',
 'Honda City (2011)',
 'Honda Jazz (2018)',
 'Honda City (2016)',
 'Honda City (2016)',
 'Honda City (2017)',
 'Honda Accord (2011)',
 'Honda City Zx (2020)',
 'Honda Jazz (2016)',
 'Honda Civic (2008)',
 'Honda City (2012)',
 'Honda City (2014)',
 'Honda City (2013)',
 'Honda Amaze (2019)',
 'Honda Amaze (2019)',
 'Honda Jazz (2017)',
 'Honda City Zx (2006)',
 'Honda City (2018)',
 'Honda City (2015)',
 'Honda Jazz (2015)',
 'Honda Amaze (2016)',
 'Honda City (2014)',
 'Honda Amaze (2015)',
 'Honda Civic (2008)',
 'Honda City (2008)',
 'Honda City (2010)',
 'Honda Brio (2015)',
 'Honda Wr-V (2020)',
 'Honda City (2020)',
 '--',
 'Honda City (2019)',
 'Honda Brio (2013)',
 'Honda City (2014)',
 'Honda City (2017)',
 'Honda City (2009)',
 'Honda Cr-V (2014)',
 'Honda City (2009)',
 'Honda City (2012)',
 'Honda Amaze (2016)',
 'Honda City (2017)',
 '--',
 'Honda City (2010)',
 'Honda City (2013)',
 'Honda Mobilio (2014)',
 'Honda Amaze (2013)',
 'Honda Wr-V (2017)',
 'Honda Jazz (2016)',
 'Honda Jazz (2017)',
 'Honda Amaze (2019)',
 'Honda City (2017)',
 'Honda City Zx (2006)',
 'Honda Civic (2007)',
 'Honda City (2011)',
 'Honda Amaze (2016)',
 'Honda City (2014)',
 'Honda Amaze (2016)',
 'Honda Jazz (2010)',
 'Honda Amaze (2016)',
 'Honda City (2014)',
 'Honda City (2020)',
 'Honda Amaze (2013)',
 'Honda Amaze (2018)',
 'Honda City (2019)',
 'Honda City (2016)',
 'Honda Wr-V (2017)',
 'Honda City (2015)',
 'Honda City (2015)',
 'Honda Wr-V (2018)',
 'Honda Amaze (2015)',
 'Honda Amaze (2019)',
 'Honda Civic (2010)',
 'Honda Jazz (2010)',
 'Honda City (2015)',
 'Honda Amaze (2013)',
 'Honda Civic (2010)',
 'Honda City (2015)',
 'Honda City (2014)',
 'Honda City (2016)',
 'Honda City (2012)',
 'Honda City (2015)',
 'Honda City (2009)',
 'Honda City (2011)',
 'Honda City (2014)',
 'Honda City (2015)',
 'Honda City (2015)',
 'Honda City (2012)',
 'Honda Mobilio (2014)',
 'Honda Amaze (2016)',
 '--',
 'Honda Amaze (2017)',
 'Honda City Zx (2008)',
 'Honda City Zx (2006)',
 'Honda Amaze (2015)',
 'Honda City (2014)',
 'Honda Amaze (2018)',
 'Honda Amaze (2014)',
 'Honda City (2013)',
 'Honda Amaze (2013)',
 'Honda Amaze (2013)',
 'Honda City (2009)',
 'Honda City (2013)',
 'Honda Accord (2009)',
 'Honda Amaze (2013)',
 'Honda Cr-V (2013)',
 'Honda City (2015)',
 'Honda Brio (2012)',
 'Honda Jazz (2015)',
 'Honda City (2010)',
 'Honda Jazz (2021)',
 'Honda Wr-V (2018)',
 'Honda Amaze (2020)',
 'Honda City (2015)',
 'Honda Brio (2014)',
 'Honda City (2014)',
 'Honda City (2017)',
 'Honda City (2009)',
 'Honda Jazz (2015)',
 'Honda City (2019)',
 'Honda Jazz (2018)',
 'Honda Amaze (2018)',
 'Honda City (2018)',
 'Honda Amaze (2015)',
 'Honda City (2014)',
 'Honda City (2015)',
 'Honda Mobilio (2014)',
 'Honda Brio (2015)',
 'Honda City (2014)',
 'Honda Wr-V (2020)',
 'Honda City (2005)',
 'Honda Brio (2012)',
 'Honda City (2010)',
 'Honda Civic (2008)',
 'Honda City (2015)',
 'Honda Amaze (2013)',
 'Honda City (2015)',
 'Honda Jazz (2012)',
 'Honda City (2018)',
 'Honda Civic (2007)',
 'Honda City (2009)',
 'Honda City (2019)',
 'Honda Jazz (2017)',
 'Honda City (2019)',
 'Honda Jazz (2015)',
 'Honda Jazz (2016)',
 'Honda City (2015)',
 'Honda Amaze (2018)',
 'Honda City (2017)',
 'Honda City (2014)',
 'Honda City (2016)',
 'Honda Amaze (2019)',
 'Honda City (2011)',
 'Honda Wr-V (2017)',
 'Honda City (2004)',
 'Honda City (2017)',
 'Honda Brio (2013)',
 'Honda Amaze (2013)',
 'Honda City (2015)',
 'Honda Amaze (2014)',
 'Honda City (2010)',
 'Honda Amaze (2014)',
 'Honda Jazz (2017)',
 'Honda Jazz (2018)',
 'Honda Br-V (2018)',
 'Honda Amaze (2016)',
 'Honda Wr-V (2017)',
 'Honda City (2012)',
 'Honda Wr-V (2018)',
 'Honda City (2016)',
 'Honda City (2016)',
 'Honda Amaze (2014)',
 'Honda Amaze (2019)',
 'Honda Civic (2011)',
 'Honda City (2021)',
 'Honda City (2021)',
 'Honda Amaze (2018)',
 'Honda City (2016)',
 'Honda Amaze (2019)',
 'Honda City (2021)',
 'Honda City (2010)',
 'Honda Brio (2012)',
 'Honda City (2018)',
 'Honda City (2014)',
 'Honda City (2011)',
 'Honda Brio (2015)',
 'Honda Amaze (2014)',
 'Honda Amaze (2021)',
 'Honda City (2017)',
 'Honda Jazz (2011)',
 '--',
 'Honda City (2017)',
 'Honda City (2016)',
 'Honda City (2010)',
 'Honda Amaze (2016)',
 'Honda City (2017)',
 'Honda City (2017)',
 'Honda City (2015)',
 'Honda City (2009)',
 'Honda Civic (2011)',
 'Honda City (2011)',
 'Honda Amaze (2019)',
 'Honda Wr-V (2019)',
 'Honda Amaze (2019)',
 'Honda Amaze (2016)',
 'Honda Amaze (2013)',
 'Honda Jazz (2012)',
 'Honda Jazz (2015)',
 '--',
 'Honda Amaze (2013)',
 'Honda Cr-V (2009)',
 'Honda Amaze (2019)',
 'Honda Amaze (2016)',
 'Honda City Zx (2006)',
 'Honda Jazz (2016)',
 'Honda City (2018)',
 'Honda Jazz (2021)',
 'Honda Brio (2012)',
 'Honda City (2013)',
 'Honda Amaze (2015)',
 'Honda City (2010)',
 'Honda Wr-V (2017)',
 'Honda City (2009)',
 'Honda City (2014)',
 'Honda City (2011)',
 'Honda City (2010)',
 'Honda City (2017)',
 'Honda Civic (2012)',
 'Honda City (2019)',
 '--',
 'Honda Brio (2016)',
 'Honda Jazz (2018)',
 'Honda Amaze (2015)',
 '--',
 'Honda City (2010)',
 'Honda City (2012)',
 'Honda City (2016)',
 'Honda City (2014)',
 'Honda Jazz (2015)',
 'Honda Mobilio (2015)',
 'Honda Jazz (2016)',
 'Honda City (2014)',
 'Honda City (2016)',
 'Honda City Zx (2018)',
 'Honda City (2019)',
 'Honda Brio (2012)',
 'Honda City (2017)',
 'Honda City (2021)',
 'Honda City (2017)',
 'Honda Amaze (2020)',
 'Honda City (2019)',
 'Honda Amaze (2020)',
 'Honda City Zx (2009)',
 'Honda Civic (2008)',
 'Honda City Zx (2017)',
 'Honda City (2018)',
 'Honda City (2020)',
 'Honda Amaze (2014)',
 'Honda Wr-V (2018)',
 'Honda Amaze (2017)',
 'Honda City (2017)',
 'Honda City Zx (2007)',
 'Honda City Zx (2007)',
 'Honda Amaze (2018)',
 'Honda City (2013)',
 'Honda Wr-V (2017)',
 'Honda City (2015)',
 'Honda Amaze (2013)',
 'Honda City Zx (2022)',
 '--',
 'Honda Wr-V (2020)',
 'Honda Amaze (2019)',
 'Honda City (2015)',
 'Honda Accord (2016)',
 'Honda City (2012)',
 'Honda City (2018)',
 'Honda City (2013)',
 'Honda Amaze (2014)',
 'Honda Amaze (2013)',
 'Honda Wr-V (2018)',
 'Honda Amaze (2020)',
 'Honda Amaze (2019)',
 'Honda Brio (2012)',
 'Honda City (2008)',
 'Honda Amaze (2018)',
 'Honda Cr-V (2013)',
 'Honda Wr-V (2017)',
 'Honda Brio (2012)',
 'Honda City (2017)',
 'Honda City (2014)',
 'Honda Amaze (2020)',
 '--',
 'Honda City (2021)',
 '--',
 'Honda Brio (2012)',
 'Honda City (2016)',
 'Honda City (2017)',
 'Honda Wr-V (2018)',
 'Honda City (2015)',
 'Honda Jazz (2016)',
 'Honda City (2011)',
 'Honda Amaze (2014)',
 'Honda City (2011)',
 'Honda City (2019)',
 'Honda Brio (2012)',
 'Honda Brio (2015)',
 'Honda Jazz (2012)',
 'Honda Amaze (2015)',
 'Honda Wr-V (2019)',
 'Honda City Zx (2008)',
 'Honda City (2011)',
 'Honda City Zx (2006)',
 'Honda Civic (2010)',
 'Honda Civic (2009)',
 'Honda City (2019)',
 'Honda City (2019)',
 'Honda City (2019)',
 'Honda City (2010)',
 'Honda City (2012)',
 'Honda City (2015)',
 'Honda City (2015)',
 'Honda City (2015)',
 'Honda Amaze (2014)',
 'Honda City (2016)',
 'Honda Amaze (2013)',
 'Honda City (2019)',
 'Honda City (2014)',
 'Honda City (2014)',
 'Honda Wr-V (2020)',
 'Honda Wr-V (2018)',
 'Honda City (2015)',
 'Honda Civic (2008)',
 'Honda Civic (2007)',
 'Honda Amaze (2018)',
 'Honda Jazz (2015)',
 'Honda City (2014)',
 'Honda Jazz (2015)',
 'Honda Accord (2010)',
 'Honda Jazz (2012)',
 'Honda City (2014)',
 'Honda City (2011)',
 'Honda Amaze (2013)',
 'Honda Jazz (2015)',
 'Honda Brio (2016)',
 'Honda City (2011)',
 'Honda City (2016)',
 'Honda Brio (2015)',
 'Honda Amaze (2018)',
 'Honda City (2017)',
 'Honda Wr-V (2020)',
 'Honda City (2016)',
 'Honda City (2009)',
 'Honda Brio (2013)',
 'Honda Cr-V (2014)',
 'Honda City (2016)',
 'Honda City (2012)',
 'Honda City (2015)',
 'Honda Amaze (2018)',
 'Honda Mobilio (2014)',
 'Honda City (2017)',
 'Honda City Zx (2007)',
 '--',
 'Honda Brio (2012)',
 'Honda City Zx (2018)',
 'Honda Brio (2012)',
 'Honda Mobilio (2015)',
 'Honda City (2015)',
 'Honda Amaze (2018)']

In [17]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,--,--,--,--,--,--
1,Honda Wr-V (2018),i-VTEC VX,PETROL\n50775.0 KM\nMANUAL,1st,"Ring Road, Surat, Gujarat","₹ 8,00,001"
2,--,--,--,--,--,--
3,Honda City (2018),i-DTEC VX,DIESEL\n50000 KM\nMANUAL,First,"East Of Kailash, Delhi, Delhi","₹ 8,75,000"
4,Chevrolet Cruze (2010),2010-2011 LTZ AT,DIESEL\n140000 KM\nAUTOMATIC,Second,"MS Ramaiah Nagar, Bengaluru, Karnataka","₹ 6,00,000"
...,...,...,...,...,...,...
494,Honda City Zx (2018),CVT,PETROL\n75000.0 KM\nMANUAL,1st,"Jaya Nagar East, Bengaluru, Karnataka","₹ 10,45,000"
495,Honda Brio (2012),2011-2013 S Option MT,PETROL\n65000.0 KM\nMANUAL,3rd,"CV Raman Nagar, Bengaluru, Karnataka","₹ 3,65,000"
496,Honda Mobilio (2015),V i-VTEC,PETROL\n78000.0 KM\nMANUAL,1st,"CV Raman Nagar, Bengaluru, Karnataka","₹ 5,95,000"
497,Honda City (2015),2014-2015 i DTEC S,DIESEL\n84000.0 KM\nMANUAL,1st,"Everest Vihar, Jaipur, Rajasthan","₹ 5,75,000"
498,Honda Amaze (2018),V CVT Diesel,DIESEL\n88000.0 KM\nAUTOMATIC,2nd,"Changubetty, Kottakal, Kerala","₹ 8,50,000"

In [19]:
b = df['Brand'].str[0:5]
b

0         --
1      Honda
2         --
3      Honda
4      Chevr
       ...
494    Honda
495    Honda
496    Honda
497    Honda
498    Honda
Name: Brand, Length: 499, dtype: object

In [20]:
c = df['Brand'].str[6:-7]
c

0
1           Wr-V
2
3           City
4      let Cruze
         ...
494      City Zx
495         Brio
496      Mobilio
497         City
498        Amaze
Name: Brand, Length: 499, dtype: object

In [21]:
d = df['Brand'].str[-5:-1]
d

0         -
1      2018
2         -
3      2018
4      2010
       ...
494    2018
495    2012
496    2015
497    2015
498    2018
Name: Brand, Length: 499, dtype: object

In [22]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0           1          2
0        --        None       None
1    PETROL  50775.0 KM     MANUAL
2        --        None       None
3    DIESEL    50000 KM     MANUAL
4    DIESEL   140000 KM  AUTOMATIC
..      ...         ...        ...
494  PETROL  75000.0 KM     MANUAL
495  PETROL  65000.0 KM     MANUAL
496  PETROL  78000.0 KM     MANUAL
497  DIESEL  84000.0 KM     MANUAL
498  DIESEL  88000.0 KM  AUTOMATIC

[499 rows x 3 columns]

In [23]:
k = e[1].str[:-3]
k

0         None
1      50775.0
2         None
3        50000
4       140000
        ...
494    75000.0
495    65000.0
496    78000.0
497    84000.0
498    88000.0
Name: 1, Length: 499, dtype: object

In [24]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,--,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Ring Road,Surat,Gujarat,None,None,None,None,None,None,None,None,None,None,None,None,None
2,--,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,East Of Kailash,Delhi,Delhi,None,None,None,None,None,None,None,None,None,None,None,None,None
4,MS Ramaiah Nagar,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Jaya Nagar East,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
495,CV Raman Nagar,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
496,CV Raman Nagar,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
497,Everest Vihar,Jaipur,Rajasthan,None,None,None,None,None,None,None,None,None,None,None,None,None
498,Changubetty,Kottakal,Kerala,None,None,None,None,None,None,None,None,None,None,None,None,None

In [25]:
p = df['Price'].str.split(pat='₹',expand = True)
p

      0           1
0    --        None
1          8,00,001
2    --        None
3          8,75,000
4          6,00,000
..   ..         ...
494       10,45,000
495        3,65,000
496        5,95,000
497        5,75,000
498        8,50,000

[499 rows x 2 columns]

In [26]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,--,--,--,--,None,None,,-,None,None
1,Honda,i-VTEC VX,PETROL,1st,Gujarat,"8,00,001",Wr-V,2018,50775.0,MANUAL
2,--,--,--,--,None,None,,-,None,None
3,Honda,i-DTEC VX,DIESEL,First,Delhi,"8,75,000",City,2018,50000,MANUAL
4,Chevr,2010-2011 LTZ AT,DIESEL,Second,Karnataka,"6,00,000",let Cruze,2010,140000,AUTOMATIC
...,...,...,...,...,...,...,...,...,...,...
494,Honda,CVT,PETROL,1st,Karnataka,"10,45,000",City Zx,2018,75000.0,MANUAL
495,Honda,2011-2013 S Option MT,PETROL,3rd,Karnataka,"3,65,000",Brio,2012,65000.0,MANUAL
496,Honda,V i-VTEC,PETROL,1st,Karnataka,"5,95,000",Mobilio,2015,78000.0,MANUAL
497,Honda,2014-2015 i DTEC S,DIESEL,1st,Rajasthan,"5,75,000",City,2015,84000.0,MANUAL
498,Honda,V CVT Diesel,DIESEL,2nd,Kerala,"8,50,000",Amaze,2018,88000.0,AUTOMATIC

In [27]:
df['Brand'].value_counts()

Honda    480
--        18
Chevr      1
Name: Brand, dtype: int64

In [28]:
print(df[df['Brand'] == '--'].index.values)

[  0   2  70  79  80  95 122 162 173 221 321 339 360 364 400 422 424 492]

In [29]:
print(df[df['Brand'] == 'Chevr'].index.values)

[4]

In [30]:
df.drop(index=[0,2,4,70,79,80,95,122,162,173,221,321,339,360,364,400,422,424,492],inplace=True,axis=0)

In [31]:
df['Brand'].value_counts()

Honda    480
Name: Brand, dtype: int64

In [32]:
df['Variant'].value_counts()

i-VTEC VX                        28
V                                21
2008-2011 1.5 S MT               17
                                 17
1.2 SMT I VTEC                   14
                                 ..
1.2 E MT                          1
2014-2015 E                       1
1.5 V CVT ( I-DTEC) Automatic     1
i-VTEC V CVT                      1
V CVT Diesel                      1
Name: Variant, Length: 137, dtype: int64

In [33]:
print(df[df['Variant'] == ''].index.values)

[ 27  46  54  56  58  59 130 155 196 216 305 306 368 388 396 409 435]

In [34]:
df.drop(index=[27,46,54,56,58,59,130,155,196,216,305,306,368,388,396,409,435],inplace=True,axis=0)

In [35]:
df['Variant'].value_counts()

i-VTEC VX             28
V                     21
2008-2011 1.5 S MT    17
1.2 SMT I VTEC        14
i-VTEC V              13
                      ..
2014-2015 i VTEC E     1
1.2 E MT               1
2014-2015 E            1
V i-DTEC               1
V CVT Diesel           1
Name: Variant, Length: 136, dtype: int64

In [36]:
df['Fuel'].value_counts()

PETROL           347
DIESEL            81
CNG & HYBRIDS     22
CNG               11
--                 1
LPG                1
Name: Fuel, dtype: int64

In [37]:
print(df[df['Fuel'] == '--'].index.values)

[315]

In [38]:
df.drop(index=315,inplace=True,axis=0)

In [39]:
df['Fuel'].value_counts()

PETROL           347
DIESEL            81
CNG & HYBRIDS     22
CNG               11
LPG                1
Name: Fuel, dtype: int64

In [40]:
df['Owner'].value_counts()

1st       294
2nd        80
First      40
Second     19
--          9
3rd         8
Third       7
Fourth      2
4th         2
4+          1
Name: Owner, dtype: int64

In [41]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')
df['Owner'] = df['Owner'].replace('Fourth','4th')

In [42]:
print(df[df['Owner'] == '--'].index.values)

[ 35  57 121 146 165 213 214 238 452]

In [43]:
df.drop(index=[35,57,121,146,165,213,214,238,452],inplace=True,axis=0)

In [44]:
df['Owner'].value_counts()

1st    334
2nd     99
3rd     15
4th      4
4+       1
Name: Owner, dtype: int64

In [45]:
df['Transmission'].value_counts()

MANUAL       351
AUTOMATIC     96
--             6
Name: Transmission, dtype: int64

In [46]:
print(df[df['Transmission'] == '--'].index.values)

[ 69  91  97 194 316 399]

In [47]:
df.drop(index=[69,91,97,194,316,399],inplace=True,axis=0)

In [48]:
df['Transmission'].value_counts()

MANUAL       351
AUTOMATIC     96
Name: Transmission, dtype: int64

In [49]:
df['Model'].value_counts()

City       196
Amaze       85
Jazz        45
Wr-V        26
Brio        25
Civic       23
City Zx     22
Cr-V        10
Mobilio      7
Accord       6
Br-V         2
Name: Model, dtype: int64

In [50]:
df['Year'].value_counts()

2015    59
2016    45
2014    44
2018    42
2019    38
2017    37
2013    35
2012    29
2010    23
2009    17
2011    17
2008    16
2020    14
2007    10
2006     6
2021     6
2004     4
2005     2
2003     1
2022     1
1998     1
Name: Year, dtype: int64

In [51]:
df['Price'].value_counts()

 4,50,000     13
 3,25,000      9
 6,50,000      9
 4,25,000      9
 8,50,000      8
              ..
 2,69,000      1
 4,21,000      1
 3,46,000      1
 13,90,000     1
 10,45,000     1
Name: Price, Length: 201, dtype: int64

In [52]:
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
1,Honda,i-VTEC VX,PETROL,1st,Gujarat,"8,00,001",Wr-V,2018,50775.0,MANUAL
3,Honda,i-DTEC VX,DIESEL,1st,Delhi,"8,75,000",City,2018,50000,MANUAL
5,Honda,2013-2016 EX i-Dtech,DIESEL,2nd,Chandigarh,"4,30,000",Amaze,2016,80000.0,MANUAL
6,Honda,1.2 SMT I VTEC,PETROL,1st,Tamil Nadu,"5,40,000",Amaze,2019,37000.0,MANUAL
7,Honda,GXi,PETROL,2nd,Tamil Nadu,"2,80,000",City Zx,2008,80000.0,MANUAL
...,...,...,...,...,...,...,...,...,...,...
494,Honda,CVT,PETROL,1st,Karnataka,"10,45,000",City Zx,2018,75000.0,MANUAL
495,Honda,2011-2013 S Option MT,PETROL,3rd,Karnataka,"3,65,000",Brio,2012,65000.0,MANUAL
496,Honda,V i-VTEC,PETROL,1st,Karnataka,"5,95,000",Mobilio,2015,78000.0,MANUAL
497,Honda,2014-2015 i DTEC S,DIESEL,1st,Rajasthan,"5,75,000",City,2015,84000.0,MANUAL
498,Honda,V CVT Diesel,DIESEL,2nd,Kerala,"8,50,000",Amaze,2018,88000.0,AUTOMATIC

In [53]:
df.to_excel("car_5.xlsx")

In [58]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_toyota'
driver.get(url)

In [59]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [60]:
link

['https://www.olx.in/item/toyota-innova-crysta-2018-petrol-iid-1703328582',
 'https://www.olx.in/item/toyota-innova-crysta-24-vx-mt-2017-diesel-iid-1701780809',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-mt-2017-diesel-iid-1693360204',
 'https://www.olx.in/item/crysta-top-end-automatic-iid-1703702835',
 'https://www.olx.in/item/toyota-etios-2014-diesel-well-maintained-iid-1703702722',
 'https://www.olx.in/item/toyota-innova-crysta-2020-diesel--iid-1703571002',
 'https://www.olx.in/item/toyota-fortuner-2010-diesel-iid-1703702580',
 'https://www.olx.in/item/toyota-innova-crysta-28-zx-at-2020-diesel-iid-1703702529',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2010-diesel-iid-1703702143',
 'https://www.olx.in/item/toyota-innova-crysta-24-gx-mt-2020-diesel-iid-1699580320',
 'https://www.olx.in/item/toyota-innova-25-gx-diesel-7-seater-2014-diesel-iid-1661681956',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x2-manual-2014-diesel-iid-1703702133',
 'https://www.olx.in/item/toyota-corolla-2008-petrol-iid-1700274867',
 'https://www.olx.in/item/toyota-etios-liva-2011-2012-gd-2011-diesel-iid-1701668299',
 'https://www.olx.in/item/toyota-innova-crysta-28-zx-at-2018-diesel-iid-1696310777',
 'https://www.olx.in/item/toyota-corolla-altis-18-g-2008-petrol-iid-1671009559',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-2009-diesel-iid-1701606741',
 'https://www.olx.in/item/toyota-innova-crysta-28z-automatic-2017-diesel-iid-1698294223',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2012-diesel-iid-1700951508',
 'https://www.olx.in/item/toyota-etios-2018-diesel-well-maintained--iid-1703702070',
 'https://www.olx.in/item/toyota-etios-14-gd-2014-diesel-iid-1696294829',
 'https://www.olx.in/item/toyota-corolla-altis-14-dgl-2011-diesel-iid-1694886542',
 'https://www.olx.in/item/toyota-crown-30-royal-saloon-1994-petrol-iid-1624643214',
 'https://www.olx.in/item/toyota-etios-liva-2014-diesel-80000-km-driven-iid-1703701967',
 'https://www.olx.in/item/for-selling-iid-1703701555',
 'https://www.olx.in/item/toyota-innova-2015-diesel-67000-km-driven-iid-1703701173',
 'https://www.olx.in/item/toyota-innova-crysta-24-zx-mt-2018-diesel-iid-1703701068',
 'https://www.olx.in/item/toyota-fortuner-30-4x2-automatic-2015-diesel-iid-1703701055',
 'https://www.olx.in/item/etios-liva-iid-1703700900',
 'https://www.olx.in/item/toyota-fortuner-28-4wd-at-2019-diesel-iid-1703700443',
 'https://www.olx.in/item/yamaha-r15-very-good-condition-bike-iid-1703700378',
 'https://www.olx.in/item/toyota-corolla-h2-18e-2007-petrol-iid-1703115324',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2013-diesel-iid-1702265017',
 'https://www.olx.in/item/toyota-innova-25-vx-8-str-bs-iii-2014-diesel-iid-1694972632',
 'https://www.olx.in/item/toyota-land-cruiser-v8-petrol-2017-diesel-iid-1685370706',
 'https://www.olx.in/item/toyota-land-cruiser-v8-petrol-2017-diesel-iid-1685370549',
 'https://www.olx.in/item/toyota-land-cruiser-v8-petrol-2017-diesel-iid-1685370878',
 'https://www.olx.in/item/toyota-innova-crysta-2018-diesel-well-maintained-iid-1703700334',
 'https://www.olx.in/item/toyota-urban-cruiser-2022-petrol-good-condition-iid-1703700165',
 'https://www.olx.in/item/toyota-innova-2009-iid-1703700110',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2012-diesel-iid-1702904792',
 'https://www.olx.in/item/toyota-corolla-altis-2013-2017-g-at-2014-petrol-iid-1694243661',
 'https://www.olx.in/item/toyota-camry-hybrid-25-2014-petrol-iid-1691429134',
 'https://www.olx.in/item/toyota-innova-crysta-27-gx-at-2017-diesel-iid-1702257042',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x2-manual-2012-diesel-iid-1693700678',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-7-seater-2008-diesel-iid-1702972991',
 'https://www.olx.in/item/toyota-innova-2012-2013-25-gx-diesel-7-seater-bs-iv-2015-diesel-iid-1698413303',
 'https://www.olx.in/item/toyota-innova-crysta-zx-24-diesel-7-seater-2020-diesel-iid-1703690258',
 'https://www.olx.in/item/toyota-corolla-altis-18-gl-2009-petrol-iid-1702976022',
 'https://www.olx.in/item/toyota-glanza-v-2020-petrol-iid-1702661399',
 'https://www.olx.in/item/toyota-qualis-2002-diesel-270000-km-driven-iid-1703689660',
 'https://www.olx.in/item/toyota-innova-crysta-24-vx-mt-2017-diesel-iid-1703689471',
 'https://www.olx.in/item/toyota-qualis-2001-diesel-iid-1703689571',
 'https://www.olx.in/item/new-insurance-new-entterriar-child-ac-iid-1703689407',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2014-diesel-iid-1703279317',
 'https://www.olx.in/item/toyota-etios-2014-diesel-iid-1703688733',
 'https://www.olx.in/item/toyota-innova-2012-diesel-160000-km-driven-iid-1703072774',
 'https://www.olx.in/item/toyota-qualis-gs-g5-2002-diesel-iid-1703688550',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2011-diesel-iid-1702254139',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x4-mt-2013-diesel-iid-1701596035',
 'https://www.olx.in/item/toyota-qualis-gs-g4-2004-diesel-iid-1702026394',
 'https://www.olx.in/item/toyota-land-cruiser-prado-vx-2009-petrol-iid-1629528573',
 'https://www.olx.in/item/toyota-innova-25-gx-diesel-7-seater-2009-diesel-iid-1701189151',
 'https://www.olx.in/item/toyota-etios-14-gd-2016-diesel-iid-1702255559',
 'https://www.olx.in/item/toyota-qualis-fs-b4-2006-diesel-iid-1701791113',
 'https://www.olx.in/item/toyota-innova-crysta-28z-automatic-2017-diesel-iid-1694962102',
 'https://www.olx.in/item/toyota-glanza-g-2020-petrol-iid-1695628048',
 'https://www.olx.in/item/toyota-corolla-2005-cng-hybrids-iid-1703687762',
 'https://www.olx.in/item/good-cundison-iid-1697312622',
 'https://www.olx.in/item/toyota-innova-25-vx-diesel-8-seater-2014-diesel-iid-1701970364',
 'https://www.olx.in/item/toyota-etios-14-gd-2017-iid-1703687094',
 'https://www.olx.in/item/good-candetion-iid-1703686647',
 'https://www.olx.in/item/toyota-innova-25-vx-diesel-8-seater-2010-diesel-iid-1703686632',
 'https://www.olx.in/item/toyota-etios-2017-diesel-128000-km-driven-iid-1703686569',
 'https://www.olx.in/item/toyota-etios-2015-diesel-iid-1703686482',
 'https://www.olx.in/item/urgent-need-of-money-iid-1703686368',
 'https://www.olx.in/item/toyota-innova-2014-iid-1703686337',
 'https://www.olx.in/item/toyota-fortuner-2014-diesel-147000-km-driven-iid-1693901522',
 'https://www.olx.in/item/toyota-fortuner-2014-iid-1693747786',
 'https://www.olx.in/item/toyota-fortuner-2014-diesel-149000-km-driven-iid-1693747485',
 'https://www.olx.in/item/toyota-land-cruiser-vx-2012-diesel-iid-1698296352',
 'https://www.olx.in/item/toyota-etios-liva-2014-2016-gd-2016-diesel-iid-1700957462',
 'https://www.olx.in/item/toyota-land-cruiser-vx-2017-diesel-iid-1696824193',
 'https://www.olx.in/item/toyota-innova-crysta-24-vx-mt-2018-diesel-iid-1701591192',
 'https://www.olx.in/item/toyota-innova-crysta-24-vx-mt-2017-diesel-iid-1701590641',
 'https://www.olx.in/item/toyota-fortuner-30-4x2-automatic-2016-diesel-iid-1701583928',
 'https://www.olx.in/item/toyota-etios-2014-2016-gd-2016-petrol-iid-1700932425',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-2011-diesel-iid-1696290997',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2009-diesel-iid-1703094973',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2013-diesel-iid-1702960751',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2012-diesel-iid-1702813938',
 'https://www.olx.in/item/toyota-etios-2010-2012-vx-2011-petrol-iid-1703388259',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-mt-2022-diesel-iid-1697642394',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2014-diesel-iid-1700932085',
 'https://www.olx.in/item/toyota-etios-gd-sp-2019-diesel-iid-1633032230',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2014-diesel-iid-1701194327',
 'https://www.olx.in/item/toyota-innova-2006-iid-1703679731',
 'https://www.olx.in/item/toyota-innova-2004-2011-25-g4-diesel-7-seater-2011-diesel-iid-1703679651',
 'https://www.olx.in/item/toyota-fortuner-30-ltd-2013-diesel-iid-1697061381',
 'https://www.olx.in/item/toyota-etios-liva-2012-diesel-well-maintained-iid-1703679184',
 'https://www.olx.in/item/toyota-etios-petrol-good-condition-iid-1703251931',
 'https://www.olx.in/item/toyota-fortuner-30-4x2-automatic-2012-diesel-iid-1701285969',
 'https://www.olx.in/item/toyota-etios-15-vx-2015-petrol-iid-1702287190',
 'https://www.olx.in/item/toyota-qualis-2001-diesel-iid-1703679150',
 'https://www.olx.in/item/toyota-qualis-2001-diesel-good-condition-iid-1703679120',
 'https://www.olx.in/item/toyota-etios-liva-12-g-2016-cng-hybrids-iid-1700754528',
 'https://www.olx.in/item/toyota-innova-2007-diesel-10000-km-driven-iid-1703678676',
 'https://www.olx.in/item/toyota-innova-crysta-automatic-2019-diesel-45000-km-driven-iid-1703678537',
 'https://www.olx.in/item/toyota-innova-2013-diesel-good-condition-iid-1703678515',
 'https://www.olx.in/item/toyota-innova-crysta-24-g-mt-2017-diesel-iid-1703678095',
 'https://www.olx.in/item/toyota-innova-2011-diesel-iid-1703678011',
 'https://www.olx.in/item/toyota-innova-2010-iid-1703677901',
 'https://www.olx.in/item/toyota-innova-2010-diesel-iid-1703677730',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2012-diesel-iid-1702811825',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2013-diesel-iid-1702530830',
 'https://www.olx.in/item/toyota-innova-crysta-24-zx-mt-2017-diesel-iid-1696965360',
 'https://www.olx.in/item/toyota-glanza-g-smart-hybrid-2021-petrol-iid-1691239874',
 'https://www.olx.in/item/toyota-innova-crysta-27-zx-at-2020-petrol-iid-1691239438',
 'https://www.olx.in/item/toyota-corolla-altis-18-g-2016-petrol-iid-1689783659',
 'https://www.olx.in/item/toyota-etios-liva-2013-2014-g-sp-2014-diesel-iid-1523916794',
 'https://www.olx.in/item/toyota-innova-crysta-2018-petrol-iid-1703315154',
 'https://www.olx.in/item/toyota-fortuner-28-4wd-at-2015-diesel-iid-1701284483',
 'https://www.olx.in/item/toyota-fortuner-30-4x2-automatic-2020-diesel-iid-1677590244',
 'https://www.olx.in/item/toyota-camry-2008-petrol-iid-1702931802',
 'https://www.olx.in/item/toyota-innova-crysta-24-g-mt-2018-diesel-iid-1703671045',
 'https://www.olx.in/item/toyota-innova-crysta-24-zx-mt-2022-diesel-iid-1703081633',
 'https://www.olx.in/item/innova-crista-24v-iid-1703670699',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-7-seater-2015-diesel-iid-1703670550',
 'https://www.olx.in/item/toyota-urban-cruiser-very-good-condition-iid-1698673266',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2011-diesel-iid-1703670427',
 'https://www.olx.in/item/toyota-fortuner-2017-diesel-iid-1701399065',
 'https://www.olx.in/item/toyota-innova-20-vx-7-str-bs-iv-2013-diesel-iid-1703670190',
 'https://www.olx.in/item/toyota-innova-crysta-24-zx-mt-2017-diesel-iid-1703669956',
 'https://www.olx.in/item/toyota-fortuner-2011-diesel-253000-km-driven-iid-1703669926',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x2-manual-2015-diesel-iid-1703669779',
 'https://www.olx.in/item/toyota-innova-2012-diesel-good-condition-iid-1703669746',
 'https://www.olx.in/item/toyota-etios-liva-2014-2016-v-2016-petrol-iid-1703669677',
 'https://www.olx.in/item/toyota-innova-2007-diesel-201000-km-driven-iid-1703669439',
 'https://www.olx.in/item/toyota-fortuner-30-4x2-automatic-2014-diesel-iid-1703669353',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2010-diesel-iid-1703669271',
 'https://www.olx.in/item/toyota-fortuner-2012-diesel-iid-1701056610',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-at-2013-diesel-iid-1692226279',
 'https://www.olx.in/item/toyota-etios-liva-2014-2016-gd-2015-diesel-iid-1686657586',
 'https://www.olx.in/item/toyota-innova-crysta-28-gx-at-2017-diesel-iid-1701582012',
 'https://www.olx.in/item/toyota-etios-cross-12l-g-2014-petrol-iid-1700923131',
 'https://www.olx.in/item/toyota-fortuner-2011-diesel-iid-1700382037',
 'https://www.olx.in/item/toyota-corolla-altis-2013-2017-d-4d-g-2014-diesel-iid-1698267869',
 'https://www.olx.in/item/toyota-innova-crysta-24-gx-mt-2016-diesel-iid-1700243763',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-2008-diesel-iid-1699552027',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2013-diesel-iid-1703668956',
 'https://www.olx.in/item/toyota-innova-crysta-28-gx-at-2018-diesel-iid-1692214724',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-at-2013-diesel-iid-1702949896',
 'https://www.olx.in/item/toyota-innova-25-vx-8-str-2011-diesel-iid-1701185025',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2015-diesel-iid-1700244974',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-at-2020-diesel-iid-1702520089',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x4-mt-2012-diesel-iid-1701974195',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-mt-2017-diesel-iid-1700104300',
 'https://www.olx.in/item/toyota-innova-crysta-27-zx-at-2017-petrol-iid-1696008247',
 'https://www.olx.in/item/toyota-fortuner-2013-diesel-iid-1701705929',
 'https://www.olx.in/item/toyota-corolla-altis-vl-2014-petrol-iid-1699550774',
 'https://www.olx.in/item/toyota-corolla-altis-18-vl-cvt-2011-petrol-iid-1689296430',
 'https://www.olx.in/item/toyota-etios-liva-12-v-2017-cng-hybrids-iid-1695971205',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2010-diesel-iid-1700250798',
 'https://www.olx.in/item/toyota-etios-liva-2017-diesel-80000-km-driven-iid-1703664227',
 'https://www.olx.in/item/toyota-fortuner-30-4x2-automatic-2017-diesel-iid-1703664028',
 'https://www.olx.in/item/toyota-etios-2017-diesel-iid-1703663853',
 'https://www.olx.in/item/toyota-innova-2010-iid-1703663814',
 'https://www.olx.in/item/toyota-innova-2009-2011-25-e-7-str-2013-diesel-iid-1703663597',
 'https://www.olx.in/item/toyota-innova-2004-2011-25-g2-2013-diesel-iid-1703663516',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x2-manual-2014-diesel-iid-1703663349',
 'https://www.olx.in/item/toyota-innova-2004-2011-25-g2-2013-diesel-iid-1703662847',
 'https://www.olx.in/item/toyota-corolla-altis-diesel-well-maintained-iid-1703662514',
 'https://www.olx.in/item/toyota-corolla-h1-18j-2007-petrol-iid-1702232290',
 'https://www.olx.in/item/toyota-etios-2010-2012-g-2011-petrol-iid-1700916428',
 'https://www.olx.in/item/toyota-glanza-v-2020-petrol-iid-1701434252',
 'https://www.olx.in/item/toyota-innova-crysta-24-v-2018-diesel-iid-1696273456',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2013-diesel-iid-1703371160',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2012-diesel-iid-1695604687',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-automatic-2017-diesel-iid-1696275087',
 'https://www.olx.in/item/toyota-corolla-altis-18-j-2015-petrol-iid-1689911961',
 'https://www.olx.in/item/toyota-innova-crysta-24-g-mt-2016-diesel-iid-1692799564',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-4x2-manual-2013-diesel-iid-1703555264',
 'https://www.olx.in/item/toyota-innova-crysta-2018-petrol-iid-1703328167',
 'https://www.olx.in/item/toyota-innova-crysta-28z-automatic-2017-diesel-iid-1702516334',
 'https://www.olx.in/item/toyota-corolla-altis-18-g-2009-petrol-iid-1701444375',
 'https://www.olx.in/item/toyota-innova-25-gx-diesel-8-seater-2015-diesel-iid-1700375848',
 'https://www.olx.in/item/toyota-corolla-altis-18-vl-cvt-2009-petrol-iid-1681557412',
 'https://www.olx.in/item/toyota-corolla-altis-j-2009-petrol-iid-1685781188',
 'https://www.olx.in/item/toyota-etios-15-g-2014-diesel-iid-1671295885',
 'https://www.olx.in/item/toyota-innova-2011-iid-1703662202',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-2013-diesel-iid-1703662109',
 'https://www.olx.in/item/toyota-innova-25-v-7-str-2013-diesel-iid-1703661726',
 'https://www.olx.in/item/brand-new-tyre-and-insurance-iid-1703661950',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-2015-diesel-iid-1703661862',
 'https://www.olx.in/item/toyota-innova-2004-2011-25-g4-diesel-7-seater-2011-diesel-iid-1703661800',
 'https://www.olx.in/item/toyota-corolla-altis-j-2016-diesel-iid-1703661682',
 'https://www.olx.in/item/toyota-fortuner-30-ltd-2016-diesel-iid-1703660861',
 'https://www.olx.in/item/toyota-landcruiser-prado-original-filming-mirrors-new-condition-pujab-iid-1575556943',
 'https://www.olx.in/item/toyota-camry-2008-petrol-iid-1703660732',
 'https://www.olx.in/item/toyota-fortuner-2022-diesel-iid-1703654865',
 'https://www.olx.in/item/toyota-etios-14-vxd-2017-diesel-iid-1691965273',
 'https://www.olx.in/item/toyota-innova-25-gx-diesel-7-seater-2014-diesel-iid-1689965953',
 'https://www.olx.in/item/toyota-fortuner-30-4x4-manual-2010-diesel-iid-1695441074',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-bs-iv-2009-diesel-iid-1701550568',
 'https://www.olx.in/item/toyota-innova-2012-diesel-well-maintained-iid-1703657218',
 'https://www.olx.in/item/toyota-etios-2015-diesel-iid-1703657081',
 'https://www.olx.in/item/toyota-innova-crysta-24-zx-mt-2018-diesel-iid-1703656987',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2013-diesel-iid-1703656820',
 'https://www.olx.in/item/toyota-etios-liva-2013-2014-gd-safety-2013-diesel-iid-1703656664',
 'https://www.olx.in/item/toyota-corolla-2004-petrol-airbags-5-alloy-wheels-good-mileage-iid-1698848874',
 'https://www.olx.in/item/toyota-innova-2008-iid-1703656295',
 'https://www.olx.in/item/toyota-etios-15-g-2011-petrol-iid-1703656212',
 'https://www.olx.in/item/toyota-fortuner-2015-iid-1703656207',
 'https://www.olx.in/item/toyota-etios-2013-diesel-300000-km-driven-iid-1703656200',
 'https://www.olx.in/item/toyota-innova-2008-diesel-240000-km-driven-iid-1703656174',
 'https://www.olx.in/item/toyota-innova-crysta-27-gx-mt-2017-diesel-iid-1692071578',
 'https://www.olx.in/item/toyota-innova-crysta-27-gx-mt-2017-petrol-iid-1692067329',
 'https://www.olx.in/item/toyota-urban-cruiser-cruiser-high-2020-petrol-iid-1692493414',
 'https://www.olx.in/item/toyota-yaris-vx-cvt-2018-petrol-iid-1681677239',
 'https://www.olx.in/item/toyota-urban-cruiser-cruiser-mid-2021-petrol-iid-1690174380',
 'https://www.olx.in/item/toyota-etios-liva-12-v-2017-cng-hybrids-iid-1696140769',
 'https://www.olx.in/item/toyota-fortuner-2011-2016-25-4x2-mt-trd-sportivo-2013-diesel-iid-1701536860',
 'https://www.olx.in/item/toyota-innova-crysta-2018-27-zx-at-first-owner-diesel-good-condition-iid-1701096574',
 'https://www.olx.in/item/toyota-etios-2013-diesel-well-maintained-iid-1703655781',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-7-seater-2010-diesel-iid-1702938483',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2013-diesel-iid-1702225818',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-7-seater-2012-diesel-iid-1699771164',
 'https://www.olx.in/item/toyota-fortuner-2014-iid-1694739563',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-7-seater-2015-diesel-iid-1702937839',
 'https://www.olx.in/item/toyota-innova-2012-diesel-good-condition-iid-1703655758',
 'https://www.olx.in/item/toyota-etios-14-gd-2013-diesel-iid-1701569537',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-7-seater-bs-iv-2008-diesel-iid-1700231416',
 'https://www.olx.in/item/toyota-fortuner-28-2wd-at-2017-diesel-iid-1699361467',
 'https://www.olx.in/item/toyota-etios-liva-gd-sp-2015-diesel-iid-1702225714',
 'https://www.olx.in/item/toyota-innova-2004-2011-25-g-diesel-7-seater-bs-iv-2007-diesel-iid-1693668270',
 'https://www.olx.in/item/toyota-innova-25-z-diesel-7-seater-2005-diesel-iid-1698033846',
 'https://www.olx.in/item/toyota-innova-25-g-diesel-8-seater-bs-iv-2010-diesel-iid-1702861580',
 'https://www.olx.in/item/toyota-fortuner-30-ltd-2012-diesel-iid-1698255907',
 'https://www.olx.in/item/toyota-corolla-altis-18-gl-2015-petrol-iid-1701961495',
 'https://www.olx.in/item/toyota-innova-crysta-24-g-mt-2017-diesel-iid-1696139825',
 'https://www.olx.in/item/toyota-innova-25-gx-diesel-8-seater-bs-iv-2013-diesel-iid-1700517480',
 'https://www.olx.in/item/toyota-innova-25-v-8-str-2012-diesel-iid-1695846193',
 'https://www.olx.in/item/toyota-etios-2010-2012-gd-2012-diesel-iid-1701441488',

In [61]:
len(link)

991

In [62]:
driver.get(link[0])

In [63]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [65]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,Toyota Innova Crysta (2018),2.7 GX AT,PETROL\n38416 KM\nAUTOMATIC,First,"Raheja Mall, Sohna Rd D1 block, Malibu Town, S...","₹ 15,82,709"
1,Toyota Innova Crysta (2017),2.4 VX MT,DIESEL\n125000.0 KM\nMANUAL,2nd,"Yelahanka, Bengaluru, Karnataka","₹ 18,45,000"
2,Toyota Fortuner (2017),2.8 2WD MT,DIESEL\n9500.0 KM\nMANUAL,1st,"Sector 31, Noida, Uttar Pradesh","₹ 29,90,000"
3,Toyota Innova Crysta (2016),2.8 ZX AT,"DIESEL\n145,000 KM\nAUTOMATIC",2nd,"Ramapuram, Palai, Kerala","₹ 19,10,000"
4,Toyota Etios (2014),1.5 High,"DIESEL\n186,000 KM\nMANUAL",3rd,"Parappanangadi, Neduva, Kerala","₹ 4,99,000"
...,...,...,...,...,...,...
986,Toyota Glanza (2021),G,PETROL\n13000.0 KM\nMANUAL,1st,"Fatima Nagar, Pune, Maharashtra","₹ 7,95,000"
987,Toyota Fortuner (2013),2011-2016 4x2 Manual,DIESEL\n87000.0 KM\nMANUAL,2nd,"Saket, Delhi, Delhi","₹ 12,00,000"
988,Toyota Corolla (2004),H2 1.8E,PETROL\n13400.0 KM\nMANUAL,3rd,"Masab Tank, Hyderabad, Telangana","₹ 1,80,000"
989,Toyota Fortuner (2013),2011-2016 4x2 AT,"DIESEL\n89,000 KM\nAUTOMATIC",2nd,"DLF City Phase 2, Gurgaon, Haryana","₹ 11,75,000"
990,Toyota Etios (2013),G SP*,PETROL\n55665.0 KM\nMANUAL,1st,"Akurdi, Pune, Maharashtra","₹ 4,30,000"

In [66]:
brand

['Toyota Innova Crysta (2018)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2017)',
 'Toyota Innova Crysta (2016)',
 'Toyota Etios (2014)',
 'Toyota Innova Crysta (2020)',
 'Toyota Fortuner (2010)',
 'Toyota Innova Crysta (2020)',
 'Toyota Fortuner (2010)',
 'Toyota Innova Crysta (2020)',
 'Toyota Innova (2014)',
 'Toyota Fortuner (2014)',
 'Toyota Corolla (2008)',
 'Toyota Etios Liva (2011)',
 'Toyota Innova Crysta (2018)',
 'Toyota Corolla Altis (2008)',
 'Toyota Innova (2009)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2012)',
 'Toyota Platinum Etios (2018)',
 'Toyota Etios (2014)',
 'Toyota Corolla Altis (2011)',
 'Toyota Crown (1994)',
 'Toyota Etios Liva (2014)',
 '--',
 'Toyota Innova (2015)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2015)',
 'Toyota Etios Liva (2014)',
 'Toyota Fortuner (2019)',
 'Toyota Hilux (2012)',
 'Toyota Corolla (2007)',
 'Toyota Innova (2013)',
 'Toyota Innova (2014)',
 'Toyota Land Cruiser (2017)',
 'Toyota Land Cruiser (2017)',
 'Toyota Land Cruiser (2017)',
 '--',
 'Toyota Urban Cruiser (2022)',
 'Toyota Innova (2009)',
 'Toyota Fortuner (2012)',
 'Toyota Corolla Altis (2014)',
 'Toyota Camry (2014)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2012)',
 'Toyota Innova (2008)',
 'Toyota Innova (2015)',
 'Toyota Innova Crysta (2020)',
 'Toyota Corolla Altis (2009)',
 'Toyota Glanza (2020)',
 'Toyota Qualis (2002)',
 'Toyota Innova Crysta (2017)',
 'Toyota Qualis (2001)',
 'Toyota Innova (2013)',
 'Toyota Innova (2014)',
 'Toyota Etios (2014)',
 'Toyota Innova (2012)',
 'Toyota Qualis (2002)',
 'Toyota Fortuner (2011)',
 'Toyota Fortuner (2013)',
 'Toyota Qualis (2004)',
 'Toyota Land Cruiser Prado (2009)',
 'Toyota Innova (2009)',
 'Toyota Etios (2016)',
 'Toyota Qualis (2006)',
 'Toyota Innova Crysta (2017)',
 'Toyota Glanza (2020)',
 'Toyota Corolla (2005)',
 'Toyota Hilux (2011)',
 'Toyota Innova (2014)',
 'Toyota Etios (2017)',
 'Toyota Innova (2013)',
 'Toyota Innova (2010)',
 'Toyota Etios (2017)',
 '--',
 'Toyota Urban Cruiser (2021)',
 'Toyota Innova (2014)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2014)',
 'Toyota Land Cruiser (2012)',
 'Toyota Etios Liva (2016)',
 'Toyota Land Cruiser (2017)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2016)',
 'Toyota Etios (2016)',
 'Toyota Innova (2011)',
 'Toyota Innova (2009)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2012)',
 'Toyota Etios (2011)',
 'Toyota Fortuner (2022)',
 'Toyota Innova (2014)',
 'Toyota Etios (2019)',
 'Toyota Innova (2014)',
 'Toyota Innova (2006)',
 'Toyota Innova (2011)',
 'Toyota Fortuner (2013)',
 'Toyota Etios Liva (2012)',
 'Toyota Etios (2014)',
 'Toyota Fortuner (2012)',
 'Toyota Etios (2015)',
 'Toyota Qualis (2001)',
 'Toyota Qualis (2008)',
 'Toyota Etios Liva (2016)',
 'Toyota Innova (2007)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2011)',
 'Toyota Innova (2010)',
 'Toyota Innova (2010)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Glanza (2021)',
 'Toyota Innova Crysta (2020)',
 'Toyota Corolla Altis (2016)',
 'Toyota Etios Liva (2014)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2015)',
 'Toyota Fortuner (2020)',
 'Toyota Camry (2008)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova Crysta (2022)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova (2015)',
 'Toyota Urban Cruiser (2022)',
 'Toyota Innova (2011)',
 'Toyota Fortuner (2017)',
 'Toyota Innova (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2011)',
 'Toyota Fortuner (2015)',
 'Toyota Innova (2012)',
 'Toyota Etios Liva (2016)',
 'Toyota Innova (2007)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2010)',
 'Toyota Fortuner (2012)',
 '--',
 'Toyota Etios Liva (2015)',
 'Toyota Innova Crysta (2017)',
 'Toyota Etios Cross (2014)',
 'Toyota Fortuner (2011)',
 'Toyota Corolla Altis (2014)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova (2008)',
 'Toyota Innova (2013)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2011)',
 'Toyota Innova (2015)',
 'Toyota Fortuner (2020)',
 'Toyota Fortuner (2012)',
 'Toyota Fortuner (2017)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2013)',
 'Toyota Corolla Altis (2014)',
 '--',
 'Toyota Etios Liva (2017)',
 'Toyota Fortuner (2010)',
 'Toyota Etios Liva (2017)',
 'Toyota Fortuner (2017)',
 'Toyota Etios (2017)',
 'Toyota Innova (2010)',
 'Toyota Innova (2013)',
 'Toyota Innova (2013)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2013)',
 'Toyota Corolla Altis (2014)',
 'Toyota Corolla (2007)',
 'Toyota Etios (2011)',
 'Toyota Glanza (2020)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova (2013)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2017)',
 'Toyota Corolla Altis (2015)',
 '--',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova Crysta (2017)',
 'Toyota Corolla Altis (2009)',
 'Toyota Innova (2015)',
 'Toyota Corolla Altis (2009)',
 'Toyota Corolla Altis (2009)',
 'Toyota Etios (2014)',
 'Toyota Innova (2011)',
 'Toyota Innova (2013)',
 'Toyota Innova (2013)',
 'Toyota Fortuner (2012)',
 'Toyota Innova (2015)',
 'Toyota Innova (2011)',
 'Toyota Corolla Altis (2016)',
 'Toyota Fortuner (2016)',
 'Toyota Land Cruiser Prado (2001)',
 'Toyota Camry (2008)',
 'Toyota Fortuner (2022)',
 '--',
 '--',
 'Toyota Fortuner (2010)',
 'Toyota Innova (2009)',
 'Toyota Innova (2012)',
 'Toyota Etios (2015)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova (2013)',
 'Toyota Etios Liva (2013)',
 'Toyota Corolla (2004)',
 'Toyota Innova (2008)',
 'Toyota Etios (2011)',
 'Toyota Fortuner (2015)',
 'Toyota Etios (2013)',
 'Toyota Innova (2008)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova Crysta (2017)',
 'Toyota Urban Cruiser (2020)',
 'Toyota Yaris (2018)',
 'Toyota Urban Cruiser (2021)',
 'Toyota Etios Liva (2017)',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2018)',
 'Toyota Etios (2013)',
 'Toyota Innova (2010)',
 'Toyota Innova (2013)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2015)',
 'Toyota Innova (2012)',
 'Toyota Etios (2013)',
 'Toyota Innova (2008)',
 'Toyota Fortuner (2017)',
 'Toyota Etios Liva (2015)',
 'Toyota Innova (2007)',
 'Toyota Innova (2005)',
 'Toyota Innova (2010)',
 'Toyota Fortuner (2012)',
 'Toyota Corolla Altis (2015)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2013)',
 'Toyota Innova (2012)',
 'Toyota Etios (2012)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2014)',
 'Toyota Etios Liva (2012)',
 'Toyota Fortuner (2018)',
 'Toyota Fortuner (2018)',
 'Toyota Etios (2017)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2021)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2019)',
 'Toyota Corolla Altis (2011)',
 'Toyota Etios (2011)',
 'Toyota Innova Crysta (2020)',
 'Toyota Fortuner (2018)',
 'Toyota Innova (2013)',
 '--',
 'Toyota Corolla Altis (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Yaris (2018)',
 'Toyota Fortuner (2013)',
 'Toyota Yaris (2020)',
 'Toyota Corolla Altis (2011)',
 'Toyota Fortuner (2021)',
 'Toyota Innova (2015)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2012)',
 'Toyota Yaris (2020)',
 'Toyota Innova Crysta (2019)',
 'Toyota Etios (2016)',
 'Toyota Innova (2007)',
 'Toyota Etios Liva (2018)',
 'Toyota Etios (2014)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2014)',
 'Toyota Innova (2008)',
 'Toyota Fortuner (2018)',
 '--',
 'Toyota Etios (2011)',
 'Toyota Fortuner (2014)',
 'Toyota Land Cruiser (2008)',
 'Toyota Innova Crysta (2017)',
 'Toyota Etios (2012)',
 'Toyota Fortuner (2011)',
 'Toyota Innova (2011)',
 'Toyota Innova (2015)',
 'Toyota Innova Crysta (2018)',
 'Toyota Corolla Altis (2009)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2015)',
 'Toyota Camry (2007)',
 'Toyota Fortuner (2014)',
 'Toyota Corolla Altis (2009)',
 'Toyota Innova Crysta (2019)',
 'Toyota Etios (2012)',
 'Toyota Fortuner (2011)',
 'Toyota Fortuner (2015)',
 'Toyota Innova Crysta (2020)',
 'Toyota Corolla Altis (2009)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2011)',
 'Toyota Corolla Altis (2010)',
 'Toyota Corolla Altis (2010)',
 'Toyota Fortuner (2018)',
 'Toyota Innova Crysta (2019)',
 'Toyota Fortuner (2016)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2021)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2011)',
 'Toyota Camry (2016)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2018)',
 '--',
 '--',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2021)',
 'Toyota Innova Crysta (2020)',
 'Toyota Etios (2012)',
 'Toyota Fortuner (2015)',
 'Toyota Etios (2011)',
 'Toyota Innova Crysta (2019)',
 'Toyota Etios (2011)',
 'Toyota Etios Liva (2012)',
 'Toyota Fortuner (2009)',
 'Toyota Etios Liva (2014)',
 'Toyota Etios Liva (2014)',
 'Toyota Innova Crysta (2016)',
 'Toyota Corolla Altis (2009)',
 'Toyota Innova (2015)',
 'Toyota Innova (2015)',
 'Toyota Fortuner (2016)',
 '--',
 '--',
 'Toyota Fortuner (2013)',
 'Toyota Corolla Altis (2011)',
 'Toyota Corolla Altis (2017)',
 'Toyota Etios (2018)',
 'Toyota Corolla Altis (2015)',
 'Toyota Etios (2019)',
 'Toyota Fortuner (2015)',
 'Toyota Fortuner (2017)',
 'Toyota Corolla Altis (2010)',
 'Toyota Corolla Altis (2011)',
 'Toyota Fortuner (2017)',
 'Toyota Corolla Altis (2008)',
 'Toyota Fortuner (2010)',
 'Toyota Etios (2013.0)',
 'Toyota Innova (2009)',
 'Toyota Corolla Altis (2012)',
 'Toyota Etios (2015)',
 '--',
 'Toyota Innova (2010)',
 'Toyota Land Cruiser Prado (2008)',
 'Toyota Innova (2013)',
 'Toyota Innova Crysta (2016)',
 'Toyota Corolla Altis (2015)',
 'Toyota Fortuner (2011)',
 'Toyota Innova (2016.0)',
 'Toyota Etios (2013)',
 'Toyota Innova (2011)',
 'Toyota Etios (2013)',
 'Toyota Etios Liva (2015)',
 'Toyota Etios Liva (2011)',
 'Toyota Innova (2014)',
 'Toyota Innova (2015)',
 'Toyota Innova (2012)',
 'Toyota Glanza (2019)',
 'Toyota Innova (2013)',
 'Toyota Corona (2020)',
 'Toyota Innova (2010)',
 'Toyota Fortuner (2017)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2019)',
 'Toyota Corolla (2003)',
 'Toyota Etios (2019)',
 'Toyota Prado (2012)',
 'Toyota Corolla Altis (2017)',
 'Toyota Innova Crysta (2016)',
 'Toyota Urban Cruiser (2021)',
 'Toyota Etios Liva (2018)',
 'Toyota Innova (2006)',
 'Toyota Etios (2011)',
 'Toyota Land Cruiser Prado (2013)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2014)',
 'Toyota Etios Liva (2013)',
 'Toyota Fortuner (2014)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova Crysta (2018)',
 'Toyota Etios Liva (2015)',
 'Toyota Etios Liva (2014)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova (2011)',
 'Toyota Fortuner (2014)',
 'Toyota Etios Liva (2011)',
 'Toyota Corolla Altis (2016)',
 'Toyota Innova Crysta (2016)',
 'Toyota Etios (2011)',
 'Toyota Fortuner (2012)',
 'Toyota Innova (2015)',
 'Toyota Innova (2013)',
 'Toyota Innova (2012)',
 'Toyota Etios Liva (2011)',
 'Toyota Innova (2016)',
 'Toyota Corolla Altis (2016)',
 'Toyota Land Cruiser Prado (2013)',
 'Toyota Corolla Altis (2008)',
 'Toyota Yaris (2018)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova Crysta (2021)',
 'Toyota Camry (2022)',
 'Toyota Etios Liva (2011)',
 '--',
 'Toyota Innova (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2016)',
 'Toyota Innova (2015)',
 'Toyota Etios Liva (2013)',
 'Toyota Innova (2012)',
 'Toyota Urban Cruiser (2022)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2017)',
 'Toyota Innova Crysta (2017)',
 'Toyota Etios (2013)',
 'Toyota Etios Liva (2013)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2019)',
 'Toyota Etios Liva (2013)',
 '--',
 'Toyota Corolla Altis (2009)',
 'Toyota Fortuner (2020)',
 'Toyota Fortuner (2017)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2015)',
 'Toyota Fortuner (2013)',
 'Toyota Corolla Altis (2009)',
 'Toyota Innova (2010)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2012)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova Crysta (2017)',
 'Toyota Etios (2011)',
 'Toyota Corolla Altis (2012)',
 'Toyota Etios (2012)',
 'Toyota Innova Crysta (2016)',
 'Toyota Fortuner (2018)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2014)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2019)',
 'Toyota Etios Liva (2012)',
 'Toyota Innova (2015)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2013)',
 'Toyota Etios (2011)',
 'Toyota Etios Cross (2015)',
 'Toyota Innova Crysta (2018)',
 'Toyota Fortuner (2012)',
 'Toyota Innova (2009)',
 'Toyota Etios (2011)',
 'Toyota Innova (2011)',
 'Toyota Innova (2012)',
 'Toyota Innova (2012)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2014)',
 'Toyota Etios Cross (2015)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2013)',
 'Toyota Innova (2017)',
 'Toyota Fortuner (2014)',
 'Toyota Etios (2016)',
 'Toyota Innova (2014)',
 'Toyota Etios (2011)',
 'Toyota Etios (2015)',
 'Toyota Etios (2018)',
 'Toyota Urban Cruiser (2021)',
 'Toyota Innova (2013)',
 'Toyota Etios (2011)',
 'Toyota Innova (2012)',
 'Toyota Innova (2014)',
 'Toyota Corolla Altis (2010)',
 'Toyota Innova (2014)',
 'Toyota Corolla Altis (2008)',
 'Toyota Innova (2016)',
 'Toyota Corolla Altis (2015)',
 'Toyota Innova Crysta (2018)',
 '--',
 'Toyota Innova Crysta (2021)',
 'Toyota Fortuner (2021)',
 'Toyota Corolla Altis (2016)',
 'Toyota Fortuner (2013)',
 'Toyota Glanza (2019)',
 'Toyota Fortuner (2014)',
 'Toyota Innova (2012)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2021)',
 'Toyota Innova (2006)',
 'Toyota Fortuner (2017)',
 'Toyota Fortuner (2017)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2017)',
 'Toyota Innova (2010)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova (2014)',
 'Toyota Innova Crysta (2016)',
 'Toyota Corolla Altis (2008)',
 'Toyota Corolla Altis (2011)',
 'Toyota Innova (2005)',
 'Toyota Etios (2014)',
 'Toyota Corolla (2007)',
 'Toyota Corolla Altis (2009)',
 'Toyota Corolla Altis (2015)',
 'Toyota Fortuner (2019)',
 'Toyota Innova (2014)',
 'Toyota Corolla Altis (2013)',
 'Toyota Innova (2012)',
 'Toyota Innova (2014)',
 'Toyota Corolla Altis (2011)',
 'Toyota Innova (2013)',
 'Toyota Corolla Altis (2013)',
 'Toyota Etios (2012)',
 'Toyota Innova (2011)',
 'Toyota Etios (2015)',
 'Toyota Land Cruiser (2016)',
 '--',
 'Toyota Yaris (2020)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova (2015)',
 'Toyota Innova (2011)',
 'Toyota Innova Crysta (2020)',
 'Toyota Etios Liva (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Camry (2016)',
 'Toyota Corolla Altis (2014)',
 'Toyota Fortuner (2015)',
 '--',
 'Toyota Corolla (2003)',
 'Toyota Corolla Altis (2014)',
 'Toyota Fortuner (2015)',
 'Toyota Fortuner (2012)',
 'Toyota Innova Crysta (2019)',
 'Toyota Qualis (2003)',
 'Toyota Corolla Altis (2018)',
 'Toyota Innova (2005)',
 'Toyota Etios Liva (2016)',
 'Toyota Innova (2013)',
 'Toyota Qualis (2004)',
 'Toyota Fortuner (2019)',
 'Toyota Fortuner (2018)',
 'Toyota Corolla Altis (2015)',
 'Toyota Fortuner (2014)',
 'Toyota Innova Crysta (2016)',
 'Toyota Fortuner (2011)',
 'Toyota Urban Cruiser (2022)',
 'Toyota Innova (2015)',
 'Toyota Corolla Altis (2015)',
 'Toyota Fortuner (2018)',
 'Toyota Innova Crysta (2017)',
 'Toyota Etios (2011)',
 'Toyota Innova (2012)',
 'Toyota Camry (2022)',
 'Toyota Camry (2020)',
 'Toyota Etios Liva (2017)',
 'Toyota Etios Liva (2017)',
 'Toyota Etios (2011)',
 'Toyota Innova (2015)',
 'Toyota Fortuner (2016)',
 'Toyota Fortuner (2010)',
 'Toyota Fortuner (2012)',
 'Toyota Innova (2015)',
 'Toyota Etios (2013)',
 'Toyota Fortuner (2015)',
 'Toyota Etios (2016)',
 'Toyota Yaris (2018)',
 'Toyota Innova (2013)',
 'Toyota Glanza (2019)',
 'Toyota Fortuner (2017)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova (2016)',
 'Toyota Innova (2010)',
 'Toyota Fortuner (2018)',
 'Toyota Corolla Altis (2018)',
 'Toyota Fortuner (2020)',
 'Toyota Etios (2015)',
 '--',
 'Toyota Qualis (2002)',
 'Toyota Innova (2006)',
 'Toyota Innova (2012)',
 'Toyota Etios Liva (2014)',
 'Toyota Fortuner (2012)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2011)',
 'Toyota Etios (2012)',
 'Toyota Corolla (2010)',
 'Toyota Innova (2013)',
 'Toyota Fortuner (2018)',
 'Toyota Corolla Altis (2010)',
 'Toyota Glanza (2019)',
 'Toyota Innova (2008)',
 'Toyota Corolla Altis (2016)',
 'Toyota Fortuner (2019)',
 'Toyota Fortuner (2019)',
 'Toyota Etios Liva (2012)',
 '--',
 'Toyota Etios Liva (2014)',
 'Toyota Fortuner (2011)',
 'Toyota Fortuner (2011)',
 'Toyota Innova Crysta (2021)',
 'Toyota Etios (2015)',
 'Toyota Innova (2008)',
 'Toyota Corolla Altis (2009)',
 'Toyota Fortuner (2019)',
 'Toyota Fortuner (2019)',
 'Toyota Etios Liva (2016)',
 'Toyota Etios (2017)',
 'Toyota Etios (2012)',
 'Toyota Etios Liva (2011)',
 'Toyota Fortuner (2014)',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2019)',
 'Toyota Corolla Altis (2010)',
 'Toyota Innova (2008)',
 'Toyota Corolla Altis (2009)',
 'Toyota Etios Liva (2015)',
 'Toyota Innova Crysta (2017)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova (2004)',
 'Toyota Innova Crysta (2016)',
 'Toyota Corolla Altis (2016)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2008)',
 'Toyota Etios Cross (2018)',
 'Toyota Innova Crysta (2019)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2006)',
 'Toyota Innova Crysta (2016)',
 'Toyota Fortuner (2017)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova Crysta (2020)',
 'Toyota Innova (2007)',
 'Toyota Fortuner (2011)',
 'Toyota Innova Crysta (2018)',
 '--',
 'Toyota Corolla Altis (2009)',
 'Toyota Fortuner (2015)',
 'Toyota Innova (2013)',
 'Toyota Etios (2011)',
 'Toyota Fortuner (2020)',
 'Toyota Innova Crysta (2021)',
 'Toyota Innova Crysta (2020)',
 'Toyota Fortuner (2013)',
 'Toyota Fortuner (2014)',
 'Toyota Innova Crysta (2016)',
 'Toyota Innova (2008)',
 'Toyota Fortuner (2012)',
 'Toyota Etios (2011)',
 'Toyota Innova (2013)',
 '--',
 'Toyota Innova Crysta (2017)',
 'Toyota Corolla Altis (2008)',
 'Toyota Innova (2015)',
 'Toyota Fortuner (2013)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2017)',
 'Toyota Etios Liva (2015)',
 'Toyota Fortuner (2017)',
 'Toyota Etios (2012)',
 'Toyota Innova Crysta (2019)',
 'Toyota Fortuner (2011)',
 'Toyota Innova (2009)',
 'Toyota Qualis (2002)',
 'Toyota Innova (2010)',
 'Toyota Camry (2009)',
 'Toyota Qualis (2000)',
 'Toyota Innova (2013)',
 'Toyota Innova (2015)',
 'Toyota Innova (2013)',
 'Toyota Etios (2014)',
 'Toyota Qualis (2002)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2019)',
 'Toyota Etios (2012)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova Crysta (2020)',
 'Toyota Innova Crysta (2019)',
 'Toyota Etios (2013)',
 'Toyota Innova (2013)',
 'Toyota Innova (2005)',
 'Toyota Innova (2015)',
 'Toyota Innova Crysta (2019)',
 'Toyota Innova (2013)',
 'Toyota Qualis (2003)',
 'Toyota Corolla Altis (2013)',
 'Toyota Land Cruiser Prado (2011)',
 'Toyota Innova Crysta (2017)',
 'Toyota Fortuner (2017)',
 'Toyota Innova (2013)',
 'Toyota Fortuner (2018)',
 'Toyota Corolla Altis (2012)',
 'Toyota Fortuner (2013)',
 'Toyota Fortuner (2013)',
 'Toyota Innova (2008)',
 'Toyota Innova (2013)',
 'Toyota Innova (2013)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova (2008)',
 'Toyota Innova (2012)',
 'Toyota Etios (2011)',
 'Toyota Fortuner (2017)',
 'Toyota Etios (2013)',
 'Toyota Fortuner (2022)',
 'Toyota Fortuner (2022)',
 'Toyota Fortuner (2022)',
 'Toyota Fortuner (2011)',
 'Toyota Etios Liva (2019)',
 'Toyota Fortuner (2013)',
 'Toyota Etios Liva (2014)',
 'Toyota Innova Crysta (2018)',
 'Toyota Innova Crysta (2018)',
 'Toyota Crown (1996)',
 'Toyota Innova (2012)',
 'Toyota Innova (2012)',
 'Toyota Innova (2015)',

In [68]:
b = df['Brand'].str[0:6]
b

0      Toyota
1      Toyota
2      Toyota
3      Toyota
4      Toyota
        ...
986    Toyota
987    Toyota
988    Toyota
989    Toyota
990    Toyota
Name: Brand, Length: 991, dtype: object

In [73]:
c = df['Brand'].str[7:-7]
c

0      Innova Crysta
1      Innova Crysta
2           Fortuner
3      Innova Crysta
4              Etios
           ...
986           Glanza
987         Fortuner
988          Corolla
989         Fortuner
990            Etios
Name: Brand, Length: 991, dtype: object

In [74]:
d = df['Brand'].str[-5:-1]
d

0      2018
1      2017
2      2017
3      2016
4      2014
       ...
986    2021
987    2013
988    2004
989    2013
990    2013
Name: Brand, Length: 991, dtype: object

In [75]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0            1          2
0    PETROL     38416 KM  AUTOMATIC
1    DIESEL  125000.0 KM     MANUAL
2    DIESEL    9500.0 KM     MANUAL
3    DIESEL   145,000 KM  AUTOMATIC
4    DIESEL   186,000 KM     MANUAL
..      ...          ...        ...
986  PETROL   13000.0 KM     MANUAL
987  DIESEL   87000.0 KM     MANUAL
988  PETROL   13400.0 KM     MANUAL
989  DIESEL    89,000 KM  AUTOMATIC
990  PETROL   55665.0 KM     MANUAL

[991 rows x 3 columns]

In [76]:
k = e[1].str[:-3]
k

0         38416
1      125000.0
2        9500.0
3       145,000
4       186,000
         ...
986     13000.0
987     87000.0
988     13400.0
989      89,000
990     55665.0
Name: 1, Length: 991, dtype: object

In [77]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8
0,Raheja Mall,Sohna Rd D1 block,Malibu Town,Sector 47,Gurugram,Gurugram,Haryana\nGet Directions,None,None
1,Yelahanka,Bengaluru,Karnataka,None,None,None,None,None,None
2,Sector 31,Noida,Uttar Pradesh,None,None,None,None,None,None
3,Ramapuram,Palai,Kerala,None,None,None,None,None,None
4,Parappanangadi,Neduva,Kerala,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
986,Fatima Nagar,Pune,Maharashtra,None,None,None,None,None,None
987,Saket,Delhi,Delhi,None,None,None,None,None,None
988,Masab Tank,Hyderabad,Telangana,None,None,None,None,None,None
989,DLF City Phase 2,Gurgaon,Haryana,None,None,None,None,None,None
990,Akurdi,Pune,Maharashtra,None,None,None,None,None,None

In [78]:
p = df['Price'].str.split(pat='₹',expand = True)
p

    0            1
0        15,82,709
1        18,45,000
2        29,90,000
3        19,10,000
4         4,99,000
..  ..         ...
986       7,95,000
987      12,00,000
988       1,80,000
989      11,75,000
990       4,30,000

[991 rows x 2 columns]

In [79]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Toyota,2.7 GX AT,PETROL,First,Malibu Town,"15,82,709",Innova Crysta,2018,38416,AUTOMATIC
1,Toyota,2.4 VX MT,DIESEL,2nd,Karnataka,"18,45,000",Innova Crysta,2017,125000.0,MANUAL
2,Toyota,2.8 2WD MT,DIESEL,1st,Uttar Pradesh,"29,90,000",Fortuner,2017,9500.0,MANUAL
3,Toyota,2.8 ZX AT,DIESEL,2nd,Kerala,"19,10,000",Innova Crysta,2016,"145,000",AUTOMATIC
4,Toyota,1.5 High,DIESEL,3rd,Kerala,"4,99,000",Etios,2014,"186,000",MANUAL
...,...,...,...,...,...,...,...,...,...,...
986,Toyota,G,PETROL,1st,Maharashtra,"7,95,000",Glanza,2021,13000.0,MANUAL
987,Toyota,2011-2016 4x2 Manual,DIESEL,2nd,Delhi,"12,00,000",Fortuner,2013,87000.0,MANUAL
988,Toyota,H2 1.8E,PETROL,3rd,Telangana,"1,80,000",Corolla,2004,13400.0,MANUAL
989,Toyota,2011-2016 4x2 AT,DIESEL,2nd,Haryana,"11,75,000",Fortuner,2013,"89,000",AUTOMATIC
990,Toyota,G SP*,PETROL,1st,Maharashtra,"4,30,000",Etios,2013,55665.0,MANUAL

In [80]:
df['Brand'].value_counts()

Toyota    959
--         32
Name: Brand, dtype: int64

In [81]:
print(df[df['Brand'] == '--'].index.values)

[ 24  37  74 141 160 180 200 201 260 282 320 321 340 341 359 421 439 499
 538 550 599 618 658 673 779 835 855 896 913 914 935 972]

In [82]:
df.drop(index=[24,37,74,141,160,180,200,201,260,282,320,321,340,341,359,421,439,499,
 538,550,599,618,658,673,779,835,855,896,913,914,935,972],inplace=True,axis=0)

In [83]:
df['Brand'].value_counts()

Toyota    959
Name: Brand, dtype: int64

In [84]:
df['Fuel'].value_counts()

DIESEL                           730
PETROL                           190
CNG & HYBRIDS                     23
--                                 9
CNG                                4
PETROL/COMPRESSED NATURAL GAS      2
ELECTRIC                           1
Name: Fuel, dtype: int64

In [85]:
print(df[df['Fuel'] == '--'].index.values)

[ 70 569 715 818 856 892 945 958 961]

In [86]:
df.drop(index=[70,569,715,818,856,892,945,958,961],inplace=True,axis=0)

In [87]:
df['Fuel'].value_counts()

DIESEL                           730
PETROL                           190
CNG & HYBRIDS                     23
CNG                                4
PETROL/COMPRESSED NATURAL GAS      2
ELECTRIC                           1
Name: Fuel, dtype: int64

In [88]:
df['Owner'].value_counts()

1st       519
2nd       253
3rd        64
--         34
First      27
Second     19
4th        13
4+          9
Third       8
Fourth      4
Name: Owner, dtype: int64

In [90]:
print(df[df['Owner'] == '--'].index.values)

[ 16 100 103 119 202 244 258 318 355 362 366 407 408 470 495 510 535 556
 570 595 596 610 613 631 689 702 703 757 758 785 846 870 940 942]

In [91]:
df.drop(index=[16,100,103,119,202,244,258,318,355,362,366,407,408,470,495,510,535,556,
 570,595,596,610,613,631,689,702,703,757,758,785,846,870,940,942],inplace=True,axis=0)

In [92]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')
df['Owner'] = df['Owner'].replace('Fourth','4th')

In [93]:
df['Owner'].value_counts()

1st    546
2nd    272
3rd     72
4th     17
4+       9
Name: Owner, dtype: int64

In [94]:
df['Transmission'].value_counts()

MANUAL       655
AUTOMATIC    234
--            27
Name: Transmission, dtype: int64

In [95]:
print(df[df['Transmission'] == '--'].index.values)

[ 30  34  35  36  63 210 233 265 266 329 330 354 356 454 492 523 636 717
 749 777 787 792 810 811 836 891 978]

In [96]:
df.drop(index=[30,34,35,36,63,210,233,265,266,329,330,354,356,454,492,523,636,717,
 749,777,787,792,810,811,836,891,978],inplace=True,axis=0)

In [97]:
df['Transmission'].value_counts()

MANUAL       655
AUTOMATIC    234
Name: Transmission, dtype: int64

In [98]:
df['Model'].value_counts()

Innova                210
Fortuner              208
Innova Crysta         156
Etios                  88
Corolla Altis          75
Etios Liva             55
Qualis                 17
Camry                  13
Corolla                13
Glanza                 12
Urban Cruiser          11
Yaris                   7
Land Cruiser Prado      6
Land Cruiser            6
Etios Cross             4
Crown                   2
Platinum Etios          1
Hilux                   1
Corona                  1
Prado                   1
Sera                    1
Commuter                1
Name: Model, dtype: int64

In [99]:
df['Year'].value_counts()

2013    102
2017     94
2012     83
2014     80
2011     76
2015     71
2018     64
2016     63
2019     49
2010     33
2020     29
2009     29
2008     27
2021     25
2022     12
2006     11
2007     11
2004      7
2005      7
2002      6
2001      4
2003      4
1994      1
1996      1
Name: Year, dtype: int64

In [100]:
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Toyota,2.7 GX AT,PETROL,1st,Malibu Town,"15,82,709",Innova Crysta,2018,38416,AUTOMATIC
1,Toyota,2.4 VX MT,DIESEL,2nd,Karnataka,"18,45,000",Innova Crysta,2017,125000.0,MANUAL
2,Toyota,2.8 2WD MT,DIESEL,1st,Uttar Pradesh,"29,90,000",Fortuner,2017,9500.0,MANUAL
3,Toyota,2.8 ZX AT,DIESEL,2nd,Kerala,"19,10,000",Innova Crysta,2016,"145,000",AUTOMATIC
4,Toyota,1.5 High,DIESEL,3rd,Kerala,"4,99,000",Etios,2014,"186,000",MANUAL
...,...,...,...,...,...,...,...,...,...,...
986,Toyota,G,PETROL,1st,Maharashtra,"7,95,000",Glanza,2021,13000.0,MANUAL
987,Toyota,2011-2016 4x2 Manual,DIESEL,2nd,Delhi,"12,00,000",Fortuner,2013,87000.0,MANUAL
988,Toyota,H2 1.8E,PETROL,3rd,Telangana,"1,80,000",Corolla,2004,13400.0,MANUAL
989,Toyota,2011-2016 4x2 AT,DIESEL,2nd,Haryana,"11,75,000",Fortuner,2013,"89,000",AUTOMATIC
990,Toyota,G SP*,PETROL,1st,Maharashtra,"4,30,000",Etios,2013,55665.0,MANUAL

In [101]:
df.to_excel("car_6.xlsx")

In [5]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_ford'
driver.get(url)

In [6]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [7]:
len(link)

494

In [8]:
driver.get(link[0])

In [9]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [11]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,--,--,--,--,--,--
1,Ford Mustang (2018),V8,PETROL\n20000.0 KM\nAUTOMATIC,1st,"Kilpauk, Chennai, Tamil Nadu","₹ 79,90,000"
2,Ford Endeavour (2018),3.2 Titanium AT 4X4,DIESEL\n170000.0 KM\nAUTOMATIC,1st,"Venktagiri Nagar, Hyderabad, Telangana","₹ 25,00,000"
3,Ford Fiesta (2007),2004-2010 1.4 Duratec ZXI,DIESEL\n20000 KM\nMANUAL,Second,"Akkur, Ramanagara, Karnataka","₹ 1,60,000"
4,Ford Fiesta (2007),2004-2010 1.4 TDCi EXI,DIESEL\n30000 KM\nMANUAL,Third,"Menakshi Puram Near rama Chandra Puram, Madura...","₹ 1,40,000"
...,...,...,...,...,...,...
489,Ford Ecosport (2018),1.5 TDCi Titanium,DIESEL\n33029.0 KM\nMANUAL,1st,"Dwarka, Delhi, Delhi","₹ 9,81,118"
490,Ford Ecosport (2019),,PETROL\n29000.0 KM\nMANUAL,1st,"Parudeesa Colony, Aluva, Kerala","₹ 8,20,000"
491,Ford Ecosport (2018),1.5 Petrol Titanium Plus AT,PETROL\n30000.0 KM\nAUTOMATIC,1st,"Santacruz West, Mumbai, Maharashtra","₹ 8,55,111"
492,Ford Figo Aspire (2019),1.5 TDCi Trend,DIESEL\n61000.0 KM\nMANUAL,1st,"Chiku Vadi, Surat, Gujarat","₹ 5,90,000"
493,Ford Figo (2013),2012-2015 Diesel ZXI,DIESEL\n80000.0 KM\nMANUAL,1st,"Raja Park, Jaipur, Rajasthan","₹ 1,95,000"

In [13]:
b = df['Brand'].str[0:4]
b

0        --
1      Ford
2      Ford
3      Ford
4      Ford
       ...
489    Ford
490    Ford
491    Ford
492    Ford
493    Ford
Name: Brand, Length: 494, dtype: object

In [18]:
c = df['Brand'].str[5:-7]
c

0
1          Mustang
2        Endeavour
3           Fiesta
4           Fiesta
          ...
489       Ecosport
490       Ecosport
491       Ecosport
492    Figo Aspire
493           Figo
Name: Brand, Length: 494, dtype: object

In [19]:
d = df['Brand'].str[-5:-1]
d

0         -
1      2018
2      2018
3      2007
4      2007
       ...
489    2018
490    2019
491    2018
492    2019
493    2013
Name: Brand, Length: 494, dtype: object

In [20]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0            1          2
0        --         None       None
1    PETROL   20000.0 KM  AUTOMATIC
2    DIESEL  170000.0 KM  AUTOMATIC
3    DIESEL     20000 KM     MANUAL
4    DIESEL     30000 KM     MANUAL
..      ...          ...        ...
489  DIESEL   33029.0 KM     MANUAL
490  PETROL   29000.0 KM     MANUAL
491  PETROL   30000.0 KM  AUTOMATIC
492  DIESEL   61000.0 KM     MANUAL
493  DIESEL   80000.0 KM     MANUAL

[494 rows x 3 columns]

In [21]:
k = e[1].str[:-3]
k

0          None
1       20000.0
2      170000.0
3         20000
4         30000
         ...
489     33029.0
490     29000.0
491     30000.0
492     61000.0
493     80000.0
Name: 1, Length: 494, dtype: object

In [22]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8,9
0,--,None,None,None,None,None,None,None,None,None
1,Kilpauk,Chennai,Tamil Nadu,None,None,None,None,None,None,None
2,Venktagiri Nagar,Hyderabad,Telangana,None,None,None,None,None,None,None
3,Akkur,Ramanagara,Karnataka,None,None,None,None,None,None,None
4,Menakshi Puram Near rama Chandra Puram,Madurai,Tamil Nadu,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
489,Dwarka,Delhi,Delhi,None,None,None,None,None,None,None
490,Parudeesa Colony,Aluva,Kerala,None,None,None,None,None,None,None
491,Santacruz West,Mumbai,Maharashtra,None,None,None,None,None,None,None
492,Chiku Vadi,Surat,Gujarat,None,None,None,None,None,None,None
493,Raja Park,Jaipur,Rajasthan,None,None,None,None,None,None,None

In [23]:
p = df['Price'].str.split(pat='₹',expand = True)
p

      0           1
0    --        None
1         79,90,000
2         25,00,000
3          1,60,000
4          1,40,000
..   ..         ...
489        9,81,118
490        8,20,000
491        8,55,111
492        5,90,000
493        1,95,000

[494 rows x 2 columns]

In [24]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,--,--,--,--,None,None,,-,None,None
1,Ford,V8,PETROL,1st,Tamil Nadu,"79,90,000",Mustang,2018,20000.0,AUTOMATIC
2,Ford,3.2 Titanium AT 4X4,DIESEL,1st,Telangana,"25,00,000",Endeavour,2018,170000.0,AUTOMATIC
3,Ford,2004-2010 1.4 Duratec ZXI,DIESEL,Second,Karnataka,"1,60,000",Fiesta,2007,20000,MANUAL
4,Ford,2004-2010 1.4 TDCi EXI,DIESEL,Third,Tamil Nadu,"1,40,000",Fiesta,2007,30000,MANUAL
...,...,...,...,...,...,...,...,...,...,...
489,Ford,1.5 TDCi Titanium,DIESEL,1st,Delhi,"9,81,118",Ecosport,2018,33029.0,MANUAL
490,Ford,,PETROL,1st,Kerala,"8,20,000",Ecosport,2019,29000.0,MANUAL
491,Ford,1.5 Petrol Titanium Plus AT,PETROL,1st,Maharashtra,"8,55,111",Ecosport,2018,30000.0,AUTOMATIC
492,Ford,1.5 TDCi Trend,DIESEL,1st,Gujarat,"5,90,000",Figo Aspire,2019,61000.0,MANUAL
493,Ford,2012-2015 Diesel ZXI,DIESEL,1st,Rajasthan,"1,95,000",Figo,2013,80000.0,MANUAL

In [25]:
df['Brand'].value_counts()

Ford    469
--       24
Maru      1
Name: Brand, dtype: int64

In [26]:
print(df[df['Brand'] == '--'].index.values)

[  0  12  22  42  79  80 101 119 120 140 162 177 214 241 279 299 317 338
 358 378 445 452 456 484]

In [28]:
df['Brand'].value_counts()

Ford    469
Maru      1
Name: Brand, dtype: int64

In [29]:
print(df[df['Brand'] == 'Maru'].index.values)

[143]

In [31]:
df.drop(index=143,inplace=True,axis=0)

In [32]:
df['Brand'].value_counts()

Ford    469
Name: Brand, dtype: int64

In [33]:
df['Fuel'].value_counts()

DIESEL           331
PETROL           131
--                 4
CNG & HYBRIDS      3
Name: Fuel, dtype: int64

In [35]:
print(df[df['Fuel'] == '--'].index.values)

[  9  45  51 318]

In [36]:
df.drop(index=[9,45,51,318],inplace=True,axis=0)

In [37]:
df['Owner'].value_counts()

1st       274
2nd       109
Second     20
3rd        17
First      13
--         12
Third      11
Fourth      4
4th         3
4+          2
Name: Owner, dtype: int64

In [38]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')
df['Owner'] = df['Owner'].replace('Fourth','4th')

In [39]:
print(df[df['Owner'] == '--'].index.values)

[ 70  76  96 116 127 129 173 211 326 405 425 481]

In [40]:
df.drop(index=[70,76,96,116,127,129,173,211,326,405,425,481],inplace=True,axis=0)

In [41]:
df['Owner'].value_counts()

1st    287
2nd    129
3rd     28
4th      7
4+       2
Name: Owner, dtype: int64

In [42]:
df['Transmission'].value_counts()

MANUAL       367
AUTOMATIC     78
--             8
Name: Transmission, dtype: int64

In [43]:
print(df[df['Transmission'] == '--'].index.values)

[ 61 152 306 402 406 424 427 434]

In [44]:
df.drop(index=[61,152,306,402,406,424,427,434],inplace=True,axis=0)

In [45]:
df['Transmission'].value_counts()

MANUAL       367
AUTOMATIC     78
Name: Transmission, dtype: int64

In [46]:
df['Variant'].value_counts()

1.5 TDCi Titanium            45
3.2 Titanium AT 4X4          27
1.5 TDCi Trend               18
1.5 Diesel Titanium          18
1.5 Diesel Titanium Plus     15
                             ..
2008-2011 1.6 ZXi Leather     1
Ambiente Diesel               1
1.6 ZXI NXt                   1
1.2P Ambiente ABS MT          1
Titanium Plus 4X2             1
Name: Variant, Length: 129, dtype: int64

In [47]:
df['Model'].value_counts()

Ecosport          179
Figo              111
Endeavour          52
Fiesta             49
Figo Aspire        16
Ikon               11
Fiesta Classic      9
Aspire              6
Freestyle           6
Mustang             4
Classic             2
Name: Model, dtype: int64

In [48]:
df['Year'].value_counts()

2014    49
2015    48
2017    45
2018    44
2012    44
2013    43
2016    39
2011    34
2010    27
2019    26
2007     9
2009     9
2008     8
2020     7
2021     4
2005     2
2006     2
2000     2
2004     2
1999     1
Name: Year, dtype: int64

In [49]:
df.to_excel("car_7.xlsx")

In [5]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_volkswagen'
driver.get(url)

In [6]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [7]:
link

['https://www.olx.in/item/volkswagen-vento-15-tdi-highline-plus-2016-petrol-iid-1700901421',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2017-petrol-iid-1703218464',
 'https://www.olx.in/item/volkswagen-vento-2015-diesel-88200-km-driven-iid-1699838959',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-comfortline-12l-2011-diesel-iid-1701874265',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-petrol-comfortline-12l-2012-petrol-iid-1701349029',
 'https://www.olx.in/item/vento-top-modal-automatic-iid-1703857167',
 'https://www.olx.in/item/volkswagen-vento-2014-diesel-good-condition-iid-1703856607',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-comfortline-2011-diesel-iid-1700416785',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2015-diesel-iid-1693845248',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-comfortline-2013-diesel-iid-1672545895',
 'https://www.olx.in/item/volkswagen-vento-sport-15-tdi-at-2015-diesel-iid-1697282964',
 'https://www.olx.in/item/volkswagen-ameo-15-tdi-comfortline-2017-diesel-iid-1695636257',
 'https://www.olx.in/item/volkswagen-vento-2011-petrol-iid-1703856111',
 'https://www.olx.in/item/volkswagen-polo-gti-2019-petrol-well-maintained-iid-1703855552',
 'https://www.olx.in/item/volkswagen-polo-2013-petrol-good-condition-iid-1703855492',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-ipl-ii-12-diesel-highline-2012-diesel-iid-1703661963',
 'https://www.olx.in/item/volkswagen-vento-16-highline-2011-diesel-iid-1700052818',
 'https://www.olx.in/item/volkswagen-vento-16-highline-2010-petrol-iid-1699182855',
 'https://www.olx.in/item/volkswagen-jetta-20l-tdi-comfortline-2013-diesel-iid-1685348904',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-gt-tsi-2013-petrol-iid-1681084037',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-diesel-highline-2011-diesel-iid-1703646092',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2011-diesel-iid-1698865364',
 'https://www.olx.in/item/volkswagen-polo-others-2016-petrol-iid-1696227577',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-plus-2018-diesel-iid-1698416593',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-anniversary-edition-2011-petrol-iid-1701740114',
 'https://www.olx.in/item/volkswagen-passat-2010-2014-diesel-comfortline-20-tdi-2014-diesel-iid-1703854444',
 'https://www.olx.in/item/volkswagen-polo-2013-diesel-iid-1703854041',
 'https://www.olx.in/item/volkswagen-jetta-20-tdi-comfortline-2013-diesel-iid-1703853804',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2013-petrol-iid-1703121268',
 'https://www.olx.in/item/volkswagen-jetta-highline-tdi-2011-diesel-iid-1702412478',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-comfortline-12l-2012-diesel-iid-1701738038',
 'https://www.olx.in/item/volkswagen-vento-12-tsi-highline-at-2015-petrol-iid-1689939643',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-diesel-comfortline-2012-diesel-iid-1703121242',
 'https://www.olx.in/item/volkswagen-polo-select-12-mpi-highline-2017-petrol-iid-1698416090',
 'https://www.olx.in/item/volkswagen-vento-16-comfortline-2011-petrol-iid-1701220622',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2016-petrol-iid-1703853397',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-at-2015-diesel-iid-1679070571',
 'https://www.olx.in/item/volkswagen-beetle-2-2011-petrol-iid-1697522072',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-sport-edition-2020-petrol-iid-1697594182',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2016-petrol-iid-1699389957',
 'https://www.olx.in/item/volkswagen-vento-12-tsi-highline-2016-petrol-iid-1701807966',
 'https://www.olx.in/item/volkswagen-vento-16-trendline-2010-petrol-iid-1703053811',
 'https://www.olx.in/item/volkswagen-jetta-20l-tdi-highline-at-2016-diesel-iid-1702808009',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2016-petrol-iid-1701163758',
 'https://www.olx.in/item/volkswagen-ameo-highline-iid-1699535018',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-at-2013-petrol-iid-1701548829',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-comfortline-2015-diesel-iid-1701069650',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-2011-diesel-iid-1697581970',
 'https://www.olx.in/item/volkswagen-vento-16-highline-2016-petrol-iid-1703835433',
 'https://www.olx.in/item/volkswagen-vento-2011-diesel-well-maintained-iid-1699395144',
 'https://www.olx.in/item/volkswagen-vento-2019-diesel-65000-km-driven-iid-1703834991',
 'https://www.olx.in/item/need-polo-on-emi-loan-iid-1703834977',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2011-diesel-iid-1695647529',
 'https://www.olx.in/item/volkswagen-ameo-12-mpi-highline-plus-2016-petrol-iid-1701187416',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-petrol-comfortline-12l-2012-petrol-iid-1703834264',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-trendline-2017-diesel-iid-1684255630',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2012-diesel-iid-1699022796',
 'https://www.olx.in/item/volkswagen-vento-2013-2015-15-tdi-highline-2013-diesel-iid-1700396514',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-highline-plus-2016-petrol-iid-1693176582',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-highline-2017-petrol-iid-1703542964',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2017-petrol-iid-1700726569',
 'https://www.olx.in/item/volkswagen-vento-12-tsi-highline-at-2016-petrol-iid-1694856224',
 'https://www.olx.in/item/volkswagen-polo-2017-petrol-iid-1702732778',
 'https://www.olx.in/item/volkswagen-jetta-20-tdi-trendline-2011-diesel-iid-1703833532',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-plus-2016-diesel-iid-1703833244',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-12-mpi-comfortline-2015-petrol-iid-1703832749',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2016-petrol-iid-1703832587',
 'https://www.olx.in/item/volkswagen-polo-2013-diesel-136000-km-driven-iid-1703832367',
 'https://www.olx.in/item/volkswagen-jetta-20l-tdi-comfortline-2014-diesel-iid-1703832196',
 'https://www.olx.in/item/volkswagen-ameo-2016-diesel-good-condition-iid-1703832105',
 'https://www.olx.in/item/volkswagen-polo-2014-petrol-good-condition-iid-1703832002',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-petrol-trendline-12l-2011-petrol-iid-1703097851',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2010-petrol-iid-1698399511',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2018-petrol-iid-1689278771',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-sport-edition-2016-petrol-iid-1699544813',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2013-petrol-iid-1703831826',
 'https://www.olx.in/item/volkswagen-vento-2012-16l-highline-diesel-iid-1703831514',
 'https://www.olx.in/item/volkswagen-passat-2010-2014-diesel-comfortline-20-tdi-2014-diesel-iid-1703830592',
 'https://www.olx.in/item/volkswagen-polo-10-mpi-comfortline-2018-petrol-iid-1701064500',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-at-2016-diesel-iid-1699019113',
 'https://www.olx.in/item/volkswagen-taigun-10-tsi-highline-at-2022-petrol-iid-1697613737',
 'https://www.olx.in/item/volkswagen-vento-2013-2015-16-highline-2012-diesel-iid-1700028197',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2016-petrol-iid-1689479744',
 'https://www.olx.in/item/volkswagen-polo-2016-diesel-iid-1697087599',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2010-diesel-iid-1703081630',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-2015-diesel-iid-1693811300',
 'https://www.olx.in/item/volkswagen-ameo-12-mpi-comfortline-2016-petrol-iid-1675786899',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-highline-2016-petrol-iid-1689587099',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-at-2013-cng-hybrids-iid-1697494023',
 'https://www.olx.in/item/volkswagen-vento-2013-diesel-iid-1703816577',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2017-petrol-iid-1703816417',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-trendline-2017-petrol-iid-1701300128',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-at-2016-diesel-iid-1703815615',
 'https://www.olx.in/item/volkswagen-polo-petrol-12800-km-driven-excellent-condition-iid-1699455644',
 'https://www.olx.in/item/volkswagen-vento-12-tsi-highline-at-2017-petrol-iid-1699531131',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-at-2015-diesel-iid-1701312845',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2010-diesel-iid-1684240914',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2011-diesel-iid-1697767168',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-comfortline-2015-diesel-iid-1691858052',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2016-petrol-iid-1698485425',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2013-petrol-iid-1702761400',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-15-tdi-comfortline-2018-diesel-iid-1698499848',
 'https://www.olx.in/item/volkswagen-polo-2017-petrol-iid-1702732209',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2016-diesel-iid-1703078499',
 'https://www.olx.in/item/volkswagen-vento-16-comfortline-2014-petrol-iid-1693810341',
 'https://www.olx.in/item/volkswagen-polo-gt-15-tdi-2014-diesel-iid-1700827082',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2018-petrol-iid-1679127150',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-highline-2014-petrol-iid-1645295447',
 'https://www.olx.in/item/volkswagen-vento-2014-diesel-well-maintained-iid-1703814705',
 'https://www.olx.in/item/volkswagen-polo-diesel-good-condition-iid-1703814631',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2016-petrol-iid-1703813651',
 'https://www.olx.in/item/volkswagen-ameo-2018-diesel-73500-km-driven-iid-1703813545',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-diesel-highline-2013-diesel-iid-1703813104',
 'https://www.olx.in/item/volkswagen-polo-gt-15-tdi-2019-diesel-iid-1700470362',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2016-petrol-iid-1701448257',
 'https://www.olx.in/item/volkswagen-passat-20-tdi-at-highline-2013-diesel-iid-1695739695',
 'https://www.olx.in/item/volkswagen-vento-16-trendline-2012-diesel-iid-1674235658',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-at-2013-petrol-iid-1697765311',
 'https://www.olx.in/item/volkswagen-vento-16-highline-plus-2019-petrol-iid-1703077466',
 'https://www.olx.in/item/volkswagen-ameo-15-tdi-comfortline-at-2017-diesel-iid-1700376919',
 'https://www.olx.in/item/volkswagen-taigun-10-tsi-highline-at-2022-petrol-iid-1699772283',
 'https://www.olx.in/item/volkswagen-vento-16-highline-2014-diesel-iid-1703608713',
 'https://www.olx.in/item/volkswagen-jetta-20l-tdi-highline-at-2011-diesel-iid-1703273014',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2015-petrol-iid-1703804907',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2015-diesel-iid-1703067317',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-2013-diesel-iid-1650935278',
 'https://www.olx.in/item/volkswagen-ameo-12-mpi-highline-plus-2016-petrol-iid-1700369327',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-trendline-2013-diesel-iid-1697299095',
 'https://www.olx.in/item/volkswagen-vento-16-trendline-2011-petrol-iid-1703065927',
 'https://www.olx.in/item/volkswagen-vento-16-highline-2011-diesel-iid-1702365395',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-at-2011-petrol-iid-1691193124',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-trendline-12l-2011-diesel-iid-1686693722',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-gt-15-tdi-2015-diesel-iid-1671415120',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-2013-diesel-iid-1701040265',
 'https://www.olx.in/item/volkswagen-vento-12-tsi-highline-at-2015-petrol-iid-1703220607',
 'https://www.olx.in/item/volkswagen-polo-gti-2014-diesel-well-maintained-iid-1703803578',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2014-petrol-iid-1703802494',
 'https://www.olx.in/item/volkswagen-jetta-dec-2012-diesel-well-maintained-iid-1698786082',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2013-cng-hybrids-iid-1699028994',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-2011-petrol-iid-1703064065',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2014-diesel-iid-1698720870',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-comfortline-2019-diesel-iid-1700920763',
 'https://www.olx.in/item/volkswagen-vento-16-trendline-2014-petrol-iid-1701250155',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-highline-12l-2013-diesel-iid-1698473208',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-2012-petrol-iid-1696402962',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-highline-plus-at-2019-petrol-iid-1703062908',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2019-petrol-iid-1700667379',
 'https://www.olx.in/item/volkswagen-ameo-15-tdi-highline-2017-diesel-iid-1693146875',
 'https://www.olx.in/item/volkswagen-jetta-20l-tdi-highline-at-2010-diesel-iid-1697753155',
 'https://www.olx.in/item/volkswagen-ameo-15-tdi-comfortline-2018-diesel-iid-1701691922',
 'https://www.olx.in/item/volkswagen-beetle-2-2010-petrol-iid-1694757271',
 'https://www.olx.in/item/volkswagen-polo-comfortline-12l-diesel-2014-diesel-iid-1696678196',
 'https://www.olx.in/item/volkswagen-polo-10-mpi-trendline-2019-petrol-iid-1700507096',
 'https://www.olx.in/item/volkswagen-vento-2013-2015-tsi-2015-petrol-iid-1702091792',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-trendline-2013-diesel-iid-1666878986',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-diesel-highline-2012-diesel-iid-1701037156',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2016-diesel-iid-1700504034',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-trendline-2017-diesel-iid-1700226011',
 'https://www.olx.in/item/volkswagen-polo-10-mpi-trendline-2018-petrol-iid-1700225372',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-12-mpi-highline-2014-petrol-iid-1703801615',
 'https://www.olx.in/item/volkswagen-polo-select-15-tdi-highline-2016-diesel-iid-1693486103',
 'https://www.olx.in/item/volkswagen-polo-tsi-highline-plus2022-iid-1699081798',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-petrol-trendline-12l-2013-petrol-iid-1699987735',
 'https://www.olx.in/item/volkswagen-vento-2014-diesel-engine-work-done-iid-1703791836',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-highline-2016-petrol-iid-1699370539',
 'https://www.olx.in/item/volkswagen-passat-20-tdi-at-highline-2008-diesel-iid-1703790709',
 'https://www.olx.in/item/volkswagen-vento-16-trendline-2011-petrol-iid-1702633763',
 'https://www.olx.in/item/volkswagen-ameo-10-mpi-comfortline-2019-petrol-iid-1703205104',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-diesel-highline-2013-diesel-iid-1700228760',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-15-tdi-comfortline-2013-diesel-iid-1700039940',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-comfortline-2012-diesel-iid-1698220003',
 'https://www.olx.in/item/volkswagen-jetta-20l-tdi-highline-at-2010-diesel-iid-1696390571',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-petrol-highline-2011-petrol-iid-1697385307',
 'https://www.olx.in/item/volkswagen-virtus-others-2022-petrol-iid-1696392096',
 'https://www.olx.in/item/volkswagen-passat-20-tdi-at-highline-2012-diesel-iid-1676415567',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2014-diesel-iid-1701680735',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-anniversary-edition-2016-petrol-iid-1703059856',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-anniversary-edition-2016-petrol-iid-1703059832',
 'https://www.olx.in/item/volkswagen-ameo-15-tdi-highline-at-16-alloy-2018-diesel-iid-1701557664',
 'https://www.olx.in/item/volkswagen-vento-2013-2015-tsi-2016-petrol-iid-1698981413',
 'https://www.olx.in/item/volkswagen-polo-gt-15-tdi-2019-petrol-iid-1700881735',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2015-diesel-iid-1698582450',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2021-petrol-iid-1694348923',
 'https://www.olx.in/item/volkswagen-vento-comfortline-diesel-2012-diesel-iid-1611264036',
 'https://www.olx.in/item/volkswagen-polo-comfortline-diesel-2013-diesel-iid-1249740377',
 'https://www.olx.in/item/volkswagen-polo-2011-petrol-well-maintained-vip-number-jk-registered-iid-1703790101',
 'https://www.olx.in/item/volkswagen-vento-2013-petrol-good-condition-iid-1699517565',
 'https://www.olx.in/item/volkswagen-vento-16-highline-plus-2015-petrol-iid-1702632487',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2011-diesel-iid-1701027169',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-diesel-highline-2011-diesel-iid-1703059466',
 'https://www.olx.in/item/volkswagen-vento-others-2017-petrol-iid-1697060426',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2012-diesel-iid-1703497073',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-comfortline-at-2015-diesel-iid-1702350225',
 'https://www.olx.in/item/volkswagen-tiguan-20-tdi-comfortline-2017-diesel-iid-1697744517',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2011-diesel-iid-1692477336',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-highline-2010-petrol-iid-1702217785',
 'https://www.olx.in/item/volkswagen-vento-2015-petrol-good-condition-iid-1703786982',
 'https://www.olx.in/item/volkswagen-polo-gt-2013-automatic-iid-1703786855',
 'https://www.olx.in/item/volkswagen-polo-2015-diesel-105000-km-driven-iid-1703786050',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-petrol-comfortline-12l-2013-petrol-iid-1701026202',
 'https://www.olx.in/item/volkswagen-polo-2017-petrol-iid-1702770975',
 'https://www.olx.in/item/volkswagen-polo-2017-petrol-iid-1703468420',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2018-petrol-iid-1680919781',
 'https://www.olx.in/item/volkswagen-polo-12-mpi-comfortline-2015-petrol-iid-1702339642',
 'https://www.olx.in/item/volkswagen-polo-select-12-mpi-highline-2018-petrol-iid-1700330784',
 'https://www.olx.in/item/volkswagen-polo-10-mpi-comfortline-2019-petrol-iid-1695875329',
 'https://www.olx.in/item/volkswagen-ameo-15-tdi-highline-2017-diesel-iid-1696379975',
 'https://www.olx.in/item/volkswagen-jetta-highline-tdi-2009-diesel-iid-1702339773',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-gt-tsi-2014-diesel-iid-1702338760',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-diesel-comfortline-12l-2013-diesel-iid-1701018337',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-comfortline-2012-diesel-iid-1700343196',
 'https://www.olx.in/item/volkswagen-ameo-10-mpi-comfortline-2017-petrol-iid-1697049528',
 'https://www.olx.in/item/volkswagen-polo-allstar-12-mpi-2017-petrol-iid-1684836832',
 'https://www.olx.in/item/volkswagen-vento-2010-2013-new-diesel-highline-2012-diesel-iid-1696838078',
 'https://www.olx.in/item/volkswagen-polo-2009-2013-ipl-ii-16-petrol-highline-2012-diesel-iid-1702371621',
 'https://www.olx.in/item/volkswagen-vento-2012-diesel-iid-1703775131',
 'https://www.olx.in/item/volkswagen-polo-2011-iid-1703774413',
 'https://www.olx.in/item/volkswagen-passat-2010-cng-hybrids-iid-1703774406',
 'https://www.olx.in/item/volkswagen-vento-15-tdi-comfortline-2015-diesel-iid-1700384874',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-comfortline-2015-diesel-iid-1699649616',
 'https://www.olx.in/item/volkswagen-polo-gt-tsi-2018-petrol-iid-1689112094',
 'https://www.olx.in/item/volkswagen-beetle-2-2010-petrol-iid-1699542823',
 'https://www.olx.in/item/volkswagen-polo-2013-2015-gt-tdi-2010-diesel-iid-1698071325',
 'https://www.olx.in/item/volkswagen-polo-15-tdi-highline-2016-diesel-iid-1703054573',

In [8]:
len(link)

986

In [9]:
driver.get(link[0])

In [10]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [11]:
brand

['Volkswagen Vento (2016)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2020)',
 'Volkswagen Vento (2014)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2015)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo Gti (2019)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2010)',
 'Volkswagen Jetta (2013)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2011)',
 'Volkswagen Passat (2014)',
 'Volkswagen Polo (2013)',
 'Volkswagen Jetta (2013)',
 'Volkswagen Polo (2013)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2015)',
 'Volkswagen Beetle (2011)',
 'Volkswagen Polo (2020)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2010)',
 'Volkswagen Jetta (2016)',
 'Volkswagen Polo (2016)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2019)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2017)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Jetta (2014)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2010)',
 '--',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2012)',
 'Volkswagen Passat (2014)',
 'Volkswagen Polo (2018)',
 'Volkswagen Vento (2016)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Vento (2012)',
 '--',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2010)',
 'Volkswagen Vento (2015)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2017)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2010)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2016)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2016)',
 'Volkswagen Passat (2013)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2019)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Vento (2014)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2013)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo Gti (2014)',
 'Volkswagen Polo (2014)',
 'Volkswagen Jetta (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2019)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2019)',
 'Volkswagen Polo (2019)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Jetta (2010)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Beetle (2010)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2016)',
 '--',
 '--',
 'Volkswagen Polo (2014)',
 '--',
 'Volkswagen Polo (2022)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2016)',
 'Volkswagen Passat (2008)',
 'Volkswagen Vento (2011)',
 'Volkswagen Ameo (2019)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2012)',
 'Volkswagen Jetta (2010)',
 'Volkswagen Vento (2011)',
 'Volkswagen Virtus (2022)',
 'Volkswagen Passat (2012)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2016)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2015)',
 '--',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2017)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2015)',
 'Volkswagen Tiguan (2017)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2010)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2019)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Jetta (2009)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2012)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2011)',
 'Volkswagen Passat (2010)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2015)',
 '--',
 'Volkswagen Beetle (2010)',
 'Volkswagen Polo (2010)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2020)',
 'Volkswagen Jetta (2012)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2017)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo Gti (2019)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2018)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Vento (2018)',
 'Volkswagen Vento (2014)',
 'Volkswagen Tiguan (2018)',
 'Volkswagen Polo (2018)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2010)',
 'Volkswagen Vento (2010)',
 'Volkswagen Polo (2016)',
 'Volkswagen Jetta (2013)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2010)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2018)',
 'Volkswagen Beetle (2009)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Beetle (2010)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2014)',
 'Volkswagen Jetta (2012)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2017)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2014)',
 'Volkswagen Passat (2017)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2017)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2018)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2018)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2014)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2011)',
 '--',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2014)',
 'Volkswagen Jetta (2013)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2011)',
 'Volkswagen T-Roc (2020)',
 'Volkswagen Polo (2020)',
 'Volkswagen Vento (2013)',
 'Volkswagen Crosspolo (2015)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo Gti (2011)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2017)',
 '--',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2016)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2020)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2014)',
 '--',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2015)',
 'Volkswagen Jetta (2009)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2013)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2010)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Polo (2020)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2018)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2014)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2013)',
 'Volkswagen Gti (2015)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2019)',
 'Volkswagen Vento (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2020)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2010)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo Gti (2015)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2013)',
 'Volkswagen Passat (2011)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2014)',
 '--',
 'Volkswagen Vento (2011)',
 'Volkswagen Tiguan (2019)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo Gti (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo Gti (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2015)',
 '--',
 'Volkswagen Vento (2017)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2021)',
 'Volkswagen Polo (2015)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Jetta (2010)',
 'Volkswagen Polo (2013)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2011)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Jetta (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Passat (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2017)',
 '--',
 'Volkswagen Polo Gti (2014)',
 'Volkswagen Vento (2017)',
 'Volkswagen Jetta (2012)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2012)',
 'Volkswagen Gti (2017)',
 'Volkswagen Polo (2018)',
 'Volkswagen Jetta (2013)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2018)',
 'Volkswagen Vento (2013)',
 'Volkswagen Jetta (2014)',
 'Volkswagen Vento (2010)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2020)',
 'Volkswagen Passat (2009)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Jetta (2014)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2013)',
 'Volkswagen Tiguan (2022)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2017)',
 'Volkswagen Passat (2018)',
 'Volkswagen Passat (2012)',
 'Volkswagen Polo (2020)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2014)',
 'Volkswagen Passat (2012)',
 'Volkswagen Polo (2016)',
 '--',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2012)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo Gti (2017)',
 'Volkswagen Jetta (2009)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2022)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2017)',
 'Volkswagen Ameo (2019)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2010)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2014)',
 'Volkswagen Virtus (2022)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2015)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Polo (2013)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2011)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2010)',
 'Volkswagen Jetta (2010)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2019)',
 'Volkswagen Gti (1981)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2019)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo Gti (2017)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2019)',
 'Volkswagen Passat (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2019)',
 'Volkswagen Polo (2012)',
 'Volkswagen Vento (2012)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2019)',
 'Volkswagen Vento (2010)',
 'Volkswagen Jetta (2013)',
 '--',
 'Volkswagen Vento (2019)',
 'Volkswagen Jetta (2012)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2018)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2016)',
 'Volkswagen Vento (2014)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2016)',
 'Volkswagen Passat (2012)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2018)',
 'Volkswagen Jetta (2014)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2010)',
 'Volkswagen Polo (2012)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2013)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Jetta (2009)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2010)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2013)',
 '--',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo Gti (2013)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Polo (2010)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2018)',
 'Volkswagen Crosspolo (2015)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2010)',
 'Volkswagen Vento (2015)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2019)',
 'Volkswagen Taigun (2022)',
 'Volkswagen Tiguan (2018)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2013)',
 'Volkswagen Taigun (2021)',
 'Volkswagen Vento (2018)',
 'Volkswagen Polo (2018)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2018)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2015)',
 'Volkswagen Jetta (2014)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2016)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2012)',
 'Volkswagen Polo (2015)',
 '--',
 'Volkswagen Taigun (2022)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2016)',
 'Volkswagen Ameo (2019)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2020)',
 'Volkswagen Polo (2014)',
 'Volkswagen Jetta (2010)',
 'Volkswagen Polo (2011)',
 'Volkswagen Polo (2016)',
 'Volkswagen Ameo (2016)',
 'Volkswagen Ameo (2019)',
 'Volkswagen Beetle (2009)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2011)',
 'Volkswagen Vento (2016)',
 'Volkswagen Vento (2015)',
 'Volkswagen Polo (2012)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2014)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2015)',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2017)',
 'Volkswagen Polo (2010)',
 'Volkswagen Vento (2017)',
 'Volkswagen Polo (2018)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2021)',
 'Volkswagen Polo (2013)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2019)',
 'Volkswagen Polo (2012)',
 'Volkswagen Ameo (2018)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2016)',
 'Volkswagen Polo (2013)',
 'Volkswagen Polo (2012)',
 '--',
 'Volkswagen Polo (2016)',
 'Volkswagen Polo (2015)',
 'Volkswagen Vento (2012)',
 'Volkswagen Vento (2014)',
 'Volkswagen Polo (2014)',
 'Volkswagen Polo (2021)',
 'Volkswagen Vento (2015)',
 'Volkswagen Jetta (2011)',
 'Volkswagen Crosspolo (2015)',
 'Volkswagen Vento (2011)',
 'Volkswagen Vento (2013)',
 'Volkswagen Polo (2012)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Polo (2017)',
 'Volkswagen Vento (2014)',
 'Volkswagen Vento (2012)',
 'Volkswagen Jetta (2010)',
 'Volkswagen Polo (2012)',
 'Volkswagen Ameo (2017)',
 'Volkswagen Vento (2012)',
 'Volkswagen Polo (2019)',
 'Volkswagen Vento (2011)',
 'Volkswagen Polo (2013)',

In [12]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,Volkswagen Vento (2016),1.5 TDI Highline Plus,PETROL\n44000.0 KM\nAUTOMATIC,1st,"Mayur Vihar Phase 3, Delhi, Delhi","₹ 6,75,000"
1,Volkswagen Polo (2017),GT TSI,PETROL\n24000.0 KM\nAUTOMATIC,1st,"Kandivali West, Mumbai, Maharashtra","₹ 7,49,000"
2,Volkswagen Vento (2015),2013-2015 1.5 TDI Highline AT,"DIESEL\n88,200 KM\nAUTOMATIC",--,"Ramavarappadu, Vijayawada, Andhra Pradesh","₹ 6,86,000"
3,Volkswagen Polo (2011),2009-2013 Diesel Comfortline 1.2L,DIESEL\n77000.0 KM\nMANUAL,3rd,"Prashant Colony, Nagpur, Maharashtra","₹ 2,38,000"
4,Volkswagen Polo (2012),2009-2013 Petrol Comfortline 1.2L,PETROL\n54000.0 KM\nMANUAL,2nd,"Preet Vihar, Delhi, Delhi","₹ 2,90,000"
...,...,...,...,...,...,...
981,Volkswagen Ameo (2017),1.2 MPI Highline,DIESEL\n78043.0 KM\nMANUAL,1st,"Alandur, Chennai, Tamil Nadu","₹ 6,00,000"
982,Volkswagen Vento (2013),1.5 TDI Trendline,DIESEL\n144000.0 KM\nMANUAL,3rd,"Satya Nagar, Surat, Gujarat","₹ 2,91,000"
983,Volkswagen Polo (2017),1.2 MPI Highline,PETROL\n42000.0 KM\nMANUAL,1st,"Sabarkunj Society, Himmatnagar, Gujarat","₹ 5,49,000"
984,Volkswagen Polo (2012),2009-2013 Petrol Highline 1.6L,"PETROL\n96,000 KM\nMANUAL",2nd,"update localties to new city_id., Ozar, Mahara...","₹ 2,90,000"
985,Volkswagen Polo (2017),1.2 MPI Highline,CNG & HYBRIDS\n39172.0 KM\nMANUAL,1st,"Sector 48, Gurgaon, Haryana","₹ 5,80,000"

In [14]:
b = df['Brand'].str[0:10]
b

0      Volkswagen
1      Volkswagen
2      Volkswagen
3      Volkswagen
4      Volkswagen
          ...
981    Volkswagen
982    Volkswagen
983    Volkswagen
984    Volkswagen
985    Volkswagen
Name: Brand, Length: 986, dtype: object

In [17]:
c = df['Brand'].str[11:-7]
c

0      Vento
1       Polo
2      Vento
3       Polo
4       Polo
       ...
981     Ameo
982    Vento
983     Polo
984     Polo
985     Polo
Name: Brand, Length: 986, dtype: object

In [18]:
d = df['Brand'].str[-5:-1]
d

0      2016
1      2017
2      2015
3      2011
4      2012
       ...
981    2017
982    2013
983    2017
984    2012
985    2017
Name: Brand, Length: 986, dtype: object

In [19]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

                 0            1          2
0           PETROL   44000.0 KM  AUTOMATIC
1           PETROL   24000.0 KM  AUTOMATIC
2           DIESEL    88,200 KM  AUTOMATIC
3           DIESEL   77000.0 KM     MANUAL
4           PETROL   54000.0 KM     MANUAL
..             ...          ...        ...
981         DIESEL   78043.0 KM     MANUAL
982         DIESEL  144000.0 KM     MANUAL
983         PETROL   42000.0 KM     MANUAL
984         PETROL    96,000 KM     MANUAL
985  CNG & HYBRIDS   39172.0 KM     MANUAL

[986 rows x 3 columns]

In [20]:
k = e[1].str[:-3]
k

0       44000.0
1       24000.0
2        88,200
3       77000.0
4       54000.0
         ...
981     78043.0
982    144000.0
983     42000.0
984      96,000
985     39172.0
Name: 1, Length: 986, dtype: object

In [21]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Mayur Vihar Phase 3,Delhi,Delhi,None,None,None,None,None,None,None,None,None,None,None,None
1,Kandivali West,Mumbai,Maharashtra,None,None,None,None,None,None,None,None,None,None,None,None
2,Ramavarappadu,Vijayawada,Andhra Pradesh,None,None,None,None,None,None,None,None,None,None,None,None
3,Prashant Colony,Nagpur,Maharashtra,None,None,None,None,None,None,None,None,None,None,None,None
4,Preet Vihar,Delhi,Delhi,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,Alandur,Chennai,Tamil Nadu,None,None,None,None,None,None,None,None,None,None,None,None
982,Satya Nagar,Surat,Gujarat,None,None,None,None,None,None,None,None,None,None,None,None
983,Sabarkunj Society,Himmatnagar,Gujarat,None,None,None,None,None,None,None,None,None,None,None,None
984,update localties to new city_id.,Ozar,Maharashtra,None,None,None,None,None,None,None,None,None,None,None,None
985,Sector 48,Gurgaon,Haryana,None,None,None,None,None,None,None,None,None,None,None,None

In [22]:
p = df['Price'].str.split(pat='₹',expand = True)
p

    0           1
0        6,75,000
1        7,49,000
2        6,86,000
3        2,38,000
4        2,90,000
..  ..        ...
981      6,00,000
982      2,91,000
983      5,49,000
984      2,90,000
985      5,80,000

[986 rows x 2 columns]

In [23]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Volkswagen,1.5 TDI Highline Plus,PETROL,1st,Delhi,"6,75,000",Vento,2016,44000.0,AUTOMATIC
1,Volkswagen,GT TSI,PETROL,1st,Maharashtra,"7,49,000",Polo,2017,24000.0,AUTOMATIC
2,Volkswagen,2013-2015 1.5 TDI Highline AT,DIESEL,--,Andhra Pradesh,"6,86,000",Vento,2015,"88,200",AUTOMATIC
3,Volkswagen,2009-2013 Diesel Comfortline 1.2L,DIESEL,3rd,Maharashtra,"2,38,000",Polo,2011,77000.0,MANUAL
4,Volkswagen,2009-2013 Petrol Comfortline 1.2L,PETROL,2nd,Delhi,"2,90,000",Polo,2012,54000.0,MANUAL
...,...,...,...,...,...,...,...,...,...,...
981,Volkswagen,1.2 MPI Highline,DIESEL,1st,Tamil Nadu,"6,00,000",Ameo,2017,78043.0,MANUAL
982,Volkswagen,1.5 TDI Trendline,DIESEL,3rd,Gujarat,"2,91,000",Vento,2013,144000.0,MANUAL
983,Volkswagen,1.2 MPI Highline,PETROL,1st,Gujarat,"5,49,000",Polo,2017,42000.0,MANUAL
984,Volkswagen,2009-2013 Petrol Highline 1.6L,PETROL,2nd,Maharashtra,"2,90,000",Polo,2012,"96,000",MANUAL
985,Volkswagen,1.2 MPI Highline,CNG & HYBRIDS,1st,Haryana,"5,80,000",Polo,2017,39172.0,MANUAL

In [24]:
df['Brand'].value_counts()

Volkswagen    960
--             26
Name: Brand, dtype: int64

In [25]:
print(df[df['Brand'] == '--'].index.values)

[ 73  82 157 158 160 182 220 300 320 339 381 395 419 479 576 617 657 714
 789 797 811 812 869 932 946 967]

In [26]:
df.drop(index=[73,82,157,158,160,182,220,300,320,339,381,395,419,479,576,617,657,714,
 789,797,811,812,869,932,946,967],inplace=True,axis=0)

In [27]:
df['Brand'].value_counts()

Volkswagen    960
Name: Brand, dtype: int64

In [28]:
df['Variant'].value_counts()

1.5 TDI Highline            81
GT TSI                      61
1.2 MPI Comfortline         55
                            47
1.6 Highline                43
                            ..
1.0 MPI Comfortline Plus     1
2.0 TDI AT Comfortline       1
2.0L TDI Trendline           1
1.8 TSI                      1
2010-2013 Diesel Breeze      1
Name: Variant, Length: 117, dtype: int64

In [30]:
print(df[df['Variant'] == ''].index.values)

[ 13  26  83 135 215 235 236 237 238 260 263 264 276 316 350 372 385 389
 420 457 488 492 536 550 556 574 619 621 629 630 631 642 644 712 790 798
 802 806 810 827 830 833 870 877 892 936 969]

In [31]:
df.drop(index=[13,26,83,135,215,235,236,237,238,260,263,264,276,316,350,372,385,389,
 420,457,488,492,536,550,556,574,619,621,629,630,631,642,644,712,790,798,
 802,806,810,827,830,833,870,877,892,936,969],inplace=True,axis=0)

In [32]:
df['Variant'].value_counts()

1.5 TDI Highline                        81
GT TSI                                  61
1.2 MPI Comfortline                     55
1.6 Highline                            43
1.2 MPI Highline                        40
                                        ..
2.0 TDI AT Comfortline                   1
2009-2013 IPL II 1.6 Petrol Highline     1
2.0L TDI Trendline                       1
1.8 TSI                                  1
2010-2013 Diesel Breeze                  1
Name: Variant, Length: 116, dtype: int64

In [33]:
df['Fuel'].value_counts()

DIESEL           506
PETROL           393
CNG & HYBRIDS      8
--                 4
CNG                2
Name: Fuel, dtype: int64

In [34]:
print(df[df['Fuel'] == '--'].index.values)

[294 322 511 620]

In [35]:
df.drop(index=[294,322,511,620],inplace=True,axis=0)

In [36]:
df['Fuel'].value_counts()

DIESEL           506
PETROL           393
CNG & HYBRIDS      8
CNG                2
Name: Fuel, dtype: int64

In [37]:
df['Owner'].value_counts()

1st       555
2nd       252
3rd        42
--         20
First      19
Second      9
4th         6
Third       6
Name: Owner, dtype: int64

In [38]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')

In [39]:
print(df[df['Owner'] == '--'].index.values)

[  2   9  81 188 337 407 430 442 459 512 514 568 660 665 737 744 878 931
 964 974]

In [40]:
df.drop(index=[2,9,81,188,337,407,430,442,459,512,514,568,660,665,737,744,878,931,
 964,974],inplace=True,axis=0)

In [41]:
df['Owner'].value_counts()

1st    574
2nd    261
3rd     48
4th      6
Name: Owner, dtype: int64

In [42]:
df['Transmission'].value_counts()

MANUAL       662
AUTOMATIC    215
--            12
Name: Transmission, dtype: int64

In [43]:
print(df[df['Transmission'] == '--'].index.values)

[ 35  96 144 467 484 603 684 736 738 776 779 949]

In [44]:
df.drop(index=[35,96,144,467,484,603,684,736,738,776,779,949],inplace=True,axis=0)

In [45]:
df['Transmission'].value_counts()

MANUAL       662
AUTOMATIC    215
Name: Transmission, dtype: int64

In [46]:
df['Model'].value_counts()

Polo         433
Vento        266
Ameo          52
Jetta         51
Passat        26
Taigun        23
Tiguan        11
Beetle         6
Virtus         3
Crosspolo      3
T-Roc          2
Gti            1
Name: Model, dtype: int64

In [47]:
df['Year'].value_counts()

2011    117
2013    115
2012     99
2016     97
2015     93
2017     85
2014     80
2018     51
2019     46
2010     38
2022     19
2020     14
2021     13
2009      8
2008      2
Name: Year, dtype: int64

In [48]:
df.to_excel("car_8.xlsx")

In [49]:
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Volkswagen,1.5 TDI Highline Plus,PETROL,1st,Delhi,"6,75,000",Vento,2016,44000.0,AUTOMATIC
1,Volkswagen,GT TSI,PETROL,1st,Maharashtra,"7,49,000",Polo,2017,24000.0,AUTOMATIC
3,Volkswagen,2009-2013 Diesel Comfortline 1.2L,DIESEL,3rd,Maharashtra,"2,38,000",Polo,2011,77000.0,MANUAL
4,Volkswagen,2009-2013 Petrol Comfortline 1.2L,PETROL,2nd,Delhi,"2,90,000",Polo,2012,54000.0,MANUAL
5,Volkswagen,1.2 TSI Highline Plus AT,PETROL,1st,Punjab,"10,00,000",Vento,2020,"40,000",AUTOMATIC
...,...,...,...,...,...,...,...,...,...,...
981,Volkswagen,1.2 MPI Highline,DIESEL,1st,Tamil Nadu,"6,00,000",Ameo,2017,78043.0,MANUAL
982,Volkswagen,1.5 TDI Trendline,DIESEL,3rd,Gujarat,"2,91,000",Vento,2013,144000.0,MANUAL
983,Volkswagen,1.2 MPI Highline,PETROL,1st,Gujarat,"5,49,000",Polo,2017,42000.0,MANUAL
984,Volkswagen,2009-2013 Petrol Highline 1.6L,PETROL,2nd,Maharashtra,"2,90,000",Polo,2012,"96,000",MANUAL
985,Volkswagen,1.2 MPI Highline,CNG & HYBRIDS,1st,Haryana,"5,80,000",Polo,2017,39172.0,MANUAL

In [5]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_bmw_and_kia'
driver.get(url)

In [6]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [7]:
link

['https://www.olx.in/item/kia-sonet-htx-turbo-imt-2021-petrol-iid-1698796673',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2015-diesel-iid-1674689811',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2019-diesel-iid-1700862640',
 'https://www.olx.in/item/kia-sonet-2021-diesel-iid-1703994550',
 'https://www.olx.in/item/kia-sonet-2020-diesel-iid-1697372913',
 'https://www.olx.in/item/kia-sonet-diesel-gtx-iid-1703997406',
 'https://www.olx.in/item/bmw-5-series-520-d-m-sport-2007-petrol-iid-1670751682',
 'https://www.olx.in/item/kia-seltos-htk-plus-g-2020-petrol-iid-1699169941',
 'https://www.olx.in/item/bmw-5-series-530d-m-sport-2019-diesel-iid-1695265536',
 'https://www.olx.in/item/bmw-x1-xdrive-20d-xline-2014-diesel-iid-1679889075',
 'https://www.olx.in/item/bmw-x1-m-sport-sdrive-20d-2013-diesel-iid-1699848540',
 'https://www.olx.in/item/bmw-5-series-530i-sport-line-2017-petrol-iid-1703697388',
 'https://www.olx.in/item/bmw-x1-sdrive20i-xline-2018-petrol-iid-1700946647',
 'https://www.olx.in/item/kia-seltos-htk-plus-at-d-2020-diesel-iid-1699166313',
 'https://www.olx.in/item/kia-sonet-15-gtx-plus-diesel-at-2020-diesel-iid-1700404215',
 'https://www.olx.in/item/kia-sonet-htk-plus-turbo-dct-2020-petrol-iid-1703993046',
 'https://www.olx.in/item/bmw-3-series-320d-sport-2013-diesel-iid-1701727028',
 'https://www.olx.in/item/bmw-3-series-2005-2011-325i-2009-petrol-iid-1699847323',
 'https://www.olx.in/item/bmw-7-series-730ld-m-sport-2016-diesel-iid-1677014559',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2012-diesel-iid-1693312220',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2018-diesel-iid-1702302362',
 'https://www.olx.in/item/bmw-3-series-320d-2015-diesel-iid-1692738517',
 'https://www.olx.in/item/bmw-5-series-520d-sport-line-2017-diesel-iid-1702227386',
 'https://www.olx.in/item/bmw-5-series-2009-diesel-iid-1703984768',
 'https://www.olx.in/item/bmw-3-series-2008-diesel-iid-1703982005',
 'https://www.olx.in/item/bmw-3-series-m-performance-320d-iid-1703988708',
 'https://www.olx.in/item/bmw-7-series-2013-diesel-iid-1703988519',
 'https://www.olx.in/item/bmw-3-series-330i-m-sport-2021-petrol-iid-1699419999',
 'https://www.olx.in/item/bmw-z4-2011-iid-1654241579',
 'https://www.olx.in/item/kia-carnival-premium-2020-diesel-iid-1701722429',
 'https://www.olx.in/item/kia-seltos-2021-petrol-iid-1701045906',
 'https://www.olx.in/item/bmw-3-series-2005-2011-320d-2010-diesel-iid-1703249855',
 'https://www.olx.in/item/bmw-5-series-525d-luxury-line-2018-diesel-iid-1696571655',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2012-diesel-iid-1701202032',
 'https://www.olx.in/item/kia-sonet-htx-plus-at-d-2021-petrol-iid-1701723332',
 'https://www.olx.in/item/kia-seltos-gtx-plus-at-d-2020-diesel-iid-1697920596',
 'https://www.olx.in/item/bmw-3-series-2011-2015-320d-sport-line-2014-diesel-iid-1703984631',
 'https://www.olx.in/item/bmw-x5-xdrive-30d-2009-diesel-iid-1703983989',
 'https://www.olx.in/item/bmw-5-series-gt-gt-530d-le-2012-diesel-iid-1701944099',
 'https://www.olx.in/item/bmw-x5-xdrive-30d-sport-2016-diesel-iid-1683129741',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2018-diesel-iid-1700916014',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2019-petrol-iid-1703164962',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2020-petrol-iid-1700775664',
 'https://www.olx.in/item/vikram-tempo-iid-1703975962',
 'https://www.olx.in/item/bmw-3-series-2009-petrol-iid-1703945548',
 'https://www.olx.in/item/bmw-x3-xdrive20d-xline-2019-diesel-iid-1694560253',
 'https://www.olx.in/item/kia-seltos-htk-plus-d-2020-diesel-iid-1690500407',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2016-diesel-iid-1703983464',
 'https://www.olx.in/item/bmw-x1-2012-diesel-well-maintained-iid-1703981474',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2011-diesel-iid-1692674370',
 'https://www.olx.in/item/bmw-5-series-520d-modern-line-2014-diesel-iid-1699422802',
 'https://www.olx.in/item/bmw-x3-xdrive20d-xline-2016-diesel-iid-1701717980',
 'https://www.olx.in/item/kia-seltos-2019-petrol-40000-km-driven-iid-1703978739',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2012-diesel-iid-1699834214',
 'https://www.olx.in/item/bmw-5-series-520d-2013-diesel-iid-1696944159',
 'https://www.olx.in/item/kia-2022-petrol-iid-1697926950',
 'https://www.olx.in/item/bmw-7-series-730ld-m-sport-2018-diesel-iid-1701194702',
 'https://www.olx.in/item/kia-sonet-htx-15-diesel-2021-diesel-iid-1701194320',
 'https://www.olx.in/item/bmw-x3-2019-diesel-iid-1699832880',
 'https://www.olx.in/item/bmw-5-series-520d-2013-diesel-iid-1697648192',
 'https://www.olx.in/item/bmw-3-series-2005-2011-320d-2012-diesel-iid-1590471093',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2020-petrol-iid-1693892091',
 'https://www.olx.in/item/kia-carnival-limousine-2022-diesel-iid-1702058905',
 'https://www.olx.in/item/bmw-5-series-2008-petrol-iid-1703944244',
 'https://www.olx.in/item/bmw-7-series-2013-diesel-iid-1702923781',
 'https://www.olx.in/item/bmw-5-series-520d-modern-line-2014-diesel-iid-1677684485',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2014-diesel-iid-1703975717',
 'https://www.olx.in/item/bmw-x1-2013-diesel-iid-1703975681',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2011-diesel-iid-1700466406',
 'https://www.olx.in/item/bmw-5-series-gt-gt-530d-le-2011-diesel-iid-1693524239',
 'https://www.olx.in/item/kia-sonet-2021-diesel-iid-1699150661',
 'https://www.olx.in/item/kia-seltos-htk-plus-g-2020-petrol-iid-1699150629',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2014-diesel-iid-1701847240',
 'https://www.olx.in/item/kia-seltos-htk-plus-d-2019-diesel-iid-1699364384',
 'https://www.olx.in/item/kia-sonet-gtx-plus-2021-petrol-iid-1703676781',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2014-diesel-iid-1703974987',
 'https://www.olx.in/item/kia-carnival-limousine-2020-diesel-iid-1703974856',
 'https://www.olx.in/item/bmw-6-series-gt-630d-m-sport-2020-diesel-iid-1698200506',
 'https://www.olx.in/item/bmw-x3-2011-2013-xdrive20d-2013-diesel-iid-1703974344',
 'https://www.olx.in/item/kia-carnival-limousine-2020-diesel-iid-1703974335',
 'https://www.olx.in/item/bmw-x1-sdrive20d-2013-diesel-iid-1586228679',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2012-diesel-iid-1702219209',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2020-petrol-iid-1697754323',
 'https://www.olx.in/item/bmw-m6-series-2010-petrol-iid-1698066191',
 'https://www.olx.in/item/bmw-3-series-2017-diesel-iid-1699657249',
 'https://www.olx.in/item/bmw-x3-2011-2013-xdrive20d-2013-diesel-iid-1703973919',
 'https://www.olx.in/item/kia-sonet-15-htx-plus-diesel-dt-2020-diesel-iid-1703729395',
 'https://www.olx.in/item/bmw-x3-2011-2013-xdrive20d-2013-diesel-iid-1703973210',
 'https://www.olx.in/item/bmw-3-series-2005-2011-320d-2010-diesel-iid-1703237757',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2016-diesel-iid-1700909618',
 'https://www.olx.in/item/bmw-5-series-520d-2014-diesel-iid-1700909064',
 'https://www.olx.in/item/bmw-x1-sdrive20d-expedition-2013-diesel-iid-1693296967',
 'https://www.olx.in/item/excellent-and-brand-new-condition-with-recently-showroom-serviced-iid-1703973149',
 'https://www.olx.in/item/bmw-x1-xdrive-20d-xline-2018-diesel-iid-1701456293',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2018-diesel-iid-1701455658',
 'https://www.olx.in/item/bmw-x1-2011-diesel-well-maintained-iid-1703973018',
 'https://www.olx.in/item/bmw-5-series-520d-2012-diesel-iid-1701189357',
 'https://www.olx.in/item/bmw-x3-xdrive-20d-luxury-line-2019-diesel-iid-1699828658',
 'https://www.olx.in/item/bmw-3-series-320d-luxury-line-2016-diesel-iid-1703972835',
 'https://www.olx.in/item/bmw-x3-2012-diesel-84000-km-driven-iid-1703971643',
 'https://www.olx.in/item/bmw-z4-sdrive-20i-2019-petrol-iid-1689801635',
 'https://www.olx.in/item/bmw-5-series-520d-2013-diesel-iid-1700908422',
 'https://www.olx.in/item/bmw-3-series-320d-luxury-line-2019-diesel-iid-1679430153',
 'https://www.olx.in/item/kia-seltos-2019-diesel-iid-1703878319',
 'https://www.olx.in/item/bmw-3-series-2013-diesel-iid-1703861872',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2018-diesel-iid-1701843821',
 'https://www.olx.in/item/bmw-3-series-2011-2015-320d-prestige-2013-diesel-iid-1699147026',
 'https://www.olx.in/item/bmw-3-series-2012-petrol-iid-1699145958',
 'https://www.olx.in/item/bmw-3-series-320d-luxury-line-2019-diesel-iid-1701188810',
 'https://www.olx.in/item/kia-seltos-htx-g-2019-petrol-iid-1692664644',
 'https://www.olx.in/item/kia-seltos-others-2022-petrol-iid-1672645371',
 'https://www.olx.in/item/bmw-5-series-520d-2013-diesel-iid-1701843770',
 'https://www.olx.in/item/kia-seltos-htk-plus-d-2020-diesel-iid-1703970383',
 'https://www.olx.in/item/kia-seltos-htk-plus-at-d-2020-diesel-iid-1699281084',
 'https://www.olx.in/item/bmw-3-series-320i-sedan-2008-petrol-iid-1702142718',
 'https://www.olx.in/item/kia-seltos-htk-plus-at-d-2019-diesel-iid-1701842860',
 'https://www.olx.in/item/bmw-7-series-730ld-m-sport-2017-diesel-iid-1699145022',
 'https://www.olx.in/item/bmw-7-series-730ld-2019-diesel-iid-1699144024',
 'https://www.olx.in/item/kia-seltos-htx-d-2020-diesel-iid-1697225825',
 'https://www.olx.in/item/kia-seltos-2020-diesel-iid-1695881578',
 'https://www.olx.in/item/bmw-650i-2009-iid-1701567061',
 'https://www.olx.in/item/kia-seltos-gtx-2019-petrol-iid-1699249511',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2015-diesel-iid-1691690785',
 'https://www.olx.in/item/bmw-3-series-2008-diesel-iid-1703861505',
 'https://www.olx.in/item/bmw-3-series-2012-diesel-iid-1703858160',
 'https://www.olx.in/item/bmw-2021-diesel-iid-1703379250',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2012-diesel-iid-1698812873',
 'https://www.olx.in/item/bmw-6-series-gt-630d-m-sport-2019-diesel-iid-1695880062',
 'https://www.olx.in/item/bmw-5-series-520d-2010-diesel-iid-1699003546',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2015-diesel-iid-1701839188',
 'https://www.olx.in/item/bmw-5-series-530d-m-sport-2017-diesel-iid-1703230943',
 'https://www.olx.in/item/bmw-3-series-320i-prestige-2013-petrol-iid-1700521706',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2017-diesel-iid-1698505460',
 'https://www.olx.in/item/bmw-3-series-2011-2015-320d-luxury-line-2015-diesel-iid-1696552574',
 'https://www.olx.in/item/bmw-x1-2019-diesel-iid-1695878511',
 'https://www.olx.in/item/bmw-7-series-730ld-2017-diesel-iid-1694546669',
 'https://www.olx.in/item/bmw-x1-2010-2012-sdrive20d-2011-diesel-iid-1700922566',
 'https://www.olx.in/item/bmw-3-series-320d-2015-diesel-iid-1696406011',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2018-diesel-iid-1691561187',
 'https://www.olx.in/item/bmw-5-series-520d-2012-diesel-iid-1690042952',
 'https://www.olx.in/item/bmw-5-series-525d-luxury-line-2019-diesel-iid-1696721887',
 'https://www.olx.in/item/bmw-5-series-520d-2017-diesel-iid-1693609892',
 'https://www.olx.in/item/bmw-3-series-2014-diesel-iid-1703171598',
 'https://www.olx.in/item/bmw-3-series-2013-diesel-iid-1703841251',
 'https://www.olx.in/item/bmw-3-series-2010-diesel-iid-1703805247',
 'https://www.olx.in/item/bmw-m-series-m4-coupe-2015-petrol-iid-1686165838',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2016-diesel-iid-1701824152',
 'https://www.olx.in/item/kia-sonet-htx-imt-turbo-iid-1703966284',
 'https://www.olx.in/item/bmw-5-series-2009-diesel-140000-km-driven-iid-1703965502',
 'https://www.olx.in/item/kia-seltos-htk-plus-d-2020-diesel-iid-1702709978',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2020-petrol-iid-1703964758',
 'https://www.olx.in/item/bmw-5-series-525i-2009-petrol-iid-1701184396',
 'https://www.olx.in/item/bmw-x3-xdrive20d-expedition-2018-diesel-iid-1701182850',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2013-diesel-iid-1700520323',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2015-diesel-iid-1700519588',
 'https://www.olx.in/item/kia-sonet-12-htk-plus-2021-petrol-iid-1697901501',
 'https://www.olx.in/item/kia-seltos-gtx-2020-petrol-iid-1701182868',
 'https://www.olx.in/item/bmw-x1-2011-diesel-iid-1685574984',
 'https://www.olx.in/item/kia-seltos-htk-plus-g-2021-petrol-iid-1702243658',
 'https://www.olx.in/item/bmw-5-series-525d-sedan-2014-diesel-iid-1701445260',
 'https://www.olx.in/item/kia-2022-diesel-iid-1700447289',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2020-petrol-iid-1686073961',
 'https://www.olx.in/item/bmw-z4-sdrive-20i-2019-petrol-iid-1692262349',
 'https://www.olx.in/item/bmw-5-series-2013-diesel-91000-km-driven-iid-1690259487',
 'https://www.olx.in/item/bmw-x1-2012-diesel-iid-1702103907',
 'https://www.olx.in/item/bmw-5-series-523i-2008-petrol-iid-1696649522',
 'https://www.olx.in/item/bmw-x3-xdrive20d-xline-2016-diesel-iid-1703665495',
 'https://www.olx.in/item/bmw-5-series-530i-m-sport-2021-petrol-iid-1701181548',
 'https://www.olx.in/item/kia-seltos-htx-ivt-g-2020-petrol-iid-1701181241',
 'https://www.olx.in/item/bmw-x5-xdrive-30d-xline-2020-diesel-iid-1701181145',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2017-diesel-iid-1700518408',
 'https://www.olx.in/item/kia-carnival-limousine-2020-diesel-iid-1690036890',
 'https://www.olx.in/item/bmw-3-series-320d-m-sport-2013-diesel-iid-1701444790',
 'https://www.olx.in/item/kia-others-2022-diesel-iid-1675605420',
 'https://www.olx.in/item/bmw-3-series-2011-2015-320d-prestige-2014-diesel-iid-1688101669',
 'https://www.olx.in/item/bmw-3-series-320d-sport-2013-diesel-iid-1658988407',
 'https://www.olx.in/item/bmw-3-series-320i-luxury-line-2017-petrol-iid-1701837047',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2014-diesel-iid-1686829288',
 'https://www.olx.in/item/kia-sonet-htx-g-2022-petrol-iid-1700375744',
 'https://www.olx.in/item/bmw-3-series-320d-2022-diesel-iid-1702231645',
 'https://www.olx.in/item/kia-seltos-gtx-2021-petrol-iid-1701662518',
 'https://www.olx.in/item/bmw-x5-xdrive-30d-xline-2019-diesel-iid-1692478432',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2020-petrol-iid-1693711264',
 'https://www.olx.in/item/bmw-x3-2012-diesel-iid-1699363886',
 'https://www.olx.in/item/kia-seltos-2021-diesel-iid-1703715512',
 'https://www.olx.in/item/bmw-3-series-320d-2019-diesel-iid-1703961690',
 'https://www.olx.in/item/bmw-5-series-520-d-m-sport-2013-diesel-iid-1703961579',
 'https://www.olx.in/item/bmw-5-series-520d-2011-diesel-iid-1697057343',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2012-petrol-iid-1703961029',
 'https://www.olx.in/item/kia-sonet-2021-petrol-well-maintained-iid-1703960892',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2019-petrol-iid-1703224888',
 'https://www.olx.in/item/kia-seltos-htk-d-2022-diesel-iid-1703224439',
 'https://www.olx.in/item/bmw-5-series-520-d-m-sport-2017-diesel-iid-1695201677',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2014-diesel-iid-1700516675',
 'https://www.olx.in/item/bmw-5-series-520-d-m-sport-2017-diesel-iid-1695202832',
 'https://www.olx.in/item/bmw-x1-2010-2012-sdrive20d-2013-diesel-iid-1696092302',
 'https://www.olx.in/item/kia-2022-petrol-iid-1697888264',
 'https://www.olx.in/item/bmw-3-series-1st-owner-2013-diesel-well-maintained-iid-1703959539',
 'https://www.olx.in/item/bmw-3-series-gt-320d-sport-line-2017-diesel-iid-1703959461',
 'https://www.olx.in/item/bmw-5-series-2013-diesel-well-maintained-iid-1703958133',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2013-diesel-iid-1668477824',
 'https://www.olx.in/item/car-sold-by-olx-autos-iid-1698352688',
 'https://www.olx.in/item/kia-sonet-htx-15-diesel-2020-diesel-iid-1700918106',
 'https://www.olx.in/item/bmw-x1-2013-diesel-iid-1703709218',
 'https://www.olx.in/item/bmw-x1-2018-diesel-iid-1703687280',
 'https://www.olx.in/item/bmw-x5-xdrive-30d-design-pure-experience-5-seater-2018-diesel-iid-1701177622',
 'https://www.olx.in/item/kia-2022-diesel-iid-1703222113',
 'https://www.olx.in/item/bmw-5-series-520-d-m-sport-2017-diesel-iid-1695201368',
 'https://www.olx.in/item/kia-seltos-d-15-crdi-vgt-htx-plux-2021-diesel-iid-1692067503',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2014-diesel-iid-1701831255',
 'https://www.olx.in/item/kia-sonet-htx-ivt-g-2020-petrol-iid-1702794789',
 'https://www.olx.in/item/bmw-x3-xdrive20d-expedition-2015-diesel-iid-1684984377',
 'https://www.olx.in/item/bmw-5-series-525i-2009-petrol-iid-1701831825',
 'https://www.olx.in/item/bmw-5-series-525d-sedan-2011-diesel-iid-1689335714',
 'https://www.olx.in/item/kia-seltos-gtx-plus-dct-2020-petrol-iid-1683038104',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2015-diesel-iid-1703956750',
 'https://www.olx.in/item/bmw-3-series-320d-luxury-line-2016-diesel-iid-1703956105',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2010-diesel-iid-1703956085',
 'https://www.olx.in/item/bmw-3-series-2013-december-diesel-good-condition-iid-1703956067',
 'https://www.olx.in/item/bmw-7-series-730ld-sedan-2013-diesel-iid-1699131499',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2013-diesel-iid-1692498392',
 'https://www.olx.in/item/bmw-6-series-gt-630d-luxury-line-2018-diesel-iid-1703395667',
 'https://www.olx.in/item/bmw-5-series-2012-diesel-iid-1686649887',
 'https://www.olx.in/item/kia-seltos-2021-diesel-iid-1700784006',
 'https://www.olx.in/item/kia-carens-2022-diesel-iid-1703659978',
 'https://www.olx.in/item/bmw-x7-xdrive30d-dpe-signature-2020-diesel-iid-1701174481',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2017-diesel-iid-1693523921',
 'https://www.olx.in/item/bmw-3-series-320d-sedan-2011-diesel-iid-1701829174',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2017-diesel-iid-1698494571',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2018-diesel-iid-1702508063',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2021-petrol-iid-1698219757',
 'https://www.olx.in/item/bmw-x5-2019-iid-1701675793',
 'https://www.olx.in/item/bmw-3-series-330i-gt-m-sports-in-excellent-condition-iid-1699791562',
 'https://www.olx.in/item/bmw-x1-sdrive20dh-2013-diesel-iid-1703953643',
 'https://www.olx.in/item/kia-seltos-gtx-plus-2019-petrol-iid-1696540760',
 'https://www.olx.in/item/kia-seltos-gtx-2019-petrol-iid-1691846369',
 'https://www.olx.in/item/bmw-5-series-520d-2017-diesel-iid-1703216952',
 'https://www.olx.in/item/bmw-5-series-530d-highline-sedan-2012-diesel-iid-1703216621',
 'https://www.olx.in/item/kia-seltos-htk-plus-at-d-2019-diesel-iid-1695865492',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2016-diesel-iid-1701738537',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2019-diesel-iid-1699867719',
 'https://www.olx.in/item/bmw-x1-sdrive-20d-xline-2019-diesel-iid-1702214193',
 'https://www.olx.in/item/kia-sonet-gtx-plus-turbo-imt-2020-petrol-iid-1688063533',
 'https://www.olx.in/item/bmw-3-series-2019-diesel-iid-1698941566',
 'https://www.olx.in/item/bmw-5-series-2018-diesel-iid-1703645094',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2016-diesel-iid-1701172229',
 'https://www.olx.in/item/kia-seltos-gtx-plus-at-d-2020-petrol-iid-1703218527',
 'https://www.olx.in/item/bmw-6-series-gt-630d-luxury-line-2019-diesel-iid-1700800402',
 'https://www.olx.in/item/bmw-3-series-gt-320d-luxury-line-2014-diesel-iid-1700604953',
 'https://www.olx.in/item/bmw-3-series-gt-2016-diesel-iid-1699811593',
 'https://www.olx.in/item/kia-seltos-gtx-plus-dct-2021-petrol-iid-1698348314',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2013-diesel-iid-1694051781',
 'https://www.olx.in/item/bmw-3-series-320d-sport-2011-diesel-iid-1681807332',
 'https://www.olx.in/item/kia-seltos-htx-d-2019-diesel-iid-1701435390',
 'https://www.olx.in/item/bmw-5-series-523i-2007-petrol-iid-1699130256',
 'https://www.olx.in/item/kia-seltos-gtx-plus-at-d-2019-diesel-iid-1689816735',
 'https://www.olx.in/item/bmw-5-series-520d-luxury-line-2015-diesel-iid-1701691942',
 'https://www.olx.in/item/bmw-z4-sdrive-35i-dpt-2014-petrol-iid-1703952365',

In [8]:
len(link)

499

In [9]:
driver.get(link[0])

In [10]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [11]:
brand

['--',
 'Bmw 3 Series Gt (2015)',
 'Bmw X1 (2019)',
 'Kia Sonet (2021)',
 'Kia Sonet (2020)',
 'Kia Sonet (2020)',
 'Bmw 5 Series (2007)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2019)',
 'Bmw X1 (2014)',
 'Bmw X1 (2013)',
 'Bmw 5 Series (2017)',
 'Bmw X1 (2018)',
 'Kia Seltos (2020)',
 'Kia Sonet (2020)',
 'Kia Sonet (2020)',
 'Bmw 3 Series (2013)',
 'Bmw 3 Series (2009)',
 'Bmw 7 Series (2016)',
 'Bmw X1 (2012)',
 'Bmw 5 Series (2018)',
 '--',
 'Bmw 5 Series (2017)',
 'Bmw 5 Series (2009)',
 'Bmw 3 Series (2008)',
 'Bmw 3 Series (2015)',
 'Bmw 7 Series (2013)',
 'Bmw 3 Series (2021)',
 'Bmw Z4 (2011)',
 'Kia Carnival (2020)',
 'Kia Seltos (2021)',
 'Bmw 3 Series (2010)',
 'Bmw 5 Series (2018)',
 'Bmw 5 Series (2012)',
 'Kia Sonet (2021)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2014)',
 'Bmw X5 (2009)',
 'Bmw 5 Series Gt (2012)',
 'Bmw X5 (2016)',
 'Bmw X1 (2018)',
 'Kia Seltos (2019)',
 'Kia Seltos (2020)',
 'Toyota Land Cruiser (2012)',
 'Bmw 3 Series (2009)',
 'Bmw X3 (2019)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2016)',
 'Bmw X1 (2012)',
 'Bmw 5 Series (2011)',
 'Bmw 5 Series (2014)',
 'Bmw X3 (2016)',
 'Kia Seltos (2019)',
 'Bmw 3 Series (2012)',
 'Bmw 5 Series (2013)',
 'Kia Carens (2022)',
 'Bmw 7 Series (2018)',
 'Kia Sonet (2021)',
 'Bmw X3 (2019)',
 'Bmw 5 Series (2013)',
 'Bmw 3 Series (2012)',
 'Kia Seltos (2020)',
 'Kia Carnival (2022)',
 'Bmw 5 Series (2008)',
 'Bmw 7 Series (2013)',
 'Bmw 5 Series (2014)',
 'Bmw 3 Series Gt (2014)',
 'Bmw X1 (2013)',
 'Bmw 3 Series (2011)',
 'Bmw 5 Series Gt (2011)',
 'Kia Sonet (2021)',
 'Kia Seltos (2020)',
 'Bmw 3 Series Gt (2014)',
 'Kia Seltos (2019)',
 'Kia Sonet (2021)',
 'Bmw 5 Series (2014)',
 'Kia Carnival (2020)',
 'Bmw 6 Series (2020)',
 'Bmw X3 (2013)',
 'Kia Carnival (2020)',
 '--',
 'Bmw 5 Series (2012)',
 'Kia Seltos (2020)',
 'Bmw M Series (2010)',
 'Bmw 3 Series (2017)',
 'Bmw X3 (2013)',
 'Kia Sonet (2020)',
 'Bmw X3 (2013)',
 'Bmw 3 Series (2010)',
 'Bmw X1 (2016)',
 'Bmw 5 Series (2014)',
 'Bmw X1 (2013)',
 'Kia Seltos (2020)',
 'Bmw X1 (2018)',
 'Bmw X1 (2018)',
 'Bmw X1 (2011)',
 'Bmw 5 Series (2012)',
 'Bmw X3 (2019)',
 'Bmw 3 Series (2016)',
 'Bmw X3 (2012)',
 'Bmw Z4 (2019)',
 'Bmw 5 Series (2013)',
 'Bmw 3 Series (2019)',
 'Kia Seltos (2019)',
 'Bmw 3 Series (2013)',
 'Bmw 3 Series Gt (2018)',
 'Bmw 3 Series (2013)',
 'Bmw 3 Series (2012)',
 'Bmw 3 Series (2019)',
 'Kia Seltos (2019)',
 'Kia Seltos (2022)',
 'Bmw 5 Series (2013)',
 'Kia Seltos (2020)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2008)',
 'Kia Seltos (2019)',
 'Bmw 7 Series (2017)',
 'Bmw 7 Series (2019)',
 'Kia Seltos (2020)',
 'Kia Seltos (2020)',
 'Bmw 6 Series (2009)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2015)',
 'Bmw 3 Series (2008)',
 'Bmw 3 Series (2012)',
 'Bmw 3 Series Gran Limousine (2021)',
 'Bmw 5 Series (2012)',
 'Bmw 6 Series (2019)',
 'Bmw 5 Series (2010)',
 'Bmw 3 Series Gt (2015)',
 'Bmw 5 Series (2017)',
 'Bmw 3 Series (2013)',
 'Bmw 5 Series (2017)',
 'Bmw 3 Series (2015)',
 'Bmw X1 (2019)',
 'Bmw 7 Series (2017)',
 'Bmw X1 (2011)',
 'Bmw 3 Series (2015)',
 'Bmw X1 (2018)',
 'Bmw 5 Series (2012)',
 'Bmw 5 Series (2019)',
 'Bmw 5 Series (2017)',
 'Bmw 3 Series (2014)',
 'Bmw 3 Series (2013)',
 'Bmw 3 Series (2010)',
 'Bmw M Series (2015)',
 'Bmw 3 Series (2016)',
 'Kia Sonet (2021)',
 'Bmw 5 Series (2009)',
 'Kia Seltos (2020)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2009)',
 'Bmw X3 (2018)',
 'Bmw 5 Series (2013)',
 'Bmw 3 Series Gt (2015)',
 'Kia Sonet (2021)',
 'Kia Seltos (2020)',
 'Bmw X1 (2011)',
 'Kia Seltos (2021)',
 'Bmw 5 Series (2014)',
 'Kia Carens (2022)',
 'Kia Seltos (2020)',
 '--',
 'Bmw 5 Series (2013)',
 'Bmw X1 (2012)',
 'Bmw 5 Series (2008)',
 'Bmw X3 (2016)',
 'Bmw 5 Series (2021)',
 'Kia Seltos (2020)',
 'Bmw X5 (2020)',
 'Bmw 7 Series (2017)',
 'Kia Carnival (2020)',
 'Bmw 3 Series (2013)',
 'Kia Others (2022)',
 'Bmw 3 Series (2014)',
 'Bmw 3 Series (2013)',
 'Bmw 3 Series (2017)',
 'Bmw 5 Series (2014)',
 'Kia Sonet (2022)',
 'Bmw 3 Series (2022)',
 'Kia Seltos (2021)',
 '--',
 'Kia Seltos (2020)',
 'Bmw X3 (2012)',
 'Kia Seltos (2021)',
 'Bmw 3 Series (2019)',
 'Bmw 5 Series (2013)',
 'Bmw 5 Series (2011)',
 'Bmw X1 (2012)',
 'Kia Sonet (2021)',
 'Kia Seltos (2019)',
 'Kia Seltos (2022)',
 'Bmw 5 Series (2017)',
 'Bmw 3 Series (2014)',
 'Bmw 5 Series (2017)',
 'Bmw X1 (2013)',
 'Kia Carens (2022)',
 'Bmw 3 Series (2013)',
 'Bmw 3 Series Gt (2017)',
 'Bmw 5 Series (2013)',
 '--',
 '--',
 'Kia Sonet (2020)',
 'Bmw X1 (2013)',
 'Bmw X1 (2018)',
 'Bmw X5 (2018)',
 'Kia Carens (2022)',
 'Bmw 5 Series (2017)',
 'Kia Seltos (2021)',
 'Bmw 5 Series (2014)',
 'Kia Sonet (2020)',
 'Bmw X3 (2015)',
 'Bmw 5 Series (2009)',
 'Bmw 5 Series (2011)',
 'Kia Seltos (2020)',
 'Bmw 3 Series Gt (2015)',
 'Bmw 3 Series (2016)',
 'Bmw 3 Series (2010)',
 'Bmw 3 Series (2013)',
 'Bmw 7 Series (2013)',
 'Bmw 5 Series (2013)',
 'Bmw 6 Series (2018)',
 'Bmw 5 Series (2012)',
 'Kia Seltos (2021)',
 'Kia Carens (2022)',
 'Bmw X7 (2020)',
 'Bmw 3 Series Gt (2017)',
 'Bmw 3 Series (2011)',
 'Bmw 5 Series (2017)',
 'Bmw X1 (2018)',
 'Kia Seltos (2021)',
 'Bmw X5 (2019)',
 'Bmw 3 Series (2019)',
 'Bmw X1 (2013)',
 'Kia Seltos (2019)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2017)',
 'Bmw 5 Series (2012)',
 'Kia Seltos (2019)',
 'Bmw 3 Series Gt (2016)',
 'Bmw X1 (2019)',
 'Bmw X1 (2019)',
 'Kia Sonet (2020)',
 'Bmw 3 Series (2019)',
 'Bmw 5 Series (2018)',
 'Bmw 3 Series Gt (2016)',
 'Kia Seltos (2020)',
 'Bmw 6 Series (2019)',
 'Bmw 3 Series Gt (2014)',
 'Bmw 3 Series Gt (2016)',
 'Kia Seltos (2021)',
 'Bmw 5 Series (2013)',
 'Bmw 3 Series (2011)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2007)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2015)',
 'Bmw Z4 (2014)',
 'Bmw X3 (2013)',
 'Bmw 5 Series (2019)',
 'Kia Seltos (2020)',
 'Kia Seltos (2020)',
 'Bmw X1 (2018)',
 'Bmw X1 (2011)',
 'Bmw 5 Series (2010)',
 'Bmw 3 Series Gt (2015)',
 'Bmw X1 (2019)',
 'Bmw 5 Series (2014)',
 'Bmw X5 (2022)',
 'Bmw X3 (2018)',
 'Bmw X5 (2017)',
 'Bmw 1 Series (2014)',
 'Bmw 5 Series (2013)',
 'Kia Seltos (2021)',
 'Bmw X1 (2011)',
 'Kia Seltos (2021)',
 'Bmw 3 Series (2013)',
 'Kia Sonet (2020)',
 'Bmw 3 Series (2013)',
 'Bmw 5 Series (2010)',
 'Bmw 3 Series Gt (2018)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2017)',
 'Bmw X1 (2012)',
 'Bmw 5 Series (2010)',
 'Kia Seltos (2021)',
 'Bmw X6 M (2010)',
 'Kia Sonet (2020)',
 'Bmw 5 Series (2012)',
 'Bmw 3 Series (2017)',
 'Bmw X3 (2012)',
 'Bmw 7 Series (2017)',
 'Bmw 5 Series (2010)',
 'Bmw 3 Series (2019)',
 'Bmw X1 (2011)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2015)',
 'Bmw X5 (2015)',
 'Bmw 6 Series (2019)',
 'Bmw X5 (2009)',
 'Bmw X1 (2013)',
 'Bmw X1 (2018)',
 '--',
 'Bmw X1 (2013)',
 'Kia Seltos (2020)',
 'Bmw X3 (2009)',
 'Bmw 5 Series (2012)',
 'Kia Carens (2022)',
 'Kia Seltos (2020)',
 'Bmw 7 Series (2015)',
 'Bmw 7 Series (2015)',
 'Bmw 5 Series (2010)',
 'Bmw 7 Series (2012)',
 'Bmw 5 Series (2007)',
 'Bmw 5 Series (2012)',
 'Bmw 5 Series (2013)',
 'Bmw 5 Series (2013)',
 '--',
 'Bmw 5 Series (2012)',
 'Bmw 3 Series (2011)',
 'Bmw X4 (2019)',
 '--',
 'Bmw 3 Series (2012)',
 'Bmw X1 (2014)',
 'Bmw 5 Series (2008)',
 'Bmw 7 Series (2010)',
 'Bmw X5 (2016)',
 'Bmw X5 (2016)',
 'Bmw 5 Series (2009)',
 'Bmw 3 Series (2012)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2008)',
 'Bmw X5 (2018)',
 'Bmw 5 Series (2013)',
 'Bmw X5 (2018)',
 'Bmw 5 Series Gt (2013)',
 'Bmw 5 Series (2011)',
 'Bmw X5 (2017)',
 'Bmw 5 Series (2012)',
 'Bmw 5 Series (2012)',
 'Bmw 5 Series (2014)',
 'Bmw X1 (2012)',
 'Bmw 5 Series (2019)',
 'Bmw 5 Series (2012)',
 'Bmw 5 Series (2010)',
 'Bmw 5 Series (2012)',
 'Bmw 5 Series (2014)',
 'Kia Seltos (2020)',
 'Bmw X5 (2016)',
 'Bmw X1 (2013)',
 'Bmw 5 Series (2018)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2012)',
 'Kia Seltos (2020)',
 'Kia Seltos (2020)',
 'Kia Seltos (2021)',
 'Bmw X1 (2012)',
 'Bmw X1 (2014)',
 'Bmw X5 (2006)',
 'Bmw X5 (2021)',
 'Bmw 5 Series (2012)',
 'Bmw X1 (2011)',
 'Bmw 5 Series (2019)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2013)',
 'Bmw X1 (2017)',
 'Bmw 3 Series (2016)',
 'Kia Seltos (2020)',
 'Bmw X1 (2018)',
 'Kia Seltos (2021)',
 'Kia Carnival (2020)',
 'Bmw X1 (2012)',
 'Bmw X5 (2011)',
 'Kia Seltos (2019)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2013)',
 'Kia Seltos (2019)',
 'Bmw X3 (2018)',
 'Bmw X1 (2014)',
 'Bmw X1 (2011)',
 'Bmw 5 Series (2015)',
 'Kia Sonet (2021)',
 'Kia Sonet (2021)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2012)',
 'Bmw 3 Series (2011)',
 'Bmw 5 Series (2016)',
 'Kia Seltos (2019)',
 '--',
 'Bmw 5 Series (2013)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2011)',
 'Kia Sonet (2020)',
 'Bmw 3 Series (2020)',
 'Kia Seltos (2019)',
 'Kia Seltos (2019)',
 'Bmw X5 (2017)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2013)',
 'Bmw 7 Series (2013)',
 'Bmw 7 Series (2019)',
 'Kia Seltos (2019)',
 'Kia Seltos (2020)',
 'Bmw 7 Series (2010)',
 'Bmw X5 (2018)',
 'Kia Seltos (2020)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2012)',
 'Kia Sonet (2021)',
 'Kia Seltos (2020)',
 'Kia Seltos (2021)',
 'Bmw X1 (2019)',
 'Bmw 5 Series (2017)',
 'Bmw 7 Series (2013)',
 'Kia Carnival (2020)',
 'Kia Carens (2022)',
 'Bmw 3 Series (2015)',
 'Kia Sonet (2020)',
 'Bmw X5 (2017)',
 'Bmw X5 (2018)',
 'Kia Seltos (2020)',
 'Bmw X3 (2017)',
 'Bmw X4 (2011)',
 'Kia Carens (2022)',
 'Bmw X5 (2018)',
 'Bmw 5 Series (2022)',
 'Bmw 5 Series (2019)',
 'Bmw X7 (2020)',
 'Bmw X1 (2016)',
 'Bmw 5 Series (2014)',
 'Bmw 3 Series (2018)',
 'Bmw 3 Series Gt (2015)',
 'Bmw 5 Series (2016)',
 'Bmw 3 Series Gt (2017)',
 'Kia Seltos (2020)',
 'Bmw 5 Series (2012)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2009)',
 'Bmw 7 Series (2015)',
 'Bmw 3 Series Gt (2019)',
 'Bmw 5 Series (2016)',
 'Kia Seltos (2021)',
 'Kia Seltos (2020)',
 'Bmw 3 Series (2013)',
 'Bmw X5 (2018)',
 'Kia Carnival (2020)',
 'Bmw 7 Series (2005)',
 'Bmw X3 (2017)',
 'Bmw 5 Series (2008)',
 'Bmw 3 Series (2018)',
 'Bmw X1 (2019)',
 'Bmw 2 Series (2021)',
 'Bmw 3 Series (2007)',
 'Bmw 3 Series Gt (2016)',
 'Bmw X4 (2020)',
 'Bmw 3 Series (2008)',
 'Bmw 5 Series (2010)',
 'Kia Sonet (2022)',
 'Bmw 3 Series (2015)',
 'Bmw 3 Series Gran Limousine (2021)',
 '--',
 '--',
 'Bmw 3 Series (2011)',
 'Bmw X1 (2013)',
 'Bmw 7 Series (2017)',
 'Bmw 3 Series Gt (2015)',
 'Bmw X1 (2022)',
 'Bmw X7 (2019)',
 'Bmw 3 Series (2011)',
 'Bmw 3 Series Gt (2014)',
 'Bmw X1 (2013)',
 'Bmw 5 Series (2011)',
 'Bmw 3 Series Gt (2015)',
 'Bmw 3 Series (2011)',
 'Bmw 6 Series (2008)',
 'Bmw 3 Series Gt (2016)',
 'Bmw X5 (2017)',
 'Bmw 5 Series (2017)',
 'Bmw 5 Series (2012)',
 'Bmw X1 (2018)',
 'Bmw 3 Series (2015)',
 'Bmw 6 Series (2018)',
 'Kia Carens (2022)',
 'Kia Sonet (2020)',
 'Bmw X5 (2014)',
 'Bmw 5 Series (2009)',
 'Bmw 5 Series (2011)',
 '--',
 'Bmw 5 Series (2013)',
 'Bmw 5 Series (2017)',
 'Kia Seltos (2019)',
 'Bmw Z4 (2020)',
 'Bmw X5 (2017)',
 'Bmw 3 Series Gran Limousine (2021)',
 'Bmw 3 Series (2014)',
 'Kia Seltos (2019)',
 'Bmw 3 Series (2019)',
 'Kia Seltos (2019)',
 'Bmw 5 Series (2012)']

In [13]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,--,--,--,--,--,--
1,Bmw 3 Series Gt (2015),320d GT Luxury Line,DIESEL\n107700.0 KM\nAUTOMATIC,1st,"Adajan, Surat, Gujarat","₹ 21,50,000"
2,Bmw X1 (2019),sDrive 20d xLine,DIESEL\n25000.0 KM\nAUTOMATIC,1st,"Vayunandana Layout, Bengaluru, Karnataka","₹ 34,50,000"
3,Kia Sonet (2021),HTX D,DIESEL\n10000 KM\nAUTOMATIC,First,"Aironjangla Dhubri Town, Dhubri, Assam","₹ 11,90,000"
4,Kia Sonet (2020),HTX Plus D,DIESEL\n30000 KM\nMANUAL,First,"East Of Kailash, Delhi, Delhi","₹ 12,25,000"
...,...,...,...,...,...,...
494,Bmw 3 Series (2014),320d Sedan,DIESEL\n50000.0 KM\nAUTOMATIC,1st,"Andheri East, Mumbai, Maharashtra","₹ 16,75,000"
495,Kia Seltos (2019),D 1.5 CRDi VGT HTX Plux,DIESEL\n45681.0 KM\nMANUAL,1st,"New Alipore, Kolkata, West Bengal","₹ 12,90,000"
496,Bmw 3 Series (2019),GT 320d Luxury Line,DIESEL\n21000.0 KM\nAUTOMATIC,1st,"Bandra West, Mumbai, Maharashtra","₹ 38,50,000"
497,Kia Seltos (2019),HTK Plus G,DIESEL\n-- KM\n--,2nd,"Cyber City, Gurgaon, Haryana","₹ 15,00,000"
498,Bmw 5 Series (2012),530d Highline,DIESEL\n75000.0 KM\nAUTOMATIC,1st,"Palarivattom, Kochi, Kerala","₹ 15,50,000"

In [15]:
b = df['Brand'].str[0:3]
b

0       --
1      Bmw
2      Bmw
3      Kia
4      Kia
      ...
494    Bmw
495    Kia
496    Bmw
497    Kia
498    Bmw
Name: Brand, Length: 499, dtype: object

In [17]:
c = df['Brand'].str[4:-7]
c

0
1      3 Series Gt
2               X1
3            Sonet
4            Sonet
          ...
494       3 Series
495         Seltos
496       3 Series
497         Seltos
498       5 Series
Name: Brand, Length: 499, dtype: object

In [18]:
d = df['Brand'].str[-5:-1]
d

0         -
1      2015
2      2019
3      2021
4      2020
       ...
494    2014
495    2019
496    2019
497    2019
498    2012
Name: Brand, Length: 499, dtype: object

In [19]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0            1          2
0        --         None       None
1    DIESEL  107700.0 KM  AUTOMATIC
2    DIESEL   25000.0 KM  AUTOMATIC
3    DIESEL     10000 KM  AUTOMATIC
4    DIESEL     30000 KM     MANUAL
..      ...          ...        ...
494  DIESEL   50000.0 KM  AUTOMATIC
495  DIESEL   45681.0 KM     MANUAL
496  DIESEL   21000.0 KM  AUTOMATIC
497  DIESEL        -- KM         --
498  DIESEL   75000.0 KM  AUTOMATIC

[499 rows x 3 columns]

In [20]:
k = e[1].str[:-3]
k

0          None
1      107700.0
2       25000.0
3         10000
4         30000
         ...
494     50000.0
495     45681.0
496     21000.0
497          --
498     75000.0
Name: 1, Length: 499, dtype: object

In [21]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,--,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Adajan,Surat,Gujarat,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Vayunandana Layout,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Aironjangla Dhubri Town,Dhubri,Assam,None,None,None,None,None,None,None,None,None,None,None,None,None
4,East Of Kailash,Delhi,Delhi,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Andheri East,Mumbai,Maharashtra,None,None,None,None,None,None,None,None,None,None,None,None,None
495,New Alipore,Kolkata,West Bengal,None,None,None,None,None,None,None,None,None,None,None,None,None
496,Bandra West,Mumbai,Maharashtra,None,None,None,None,None,None,None,None,None,None,None,None,None
497,Cyber City,Gurgaon,Haryana,None,None,None,None,None,None,None,None,None,None,None,None,None
498,Palarivattom,Kochi,Kerala,None,None,None,None,None,None,None,None,None,None,None,None,None

In [22]:
p = df['Price'].str.split(pat='₹',expand = True)
p

      0           1
0    --        None
1         21,50,000
2         34,50,000
3         11,90,000
4         12,25,000
..   ..         ...
494       16,75,000
495       12,90,000
496       38,50,000
497       15,00,000
498       15,50,000

[499 rows x 2 columns]

In [23]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,--,--,--,--,None,None,,-,None,None
1,Bmw,320d GT Luxury Line,DIESEL,1st,Gujarat,"21,50,000",3 Series Gt,2015,107700.0,AUTOMATIC
2,Bmw,sDrive 20d xLine,DIESEL,1st,Karnataka,"34,50,000",X1,2019,25000.0,AUTOMATIC
3,Kia,HTX D,DIESEL,First,Assam,"11,90,000",Sonet,2021,10000,AUTOMATIC
4,Kia,HTX Plus D,DIESEL,First,Delhi,"12,25,000",Sonet,2020,30000,MANUAL
...,...,...,...,...,...,...,...,...,...,...
494,Bmw,320d Sedan,DIESEL,1st,Maharashtra,"16,75,000",3 Series,2014,50000.0,AUTOMATIC
495,Kia,D 1.5 CRDi VGT HTX Plux,DIESEL,1st,West Bengal,"12,90,000",Seltos,2019,45681.0,MANUAL
496,Bmw,GT 320d Luxury Line,DIESEL,1st,Maharashtra,"38,50,000",3 Series,2019,21000.0,AUTOMATIC
497,Kia,HTK Plus G,DIESEL,2nd,Haryana,"15,00,000",Seltos,2019,--,--
498,Bmw,530d Highline,DIESEL,1st,Kerala,"15,50,000",5 Series,2012,75000.0,AUTOMATIC

In [24]:
df['Brand'].value_counts()

Bmw    355
Kia    129
--      14
Toy      1
Name: Brand, dtype: int64

In [25]:
print(df[df['Brand'] == '--'].index.values)

[  0  21  80 162 181 200 201 302 317 321 388 460 461 487]

In [26]:
df.drop(index=[0,21,80,162,181,200,201,302,317,321,388,460,461,487],inplace=True,axis=0)

In [27]:
df['Fuel'].value_counts()

DIESEL    369
PETROL    112
--          4
Name: Fuel, dtype: int64

In [28]:
print(df[df['Fuel'] == '--'].index.values)

[ 28 231 474 492]

In [29]:
df.drop(index=[28,231,474,492],inplace=True,axis=0)

In [30]:
df['Owner'].value_counts()

1st       290
2nd       103
First      32
3rd        19
Second     17
--         14
Fourth      3
Third       2
4+          1
Name: Owner, dtype: int64

In [31]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')
df['Owner'] = df['Owner'].replace('Fourth','4th')

In [32]:
print(df[df['Owner'] == '--'].index.values)

[ 10 110 114 119 134 141 149 169 281 340 365 375 488 489]

In [33]:
df.drop(index=[10,110,114,119,134,141,149,169,281,340,365,375,488,489],inplace=True,axis=0)

In [34]:
df['Owner'].value_counts()

1st    322
2nd    120
3rd     21
4th      3
4+       1
Name: Owner, dtype: int64

In [35]:
df['Transmission'].value_counts()

AUTOMATIC    380
MANUAL        79
--             8
Name: Transmission, dtype: int64

In [36]:
print(df[df['Transmission'] == '--'].index.values)

[ 30  60 157 229 272 282 300 497]

In [37]:
df.drop(index=[30,60,157,229,272,282,300,497],inplace=True,axis=0)

In [38]:
df['Transmission'].value_counts()

AUTOMATIC    380
MANUAL        79
Name: Transmission, dtype: int64

In [39]:
df['Model'].value_counts()

5 Series                   105
Seltos                      79
3 Series                    69
X1                          47
Sonet                       26
X5                          24
3 Series Gt                 23
7 Series                    21
X3                          19
Carens                       9
Carnival                     8
6 Series                     7
5 Series Gt                  3
Z4                           3
3 Series Gran Limousine      3
X7                           3
X4                           3
M Series                     2
ta Land Cruiser              1
Others                       1
1 Series                     1
X6 M                         1
2 Series                     1
Name: Model, dtype: int64

In [40]:
df['Year'].value_counts()

2020    67
2019    54
2013    47
2012    41
2021    32
2018    31
2017    29
2014    26
2011    25
2015    24
2016    22
2022    18
2010    16
2009    13
2008     8
2007     4
2006     1
2005     1
Name: Year, dtype: int64

In [41]:
df.to_excel("car_9.xlsx")

In [5]:
url = 'https://www.olx.in/cars_c84?filter=make_eq_audi_and_fiat'
driver.get(url)

In [6]:
link = []
url = driver.find_elements(By.XPATH,"//li[@class='_31j8e']/a")
for u in url:
    link.append(u.get_attribute('href'))

In [7]:
driver.get(link[0])

In [8]:
brand = []
price = []
variant = []
fuel = []
owner = []
location = []
for m in link:
    driver.get(m)
    sleep(9)
    delay = 16
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_35xN1')))
        Bname = driver.find_element(By.XPATH,"//div[@class='_35xN1']").text
        brand.append(Bname)
    except TimeoutException as e:
        brand.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3FkyT')))
        p = driver.find_element(By.XPATH,"//div[@class='_3FkyT']").text
        price.append(p)
    except TimeoutException as e:
        price.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_3tLee')))
        var = driver.find_element(By.XPATH,"//div[@class='_3tLee']").text
        variant.append(var)
    except TimeoutException as e:
        variant.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'aOxkz')))
        fue = driver.find_element(By.XPATH,"//div[@class='aOxkz']").text
        fuel.append(fue)
    except TimeoutException as e:
        fuel.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'_1gasz')))
        ow = driver.find_element(By.XPATH,"//div[@class='_1gasz']").text
        owner.append(ow)
    except TimeoutException as e:
        owner.append('--')
        pass
    try:
        WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'ZGU9S')))
        loc = driver.find_element(By.XPATH,"//div[@class='ZGU9S']").text
        location.append(loc)
    except TimeoutException as e:
        location.append('--')
        pass
    
    
    sleep(7)

In [10]:
df = pd.DataFrame({'Brand':brand,'Variant':variant,'Fuel':fuel,'Owner':owner,'Location':location,'Price':price})
df

,Brand,Variant,Fuel,Owner,Location,Price
0,Audi Q8 (2020),55 TFSI Quattro,PETROL\n38942.0 KM\nAUTOMATIC,1st,"Guindy, Chennai, Tamil Nadu","₹ 1,28,50,000"
1,Audi S5 (2018),,PETROL\n19000.0 KM\nAUTOMATIC,1st,"Thondayad, Kozhikode, Kerala","₹ 68,00,000"
2,Audi A6 (2017),35 TDI MATRIX EDITION,DIESEL\n54000.0 KM\nAUTOMATIC,2nd,"Baner, Pune, Maharashtra","₹ 26,50,000"
3,Fiat Punto Evo (2014),1.2 Dynamic,DIESEL\n70000 KM\nMANUAL,Second,"HAL 3rd Stage, Bengaluru, Karnataka","₹ 4,95,000"
4,Fiat Linea (2009),2007-2013 Dynamic (Diesel),DIESEL\n180000 KM\nMANUAL,Second,"Mandya Rural, Mandya, Karnataka","₹ 1,80,000"
...,...,...,...,...,...,...
492,Audi Q3 (2017),2.0 TDI Quattro,DIESEL\n130000.0 KM\nMANUAL,1st,"Naranpura, Ahmedabad, Gujarat","₹ 17,00,000"
493,Audi Q5 (2013),2.0 TDI quattro,DIESEL\n74000.0 KM\nAUTOMATIC,1st,"Model Town, Jalandhar, Punjab","₹ 13,75,000"
494,Audi A4 (2014),2014-2016 35 TDI Premium-Sport,DIESEL\n81238.0 KM\nAUTOMATIC,1st,"Vaishali Nagar, Jaipur, Rajasthan","₹ 16,00,000"
495,Audi A6 (2012),2.0 TDI Premium Plus,DIESEL\n77000.0 KM\nAUTOMATIC,1st,OLX AUTOS CHOPRA CARS SCO NO 2/3 SUN TOWER BUI...,"₹ 12,55,000"
496,Audi A6 (2019),35 TDI MATRIX EDITION,DIESEL\n38000.0 KM\nAUTOMATIC,1st,"South Extension, Delhi, Delhi","₹ 36,99,000"

In [12]:
b = df['Brand'].str[0:4]
b

0      Audi
1      Audi
2      Audi
3      Fiat
4      Fiat
       ...
492    Audi
493    Audi
494    Audi
495    Audi
496    Audi
Name: Brand, Length: 497, dtype: object

In [13]:
c = df['Brand'].str[5:-7]
c

0             Q8
1             S5
2             A6
3      Punto Evo
4          Linea
         ...
492           Q3
493           Q5
494           A4
495           A6
496           A6
Name: Brand, Length: 497, dtype: object

In [14]:
d = df['Brand'].str[-5:-1]
d

0      2020
1      2018
2      2017
3      2014
4      2009
       ...
492    2017
493    2013
494    2014
495    2012
496    2019
Name: Brand, Length: 497, dtype: object

In [15]:
e = df['Fuel'].str.split(pat='\n',expand = True)
e

          0            1          2
0    PETROL   38942.0 KM  AUTOMATIC
1    PETROL   19000.0 KM  AUTOMATIC
2    DIESEL   54000.0 KM  AUTOMATIC
3    DIESEL     70000 KM     MANUAL
4    DIESEL    180000 KM     MANUAL
..      ...          ...        ...
492  DIESEL  130000.0 KM     MANUAL
493  DIESEL   74000.0 KM  AUTOMATIC
494  DIESEL   81238.0 KM  AUTOMATIC
495  DIESEL   77000.0 KM  AUTOMATIC
496  DIESEL   38000.0 KM  AUTOMATIC

[497 rows x 3 columns]

In [16]:
k = e[1].str[:-3]
k

0       38942.0
1       19000.0
2       54000.0
3         70000
4        180000
         ...
492    130000.0
493     74000.0
494     81238.0
495     77000.0
496     38000.0
Name: 1, Length: 497, dtype: object

In [17]:
t = df['Location'].str.split(pat=',',expand = True)
t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Guindy,Chennai,Tamil Nadu,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Thondayad,Kozhikode,Kerala,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Baner,Pune,Maharashtra,None,None,None,None,None,None,None,None,None,None,None,None,None
3,HAL 3rd Stage,Bengaluru,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Mandya Rural,Mandya,Karnataka,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,Naranpura,Ahmedabad,Gujarat,None,None,None,None,None,None,None,None,None,None,None,None,None
493,Model Town,Jalandhar,Punjab,None,None,None,None,None,None,None,None,None,None,None,None,None
494,Vaishali Nagar,Jaipur,Rajasthan,None,None,None,None,None,None,None,None,None,None,None,None,None
495,OLX AUTOS CHOPRA CARS SCO NO 2/3 SUN TOWER BUI...,BALONGI SALE TAX,BARIYAR,MOHALI,PUNJAB\nGet Directions,None,None,None,None,None,None,None,None,None,None,None
496,South Extension,Delhi,Delhi,None,None,None,None,None,None,None,None,None,None,None,None,None

In [18]:
p = df['Price'].str.split(pat='₹',expand = True)
p

    0              1
0        1,28,50,000
1          68,00,000
2          26,50,000
3           4,95,000
4           1,80,000
..  ..           ...
492        17,00,000
493        13,75,000
494        16,00,000
495        12,55,000
496        36,99,000

[497 rows x 2 columns]

In [19]:
df['Brand'] = b
df['Model'] = c
df['Year'] = d
df['Fuel'] = e[0]
df['Distance'] = k
df['Transmission'] = e[2]
df['Location'] = t[2]
df['Price'] = p[1]
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Audi,55 TFSI Quattro,PETROL,1st,Tamil Nadu,"1,28,50,000",Q8,2020,38942.0,AUTOMATIC
1,Audi,,PETROL,1st,Kerala,"68,00,000",S5,2018,19000.0,AUTOMATIC
2,Audi,35 TDI MATRIX EDITION,DIESEL,2nd,Maharashtra,"26,50,000",A6,2017,54000.0,AUTOMATIC
3,Fiat,1.2 Dynamic,DIESEL,Second,Karnataka,"4,95,000",Punto Evo,2014,70000,MANUAL
4,Fiat,2007-2013 Dynamic (Diesel),DIESEL,Second,Karnataka,"1,80,000",Linea,2009,180000,MANUAL
...,...,...,...,...,...,...,...,...,...,...
492,Audi,2.0 TDI Quattro,DIESEL,1st,Gujarat,"17,00,000",Q3,2017,130000.0,MANUAL
493,Audi,2.0 TDI quattro,DIESEL,1st,Punjab,"13,75,000",Q5,2013,74000.0,AUTOMATIC
494,Audi,2014-2016 35 TDI Premium-Sport,DIESEL,1st,Rajasthan,"16,00,000",A4,2014,81238.0,AUTOMATIC
495,Audi,2.0 TDI Premium Plus,DIESEL,1st,BARIYAR,"12,55,000",A6,2012,77000.0,AUTOMATIC
496,Audi,35 TDI MATRIX EDITION,DIESEL,1st,Delhi,"36,99,000",A6,2019,38000.0,AUTOMATIC

In [20]:
df['Brand'].value_counts()

Audi    377
Fiat     98
--       19
Mini      2
Toyo      1
Name: Brand, dtype: int64

In [23]:
print(df[df['Brand'] == '--'].index.values)

[ 61  94 101 120 142 180 182 200 201 206 212 240 278 279 307 340 410 442
 478]

In [24]:
print(df[df['Brand'] == 'Mini'].index.values)

[104 461]

In [25]:
print(df[df['Brand'] == 'Toyo'].index.values)

[276]

In [26]:
df.drop(index=[61,94,101,120,142,180,182,200,201,206,212,240,278,279,307,340,410,442,
 478,104,461,276],inplace=True,axis=0)

In [27]:
df['Brand'].value_counts()

Audi    377
Fiat     98
Name: Brand, dtype: int64

In [28]:
 df['Variant'].value_counts()

2.0 TDI                           46
                                  20
35 TDI Premium + Sunroof          17
2.0 TDI Premium Plus              17
2.0 TDI Quattro Premium Plus      14
                                  ..
Plus 1.3 Multijet                  1
EVO 1.3 Active                     1
40 TFSI Premium Plus + sunroof     1
2007-2013 Active (Diesel)          1
2014-2016 35 TDI Premium-Sport     1
Name: Variant, Length: 140, dtype: int64

In [29]:
print(df[df['Variant'] == ''].index.values)

[  1   7  16  20  27  58  80 111 116 166 257 297 305 376 384 408 418 448
 472 477]

In [30]:
df.drop(index=[1,7,16,20,27,58,80,111,116,166,257,297,305,376,384,408,418,448,472,477],inplace=True,axis=0)

In [31]:
 df['Variant'].value_counts()

2.0 TDI                           46
2.0 TDI Premium Plus              17
35 TDI Premium + Sunroof          17
2.0 TDI Quattro Premium Plus      14
35 TDI Premium Plus + Sunroof     13
                                  ..
Plus 1.3 Multijet                  1
EVO 1.3 Active                     1
40 TFSI Premium Plus + sunroof     1
2007-2013 Active (Diesel)          1
2014-2016 35 TDI Premium-Sport     1
Name: Variant, Length: 139, dtype: int64

In [32]:
df['Fuel'].value_counts()

DIESEL           392
PETROL            61
CNG & HYBRIDS      2
Name: Fuel, dtype: int64

In [33]:
df['Owner'].value_counts()

1st       215
2nd       149
Second     28
3rd        20
--         18
First      13
Third       8
4th         4
Name: Owner, dtype: int64

In [34]:
df['Owner'] = df['Owner'].replace('First','1st')
df['Owner'] = df['Owner'].replace('Second','2nd')
df['Owner'] = df['Owner'].replace('Third','3rd')

In [35]:
print(df[df['Owner'] == '--'].index.values)

[ 33 131 165 208 220 255 259 295 325 326 333 371 377 379 432 456 479 489]

In [36]:
df.drop(index=[33,131,165,208,220,255,259,295,325,326,333,371,377,379,432,456,479,489],inplace=True,axis=0)

In [37]:
df['Owner'].value_counts()

1st    228
2nd    177
3rd     28
4th      4
Name: Owner, dtype: int64

In [38]:
df['Transmission'].value_counts()

AUTOMATIC    329
MANUAL        98
--            10
Name: Transmission, dtype: int64

In [39]:
print(df[df['Transmission'] == '--'].index.values)

[113 147 192 194 197 237 243 275 309 407]

In [40]:
df.drop(index=[113,147,192,194,197,237,243,275,309,407],inplace=True,axis=0)

In [41]:
df['Transmission'].value_counts()

AUTOMATIC    329
MANUAL        98
Name: Transmission, dtype: int64

In [42]:
df['Model'].value_counts()

A4                       83
A6                       72
Q3                       61
Q7                       47
Q5                       34
Linea                    32
Punto                    30
A3                       14
Punto Evo                10
Grande Punto              9
Tt                        5
A3 Cabriolet              4
Grand Punto               4
S5                        3
Avventura                 3
A8 L                      2
Premier Padmini           2
Q8                        2
R8                        2
A8                        2
Linea Classic             2
Palio Stile               1
S4                        1
Avventura Urban Cross     1
Punto Abarth              1
Name: Model, dtype: int64

In [43]:
df['Year'].value_counts()

2013    72
2014    70
2012    42
2011    40
2015    38
2016    37
2017    35
2010    30
2009    20
2018    19
2019    10
2008     5
2020     5
1993     1
2007     1
1985     1
2021     1
Name: Year, dtype: int64

In [44]:
df.to_excel("car_10.xlsx")

In [45]:
df

,Brand,Variant,Fuel,Owner,Location,Price,Model,Year,Distance,Transmission
0,Audi,55 TFSI Quattro,PETROL,1st,Tamil Nadu,"1,28,50,000",Q8,2020,38942.0,AUTOMATIC
2,Audi,35 TDI MATRIX EDITION,DIESEL,2nd,Maharashtra,"26,50,000",A6,2017,54000.0,AUTOMATIC
3,Fiat,1.2 Dynamic,DIESEL,2nd,Karnataka,"4,95,000",Punto Evo,2014,70000,MANUAL
4,Fiat,2007-2013 Dynamic (Diesel),DIESEL,2nd,Karnataka,"1,80,000",Linea,2009,180000,MANUAL
5,Audi,2008-2014 New 2.0 TDI Multitronic,DIESEL,2nd,Maharashtra,"11,49,000",A4,2014,950000.0,AUTOMATIC
...,...,...,...,...,...,...,...,...,...,...
492,Audi,2.0 TDI Quattro,DIESEL,1st,Gujarat,"17,00,000",Q3,2017,130000.0,MANUAL
493,Audi,2.0 TDI quattro,DIESEL,1st,Punjab,"13,75,000",Q5,2013,74000.0,AUTOMATIC
494,Audi,2014-2016 35 TDI Premium-Sport,DIESEL,1st,Rajasthan,"16,00,000",A4,2014,81238.0,AUTOMATIC
495,Audi,2.0 TDI Premium Plus,DIESEL,1st,BARIYAR,"12,55,000",A6,2012,77000.0,AUTOMATIC
496,Audi,35 TDI MATRIX EDITION,DIESEL,1st,Delhi,"36,99,000",A6,2019,38000.0,AUTOMATIC