                         Data Scientist- Using LOcation ans Salary Filters

In [2]:
from selenium import webdriver

In [3]:
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [5]:
url = 'https://www.naukri.com/'
driver.get(url)

In [6]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [6]:
search_job.send_keys("Data Scientist")

In [7]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [8]:
search_btn.click()

In [9]:
loc_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")

In [10]:
loc_filter.click()

In [11]:
salary_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")

In [12]:
salary_filter.click()

In [13]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [14]:
job_titles =[]
for i in title_tags:
    job_titles.append(i.text)

len(job_titles)

20

In [15]:
job_titles

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Internet Jobs - II',
 'Data Science',
 'Data Science',
 'Data Scientist',
 'Machine Learning Seniors',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Dot Net Developer']

In [16]:
job_t = job_titles[0:10]

In [17]:
job_t

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist']

In [18]:
loc_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tag)

20

In [19]:
loc_title = []
for i in loc_tag:
    loc_title.append(i.text)
len(loc_title)

20

In [20]:
loc_title

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, New Delhi',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram']

In [21]:
loc_t = loc_title[0:10]

In [22]:
loc_t

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru']

In [24]:
comp_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_tag)

20

In [25]:
comp_title = []
for i in comp_tag:
    comp_title.append(i.text)
len(comp_title)

20

In [26]:
comp_title

['Boston Consulting Group',
 'Black Turtle',
 'EXL',
 '8KMiles Software Services',
 '8KMiles Software Services',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Jobs Territory',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Kellton Tech Solutions',
 'Walking Tree Consultancy Services pvt Ltd',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Nibha Infotech Private Limited']

In [27]:
comp_name = comp_title[0:10]

In [28]:
comp_name

['Boston Consulting Group',
 'Black Turtle',
 'EXL',
 '8KMiles Software Services',
 '8KMiles Software Services',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited']

In [29]:
exp_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tag)

20

In [30]:
exp_title = []
for i in exp_tag:
    exp_title.append(i.text)
len(exp_title)

20

In [31]:
exp = exp_title[0:10]

In [32]:
exp

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs']

In [33]:
df = pd.DataFrame({'Designation':job_t,'location':loc_t,'Experience':exp,'Company':comp_name})
df

,Designation,location,Experience,Company
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",2-5 Yrs,Boston Consulting Group
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs,Black Turtle
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",5-10 Yrs,EXL
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",2-7 Yrs,8KMiles Software Services
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",2-7 Yrs,8KMiles Software Services
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs,Teq Analytics
6,Data Scientist - MIND Infotech,Noida,4-8 Yrs,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs,Primo Hiring
8,Knowledge/Data Scientist,Delhi / NCR,3-6 Yrs,BOLD Technology Systems
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs,Mount Talent Consulting Private Limited