                                   Data Scientist - Bangalore

In [1]:
from selenium import webdriver

In [2]:
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [6]:
search_job.send_keys("Data Scientist")

In [7]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [8]:
search_loc.send_keys("Bangalore")

In [9]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [10]:
search_btn.click()

In [11]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [12]:
job_titles =[]
for i in title_tags:
    job_titles.append(i.text)

len(job_titles)

20

In [13]:
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization']

In [14]:
job_t = job_titles[0:10]

In [15]:
job_t

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)']

In [16]:
loc_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tag)

20

In [17]:
loc_title = []
for i in loc_tag:
    loc_title.append(i.text)
len(loc_title)

20

In [18]:
loc_title

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [19]:
loc_t = loc_title[0:10]

In [20]:
loc_t

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad']

In [21]:
comp_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_tag)

20

In [22]:
comp_title = []
for i in comp_tag:
    comp_title.append(i.text)
len(comp_title)

20

In [23]:
comp_title

['Fractal Analytics',
 'Wipro',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact',
 'EYGBS',
 'IBM',
 'Walmart']

In [24]:
comp_name = comp_title[0:10]

In [25]:
comp_name

['Fractal Analytics',
 'Wipro',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'Allegis Services India Pvt. Ltd.']

In [26]:
df = pd.DataFrame({'Designation':job_t,'location':loc_t,'Company':comp_name})
df

,Designation,location,Company
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
2,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Data Science - Senior Data Scientist - Analytics,"Bangalore/Bengaluru, Noida",Paytm
8,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
9,Opening For SAS Data Scientist_Senior (MNC_Big4),"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Allegis Services India Pvt. Ltd.

In [27]:
job = df['location'].str.split(pat=',',expand=True)
job

,0,1,2,3,4,5,6,7
0,Bangalore/Bengaluru,Pune,Gurgaon/Gurugram,Chennai,Mumbai (All Areas),None,None,None
1,Bangalore/Bengaluru,Kochi/Cochin,New Delhi,Coimbatore,Chennai,Pune,Mumbai,Hyderabad
2,Bangalore/Bengaluru,Pune,Chennai,None,None,None,None,None
3,Bangalore/Bengaluru,None,None,None,None,None,None,None
4,Bangalore/Bengaluru,None,None,None,None,None,None,None
5,Bangalore/Bengaluru,None,None,None,None,None,None,None
6,Bangalore/Bengaluru,None,None,None,None,None,None,None
7,Bangalore/Bengaluru,Noida,None,None,None,None,None,None
8,Bangalore/Bengaluru,None,None,None,None,None,None,None
9,Bangalore/Bengaluru,Kolkata,Hyderabad/Secunderabad,None,None,None,None,None

In [28]:
df['location'] = job[0]

In [29]:
df

,Designation,location,Company
0,Data Scientist/ Senior Data Scientist,Bangalore/Bengaluru,Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,Bangalore/Bengaluru,Wipro
2,Dataiku Consultant,Bangalore/Bengaluru,Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Data Science - Senior Data Scientist - Analytics,Bangalore/Bengaluru,Paytm
8,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
9,Opening For SAS Data Scientist_Senior (MNC_Big4),Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.