                            Web Scrapping-Data Analyst-Bangalore

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shail\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shail\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\shail\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\shail\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shail\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\shail\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\shail\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shail\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\shail\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\shail\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\shail\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\shail\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shail\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
from selenium import webdriver

In [3]:
import pandas as pd

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
from selenium.webdriver.common.by import By

In [6]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [7]:
url = 'https://www.naukri.com/'
driver.get(url)

In [8]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [9]:
search_job.send_keys("Data Analyst")

In [10]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [11]:
search_loc.send_keys("Bangalore")

In [12]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [13]:
search_btn.click()

In [14]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [15]:
job_titles =[]
for i in title_tags:
    job_titles.append(i.text)

len(job_titles)

20

In [16]:
job_titles

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Happay - Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Financial Data Analyst - FIG',
 'Lead Financial Data Analyst',
 'Financial Data Analyst - FIG',
 'Software Technical Expert - Data Analyst']

In [17]:
job_t = job_titles[0:10]

In [18]:
job_t

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst']

In [19]:
loc_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tag)

20

In [20]:
loc_title = []
for i in loc_tag:
    loc_title.append(i.text)
len(loc_title)

20

In [21]:
loc_title

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
loc_t = loc_title[0:10]

In [23]:
loc_t

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [24]:
comp_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_tag)

20

In [25]:
comp_title = []
for i in comp_tag:
    comp_title.append(i.text)
len(comp_title)

20

In [26]:
comp_title

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Flipkart',
 'Wells Fargo',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd',
 'Artech infosystem',
 "Moody's",
 "Moody's",
 "Moody's",
 'Schneider Electric']

In [27]:
comp_name = comp_title[0:10]

In [28]:
comp_name

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India']

In [29]:
exp_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tag)

20

In [30]:
exp_title = []
for i in exp_tag:
    exp_title.append(i.text)
len(exp_title)

20

In [31]:
exp = exp_title[0:10]

In [32]:
exp

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [33]:
df = pd.DataFrame({'Designation':job_t,'location':loc_t,'Experience':exp,'Company':comp_name})
df

,Designation,location,Experience,Company
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",6-11 Yrs,Collabera
1,Sr Data Analyst,Bangalore/Bengaluru,5-8 Yrs,Thomson Reuters
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",7-12 Yrs,Capco
3,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",0-2 Yrs,CURise Analytics Pvt. Ltd.
4,Data Analyst,Bangalore/Bengaluru,2-3 Yrs,Thomson Reuters
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),3-6 Yrs,KrazyBee
6,Associate Data Analyst,Bangalore/Bengaluru,2-7 Yrs,Optum
7,Associate Data Analyst,Bangalore/Bengaluru,1-4 Yrs,Optum
8,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,3-6 Yrs,Meesho
9,Financial Data Analyst,Bangalore/Bengaluru,3-8 Yrs,Nuance India

In [34]:
job = df['location'].str.split(pat=',',expand=True)
job

,0,1,2
0,Bangalore/Bengaluru,karnataka\n(WFH during Covid),None
1,Bangalore/Bengaluru,None,None
2,Bangalore/Bengaluru,Pune,Chennai
3,Bangalore/Bengaluru,Ahmedabad,None
4,Bangalore/Bengaluru,None,None
5,Bangalore/Bengaluru(Old Madras Road),None,None
6,Bangalore/Bengaluru,None,None
7,Bangalore/Bengaluru,None,None
8,Bangalore/Bengaluru,None,None
9,Bangalore/Bengaluru,None,None

In [35]:
df['location'] = job[0]

In [36]:
df

,Designation,location,Experience,Company
0,Sr.Business Data Analyst,Bangalore/Bengaluru,6-11 Yrs,Collabera
1,Sr Data Analyst,Bangalore/Bengaluru,5-8 Yrs,Thomson Reuters
2,Senior Data Analysis Analyst,Bangalore/Bengaluru,7-12 Yrs,Capco
3,Job opportunity For Data Analyst at Trellance ...,Bangalore/Bengaluru,0-2 Yrs,CURise Analytics Pvt. Ltd.
4,Data Analyst,Bangalore/Bengaluru,2-3 Yrs,Thomson Reuters
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),3-6 Yrs,KrazyBee
6,Associate Data Analyst,Bangalore/Bengaluru,2-7 Yrs,Optum
7,Associate Data Analyst,Bangalore/Bengaluru,1-4 Yrs,Optum
8,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,3-6 Yrs,Meesho
9,Financial Data Analyst,Bangalore/Bengaluru,3-8 Yrs,Nuance India